Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, docs

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'

Enhancement: change nodeCategoryMapping to componentsGroupMapping (#2293)
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/ModelConfiguration.md
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/WithCategories.scala
  engine/flink/generic/src/main/resources/defaultModelConfig.conf
  ui/buildServer.sh
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/test/resources/ui.conf
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparerSpec.scala
Labels: docs

Flink 1.14
  build.sbt
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/signal/KafkaSignalStreamConnector.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/PartitionByKeyFlinkKafkaProducer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSource.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/CustomProcess.scala
  engine/flink/management/src/it/resources/docker/Dockerfile
  engine/flink/management/src/it/resources/docker/conf.yml
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/metrics/MetricUtils.scala
Labels: none

Fix urls: in components search to node in the scenario; in edit fragment node to the fragment
  ui/client/common/VisualizationUrl.ts
  ui/client/components/graph/node-modal/node/NodeDetails.tsx
Labels: ui

Fix urls: in components search to node in the scenario; in edit fragment node to the fragment (#2298)
  ui/client/common/VisualizationUrl.ts
  ui/client/components/graph/node-modal/node/NodeDetails.tsx
Labels: ui

Fix urls: in components search to node in the scenario; in edit fragment node to the fragment (#2298)
  ui/client/common/VisualizationUrl.ts
  ui/client/components/graph/node-modal/node/NodeDetails.tsx
Labels: ui

Inject metadata provider to sql-enricher through ServiceLoader
  engine/components/sql/src/main/resources/META-INF/services/pl.touk.nussknacker.sql.db.schema.MetaDataProviderFactory
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/DatabaseEnricherComponentProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/DbEnricherConfig.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/DbMetaDataProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/JdbcMetaDataProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/JdbcMetaDataProviderFactory.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricher.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupStandaloneProcessTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/BaseDatabaseQueryEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/StandaloneConfigCreator.scala
Labels: none

Add Ignite metadata provider alongside standard JDBC
  build.sbt
  docs/components/Sql.md
  engine/components/sql/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/components/sql/src/main/resources/META-INF/services/pl.touk.nussknacker.sql.db.schema.MetaDataProviderFactory
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/DbEnricherConfig.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/EnricherComponentFactory.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteEnricherComponentProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteMetaDataProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteMetaDataProviderFactory.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteQueryHelper.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/TableCatalog.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/DbMetaDataProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/JdbcMetaDataProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/JdbcMetaDataProviderFactory.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/MetaDataProviderFactory.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricher.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupStandaloneProcessTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/IgniteEnrichmentStandaloneProcessTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/BaseDatabaseQueryEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/BaseHsqlQueryEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/StandaloneConfigCreator.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/WithHsqlDB.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/WithIgniteDB.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/HsqlSqlQueryableDataBase.scala
Labels: docs

Use a single component provider for db enrichers
  build.sbt
  docs/Changelog.md
  docs/components/Sql.md
  engine/components/sql/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/DatabaseEnricherComponentProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteEnricherComponentProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteMetaDataProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteMetaDataProviderFactory.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/JdbcMetaDataProviderFactory.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/MetaDataProviderFactory.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupStandaloneProcessTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/IgniteEnrichmentStandaloneProcessTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/StandaloneConfigCreator.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/WithIgniteDB.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/columnmodel/CreateColumnModel.scala
Labels: docs

Map java.sql.Timestamp to Instant
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteMetaDataProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteQueryHelper.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/TableCatalog.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/ColumnDefinition.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/TableDefinition.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/IgniteEnrichmentStandaloneProcessTest.scala
Labels: none

Improve docs message + add using.resource to connection
  docs/components/Sql.md
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/JdbcMetaDataProvider.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/IgniteEnrichmentStandaloneProcessTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/ignite/WithIgniteDB.scala
Labels: docs

Add support for lookup enricher, drop query enricher
  docs/components/Sql.md
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/DatabaseEnricherComponentProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/EnricherComponentFactory.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteMetaDataProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteQueryHelper.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/JdbcMetaDataProvider.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/IgniteEnrichmentStandaloneProcessTest.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/HsqlSqlQueryableDataBase.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/columnmodel/CreateColumnModel.scala
Labels: docs

Sql extensions meta data provider (#2169)
  build.sbt
  docs/Changelog.md
  docs/components/Sql.md
  engine/components/sql/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/DatabaseEnricherComponentProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteMetaDataProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteQueryHelper.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/ColumnDefinition.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/DbMetaDataProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/JdbcMetaDataProvider.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/MetaDataProviderFactory.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/TableDefinition.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricher.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupStandaloneProcessTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/IgniteEnrichmentStandaloneProcessTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/BaseDatabaseQueryEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/BaseHsqlQueryEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/StandaloneConfigCreator.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/WithHsqlDB.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/ignite/WithIgniteDB.scala
Labels: docs

Fix urls: in components search to node in the scenario; in edit fragment node to the fragment (#2298) (#2299)
  ui/client/common/VisualizationUrl.ts
  ui/client/components/graph/node-modal/node/NodeDetails.tsx
Labels: ui

Simplification of component API: `GenericNodeTransformation.initialParameters` was removed
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/context/transformation/GenericNodeTransformation.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/javaapi/context/transformation/JavaGenericTransformation.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricher.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/KafkaAvroBaseTransformer.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/SpecificRecordKafkaAvroSourceFactory.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroNamespacedSpec.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSourceFactory.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/GenericSourceWithCustomVariablesSample.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/DynamicParametersMixin.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/EnrichWithAdditionalDataTransformer.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/HidingVariablesTransformer.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/LastVariableFilterTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/SingleSideJoinTransformer.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/util/service/query/ServiceQuerySpec.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/service/EagerServiceWithStaticParameters.scala
  ui/client/components/graph/node-modal/NodeDetailsContent.js
  ui/client/components/graph/node-modal/ParametersUtils.ts
  ui/client/types/definition.ts
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
Labels: ui, docs

GH actions fix - comparison of numerics was made alphabetically
  .github/workflows/pr.yml
Labels: none

GenericNodeTransformation.initialParameters removal - test fixes
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
Labels: none

GenericNodeTransformation.initialParameters removal - test fixes
  engine/api/src/main/java/pl/touk/nussknacker/engine/javaapi/process/ExpressionConfig.java
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/ExpressionConfig.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricher.scala
  engine/flink/management/java_sample/src/main/java/pl/touk/nussknacker/engine/management/javasample/TestProcessConfigCreator.java
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/SingleSideJoinTransformer.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/process/EmptyProcessConfigCreator.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
Labels: none

Flink 1.14
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/signal/KafkaSignalStreamConnector.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/PartitionByKeyFlinkKafkaProducer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSource.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/CustomProcess.scala
  engine/flink/management/src/it/resources/docker/Dockerfile
  engine/flink/management/src/it/resources/docker/conf.yml
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/metrics/MetricUtils.scala
Labels: docs

Periodic deployment retry
  docs/Changelog.md
  engine/flink/management/periodic/src/main/resources/db/batch_periodic/migration/common/V1_107__add_retry_at_and_retries_to_periodic_process_deployments.sql
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentActor.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicBatchConfig.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/RescheduleFinishedActor.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessDeploymentsTable.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/PeriodicProcessDeployment.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/PeriodicProcessListener.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: docs

Periodic deployment retry
  docs/Changelog.md
  engine/flink/management/periodic/src/main/resources/db/batch_periodic/migration/common/V1_107__add_retry_at_and_retries_to_periodic_process_deployments.sql
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentActor.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicBatchConfig.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/RescheduleFinishedActor.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessDeploymentsTable.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/PeriodicProcessDeployment.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/PeriodicProcessListener.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: docs

Typos fixed
  docs/scenarios_authoring/Intro.md
Labels: docs

Rename kafka to kafkaUtil
  build.sbt
  engine/kafka-util/src/it/scala/pl/touk/nussknacker/engine/kafka/validator/CachedTopicsExistenceValidatorTest.scala
  engine/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/ConsumerRecordUtils.scala
  engine/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
  engine/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaProducerCreator.scala
  engine/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaUtils.scala
  engine/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/validator/TopicsExistenceValidator.scala
  engine/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/KafkaConfigSpec.scala
  engine/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/KafkaUtilsTest.scala
Labels: none

Move process reports to ui
  build.sbt
  ui/processReports/src/it/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxCountsReporterSpec.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/CountsReporter.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxConfig.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxCountsReporter.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxGenerator.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/SimpleInfluxClient.scala
  ui/processReports/src/test/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxGeneratorSpec.scala
Labels: none

Typos fixed (#2306)
  docs/scenarios_authoring/Intro.md
Labels: docs

Move process reports to ui (#2308)
  build.sbt
  ui/processReports/src/it/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxCountsReporterSpec.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/CountsReporter.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxConfig.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxCountsReporter.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxGenerator.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/SimpleInfluxClient.scala
  ui/processReports/src/test/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxGeneratorSpec.scala
Labels: none

Ensure db drivers are loaded
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/WithHsqlDB.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/ignite/WithIgniteDB.scala
Labels: none

Review - remove redundant try
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/WithHsqlDB.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/ignite/WithIgniteDB.scala
Labels: none

Flink 1.14 (#2304)
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/signal/KafkaSignalStreamConnector.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/PartitionByKeyFlinkKafkaProducer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSource.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/CustomProcess.scala
  engine/flink/management/src/it/resources/docker/Dockerfile
  engine/flink/management/src/it/resources/docker/conf.yml
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/metrics/MetricUtils.scala
Labels: docs

Ensure db drivers are loaded (#2309)
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/WithHsqlDB.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/ignite/WithIgniteDB.scala
Labels: none

fix: fonts blur
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

chore: package-lock
  ui/client/package-lock.json
Labels: ui

fix: fonts blur (#2316)
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

test: update snapshots
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should display some node details in modal [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should have counts button and modal [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should not have latest deploy button by default [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display advanced colors [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display colorfull sql code [Linux] #0.png
Labels: ui

test: update snapshots
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #3.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should display some node details in modal [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should display some node details in modal [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display advanced colors [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display colorfull sql code [Linux] #1.png
Labels: ui

Node server for tests purpose: Fix for fallback to backend was done not only for statics but also for urls handled by router
  ui/client/server.js
Labels: ui

test: missing snapshots update for #2316 (#2320)
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #3.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should display some node details in modal [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should display some node details in modal [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should display some node details in modal [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should have counts button and modal [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should not have latest deploy button by default [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display advanced colors [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display advanced colors [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display colorfull sql code [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display colorfull sql code [Linux] #1.png
Labels: ui

Better exception handling for LazyParameter
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkLazyParameterFunctionHelper.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSink.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/signal/RemoveLockProcessSignalFactory.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/CustomFilter.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/EnrichWithAdditionalDataTransformer.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/LastVariableFilterTransformer.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/StatefulTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/DelayTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PeriodicSourceFactory.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PreviousValueTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/TransformStateTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/SingleSideJoinTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/richflink.scala
  engine/flink/process/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/keyed.scala
Labels: none

Tests
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkExceptionHandlingSpec.scala
  engine/flink/model-util/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/ModelUtilExceptionHandlingSpec.scala
  engine/flink/process/src/main/scala/pl/touk/nussknacker/engine/process/runner/TestFlinkRunner.scala
  engine/flink/process/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/CorrectExceptionHandlingSpec.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/RecordingExceptionHandler.scala
  engine/test-util/src/main/resources/logback-test.xml
  engine/test-util/src/main/scala/pl/touk/nussknacker/test/WithDataList.scala
Labels: none

Fixes
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkLazyParameterFunctionHelper.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkExceptionHandlingSpec.scala
  engine/flink/model-util/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/ModelUtilExceptionHandlingSpec.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/CorrectExceptionHandlingSpec.scala
Labels: docs

review
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkLazyParameterFunctionHelper.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KeyedRecordFlatMapper.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/CustomFilter.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/LastVariableFilterTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PreviousValueTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/TransformStateTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformer.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/keyed.scala
Labels: none
