Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, docs

Rename kafka flink related sources/sinks
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/BaseKafkaAvroSinkFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroFlinkSink.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkFactoryWithEditor.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/DelayedKafkaAvroSourceFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/KafkaAvroSourceFactory.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroNamespacedSpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroFlinkSinkExceptionHandlingSpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroFlinkSinkFactorySpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroFlinkSinkFactoryWithEditorIntegrationTest.scala
  engine/flink/generic/src/main/scala/pl/touk/nussknacker/genericmodel/GenericConfigCreator.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/BaseKafkaDelayedSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/sinks.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/sources.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/sink/KafkaFlinkSink.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/sink/KafkaFlinkSinkFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaFlinkSource.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaFlinkSourceFactory.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordDeserializationSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordToJsonFormatterSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedGenericTypedJsonIntegrationSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/InputMetaDeserializationSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/KafkaFlinkSourceFactoryDefinitionExtractorSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/KafkaFlinkSourceFactoryIntegrationSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/KafkaFlinkSourceFactoryMixin.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/KafkaFlinkSourceFactoryProcessMixin.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/KafkaFlinkSourceFactorySpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSourceFactoryProcessConfigCreator.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/TestFromFileSpec.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/management/sample/src/test/scala/pl/touk/nussknacker/engine/process/NamespacedKafkaFlinkSourceSinkTest.scala
Labels: none

Move kafka specific classes part2
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/exception/FlinkEspExceptionConsumer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumer.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/RecordFormatter.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumerConfig.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaJsonExceptionSerializationSchema.scala
Labels: none

Move sink/source params
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/KafkaAvroBaseTransformer.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/KafkaAvroBaseTransformer.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValue.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValueParameter.scala
Labels: none

Move RecordFormatterFactory to separate file
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/RecordFormatter.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/RecordFormatterFactory.scala
Labels: none

Move tests
  build.sbt
  utils/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/encode/AvroToJsonEncoderSpec.scala
Labels: none

Move kafka specific classes
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaFactory.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/CharSequenceSerializer.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/KafkaProducerHelper.scala
Labels: none

Remove flink test dependency
  build.sbt
Labels: none

Move avro serializer and deserializer
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/kryo/KryoGenericRecordSchemaIdSerializationSupport.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/AbstractConfluentKafkaAvroDeserializer.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/AbstractConfluentKafkaAvroSerializer.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroDeserializer.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroSerializer.scala
Labels: none

Move message reader and formatter
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/ConfluentAvroMessageFormatter.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/ConfluentAvroMessageReader.scala
Labels: none

Move SchemaDeterminerErrorHandler
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/SchemaDeterminerErrorHandler.scala
Labels: none

Move paramaters
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/KafkaAvroBaseTransformer.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/SchemaDeterminerErrorHandler.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/encode/OutputValidator.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkFactoryWithEditor.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/DelayedKafkaAvroSourceFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/KafkaAvroSourceFactory.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroIntegrationSpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/helpers/KafkaAvroSpecMixin.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroFlinkSinkExceptionHandlingSpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroFlinkSinkFactorySpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/source/DelayedKafkaAvroIntegrationSpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/source/KafkaAvroPayloadSourceFactorySpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/source/TestFromFileSpec.scala
  engine/flink/generic/src/test/scala/pl/touk/nussknacker/genericmodel/GenericItSpec.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/KafkaAvroBaseComponentTransformer.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValueParameter.scala
  utils/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValueParameterTest.scala
  utils/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValueTest.scala
Labels: none

Review - rename kryo serialization support
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/kryo/AvroSerializersRegistrar.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/FlinkConfluentUtils.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroDeserializer.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/GenericRecordSchemaIdSerializationSupport.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
Labels: none

Made it clear that fragments are a design time concept
  docs/scenarios_authoring/Fragments.md
  docs/scenarios_authoring/Spel.md
Labels: docs

spelling error
  docs/scenarios_authoring/Fragments.md
Labels: docs

Review - fix imports
  engine/flink/generic/src/main/scala/pl/touk/nussknacker/genericmodel/GenericConfigCreator.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/BaseKafkaDelayedSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/sources.scala
Labels: none

Review - add changelog/migration guide
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

Review - fix test imports
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroTestProcessConfigCreator.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/helpers/KafkaAvroSpecMixin.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordDeserializationSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordToJsonFormatterSpec.scala
Labels: none

applied PR comments
  docs/scenarios_authoring/Fragments.md
Labels: docs

Fragments&spel(l) docs amenmdments (#2354)
  docs/scenarios_authoring/Fragments.md
  docs/scenarios_authoring/Spel.md
Labels: docs

DateUtils - fixes after review
  utils/model-util/src/main/scala/pl/touk/nussknacker/engine/util/functions/date.scala
  utils/model-util/src/main/scala/pl/touk/nussknacker/engine/util/functions/dateFormat.scala
Labels: none

DateUtils - docs update
  docs/scenarios_authoring/Spel.md
Labels: docs

Make CronExpressionSeparator a public constant
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/SingleScheduleProperty.scala
Labels: none

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Make CronExpressionSeparator a public constant (#2356)
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/SingleScheduleProperty.scala
Labels: none

DateUtils - docs fixes after review
  docs/scenarios_authoring/Spel.md
Labels: docs

ClassExtractionTest fixes + added months constants to DateUtils
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  docs/scenarios_authoring/Spel.md
  engine/flink/generic/src/test/resources/extractedTypes/genericCreator.json
  engine/flink/generic/src/test/scala/pl/touk/nussknacker/genericmodel/GenericClassExtractionTest.scala
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/flink/management/sample/src/test/scala/pl/touk/nussknacker/engine/process/DevClassExtractionTest.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
  utils/model-util/src/main/scala/pl/touk/nussknacker/engine/util/functions/date.scala
  utils/model-util/src/test/scala/pl/touk/nussknacker/engine/util/functions/DateUtilsSpelSpec.scala
Labels: docs

Run all integration tests
  .github/workflows/pr.yml
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/BaseOpenAPITest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/extractor/ParameterExtractorTest.scala
Labels: none

fix kafka tests :)
  utils/kafka-util/src/it/scala/pl/touk/nussknacker/engine/kafka/validator/CachedTopicsExistenceValidatorTest.scala
Labels: none

Fix tests
  build.sbt
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/extractor/ParameterExtractorTest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/parser/SwaggerParserTest.scala
Labels: none

Scenario type to dashborad
  docs/installation_configuration_guide/DesignerConfiguration.md
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/actions/nk/assignSettings.ts
  ui/client/containers/Metrics.tsx
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
Labels: ui, docs

Add migration guide
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

Extract kafka avro base transformer to utils
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaRegistryProvider.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/flink/KafkaAvroSourceFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/flink/SpecificRecordKafkaAvroSourceFactory.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaJsonPayloadIntegrationSpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroSeDeSpecMixin.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/KafkaAvroBaseTransformer.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/BaseSchemaRegistryProvider.scala
Labels: none

Scenario type to dashborad (#2305)
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/actions/nk/assignSettings.ts
  ui/client/containers/Metrics.tsx
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
Labels: ui, docs

Extract kafka avro base transformer to utils (#2357)
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaRegistryProvider.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/flink/KafkaAvroSourceFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/flink/SpecificRecordKafkaAvroSourceFactory.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaJsonPayloadIntegrationSpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroSeDeSpecMixin.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/KafkaAvroBaseTransformer.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/BaseSchemaRegistryProvider.scala
Labels: none

Fix OpenAPI parameters, run all integration tests (#2355)
  .github/workflows/pr.yml
  build.sbt
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/BaseOpenAPITest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/extractor/ParameterExtractorTest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/parser/SwaggerParserTest.scala
  utils/kafka-util/src/it/scala/pl/touk/nussknacker/engine/kafka/validator/CachedTopicsExistenceValidatorTest.scala
Labels: none

Bump webpack dev server
  ui/client/package-lock.json
  ui/client/package.json
  ui/client/webpack.config.js
Labels: ui

fix: missing validation on deploy dialog (#2350)
  ui/client/actions/nk/assignSettings.ts
  ui/client/components/ValidateDeployComment.js
  ui/client/components/ValidateDeployComment.ts
  ui/client/components/modals/DeployProcessDialog.tsx
  ui/client/windowManager/LaddaButton.tsx
Labels: ui

fix: missing validation on deploy dialog (#2350)
  ui/client/actions/nk/assignSettings.ts
  ui/client/components/ValidateDeployComment.js
  ui/client/components/ValidateDeployComment.ts
  ui/client/components/modals/DeployProcessDialog.tsx
  ui/client/windowManager/LaddaButton.tsx
Labels: ui

Bump webpack dev server (#2290)
  ui/client/package-lock.json
  ui/client/package.json
  ui/client/webpack.config.js
Labels: ui

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'
