Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, docs

Hide SQL Variable from generic model (#2133)
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/generic/src/main/resources/defaultModelConfig.conf
Labels: docs

Enhance default ClassExtractionSettings (#2108)
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterEditor.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassMemberPredicate.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassPredicate.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  engine/api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypedFromInstanceTest.scala
  engine/api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultSpec.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/SwaggerTyped.scala
  engine/components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/TableDefinition.scala
  engine/flink/generic/src/test/resources/extractedTypes/genericCreator.json
  engine/flink/generic/src/test/scala/pl/touk/nussknacker/genericmodel/ClassExtractionTest.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/InputMeta.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSourceFactoryDefinitionExtractorSpec.scala
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/flink/management/sample/src/test/scala/pl/touk/nussknacker/engine/process/ClassExtractionTest.scala
  engine/flink/management/sample/src/test/scala/pl/touk/nussknacker/engine/process/SampleComponentProviderTest.scala
  engine/flink/management/src/it/resources/docker/Dockerfile
  engine/flink/model-util/src/main/java/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregateHelper.java
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/Aggregator.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/aggregates.scala
  engine/flink/model-util/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatesSpec.scala
  engine/flink/model-util/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/types/EspTypeUtils.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/variables/MetaVariables.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/types/EspTypeUtilsSpec.scala
  engine/test-util/src/main/resources/logback-test.xml
Labels: none

Add missing links
  docs/operations_guide/Operations.md
Labels: docs

Enabled by default useTypingResultTypeInformation option
  docs/MigrationGuide.md
  docs/installation_configuration_guide/ModelConfiguration.md
  engine/flink/process/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypeInformationDetection.scala
  engine/flink/process/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypeInformationDetectionSpec.scala
  nussknacker-dist/src/universal/conf/application.conf
Labels: docs

chore: deps update
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

Discard dialog with easier decision message and buttons
  ui/client/common/DialogMessages.ts
  ui/client/components/ProcessHistory.tsx
  ui/client/components/RouteLeavingGuard.tsx
Labels: ui

test: update snapshot
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #1.png
  ui/client/cypress/integration/fragment.ts
Labels: ui

test: cleanup
  ui/client/cypress/integration/fragment.ts
Labels: ui

chore: deps update
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

chore: deps update
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

test: fix for cypress test of fragments (#2161)
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #1.png
  ui/client/cypress/integration/fragment.ts
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

test: fix for cypress test of fragments (#2161)
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #1.png
  ui/client/cypress/integration/fragment.ts
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

chmod on children directories inside storage instead of storage - storage can have other owner (root)
  nussknacker-dist/src/universal/bin/nussknacker-entrypoint.sh
Labels: none

Drop legacy metrics mode
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/NkGlobalParameters.scala
  engine/flink/management/sample/src/main/resources/defaultModelConfig.conf
  engine/flink/process/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypeInformationDetectionSpec.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/metrics/MetricUtils.scala
  engine/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxCountsReporter.scala
  engine/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/ProcessBaseCounts.scala
  engine/processReports/src/test/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxReporterSpec.scala
Labels: none

fix: svg for pdf export
  ui/client/components/graph/svg-export/export.styl
  ui/client/components/graph/svg-export/prepareSvg.ts
Labels: ui

fix: svg for pdf export (#2167)
  ui/client/components/graph/svg-export/export.styl
  ui/client/components/graph/svg-export/prepareSvg.ts
Labels: ui

chore: deps update
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

fix: compatibility with react-dnd 14
  ui/client/components/DragArea.tsx
  ui/client/components/graph/node-modal/subprocess-input-definition/MovableRow.tsx
  ui/client/components/toolbars/creator/Tool.tsx
Labels: ui

fix saving properties for scenarios with fragments (#2045)
  ui/client/components/graph/SubprocessSchemaAligner.js
  ui/client/test/SubprocessSchemaAligner-test.js
Labels: ui

Small improvements for dev model
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/dict/RGBDictionary.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/dto/ComplexObject.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/dto/RichObject.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/SampleServices.scala
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ServiceRoutesSpec.scala
Labels: none

Handle missing documentation for OpenAPI
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/OpenAPIComponentProvider.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnrichers.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/package.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/ParseToSwaggerService.scala
Labels: none

More synchronization on metrics addition
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/service/GenericTimeMeasuringService.scala
Labels: none

Add missing links (#2175)
  docs/operations_guide/Operations.md
Labels: docs

Small improvements for dev model (#2174)
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/dict/RGBDictionary.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/dto/ComplexObject.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/dto/RichObject.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/SampleServices.scala
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ServiceRoutesSpec.scala
Labels: none

fix: graph pan/zoom/layout fixes
  ui/client/components/graph/PanZoomPlugin.ts
  ui/client/components/graph/ProcessGraph.tsx
  ui/client/cypress/fixtures/testProcess.json
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #1.png
  ui/client/cypress/integration/process.ts
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

chore: revert cypress update
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

Type constructors in SpEL, fix CronEditor
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterEditor.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/flink/management/sample/src/test/scala/pl/touk/nussknacker/engine/process/CronEditorTest.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
Labels: none

More synchronization on metrics addition (#2177)
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/service/GenericTimeMeasuringService.scala
Labels: none

chore: remove debug code
  ui/client/cypress/integration/process.ts
Labels: ui

Type constructors in SpEL, fix CronEditor (#2170)
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterEditor.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/flink/management/sample/src/test/scala/pl/touk/nussknacker/engine/process/CronEditorTest.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
Labels: none

Allow to enrich process config on initial schedule and each deployment
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/management/periodic/README.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/EnrichDeploymentWithJarData.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/EnrichDeploymentWithJarDataFactory.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/flink/FlinkJarManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/ProcessConfigEnricher.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  project/plugins.sbt
Labels: docs

Helper methods
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/ProcessConfigEnricher.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/modelconfig/InputConfigDuringExecution.scala
Labels: none

Handle missing documentation for OpenAPI (#2173)
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/OpenAPIComponentProvider.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnrichers.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/package.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/ParseToSwaggerService.scala
Labels: none

fix: avoid unnecessary layout changes
  ui/client/components/graph/Graph.js
Labels: ui

Test
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: none

test: snapshot update
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should not have latest deploy button by default [Linux] #0.png
Labels: ui

fix: component position and pan/zoom (#2178)
  ui/client/components/graph/PanZoomPlugin.ts
  ui/client/components/graph/ProcessGraph.tsx
  ui/client/cypress/fixtures/testProcess.json
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should not have latest deploy button by default [Linux] #0.png
  ui/client/cypress/integration/process.ts
Labels: ui

fix: avoid unnecessary layout changes (#2181)
  ui/client/components/graph/Graph.js
Labels: ui

Fix KeyedRecordFlatMapper performance: 1. Do not use reflection, get typing from AvroSinkRecordValue
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValue.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/BaseKafkaAvroSinkFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSink.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KeyedRecordFlatMapper.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValueTest.scala
Labels: none

fix: cleanup of undo stack
  ui/client/reducers/graph/reducer.ts
Labels: ui

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'
