Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, docs

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'

GH actions: build FE once
  .github/workflows/pr.yml
  build.sbt
Labels: none

GH actions: build FE once - fixes after review
  .github/workflows/pr.yml
Labels: none

Changelog additions
  docs/Changelog.md
Labels: docs

Changelog additions (#2256)
  docs/Changelog.md
Labels: docs

GH actions: build FE once - npm run build outside of sbt
  .github/workflows/pr.yml
  build.sbt
  release.sh
  ui/README.md
  ui/client/webpack.config.js
Labels: ui, docs

Review
  docs/installation_configuration_guide/Installation.md
Labels: docs

Public path docs (#2242)
  docs/installation_configuration_guide/Installation.md
Labels: docs

GH actions: sbt compile without clean
  .github/workflows/pr.yml
Labels: none

Setting version to 1.0.0
  version.sbt
Labels: none

GH actions: Skip npm ci in case if npm cache is hit
  .github/workflows/pr.yml
  ui/client/.nvmrc
  ui/client/package-lock.json
Labels: ui

github actions: fix for: was used staging for push pipelines
  .github/workflows/pr.yml
Labels: none

Setting version to 1.0.1-SNAPSHOT
  version.sbt
Labels: none

Mark 1.0.0 as released
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

Mark 1.0.0 as released (#2259)
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

fix: ace tooltip font size
  ui/client/app.styl
Labels: ui

fix: ace tooltip font size
  ui/client/app.styl
Labels: ui

No stateDescriptors initialization, remove old workaround
  engine/flink/process/src/main/scala/pl/touk/nussknacker/engine/process/registrar/StreamExecutionEnvPreparer.scala
Labels: none

GH actions: fix: version determined once and used many times to avoid version mismatch between FE and BE
  .github/workflows/pr.yml
  ui/client/package.json
Labels: ui

GH actions: fix: version determined once and used many times to avoid version mismatch between FE and BE
  .github/workflows/pr.yml
Labels: none

test
  ui/client/package.json
Labels: ui

GH actions: fix for wasn't tested fe changes
  .github/workflows/pr.yml
  ui/client/package.json
Labels: ui

Added sample node server serving production build
  .github/workflows/pr.yml
  ui/client/package-lock.json
  ui/client/package.json
  ui/client/server.js
Labels: ui

test
  ui/client/package.json
Labels: ui

GH actions: fix: version determined once and used many times to avoid version mismatch between FE and BE
  .github/workflows/pr.yml
Labels: none

GH actions: fix for wasn't tested fe changes
  .github/workflows/pr.yml
  ui/client/package.json
Labels: ui

Added sample node server serving production build
  .github/workflows/pr.yml
  ui/client/package-lock.json
  ui/client/package.json
  ui/client/server.js
Labels: ui

fixed package-lock.json after rebase to staging
  ui/client/package-lock.json
Labels: ui

fix: ace tooltip font size (#2261)
  ui/client/app.styl
Labels: ui

More predictable ClassExtractionTest output
  engine/flink/generic/src/test/resources/extractedTypes/genericCreator.json
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
Labels: none

Update README.md
  README.md
Labels: docs

Update README.md (#2270)
  README.md
Labels: docs

Add spel first/last selection evaluation tests
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: none

Add spel first/last selection typing result test
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
Labels: none

Approach no 1
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
Labels: none

Approach no 3
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
Labels: none

Refactor
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
Labels: none

Approach no 2
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
Labels: none

Cleanup
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
Labels: none

Adjust FE selection to new operands
  ui/client/components/graph/node-modal/editors/expression/ExpressionSuggester.js
Labels: ui

sorry cypress test
  .github/workflows/pr.yml
  ui/client/cypress.json
  ui/client/cypress/plugins/index.js
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui
