Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, docs

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'

HSQLDB as provided dependency
  build.sbt
Labels: none

fix saving properties for scenarios with fragments (#2045) (#2168)
  ui/client/components/graph/SubprocessSchemaAligner.js
  ui/client/test/SubprocessSchemaAligner-test.js
Labels: ui

Move changelog entry to 1.1.0
  docs/Changelog.md
Labels: docs

Rename modelConfig to inputConfigDuringExecution
  engine/flink/management/periodic/src/main/resources/db/batch_periodic/migration/hsql/V1_106__rename_model_config.sql
  engine/flink/management/periodic/src/main/resources/db/batch_periodic/migration/postgres/V1_106__rename_model_config.sql
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesTable.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/flink/FlinkJarManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/DeploymentWithJarData.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/ProcessConfigEnricher.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: none

fix saving properties for scenarios with fragments (#2045) (#2168)
  ui/client/components/graph/SubprocessSchemaAligner.js
  ui/client/test/SubprocessSchemaAligner-test.js
Labels: ui

Fix KeyedRecordFlatMapper performance: 1. Do not use reflection, get typing from AvroSinkRecordValue
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValue.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/BaseKafkaAvroSinkFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSink.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KeyedRecordFlatMapper.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValueTest.scala
Labels: none

HSQLDB as provided dependency (#2182)
  build.sbt
Labels: none

Fix KeyedRecordFlatMapper performance: 1. Do not use reflection, get typing from AvroSinkRecordValue
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValue.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/BaseKafkaAvroSinkFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSink.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KeyedRecordFlatMapper.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValueTest.scala
Labels: none

Update Changelog
  docs/Changelog.md
Labels: docs

Fix KeyedRecordFlatMapper performance: 1. Do not use reflection, get typing from AvroSinkRecordValue
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValue.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/BaseKafkaAvroSinkFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSink.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KeyedRecordFlatMapper.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValueTest.scala
Labels: none

Update Changelog
  docs/Changelog.md
Labels: docs

Allow to enrich process config on initial schedule and each deployment (#2176)
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/management/periodic/README.md
  engine/flink/management/periodic/src/main/resources/db/batch_periodic/migration/hsql/V1_106__rename_model_config.sql
  engine/flink/management/periodic/src/main/resources/db/batch_periodic/migration/postgres/V1_106__rename_model_config.sql
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/EnrichDeploymentWithJarData.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/EnrichDeploymentWithJarDataFactory.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesTable.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/flink/FlinkJarManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/DeploymentWithJarData.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/ProcessConfigEnricher.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/modelconfig/InputConfigDuringExecution.scala
  project/plugins.sbt
Labels: docs

fix: cleanup of undo stack
  ui/client/actions/actionTypes.ts
  ui/client/actions/nk/process.js
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #1.png
  ui/client/reducers/graph/reducer.ts
Labels: ui

Fix docs urls
  engine/flink/generic/src/main/resources/defaultModelConfig.conf
Labels: none

fix: cleanup of undo stack (#2184)
  ui/client/actions/actionTypes.ts
  ui/client/actions/nk/process.js
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #1.png
  ui/client/reducers/graph/reducer.ts
Labels: ui

Fix docs urls (#2192)
  engine/flink/generic/src/main/resources/defaultModelConfig.conf
Labels: none

New logo
  ui/client/assets/img/favicon.png
  ui/client/assets/img/favicon.svg
  ui/client/assets/img/nussknacker-logo.svg
  ui/client/stylesheets/mainMenu.styl
  ui/client/webpack.config.js
Labels: ui

fix: global event handlers called from windows
  ui/client/bootstrap.tsx
  ui/client/containers/BindKeyboardShortcuts.tsx
  ui/client/containers/useDocumentListeners.tsx
  ui/client/package.json
Labels: ui

Removed test:e2e:docker option. Fixed darwin checking in e2e scripts
  ui/client/README.md
  ui/client/cypress/integration/__image_snapshots__/Expression suggester  should display colorfull and sorted completions [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Expression suggester  should display colorfull and sorted completions [Linux] #1.png
  ui/client/package.json
Labels: ui, docs

Fix KeyedRecordFlatMapper performance: 1. Do not use reflection, get typing from AvroSinkRecordValue
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValue.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/BaseKafkaAvroSinkFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSink.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KeyedRecordFlatMapper.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/AvroSinkValueTest.scala
Labels: none

Update Changelog
  docs/Changelog.md
Labels: docs

Setting version to 0.4.2
  version.sbt
Labels: none

ci: cypress config
  .github/workflows/pr.yml
Labels: none

Setting version to 0.4.3-SNAPSHOT
  version.sbt
Labels: none

ci: cypress config testing
  .github/workflows/pr.yml
Labels: none

ci: cypress config testing
  .github/workflows/pr.yml
Labels: none

ci: cypress config testing
  .github/workflows/pr.yml
Labels: none

ci: cypress config testing
  .github/workflows/pr.yml
Labels: none

Fix visiaulizationUrl with publicPath
  ui/client/common/VisualizationUrl.ts
Labels: ui

Fix visiaulizationUrl with publicPath (#2198)
  ui/client/common/VisualizationUrl.ts
Labels: ui

ci: cypress config
  .github/workflows/pr.yml
Labels: none

fix: global event handlers called from windows (#2195)
  ui/client/bootstrap.tsx
  ui/client/containers/BindKeyboardShortcuts.tsx
  ui/client/containers/useDocumentListeners.tsx
  ui/client/package.json
Labels: ui

Fix for additionalInfo in sample
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/SampleNodeAdditionalInfoProvider.scala
Labels: none

changed notification message for during_deploy + dialog closes immediately after ok
  ui/client/components/modals/DeployProcessDialog.tsx
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NotificationResources.scala
Labels: ui

Production build chunks names as hashes
  ui/client/webpack.config.js
Labels: ui

changed notification message for during_deploy + dialog closes immediately after ok
  ui/client/components/modals/DeployProcessDialog.tsx
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NotificationResources.scala
Labels: ui

Revert "Production build chunks names as hashes"
  ui/client/webpack.config.js
Labels: ui

Production build chunks names as hashes
  ui/client/webpack.config.js
Labels: ui

Fix for additionalInfo in sample (#2199)
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/SampleNodeAdditionalInfoProvider.scala
Labels: none

changed notification message for during_deploy + dialog closes immediately after ok (#2203)
  ui/client/components/modals/DeployProcessDialog.tsx
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NotificationResources.scala
Labels: ui
