Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, docs

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'

GH actions improvement: not building image if changes are fe-only - adding dev model also to other branches because it is needed by cypress tests
  .github/workflows/pr.yml
Labels: none

fe changes only test
  ui/client/package.json
Labels: ui

Setting version to 0.4.3
  version.sbt
Labels: none

Setting version to 0.4.4-SNAPSHOT
  version.sbt
Labels: none

Test DelayedKafkaSource
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedGenericTypedJsonIntegrationSpec.scala
Labels: none

EagerServiceWithExplicitMethod
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/definition/WithExplicitMethodToInvoke.scala
  engine/components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/BaseSwaggerEnricher.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnrichers.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequest.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/http/SwaggerSttpService.scala
  engine/components/openapi/src/test/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequestTest.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/component/SampleComponentProvider.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/DynamicService.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/UnionReturnObjectService.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/MethodDefinitionExtractor.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/service/EagerServiceWithFixedParameters.scala
Labels: none

remove ServiceReturningType
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/Service.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/definition/WithExplicitMethodToInvoke.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/ReturningType.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherWithCacheTest.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/CustomValidatedService.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/MethodDefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ServiceInvoker.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/util/service/query/ServiceQuerySpec.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessConfigCreator.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/service/EagerServiceWithFixedParameters.scala
Labels: none

Remove WithExplicitMethodToInvoke
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/BaseSwaggerEnricher.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnrichers.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/BaseDatabaseQueryEnricherTest.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/component/SampleComponentProvider.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/CustomValidatedService.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/DynamicService.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/UnionReturnObjectService.scala
  engine/flink/process/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/MethodDefinitionExtractor.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessInterpreter.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessConfigCreator.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/service/EagerServiceWithStaticParameters.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/service/EnricherContextTransformation.scala
Labels: docs

review
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/BaseSwaggerEnricher.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/BaseDatabaseQueryEnricherTest.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/MethodDefinitionExtractor.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
Labels: none

Remove ServiceReturningType, ServiceWithExplicitMethod, add helpers (#1422)
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/Service.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/definition/WithExplicitMethodToInvoke.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/ReturningType.scala
  engine/components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/BaseSwaggerEnricher.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnrichers.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequest.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/http/SwaggerSttpService.scala
  engine/components/openapi/src/test/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequestTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/BaseDatabaseQueryEnricherTest.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/component/SampleComponentProvider.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/CustomValidatedService.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/DynamicService.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/UnionReturnObjectService.scala
  engine/flink/process/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/MethodDefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ServiceInvoker.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/util/service/query/ServiceQuerySpec.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessInterpreter.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessConfigCreator.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/service/EagerServiceWithStaticParameters.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/service/EnricherContextTransformation.scala
Labels: docs

Fix for dockerTest.shouldBuildImage was always false
  .github/workflows/pr.yml
Labels: none

GH actions build docker once and push on the end
  .github/workflows/pr.yml
Labels: none

Test DelayedKafkaSource (#2243)
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedGenericTypedJsonIntegrationSpec.scala
Labels: none

fix: don't highlight impossible injections
  ui/client/components/graph/EspNode/element.ts
  ui/client/components/graph/ProcessGraph.tsx
Labels: ui

chore: cleanup
  ui/client/actions/nk/node.ts
  ui/client/components/graph/Graph.js
Labels: ui

fix: blinking arrows
  ui/client/components/graph/Graph.js
  ui/client/components/graph/graphTheme.styl
Labels: ui

chore: animation tweak
  ui/client/components/ComponentPreview.tsx
Labels: ui

feat: added ports to preview
  ui/client/components/ComponentPreview.tsx
Labels: ui

fix: disallow inject sink/source
  ui/client/actions/nk/node.ts
  ui/client/components/graph/EspNode/element.ts
  ui/client/components/graph/Graph.js
  ui/client/components/graph/GraphPartialsInTS/cellUtils.ts
  ui/client/components/graph/dragHelpers.ts
Labels: ui

feat: component drag preview
  ui/client/bootstrap.tsx
  ui/client/components/ComponentDragPreview.tsx
  ui/client/components/ComponentPreview.tsx
  ui/client/components/DragArea.tsx
  ui/client/components/graph/EspNode/esp.ts
  ui/client/components/graph/ProcessGraph.tsx
  ui/client/components/toolbars/creator/Tool.tsx
Labels: ui

fix: calc link hover same way for drag into and drag inside
  ui/client/components/graph/ProcessGraph.tsx
Labels: ui

GH actions: version determining refactor
  .github/workflows/pr.yml
Labels: none

Fix scenario status when job manager is down
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActorSpec.scala
Labels: none

Fix scenario status when job manager is down (#2247)
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActorSpec.scala
Labels: none

Component drag preview (#2213)
  ui/client/actions/nk/node.ts
  ui/client/bootstrap.tsx
  ui/client/components/ComponentDragPreview.tsx
  ui/client/components/ComponentPreview.tsx
  ui/client/components/DragArea.tsx
  ui/client/components/graph/EspNode/element.ts
  ui/client/components/graph/EspNode/esp.ts
  ui/client/components/graph/Graph.js
  ui/client/components/graph/GraphPartialsInTS/cellUtils.ts
  ui/client/components/graph/ProcessGraph.tsx
  ui/client/components/graph/dragHelpers.ts
  ui/client/components/graph/graphTheme.styl
  ui/client/components/toolbars/creator/Tool.tsx
Labels: ui

chore: cleanup
  ui/client/containers/NussknackerApp.tsx
Labels: ui

chore: type cleanup
  ui/client/http/HttpService.ts
Labels: ui

feat: show (build) version number
  ui/client/.eslintrc
  ui/client/bootstrap.tsx
  ui/client/components/toolbarSettings/ToolbarSelector.tsx
  ui/client/components/toolbarSettings/useToolbarConfig.tsx
  ui/client/components/versionInfo.tsx
  ui/client/http/HttpService.ts
  ui/client/index.d.ts
  ui/client/version.js
  ui/client/webpack.config.js
Labels: ui

fix: simplify
  ui/client/bootstrap.tsx
  ui/client/components/versionInfo.tsx
  ui/client/containers/NussknackerApp.tsx
  ui/client/stylesheets/visualization.styl
Labels: ui

BUILD_VERSION -> NUSSKNACKER_VERSION
  ui/client/version.js
Labels: ui

Fix for: GH actions not publishing docker image on staging
  .github/workflows/pr.yml
Labels: none

Fix for: release haven't published standaloneApp image
  build.sbt
Labels: none

Remove nk pronunciation
  README.md
Labels: docs

Remove gitter
  README.md
Labels: docs

Add discussion link during creating issue
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

Issues improvements
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/proposal.md
Labels: docs

Add PR welcome
  README.md
Labels: docs

Community improvements (#2251)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/proposal.md
  README.md
Labels: docs

GH actions: docker build once
  .github/workflows/pr.yml
Labels: none

Tar artifacts without zipping
  .github/workflows/pr.yml
Labels: none
