Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, docs

Auto-loaded ComponentProvider - fixes after review: throwing exception for incompatible ComponentProvider
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/ComponentExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/component/ComponentExtractorTest.scala
Labels: none

Enrichers related docs changes (#2370)
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/DesignerTipsAndTricks.md
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/Spel.md
  docs/scenarios_authoring/img/databaseLookupEnricher.png
  docs/scenarios_authoring/img/databaseQueryEnricher.png
  docs/scenarios_authoring/img/openApiEnricher.png
Labels: docs

Final remarks
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/utils/transformers.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/ScenarioInterpreterFactory.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/TestRunner.scala
  engine/base/runtime/src/test/scala/pl/touk/nussknacker/engine/baseengine/sample.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/StandaloneScenarioEngine.scala
Labels: none

Changes to arkadius's comments
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/ComponentType.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none

Base components extracted to ComponentsProvider
  .run/NussknackerApp.run.xml
  build.sbt
  components/base/src/it/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformerSpec.scala
  components/base/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/BaseComponentsProvider.scala
  components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformer.scala
  components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformer.scala
  components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformersExceptionHandlingSpec.scala
  components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformerSpec.scala
  docs/MigrationGuide.md
  docs/installation_configuration_guide/Installation.md
  engine/flink/generic/src/main/scala/pl/touk/nussknacker/genericmodel/GenericConfigCreator.scala
  engine/flink/generic/src/test/scala/pl/touk/nussknacker/genericmodel/GenericItSpec.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/model-util/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/ModelUtilExceptionHandlingSpec.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/BaseSampleConfigCreator.scala
  nussknacker-dist/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/runServer.sh
Labels: docs

cleanup, changelog
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/ScenarioInterpreterFactory.scala
Labels: docs

[Feature] Components list (#2353)
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/ComponentType.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ComponentResource.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentGroupName.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentIcon.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessCategoryService.scala
  ui/server/src/test/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentModels.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DynamicComponentProvider.scala
Labels: none

chore: cleanup debug
  ui/client/components/SvgDiv.tsx
Labels: ui

Enabled component's api
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
Labels: none

Enabled component's api (#2378)
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
Labels: none

Add flinkUtil compile dependency to openApi module
  build.sbt
Labels: none

fix: properties window icon + minor fixes & some cleanup (#2375)
  ui/client/assets/img/properties.svg
  ui/client/components/Process/ProcessStateIcon.tsx
  ui/client/components/Process/ProcessStateUtils.ts
  ui/client/components/SvgDiv.tsx
  ui/client/components/UrlIcon.tsx
  ui/client/components/graph/node-modal/NodeDetailsModalHeader.tsx
  ui/client/components/graph/node-modal/editors/expression/SwitchIcon.js
  ui/client/components/graph/node-modal/node/selectors.tsx
  ui/client/components/toolbars/creator/ComponentIcon.tsx
  ui/client/components/toolbars/status/ProcessInfo.tsx
  ui/client/test/Process/ProcessStateIcon-test.js
Labels: ui

[FIX] add missing migrations (#2372)
  ui/server/src/main/scala/db/migration/V1_031__FragmentSpecificData.scala
  ui/server/src/main/scala/db/migration/hsql/V1_030__SpillStateToDisk.scala
  ui/server/src/main/scala/db/migration/hsql/V1_031__FragmentSpecificData.scala
  ui/server/src/main/scala/db/migration/postgres/V1_030__SpillStateToDisk.scala
  ui/server/src/main/scala/db/migration/postgres/V1_031__FragmentSpecificData.scala
  ui/server/src/test/scala/db/migration/V1_031__FragmentSpecificDataSpec.scala
Labels: none

Component: split definition and implementation
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/ComponentExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/ComponentWithImpl.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/RuntimeImplementationProvider.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessObjectDefinitionExtractor.scala
Labels: none

hyperlinks correction
  docs/scenarios_authoring/Enrichers.md
Labels: docs

Refactor: CustomTransformation implementation extraction moved from NodeCompiler to ObjectWithMethodDef + some cleanups
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/CompilerLazyParameter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
Labels: none

Update Enrichers.md
  docs/scenarios_authoring/Enrichers.md
Labels: docs

Enrichers docs - corrections batch2 (#2382)
  docs/scenarios_authoring/Enrichers.md
Labels: docs

fixes
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/PullProcessRepository.scala
Labels: none

fixes
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/services/PullProcessRepository.scala
Labels: none

listener-api added custom user
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListener.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListenerFactory.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/services/PullProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ListenerApiUser.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/PullProcessRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessChangeListener.scala
Labels: none

removed dependency from build.sbt, updated Changelog, MigrationGuide
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListener.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListenerFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/PullProcessRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessChangeListener.scala
Labels: docs

replaced LoggedUser with User in listener-api to remove security dependency
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListener.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListenerFactory.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/services/PullProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/AuthorizeProcess.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/PullProcessRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessChangeListener.scala
Labels: none

MigrationGuide and Changelog order fixed
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

fixed passing user
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ListenerUser.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListener.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/services/PullProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ListenerApiUser.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/PullProcessRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessChangeListener.scala
Labels: none

moved user to seperate file, fixed imports
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListenerFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/AuthorizeProcess.scala
Labels: none

removed unnecessary imports
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListener.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListenerFactory.scala
Labels: none

fixed passing user
  docs/Changelog.md
  docs/MigrationGuide.md
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListener.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListenerFactory.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/User.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/services/PullProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ListenerApiUser.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/PullProcessRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessChangeListener.scala
Labels: docs

chanegd mutliple explicit use of implicit to private implicit conversion
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/PullProcessRepository.scala
Labels: none

process resources, removed implicit value, added sideEffectAction to handle
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
Labels: none

Improvements: ComponentId
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentGroupName.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentId.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none

replaced LoggedUser with User in listener-api to remove security dependency (#2361)
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListener.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListenerFactory.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/User.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/services/PullProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/AuthorizeProcess.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ListenerApiUser.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/PullProcessRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessChangeListener.scala
Labels: docs

Changes to mproch's comments
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentGroupName.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentId.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none

Cleanup: Removal of CustomStreamTransformer.clearsContext api
  api/src/main/scala/pl/touk/nussknacker/engine/api/CustomStreamTransformer.scala
  docs/MigrationGuide.md
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/CompilerLazyParameter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/CustomNodeValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
Labels: docs

Sort scenario list by status
  ui/client/containers/Processes.tsx
Labels: ui

Fix tests..
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentId.scala
Labels: none

Move ComponentId create logic ang ComponentType to api package
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentId.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentType.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentGroupName.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentIcon.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none

Improvements: ComponentId (#2384)
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentGroupName.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentId.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentType.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentGroupName.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentIcon.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none

Simple engine
  api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/CommonKafkaSource.scala
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/EffectCapability.scala
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/KafkaTransactionalEngine.scala
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/LoopUntilClosed.scala
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/SimpleTransactionEngine.scala
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/TransactionalKafkaEngineRunner.scala
  engine/base/kafka/src/test/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/base/kafka/src/test/scala/pl/touk/nussknacker/engine/baseengine/kafka/KafkaTransactionalEngineTest.scala
  engine/base/runtime/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/ScenarioInterpreterFactory.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/components/BaseComponentProvider.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/components/ProcessSplitter.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/components/Union.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/exception/DefaultEspExceptionHandler.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessConfigCreator.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  utils/kafka-test-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaZookeeperServer.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaUtils.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/exception/WithExceptionExtractor.scala
Labels: none

minor fixes
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/KafkaSingleScenarioTaskRun.scala
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/KafkaTransactionalScenarioInterpreter.scala
Labels: none

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'
