Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, docs

Unignore integration tests
  engine/api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
Labels: none

Fix security module Circe dependencies: upgrade jwt-circe
  build.sbt
Labels: none

Unignore a few tests, more Date methods
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassPredicate.scala
  engine/flink/generic/src/test/resources/extractedTypes/genericCreator.json
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: none

Fix security module Circe dependencies: upgrade jwt-circe
  build.sbt
Labels: none

Spel selection for ^ and $ operand (#2274)
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
  ui/client/components/graph/node-modal/editors/expression/ExpressionSuggester.js
Labels: ui

Remove dummy test, unignore some UI tests
  engine/flink/process/src/test/scala/pl/touk/nussknacker/engine/process/functional/StateProcessSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesConcurentSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesConcurrentSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
Labels: none

Remove SQL Variable
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/generic/src/main/resources/defaultModelConfig.conf
  engine/flink/process/src/test/scala/pl/touk/nussknacker/engine/process/functional/SqlProcessItTests.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/HsqlSqlQueryableDataBase.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/SqlExpressionParser.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/SqlQueryableDataBase.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/TimestampUtils.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/columnmodel/CreateColumnModel.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/columnmodel/TypedClassColumnModel.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/columnmodel/TypedMapColumnModel.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/preparevalues/PrepareTables.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/preparevalues/ReadObjectField.scala
  engine/interpreter/src/test/java/pl/touk/nussknacker/engine/sql/HsqlSqlQueryableDataBaseTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/SqlExpressionParserTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/SqlExpressionTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/TypedList.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/columnmodel/CreateColumnModelTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/columnmodel/CreateTablesDefinitionTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/columnmodel/TypedClassColumnModelTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/columnmodel/TypedMapColumnModelTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/preparevalues/PrepareTablesTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/preparevalues/ReadObjectFieldTest.scala
  ui/client/cypress/integration/__image_snapshots__/Creator toolbar  should allow filtering [Linux] #1.png
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparer.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparerSpec.scala
Labels: ui, docs

Fix Flink's restart strategy config reader
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/exception/RestartStrategyFromConfiguration.scala
  engine/flink/util/src/test/scala/pl/touk/nussknacker/engine/flink/util/exception/ConfigurableExceptionhandlerSpec.scala
Labels: none

Remove SBT warnings
  build.sbt
  version.sbt
Labels: none

Fix Flink's restart strategy config reader
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/exception/RestartStrategyFromConfiguration.scala
  engine/flink/util/src/test/scala/pl/touk/nussknacker/engine/flink/util/exception/ConfigurableExceptionhandlerSpec.scala
Labels: none

removed array from excluded members in extraction settings + modified display name + tests for array handling
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/util/ReflectUtils.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: none

handled selection/projection on arrays in Typer
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
Labels: none

when parsing array in typed class it now automatically changes it to Array[Object] + fixed incompatible types in tests
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/util/ReflectUtils.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: none

modified tests based on changes
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/types/EspTypeUtilsSpec.scala
Labels: none

final changes for changeing draft to pr + cleanup
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/util/ReflectUtils.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: none

Removed ReflectUtils.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/util/ReflectUtils.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/SecuritiesParser.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/exception/DefaultEspExceptionHandler.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/PrettyValidationErrors.scala
Labels: none

added tests for display in Typed + devCreator and genericCreator for array inclusion
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  engine/flink/generic/src/test/resources/extractedTypes/genericCreator.json
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TypedClassDisplaySpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/types/EspTypeUtilsSpec.scala
Labels: none

updated TypingResultDecoder to handle Arrays
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
Labels: none

fixed handling arrays intyping so it handles Encoder properly now and passes ClassExtraction tests
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  engine/flink/generic/src/test/resources/extractedTypes/genericCreator.json
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
Labels: none

fixes after rebasing, switched files with extracted types for ClassExtraction tests
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  engine/flink/generic/src/test/resources/extractedTypes/genericCreator.json
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: none

Revert "build(deps-dev): bump webpack-dev-server in /ui/client (#2268)"
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

Default values defined on Parameter level
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/api/src/main/java/pl/touk/nussknacker/engine/api/DefaultValue.java
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/definition/NodeDependency.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/OptionalDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/ParameterExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/StandardParameterEnrichment.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/AnnotationDefaultValueDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/ConfigParameterDefaultValueDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/DefaultValueDeterminerChain.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/EditorPossibleValuesBasedDefaultValueDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/OptionalityBasedDefaultValueDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/ParameterDefaultValueDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/TypeRelatedParameterValueDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/validator/EditorBasedValidatorExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/validator/MandatoryValidatorExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/validator/ValidatorExtractor.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/EditorPossibleValuesBasedDefaultValueDeterminerTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/TypeRelatedParameterValueDeterminerTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/parameter/validator/ValidatorsExtractorTest.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/EvaluatedParameterPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/defaults/ConfigParameterDefaultValueDeterminer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/defaults/DefaultValueDeterminerChain.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/defaults/OptionalityBasedDefaultValueDeterminer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/defaults/ParameterDefaultValueDeterminer.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/EvaluatedParameterPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/defaults/ConfigParameterDefaultValueDeterminerTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/defaults/DefaultValueDeterminerChainTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/defaults/ParamDefaultValueConfigTest.scala
Labels: docs

Default values defined on Parameter level - annotation has higher priority than optionality
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/DefaultValueDeterminerChain.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
Labels: none

Default values defined on Parameter level - added comment after review
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/definition/NodeDependency.scala
Labels: none

GH actions fix: always building image in docker tests job for pushes to special branches
  .github/workflows/pr.yml
Labels: none

Revert "build(deps-dev): bump webpack-dev-server in /ui/client (#2268)" (#2286)
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

fixed extracting iterative types in selection projection for array
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
Labels: none

Revert "fixes after rebasing, switched files with extracted types for ClassExtraction tests"
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  engine/flink/generic/src/test/resources/extractedTypes/genericCreator.json
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: none

/api/adminProcessManagement/deploy takes savepointPath as a parameter instead of path segment + operations docs clarifications
  docs/MigrationGuide.md
  docs/operations_guide/Operations.md
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
Labels: docs

/api/adminProcessManagement/deploy takes savepointPath as a parameter instead of path segment + operations docs clarifications - fixes after review
  docs/operations_guide/Operations.md
Labels: docs

Test fix
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesConcurrentSpec.scala
Labels: none

Remove dummy test, unignore some UI tests (#2275)
  engine/flink/process/src/test/scala/pl/touk/nussknacker/engine/process/functional/StateProcessSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesConcurentSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesConcurrentSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
Labels: none

Flink 1.14
  build.sbt
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/signal/KafkaSignalStreamConnector.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/PartitionByKeyFlinkKafkaProducer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSource.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/CustomProcess.scala
  engine/flink/management/src/it/resources/docker/Dockerfile
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/metrics/MetricUtils.scala
Labels: none

Added back ReflectUtils + fixed nested array display test + switched class extraction json files to sorted ones
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/util/ReflectUtils.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/SecuritiesParser.scala
  engine/flink/generic/src/test/resources/extractedTypes/genericCreator.json
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/exception/DefaultEspExceptionHandler.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TypedClassDisplaySpec.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/PrettyValidationErrors.scala
Labels: none

Upgrade to cats-effect-3 - benchmarks...
  .github/workflows/pr.yml
  build.sbt
  engine/benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  engine/benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/ManyParamsInterpreterBenchmark.scala
  engine/benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/OneParamInterpreterBenchmark.scala
  engine/flink/process/src/main/scala/pl/touk/nussknacker/engine/process/registrar/AsyncInterpretationFunction.scala
  engine/flink/process/src/main/scala/pl/touk/nussknacker/engine/process/registrar/SyncInterpretationFunction.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
Labels: none

Enhancement: change nodeCategoryMapping to componentsGroupMapping
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/ModelConfiguration.md
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/WithCategories.scala
  engine/flink/generic/src/main/resources/defaultModelConfig.conf
  ui/buildServer.sh
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/test/resources/ui.conf
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparerSpec.scala
Labels: docs

fixed ReflectUtils not parsing correctly + added tests for ReflectUtils parsing scala class names
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/util/ReflectUtils.scala
  engine/api/src/test/scala/pl/touk/nussknacker/engine/api/utils/ReflectUtilsSpec.scala
Labels: none

minor fixes
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: none

array class handling in spel parser (#2221)
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/util/ReflectUtils.scala
  engine/api/src/test/scala/pl/touk/nussknacker/engine/api/utils/ReflectUtilsSpec.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/SecuritiesParser.scala
  engine/flink/generic/src/test/resources/extractedTypes/genericCreator.json
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/exception/DefaultEspExceptionHandler.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TypedClassDisplaySpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/types/EspTypeUtilsSpec.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/PrettyValidationErrors.scala
Labels: none

add 'docsUrl' configuration for Fragments in Properties
  ui/client/components/graph/node-modal/NodeDetailsContent.js
  ui/server/src/main/resources/defaultUiConfig.conf
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
Labels: ui

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'
