Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, docs

Make ignite provided in sql component (#2338)
  build.sbt
Labels: none

Add SchemaNotFound error code to the list of schemaregistry error codes. (#2345)
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaRegistryError.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/ConfluentSchemaRegistryClient.scala
Labels: none

Additional changes
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/ComponentsConfigExtractor.scala
  ui/client/types/definition.ts
Labels: ui

Changes to comments
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentGroupName.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/ComponentsConfigExtractor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentGroupName.scala
Labels: none

Handling built-in SpEL's String -> value classes conversions during typing
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/typed/CanBeSubclassDeterminer.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeConversionHandler.scala
  engine/flink/generic/src/test/resources/extractedTypes/genericCreator.json
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/internal/OptimizedEvaluationContext.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: none

Handling built-in SpEL's String -> value classes conversions during typing - added test for return value conversion
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: none

Handling built-in SpEL's String -> value classes conversions during typing - added docs
  docs/scenarios_authoring/Spel.md
Labels: docs

Handling built-in SpEL's String -> value classes conversions during typing - added entry in changelog
  docs/Changelog.md
Labels: docs

Changes to arkadius's comments
  docs/MigrationGuide.md
  docs/installation_configuration_guide/ModelConfiguration.md
  engine/flink/generic/src/main/resources/defaultModelConfig.conf
  engine/flink/management/sample/src/main/resources/defaultModelConfig.conf
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/ComponentsUiConfigExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractor.scala
  interpreter/src/test/resources/reference.conf
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/test/resources/ui.conf
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/ConfigurationTest.scala
Labels: docs

Refactor: ComponentsConfig cdn.. (#2343)
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentGroupName.scala
  docs/MigrationGuide.md
  docs/installation_configuration_guide/ModelConfiguration.md
  engine/flink/generic/src/main/resources/defaultModelConfig.conf
  engine/flink/management/sample/src/main/resources/defaultModelConfig.conf
  interpreter/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/ComponentsUiConfigExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/GlobalVariableDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractor.scala
  interpreter/src/test/resources/reference.conf
  ui/client/types/definition.ts
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentGroupName.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/ComponentsGroupMappingConfig.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessCategoryService.scala
  ui/server/src/test/resources/ui.conf
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/ConfigurationTest.scala
Labels: ui, docs

Make change a bit smaller, docs
  api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/TestProcess.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/Sink.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/test/EmptyInvocationCollector.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/test/InvocationCollectors.scala
  api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/http/backend/OpenapiSttpBackend.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkCustomNodeContext.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkSink.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSink.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompiler.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompilerData.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompiler.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompiler.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/compiler/VerificationFlinkProcessCompiler.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/registrar/CollectingSinkFunction.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMain.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkVerificationMain.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/runner/TestFlinkRunner.scala
  engine/flink/engine/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/sink/KafkaSink.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/ClientFakeHttpService.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/DynamicParametersSink.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/sink/EmptySink.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/sink/SingleValueSinkFactory.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/management/StandaloneDeploymentManager.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/test/StandaloneTestMainSpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/canonize/MaybeArtificial.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compiledgraph/service.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/resultcollector/ResultCollector.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestInvocationCollector.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestServiceInvocationCollector.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/util/service/query/ServiceQuery.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/SubprocessResolverSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
Labels: docs

Migrations
  api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkSink.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/generic/src/main/scala/pl/touk/nussknacker/genericmodel/GenericMigrations.scala
  engine/flink/generic/src/main/scala/pl/touk/nussknacker/genericmodel/migrations/SinkExpressionMigration.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/sink/SingleValueSinkFactory.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/PartSubGraphCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/migration/ProcessMigration.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/marshall/ProcessMarshallerSpec.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/util/PdfExporter.scala
Labels: none

moved flinkQueryableClient and queryableStateTest to flinkDeploymentManager
  build.sbt
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkQueryableClient.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/QueryableStateTest.scala
Labels: none

moved customActionReq/Resp and prettyValidator to restmodel
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/CustomActionRequest.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/CustomActionResponse.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/AdditionalPropertiesValidator.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
Labels: none

erased comment
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/CustomProcessValidator.scala
Labels: none

cleanup
  build.sbt
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
Labels: none

removed CustomProcessValidator from restmodel, moved it to nussknacker-ui
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/CustomProcessValidator.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
Labels: none

fix: missing validation on deploy dialog
  ui/client/actions/nk/assignSettings.ts
  ui/client/components/ValidateDeployComment.js
  ui/client/components/ValidateDeployComment.ts
  ui/client/components/modals/DeployProcessDialog.tsx
  ui/client/windowManager/LaddaButton.tsx
Labels: ui

Fix NussknackerApp intelij setup
  .run/NussknackerApp.run.xml
Labels: none

moved back CustomProcessValidator, removed queryable state module
  build.sbt
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/CustomProcessValidator.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
Labels: none

removed redundant dependencies for flinkDeploymentManager in build.sbt
  build.sbt
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/CustomProcessValidator.scala
Labels: none

clarify some types
  ui/client/http/HttpService.ts
  ui/client/types/node.ts
  ui/client/types/process.ts
Labels: ui

updated Changelog and MigrationGuide
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

added dependency flinkEngine in deploymentManager
  build.sbt
Labels: none

refactor of node icon components & helpers
  ui/client/components/graph/EspNode/element.ts
  ui/client/components/graph/EspNode/getIconHref.ts
  ui/client/components/graph/EspNode/index.ts
  ui/client/components/graph/node-modal/NodeDetailsModalHeader.tsx
  ui/client/components/toolbars/creator/Tool.tsx
  ui/client/components/toolbars/creator/ToolboxComponentGroup.tsx
  ui/client/components/toolbars/creator/nodeIcon.tsx
Labels: ui

cleanup & expose nodeIcon
  ui/client/components/ComponentPreview.tsx
  ui/client/components/graph/node-modal/NodeDetailsModalHeader.tsx
  ui/client/components/toolbars/creator/Tool.tsx
  ui/client/components/toolbars/creator/ToolboxComponentGroup.tsx
  ui/client/components/toolbars/creator/nodeIcon.tsx
  ui/client/federation.config.json
Labels: ui

fixed filters
  ui/client/common/VisualizationUrl.ts
Labels: ui

chore: merge fixes
  ui/client/components/graph/EspNode/element.ts
  ui/client/components/toolbars/creator/ToolboxComponentGroup.tsx
  ui/client/components/toolbars/creator/nodeIcon.tsx
Labels: ui

Properly resolve optional parameter default value - add test
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
Labels: none

Properly resolve optional parameter default value
  api/src/main/scala/pl/touk/nussknacker/engine/api/definition/NodeDependency.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/StandardParameterEnrichment.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
Labels: none

Return specific type instead of Option in UIParameter
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/EvaluatedParameterPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
Labels: none

Modules minor changes (#2349)
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkQueryableClient.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/QueryableStateTest.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/CustomActionRequest.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/CustomActionResponse.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/AdditionalPropertiesValidator.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
Labels: docs

Default value for optional params in sinks (#2351)
  .run/NussknackerApp.run.xml
  api/src/main/scala/pl/touk/nussknacker/engine/api/definition/NodeDependency.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/StandardParameterEnrichment.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/EvaluatedParameterPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
Labels: none

Concise expected class extraction result in test
  api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  engine/flink/generic/src/test/resources/extractedTypes/genericCreator.json
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
Labels: none

DateUtils refactor
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeConversionHandler.scala
  engine/flink/generic/src/main/scala/pl/touk/nussknacker/genericmodel/GenericConfigCreator.scala
  engine/flink/generic/src/test/resources/extractedTypes/genericCreator.json
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/internal/NuConversionServiceFactory.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/internal/OptimizedEvaluationContext.scala
  utils/model-util/src/main/scala/pl/touk/nussknacker/engine/util/functions/date.scala
  utils/model-util/src/main/scala/pl/touk/nussknacker/engine/util/functions/dateFormat.scala
  utils/model-util/src/test/scala/pl/touk/nussknacker/engine/util/functions/BaseSpelSpec.scala
  utils/model-util/src/test/scala/pl/touk/nussknacker/engine/util/functions/DateFormatUtilsSpelSpec.scala
  utils/model-util/src/test/scala/pl/touk/nussknacker/engine/util/functions/DateUtilsSpelSpec.scala
Labels: none

Test fix for spel templates + changelog
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/internal/NuConversionServiceFactory.scala
Labels: docs

Update readme
  engine/flink/avro-util/README.md
Labels: docs

Introduce avro-util module
  build.sbt
Labels: none

Move avro specific classes
  build.sbt
  utils/avro-util/src/main/java/org/apache/flink/formats/avro/typeutils/NkSerializableAvroSchema.java
  utils/avro-util/src/main/java/pl/touk/nussknacker/engine/avro/AvroUtils.scala
  utils/avro-util/src/main/java/pl/touk/nussknacker/engine/avro/schemaregistry/GenericRecordWithSchemaId.java
  utils/avro-util/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.util.json.ToJsonEncoder
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/AvroSchemaDeterminer.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/encode/AvroToJsonEncoder.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schema/AvroSchemaEvolution.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schema/AvroStringSettings.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schema/DatumReaderWriterMixin.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schema/DefaultAvroSchemaEvolution.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schema/RecordDeserializer.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schema/StringForcingDatumReaderProvider.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/BasedOnVersionAvroSchemaDeterminer.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaRegistryClient.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaRegistryClientFactory.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaRegistryError.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaVersionOption.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaWithMetadata.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/typed/AvroSchemaTypeDefinitionExtractor.scala
Labels: none

Move schema registry client
  build.sbt
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/FlinkConfluentUtils.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/ConfluentAvroToJsonFormatterFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/kryo/SchemaIdBasedAvroGenericRecordSerializer.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/AbstractConfluentKafkaAvroDeserializer.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroDeserializationSchemaFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroDeserializer.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroSerializer.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/jsonpayload/ConfluentJsonPayloadDeserializerFactory.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/helpers/KafkaWithSchemaRegistryOperations.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/RecordFormatter.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/TopicSelectionStrategy.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/encode/ValidationMode.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/ConfluentUtils.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/CachedConfluentSchemaRegistryClient.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/CachedConfluentSchemaRegistryClientFactory.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/ConfluentSchemaRegistryClient.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/ConfluentSchemaRegistryClientFactory.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/MockConfluentSchemaRegistryClientFactory.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/MockSchemaRegistryClient.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/MockSchemaRegistryClientBuilder.scala
Labels: none

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'
