Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, docs

CI speedup: coverage only for staging
  .github/workflows/pr.yml
Labels: none

Test for handling scale properly during json to typed map conversion
  engine/util/src/test/scala/pl/touk/nussknacker/engine/util/typing/JsonToTypedMapConverterTest.scala
Labels: none

Add markdown to preetyPrint, parse Json in typingResultToJsonSchema
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/openapi/StandaloneOpenApiGenerator.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/typed/TypingResultToJsonSchemaConverter.scala
Labels: none

Typed Map Utils for Json to TypedMap conversion
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/typing/TypedMapUtils.scala
Labels: none

Rename utils, jsonSchemaSource with protected methods, empty get openApi
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/openapi/OpenApiSourceDefinition.scala
  engine/standalone/app/src/main/scala/pl/touk/nussknacker/engine/standalone/http/ProcessRoute.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessInterpreter.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/openapi/StandaloneOpenApiGenerator.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/JsonSchemaStandaloneSourceFactory.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/typed/TypedMapUtils.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/typed/TypingResultToJsonSchemaConverter.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/typing/JsonToTypedMapConverter.scala
Labels: none

override openApiDefinition for JsonSchemaSource, add test
  engine/components/openapi/src/test/scala/pl/touk/nussknacker/openapi/extractor/JsonToObjectTest.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessConfigCreator.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessInterpreterSpec.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/JsonSchemaStandaloneSourceFactory.scala
Labels: none

JsonSchema Source, tests
  build.sbt
  engine/standalone/app/src/test/scala/pl/touk/nussknacker/engine/standalone/http/StandaloneHttpAppSpec.scala
  engine/standalone/app/src/test/scala/pl/touk/nussknacker/engine/standalone/http/TestConfigCreator.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/JsonSchemaStandaloneSourceFactory.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/typed/SchemaTypingResult.scala
Labels: none

move JsonSchemaStandaloneSource to top level class, move JsonSchemaToTypingResultConverter
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/JsonSchemaStandaloneSourceFactory.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/typed/SchemaTypingResult.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/typing/JsonToTypedMapConverter.scala
Labels: none

Standalone openApi generator with utils
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/StandaloneSourceFactory.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/openapi/OpenApiSourceDefinition.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessInterpreter.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/openapi/StandaloneOpenApiDataModel.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/openapi/StandaloneOpenApiGenerator.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/typed/TypedMapUtils.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/typed/TypingResultToJsonSchemaConverter.scala
Labels: none

Replace Json type with Swagger in typingResult parser
  build.sbt
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/JsonSchemaStandaloneSourceFactory.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/typing/JsonToTypedMapConverter.scala
Labels: none

fix circe toBigDecimal looses precision
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/typing/JsonToTypedMapConverter.scala
Labels: none

TypingResult Integer to Long, protected val for openApiDescription
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/JsonSchemaStandaloneSourceFactory.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/typing/JsonToTypedMapConverter.scala
Labels: none

gh actions fix
  .github/workflows/pr.yml
Labels: none

Not publishing standalone image - is not used in docker tests
  .github/workflows/pr.yml
Labels: none

Github Actions improvements: not publishing standalone for docker tests + publishing scaladocs only for staging
  .github/workflows/pr.yml
Labels: none

Refactor Delayed Kafka Source to use generic Delay Calculator (#2166)
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/DelayedKafkaAvroSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/BaseKafkaDelayedSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayCalculator.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/sources.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/DelayCalculatorSpec.scala
Labels: none

Npm ci speed-up: prefer-offline, no-audit
  .github/workflows/pr.yml
Labels: none

GH Actions: split dockerTest to build and deploy stages
  .github/workflows/pr.yml
Labels: none

fix: ignore unavailable permission on ff
  ui/client/components/graph/SelectionContextProvider.tsx
Labels: ui

Fix for: publish stage wasn't run if fe tests were skipped
  .github/workflows/pr.yml
Labels: none

Make TimestampAssigner more serializable
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/timestampwatermark/TimestampWatermarkHandler.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/DelayedKafkaAvroSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/BaseKafkaDelayedSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/sources.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSource.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedGenericTypedJsonIntegrationSpec.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/UnitTestsProcessConfigCreator.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
Labels: none

Make TimestampAssigner more serializable (#2225)
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/timestampwatermark/TimestampWatermarkHandler.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/DelayedKafkaAvroSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/BaseKafkaDelayedSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/sources.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSource.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedGenericTypedJsonIntegrationSpec.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/UnitTestsProcessConfigCreator.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
Labels: none

[Improvement] ProcessId in processVersion
  docs/MigrationGuide.md
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/ProcessVersion.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/NkGlobalParameters.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSlotsCountSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/deployment/FileProcessRepositoryTest.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/management/MultiInstanceStandaloneProcessClientSpec.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeEvent.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/services/PullProcessRepository.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/process/ProcessId.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/process/package.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/AuthorizeProcess.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/AuthorizeProcessDirectives.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessAttachmentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessDirectives.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/CommentEntityFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ProcessVersionEntityFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/initialization/Initialization.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigrator.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/FetchingProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActivityRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/PullProcessRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActorSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigratorSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
Labels: docs

VersionId as VO
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/ProcessVersion.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/VersionId.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/NkGlobalParameters.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSlotsCountSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessInterpreterSpec.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/deployment/FileProcessRepositoryTest.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/management/MultiInstanceStandaloneProcessClientSpec.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeEvent.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/displayedgraph/ProcessStatus.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/process/ProcessVersionId.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/process/package.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ProcessVersionEntityFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesChangeListenerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinderTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActorSpec.scala
Labels: none

Fix for: publish stage wasn't run if fe tests were skipped - fixes after review
  .github/workflows/pr.yml
Labels: none

Docker tag test
  .github/workflows/pr.yml
Labels: none

be-only-changes-test
  .github/workflows/pr.yml
Labels: none

gh actions: skipping frontendTests fix
  .github/workflows/pr.yml
Labels: none

Fix visiaulizationUrl with publicPath - restore slash
  ui/client/common/VisualizationUrl.ts
Labels: ui

GH actions improvement: not building image if changes are fe-only
  .github/workflows/pr.yml
  build.sbt
Labels: none

fix: ignore unavailable permission on ff (#2216)
  ui/client/components/graph/SelectionContextProvider.tsx
Labels: ui

Fix visiaulizationUrl with publicPath - restore slash (#2230)
  ui/client/common/VisualizationUrl.ts
Labels: ui

Fix visiaulizationUrl with publicPath - restore slash (#2230) (#2236)
  ui/client/common/VisualizationUrl.ts
Labels: ui

Fix for: fe-only changes on preview branches wasn't published
  .github/workflows/pr.yml
Labels: none

Http public path docs
  docs/installation_configuration_guide/Installation.md
Labels: docs

Fix DelayedKafkaSource for custom TimestampAssigner
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/timestampwatermark/TimestampWatermarkHandler.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/BaseKafkaDelayedSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSource.scala
Labels: none

failing cypress tests fix
  .github/workflows/pr.yml
  ui/client/package.json
Labels: ui

Workaround for failing Cypress suggester test - temporary commenting up snapshot checking
  ui/client/cypress/integration/suggester.ts
Labels: ui

Fix DelayedKafkaSource for custom TimestampAssigner (#2240)
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/timestampwatermark/TimestampWatermarkHandler.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/BaseKafkaDelayedSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSource.scala
Labels: none

Java 8 compatibility fix
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/ConfluentAvroMessageFormatter.scala
Labels: none

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'
