Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, docs

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'

Refactor ComponentIcon at FE
  ui/client/common/ProcessUtils.ts
  ui/client/components/ComponentPreview.tsx
  ui/client/components/graph/EspNode/element.ts
  ui/client/components/graph/node-modal/NodeDetailsModalHeader.tsx
  ui/client/components/toolbars/creator/ComponentIcon.tsx
  ui/client/components/toolbars/creator/Tool.tsx
  ui/client/federation.config.json
  ui/client/types/component.ts
  ui/client/types/definition.ts
  ui/client/types/index.ts
  ui/client/types/process.ts
  ui/server/src/main/resources/web/static/assets/components/CustomNode.svg
  ui/server/src/main/resources/web/static/assets/components/Enricher.svg
  ui/server/src/main/resources/web/static/assets/components/Filter.svg
  ui/server/src/main/resources/web/static/assets/components/Join.svg
  ui/server/src/main/resources/web/static/assets/components/Processor.svg
  ui/server/src/main/resources/web/static/assets/components/Sink.svg
  ui/server/src/main/resources/web/static/assets/components/Source.svg
  ui/server/src/main/resources/web/static/assets/components/Split.svg
  ui/server/src/main/resources/web/static/assets/components/SubprocessInput.svg
  ui/server/src/main/resources/web/static/assets/components/SubprocessInputDefinition.svg
  ui/server/src/main/resources/web/static/assets/components/SubprocessOutputDefinition.svg
  ui/server/src/main/resources/web/static/assets/components/Switch.svg
  ui/server/src/main/resources/web/static/assets/components/Variable.svg
  ui/server/src/main/resources/web/static/assets/components/VariableBuilder.svg
  ui/server/src/main/resources/web/static/assets/nodes/_group.svg
Labels: ui

FE refactor cdn..
  ui/client/components/graph/NodeUtils.ts
  ui/client/components/toolbars/creator/ComponentIcon.tsx
  ui/client/test/NodeUtils-test.js
Labels: ui

* add 'docsUrl' configuration for Fragments in Properties * TypeSpecificDataInitializer * remove isSubprocess field from json * Add db migration
  api/src/main/scala/pl/touk/nussknacker/engine/api/MetaData.scala
  docs/MigrationGuide.md
  engine/flink/engine/src/test/scala/pl/touk/nussknacker/engine/process/functional/SubprocessSpec.scala
  engine/flink/engine/src/test/scala/pl/touk/nussknacker/engine/process/util/MetaDataExtractorTest.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/management/StandaloneDeploymentManager.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/SubprocessResolverSpec.scala
  ui/client/components/graph/node-modal/NodeDetailsContent.js
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/displayedgraph/DisplayableProcess.scala
  ui/restmodel/src/test/scala/pl/touk/nussknacker/restmodel/NodeDataCodecSpec.scala
  ui/server/src/main/resources/defaultUiConfig.conf
  ui/server/src/main/scala/db/migration/V1_031__FragmentSpecificData.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/NewProcessPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverter.scala
  ui/server/src/test/scala/db/migration/V1_016__TypeSpecificMetaDataChangeSpec.scala
  ui/server/src/test/scala/db/migration/V1_031__FragmentSpecificDataSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/NewProcessPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinderTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActorSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/UiProcessMarshallerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/processreport/ProcessCounterTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
Labels: ui, docs

update cypress test data
  ui/client/cypress/fixtures/fragment.json
  ui/client/cypress/fixtures/testProcess.json
  ui/client/cypress/fixtures/testProcess2.json
  ui/client/cypress/fixtures/variables.json
  ui/client/cypress/fixtures/withSqlEditor.json
  ui/client/cypress/fixtures/withSqlEditor2.json
Labels: ui

beter label. add cypress test
  ui/client/components/graph/node-modal/NodeDetailsContent.js
  ui/client/cypress/integration/__image_snapshots__/Fragment  should open properties [Linux] #0.png
  ui/client/cypress/integration/fragment.ts
Labels: ui

Refactor ComponentIcon at FE (#2362)
  ui/client/common/ProcessUtils.ts
  ui/client/components/ComponentPreview.tsx
  ui/client/components/graph/EspNode/element.ts
  ui/client/components/graph/NodeUtils.ts
  ui/client/components/graph/node-modal/NodeDetailsModalHeader.tsx
  ui/client/components/toolbars/creator/ComponentIcon.tsx
  ui/client/components/toolbars/creator/Tool.tsx
  ui/client/federation.config.json
  ui/client/test/NodeUtils-test.js
  ui/client/types/component.ts
  ui/client/types/definition.ts
  ui/client/types/index.ts
  ui/client/types/process.ts
  ui/server/src/main/resources/web/static/assets/components/CustomNode.svg
  ui/server/src/main/resources/web/static/assets/components/Enricher.svg
  ui/server/src/main/resources/web/static/assets/components/Filter.svg
  ui/server/src/main/resources/web/static/assets/components/Join.svg
  ui/server/src/main/resources/web/static/assets/components/Processor.svg
  ui/server/src/main/resources/web/static/assets/components/Sink.svg
  ui/server/src/main/resources/web/static/assets/components/Source.svg
  ui/server/src/main/resources/web/static/assets/components/Split.svg
  ui/server/src/main/resources/web/static/assets/components/SubprocessInput.svg
  ui/server/src/main/resources/web/static/assets/components/SubprocessInputDefinition.svg
  ui/server/src/main/resources/web/static/assets/components/SubprocessOutputDefinition.svg
  ui/server/src/main/resources/web/static/assets/components/Switch.svg
  ui/server/src/main/resources/web/static/assets/components/Variable.svg
  ui/server/src/main/resources/web/static/assets/components/VariableBuilder.svg
  ui/server/src/main/resources/web/static/assets/nodes/_group.svg
Labels: ui

Increased memory limit for TS
  ui/client/webpack.config.js
Labels: ui

Cypress switch test fix
  ui/client/cypress/integration/fragment.ts
  ui/client/cypress/integration/process.ts
  ui/client/cypress/integration/processSelection.ts
  ui/client/cypress/integration/sqlEditor.ts
  ui/client/cypress/integration/suggester.ts
  ui/client/cypress/integration/switch.ts
Labels: ui

Result types
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/StandaloneProcessTest.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/BaseScenarioEngineTypes.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/StandaloneSinkFactory.scala
  engine/standalone/app/src/main/scala/pl/touk/nussknacker/engine/standalone/http/StandaloneRequestHandler.scala
  engine/standalone/app/src/test/scala/pl/touk/nussknacker/engine/standalone/http/TestConfigCreator.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/baseengine/BaseScenarioEngine.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/InvocationMetrics.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/DefaultResponseEncoder.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/StandaloneScenarioEngine.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/management/StandaloneDeploymentManager.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessConfigCreator.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessInterpreterSpec.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/JsonSchemaStandaloneSourceFactory.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/StandaloneUnion.scala
Labels: none

Cleanup
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/StandaloneCustomTransformer.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/types.scala
Labels: none

move to appropriate packages
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupStandaloneProcessTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/IgniteEnrichmentStandaloneProcessTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/StandaloneProcessTest.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/BaseScenarioEngineTypes.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/metrics/MetricsProvider.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/runtimecontext/RuntimeContext.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/runtimecontext/RuntimeContextLifecycle.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/BaseScenarioEngineTypes.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/ResponseEncoder.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/StandaloneContextLifecycle.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/StandaloneScenarioEngineTypes.scala
  engine/standalone/app/src/main/scala/pl/touk/nussknacker/engine/standalone/http/StandaloneHttpApp.scala
  engine/standalone/app/src/main/scala/pl/touk/nussknacker/engine/standalone/http/StandaloneRequestHandler.scala
  engine/standalone/app/src/test/scala/pl/touk/nussknacker/engine/standalone/http/TestConfigCreator.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/baseengine/BaseScenarioEngine.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/InvocationMetrics.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/NoOpMetricsProvider.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/dropwizard/DropwizardMetricsProvider.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/dropwizard/InstantRateMeter.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/StandaloneScenarioEngine.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/deployment/DeploymentService.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/management/StandaloneDeploymentManager.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessConfigCreator.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessInterpreterSpec.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/deployment/DeploymentServiceSpec.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/ProcessSplitter.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/StandaloneSorter.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/StandaloneUnion.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/metrics/WithEspTimers.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/service/TimeMeasuringService.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestServiceInvocationCollector.scala
Labels: none

Errors as Writer
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/BaseScenarioEngineTypes.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/ResponseEncoder.scala
  engine/standalone/app/src/main/scala/pl/touk/nussknacker/engine/standalone/http/StandaloneRequestHandler.scala
  engine/standalone/app/src/test/scala/pl/touk/nussknacker/engine/standalone/http/TestConfigCreator.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/baseengine/BaseScenarioEngine.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/DefaultResponseEncoder.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/StandaloneScenarioEngine.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/management/StandaloneDeploymentManager.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessConfigCreator.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/JsonSchemaStandaloneSourceFactory.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/ProcessSplitter.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/StandaloneSorter.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/StandaloneUnion.scala
Labels: none

Sample state engine
  build.sbt
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/BaseScenarioEngineTypes.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/utils/package.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/utils/transformers.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/BaseScenarioEngine.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/TestRunner.scala
  engine/base/runtime/src/test/scala/pl/touk/nussknacker/engine/baseengine/StateEngineTest.scala
  engine/base/runtime/src/test/scala/pl/touk/nussknacker/engine/baseengine/sample.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/StandaloneScenarioEngine.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/metrics/InvocationMetrics.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessConfigCreator.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/ProcessSplitter.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/StandaloneUnion.scala
Labels: none

Extract modules, extract TestRunner
  build.sbt
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/BaseScenarioEngineTypes.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/metrics/MetricsProvider.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/runtimecontext/RuntimeContext.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/runtimecontext/RuntimeContextLifecycle.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/BaseScenarioEngine.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/TestRunner.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/InvocationMetrics.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/NoOpMetricsProvider.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/dropwizard/DropwizardMetricsProvider.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/dropwizard/InstantRateMeter.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/StandaloneScenarioEngine.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/management/StandaloneDeploymentManager.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/test/StandaloneTestMainSpec.scala
Labels: none

Extract base scenario engine
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/StandaloneProcessTest.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/BaseScenarioEngineTypes.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/ResponseEncoder.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/StandaloneCustomTransformer.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/StandaloneScenarioEngineTypes.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/types.scala
  engine/standalone/app/src/main/scala/pl/touk/nussknacker/engine/standalone/http/StandaloneRequestHandler.scala
  engine/standalone/app/src/test/scala/pl/touk/nussknacker/engine/standalone/http/TestConfigCreator.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/DefaultResponseEncoder.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/StandaloneScenarioEngine.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/deployment/DeploymentService.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/deployment/ProcessInterpreters.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/management/StandaloneDeploymentManager.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/openapi/StandaloneOpenApiGenerator.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/stateless/BaseScenarioEngine.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessConfigCreator.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessInterpreterSpec.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/JsonSchemaStandaloneSourceFactory.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/ProcessSplitter.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/StandaloneSorter.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/StandaloneUnion.scala
Labels: none

fix: drag preview ghosts
  ui/client/components/ComponentDragPreview.tsx
  ui/client/components/graph/node-modal/NodeDetailsModalHeader.tsx
Labels: ui

Fix for WrongParameters during evaluation of parameters of db enrichers
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricher.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
Labels: none

GenericNodeTransformation - graceful fallback for not handled case e.g. FailedToDefineParameter
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/GenericNodeTransformationValidator.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
Labels: none

GenericNodeTransformation - graceful fallback for not handled case e.g. FailedToDefineParameter, also handling transformations adding single variable to context
  api/src/main/scala/pl/touk/nussknacker/engine/api/context/transformation/GenericNodeTransformation.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/GenericNodeTransformationValidator.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
Labels: none

GenericNodeTransformation - graceful fallback for not handled case (#2366)
  api/src/main/scala/pl/touk/nussknacker/engine/api/context/transformation/GenericNodeTransformation.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/GenericNodeTransformationValidator.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
Labels: none

initial versions
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/DesignerTipsAndTricks.md
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/Spel.md
  docs/scenarios_authoring/img/databaseLookupEnricher.png
  docs/scenarios_authoring/img/databaseQueryEnricher.png
  docs/scenarios_authoring/img/openApiEnricher.png
Labels: docs

Ability to define that component can be used in every category
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentProvider.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/WithCategories.scala
  docs/MigrationGuide.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testing/ProcessDefinitionBuilder.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/component/ComponentExtractorTest.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ServiceRoutes.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
Labels: docs

Refactor: component definition preparer
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentType.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/Source.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentGroupName.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/ComponentsGroupMappingConfigExtractor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessCategoryService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessingTypes.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
Labels: none

[FIX] pass config to ActorSystem in PeriodicDeploymentManager
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
Labels: none

[FIX] add missing migrations
  ui/server/src/main/scala/db/migration/V1_031__FragmentSpecificData.scala
  ui/server/src/main/scala/db/migration/hsql/V1_030__SpillStateToDisk.scala
  ui/server/src/main/scala/db/migration/hsql/V1_031__FragmentSpecificData.scala
  ui/server/src/main/scala/db/migration/postgres/V1_030__SpillStateToDisk.scala
  ui/server/src/main/scala/db/migration/postgres/V1_031__FragmentSpecificData.scala
  ui/server/src/test/scala/db/migration/V1_031__FragmentSpecificDataSpec.scala
Labels: none

Changes to mproch's comments
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/ComponentType.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
Labels: none

Refactor: component definition preparer (#2369)
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/Source.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/ComponentType.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentGroupName.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/ComponentsGroupMappingConfigExtractor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessCategoryService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessingTypes.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
Labels: none

Refactor: component definition preparer
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentType.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
Labels: none

Feature: Components list
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentType.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ComponentResource.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentGroupName.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentIcon.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessCategoryService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/TestDynamicComponentProvider.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/TestsData.scala
Labels: none

Add subprocess's components
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none

Fixes to rebase..
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentType.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/ComponentType.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentGroupName.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentIcon.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none

Fix fragment's tests
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none

Auto-loaded ComponentProvider
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentProvider.scala
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/ComponentExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/component/ComponentExtractorTest.scala
Labels: docs

After first review :)
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupStandaloneProcessTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/IgniteEnrichmentStandaloneProcessTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/StandaloneConfigCreator.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/StandaloneProcessTest.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/BaseScenarioEngineTypes.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/commonTypes.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/customComponentTypes.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/interpreterTypes.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/runtimecontext/EngineRuntimeContext.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/runtimecontext/RuntimeContextLifecycle.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/utils/errors.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/utils/package.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/utils/sinks.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/utils/transformers.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/BaseScenarioEngine.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/TestRunner.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/capabilities.scala
  engine/base/runtime/src/test/scala/pl/touk/nussknacker/engine/baseengine/StateEngineTest.scala
  engine/base/runtime/src/test/scala/pl/touk/nussknacker/engine/baseengine/sample.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/StandaloneScenarioEngineTypes.scala
  engine/standalone/api/src/main/scala/pl/touk/nussknacker/engine/standalone/api/StandaloneSinkFactory.scala
  engine/standalone/app/src/main/scala/pl/touk/nussknacker/engine/standalone/http/ProcessRoute.scala
  engine/standalone/app/src/main/scala/pl/touk/nussknacker/engine/standalone/http/StandaloneHttpApp.scala
  engine/standalone/app/src/main/scala/pl/touk/nussknacker/engine/standalone/http/StandaloneRequestHandler.scala
  engine/standalone/app/src/test/scala/pl/touk/nussknacker/engine/standalone/http/TestConfigCreator.scala
  engine/standalone/engine/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/StandaloneProcessConfigCreator.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/StandaloneScenarioEngine.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/deployment/DeploymentService.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/metrics/InvocationMetrics.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessConfigCreator.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessInterpreterSpec.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/deployment/DeploymentServiceSpec.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/ProcessSplitter.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/StandaloneSorter.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/Union.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/metrics/WithEspTimers.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/service/TimeMeasuringService.scala
Labels: none

Base components extracted to ComponentsProvider
  .run/NussknackerApp.run.xml
  build.sbt
  components/base/src/it/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformerSpec.scala
  components/base/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/BaseComponentsProvider.scala
  components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformer.scala
  components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformer.scala
  components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformersExceptionHandlingSpec.scala
  components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformerSpec.scala
  docs/MigrationGuide.md
  docs/installation_configuration_guide/Installation.md
  engine/flink/generic/src/main/scala/pl/touk/nussknacker/genericmodel/GenericConfigCreator.scala
  engine/flink/generic/src/test/scala/pl/touk/nussknacker/genericmodel/GenericItSpec.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/model-util/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/ModelUtilExceptionHandlingSpec.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/BaseSampleConfigCreator.scala
  nussknacker-dist/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/runServer.sh
Labels: docs

Applied review comments
  docs/scenarios_authoring/Enrichers.md
Labels: docs

fix: properties window icon + minor fixes & some cleanup
  ui/client/assets/img/properties.svg
  ui/client/components/Process/ProcessStateIcon.tsx
  ui/client/components/Process/ProcessStateUtils.ts
  ui/client/components/SvgDiv.tsx
  ui/client/components/UrlIcon.tsx
  ui/client/components/graph/node-modal/NodeDetailsModalHeader.tsx
  ui/client/components/graph/node-modal/editors/expression/SwitchIcon.js
  ui/client/components/graph/node-modal/node/selectors.tsx
  ui/client/components/toolbars/creator/ComponentIcon.tsx
  ui/client/components/toolbars/status/ProcessInfo.tsx
  ui/client/test/Process/ProcessStateIcon-test.js
Labels: ui

fix: missing validation on deploy dialog (#2350) (#2359)
  ui/client/actions/nk/assignSettings.ts
  ui/client/components/ValidateDeployComment.js
  ui/client/components/ValidateDeployComment.ts
  ui/client/components/modals/DeployProcessDialog.tsx
  ui/client/windowManager/LaddaButton.tsx
Labels: ui

fix: drag preview ghosts (#2364)
  ui/client/components/ComponentDragPreview.tsx
  ui/client/components/graph/node-modal/NodeDetailsModalHeader.tsx
Labels: ui

Changes to mproch's comments and fixes to dynamic component.
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/test/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentModels.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DynamicComponentProvider.scala
Labels: none
