Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, client, submodules, docs

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'
- 'ui/submodules/*'
- 'ui/submodules/**/*'

client:
- 'ui/client/*'
- 'ui/client/**/*'

submodules:
- 'ui/submodules/*'
- 'ui/submodules/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'

refactor: rename nk -> nu
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/submodules/package-lock.json
  ui/submodules/package.json
  ui/submodules/packages/components/federation.config.json
  ui/submodules/packages/components/package.json
Labels: ui, submodules

refactor: rename nuComponents -> nu_components
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/submodules/packages/components/federation.config.json
Labels: ui, submodules

Fix tests
  ui/client/cypress/integration/components.ts
Labels: ui, client

Setup base model
  build.sbt
  engine/base/components/kafka/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/base/kafka/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/TestComponentProvider.scala
  engine/base/kafka/src/test/scala/pl/touk/nussknacker/engine/baseengine/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  engine/base/kafka/src/universal/conf/application.conf
Labels: none

service providers
  docs/developers_guide/Basics.md
Labels: docs

Update FlinkComponents.md
  docs/developers_guide/FlinkComponents.md
Labels: docs

Helper functions from generic model
  build.sbt
  engine/base/model/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.process.ProcessConfigCreator
  engine/base/model/src/main/scala/pl/touk/nussknacker/lite/model/BasicConfigCreator.scala
Labels: none

Improvements: ProcessService returns user processes (#2500)
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockFetchingProcessRepositorySpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestCategories.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessUtil.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
Labels: none

Update Basics.md
  docs/developers_guide/Basics.md
Labels: docs

Update Components.md
  docs/developers_guide/Components.md
Labels: docs

Feature: Component's processes
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinder.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentModels.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinderTest.scala
Labels: none

Add tests
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ComponentResource.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinder.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none

Fixes to rebase
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ComponentResource.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none

Changes to mproch's comments
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ComponentResource.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentModels.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentTestProcessData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinderTest.scala
Labels: none

Fix tests
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
Labels: none

Lite basic model, basic streaming lite components (#2501)
  build.sbt
  engine/base/components/base/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/base/components/base/src/main/scala/pl/touk/nussknacker/engine/baseengine/components/BaseComponentProvider.scala
  engine/base/components/base/src/main/scala/pl/touk/nussknacker/engine/baseengine/components/ProcessSplitter.scala
  engine/base/components/base/src/main/scala/pl/touk/nussknacker/engine/baseengine/components/Union.scala
  engine/base/kafka/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/TestComponentProvider.scala
  engine/base/kafka/src/test/scala/pl/touk/nussknacker/engine/baseengine/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  engine/base/kafka/src/universal/conf/application.conf
  engine/base/model/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.process.ProcessConfigCreator
  engine/base/model/src/main/scala/pl/touk/nussknacker/lite/model/BasicConfigCreator.scala
  ui/client/cypress/integration/components.ts
Labels: ui, client

Changes to mproch's comments part II
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
Labels: none

Fixes to tests
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
Labels: none

Add missing comments
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
Labels: none
