Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, docs

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'

cache coursier files
  .github/workflows/pr.yml
Labels: none

Rename kafka to kafkaUtil (#2307)
  build.sbt
  engine/kafka-util/src/it/scala/pl/touk/nussknacker/engine/kafka/validator/CachedTopicsExistenceValidatorTest.scala
  engine/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/ConsumerRecordUtils.scala
  engine/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
  engine/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaProducerCreator.scala
  engine/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaUtils.scala
  engine/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/validator/TopicsExistenceValidator.scala
  engine/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/KafkaConfigSpec.scala
  engine/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/KafkaUtilsTest.scala
Labels: none

Better exception handling for LazyParameter (#2295)
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkLazyParameterFunctionHelper.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSink.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KeyedRecordFlatMapper.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkExceptionHandlingSpec.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/signal/RemoveLockProcessSignalFactory.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/CustomFilter.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/EnrichWithAdditionalDataTransformer.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/LastVariableFilterTransformer.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/StatefulTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/DelayTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PeriodicSourceFactory.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PreviousValueTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/TransformStateTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/SingleSideJoinTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/richflink.scala
  engine/flink/model-util/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/ModelUtilExceptionHandlingSpec.scala
  engine/flink/process/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/process/src/main/scala/pl/touk/nussknacker/engine/process/runner/TestFlinkRunner.scala
  engine/flink/process/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/CorrectExceptionHandlingSpec.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/RecordingExceptionHandler.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/keyed.scala
  engine/test-util/src/main/resources/logback-test.xml
  engine/test-util/src/main/scala/pl/touk/nussknacker/test/WithDataList.scala
Labels: docs

Migration guide
  docs/MigrationGuide.md
Labels: docs

remove unnecessary comment
  .github/workflows/pr.yml
Labels: none

Move benchmarks
  benchmarks/Readme.md
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/aggregate/AggregatorBenchamark.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/ManyParamsInterpreterBenchmark.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/OneParamInterpreterBenchmark.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/SerializationBenchmarkSetup.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/avro/AvroBenchmark.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/avro/AvroBenchmarkSpec.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/avro/AvroSamples.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/typedinfo/TypingResultBasedSerializationBenchmark.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/spel/ScalaAccessorBenchmark.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/spel/SpelBenchmarkSetup.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/spel/SpelSecurityBenchmarkSetup.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/spel/SpelSecurityExcludeListBenchmark.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/spel/UUIDBenchmark.scala
  build.sbt
Labels: docs

Move queryableState
  build.sbt
  queryableState/src/main/scala/pl/touk/nussknacker/engine/flink/queryablestate/FlinkQueryableClient.scala
Labels: none

cache coursier files (#2322)
  .github/workflows/pr.yml
Labels: none

Enhancement: refactor and improvements at components group
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentGroupName.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/WithCategories.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/component/ComponentExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/GlobalVariableDefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/MethodDefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/ParameterExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/StandardParameterEnrichment.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/ComponentsGroupMappingConfig.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/NodesConfigCombiner.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessToolbarService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestPermissions.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/NodesConfigCombinerTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ConfigProcessToolbarServiceSpec.scala
Labels: none

Move SingleComponentConfig from WithCategories to component package
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/component/SingleComponentConfig.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/WithCategories.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/MethodDefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/ParameterExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/StandardParameterEnrichment.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/ParameterDefaultValueDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/editor/EditorExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/validator/ValidatorExtractor.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/EditorPossibleValuesBasedDefaultValueDeterminerTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/parameter/editor/EditorExtractorTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/parameter/validator/ValidatorsExtractorTest.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/config/FicusReaders.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/NodesConfigCombiner.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/additionalproperty/AdditionalPropertyConfigValidatorDeterminer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/additionalproperty/AdditionalPropertyValidatorDeterminerChain.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/additionalproperty/UiAdditionalPropertyEditorDeterminer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/NewProcessPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/AdditionalPropertiesValidator.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/NodesConfigCombinerTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/additionalproperty/AdditionalPropertyValidatorsDeterminerChainTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/additionalproperty/UiAdditionalPropertyEditorDeterminerTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/validation/AdditionalPropertiesValidatorTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
Labels: none

Update documentation and migration guide
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/ModelConfiguration.md
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
Labels: docs

Changes to comments
  docs/MigrationGuide.md
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractor.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentConfigCombiner.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentConfigCombinerTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
Labels: docs

Replace nodeConfig by componentConfig
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/MethodDefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/ParameterExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/StandardParameterEnrichment.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
Labels: none

Repalce rest NodeGroup to ComponentGroup
  docs/MigrationGuide.md
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/WithCategories.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/sources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentConfigCombiner.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/ComponentsGroupMappingConfig.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentConfigCombinerTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
Labels: docs

Fix after move
  api/src/main/scala/pl/touk/nussknacker/engine/api/graph/node.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/node.scala
Labels: none

Changes at REST API
  ui/client/common/ProcessDefinitionUtils.ts
  ui/client/components/graph/EspNode/element.ts
  ui/client/components/graph/NodeUtils.ts
  ui/client/components/graph/SubprocessSchemaAligner.js
  ui/client/components/graph/node-modal/NodeDetailsModalHeader.tsx
  ui/client/components/graph/node-modal/ParameterList.js
  ui/client/components/graph/node-modal/node/selectors.tsx
  ui/client/components/toolbars/creator/Tool.tsx
  ui/client/components/toolbars/creator/ToolBox.tsx
  ui/client/components/toolbars/creator/ToolboxComponentGroup.tsx
  ui/client/http/HttpService.ts
  ui/client/test/NodeUtils-test.js
  ui/client/test/ProcessDefinitionUtils-test.js
  ui/client/test/SubprocessSchemaAligner-test.js
  ui/client/types/process.ts
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
Labels: ui

sampleSubprocessRepository -> prepareSampleSubprocessRepository
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
Labels: none

derviceEncoder
  build.sbt
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/MetaData.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/ConfluentAvroToJsonFormatterFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordToJsonFormatterFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/InputMeta.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/marshall/ProcessMarshaller.scala
  engine/security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OpenIdConnectProfile.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/SimpleInfluxClient.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessPosting.scala
Labels: none

Fix after move
  api/src/main/scala/pl/touk/nussknacker/engine/api/graph/node.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/node.scala
Labels: none

Fix imports
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/PartSubGraphCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/NewProcessPreparerSpec.scala
Labels: none

Update AggregatesInTimeWindows.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
Labels: docs

Fix FE tests..
  ui/client/common/ProcessDefinitionUtils.ts
  ui/client/http/HttpService.ts
Labels: ui

Changes FE cdn..
  ui/client/actions/nk/toolbars.ts
  ui/client/common/ProcessDefinitionUtils.ts
  ui/client/components/graph/NodeUtils.ts
  ui/client/components/toolbars/creator/ToolboxComponentGroup.tsx
  ui/client/reducers/selectors/toolbars.ts
  ui/client/reducers/toolbars.ts
  ui/client/store/configureStore.ts
  ui/client/test/ProcessDefinitionUtils-test.js
Labels: ui

Revert "Changes FE cdn.."
  ui/client/actions/nk/toolbars.ts
  ui/client/common/ProcessDefinitionUtils.ts
  ui/client/components/graph/NodeUtils.ts
  ui/client/components/toolbars/creator/ToolboxComponentGroup.tsx
  ui/client/reducers/selectors/toolbars.ts
  ui/client/reducers/toolbars.ts
  ui/client/store/configureStore.ts
  ui/client/test/ProcessDefinitionUtils-test.js
Labels: ui

FE changes cdn..
  ui/client/actions/nk/toolbars.ts
  ui/client/common/ProcessDefinitionUtils.ts
  ui/client/components/graph/NodeUtils.ts
  ui/client/components/toolbars/creator/ToolboxComponentGroup.tsx
  ui/client/reducers/selectors/toolbars.ts
  ui/client/reducers/toolbars.ts
  ui/client/store/configureStore.ts
  ui/client/test/ProcessDefinitionUtils-test.js
Labels: ui

GH actions: reporting failure tests
  .github/workflows/pr.yml
  .gitignore
  ui/client/cypress.json
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

fix for switching between package-lock version 1 and 2 - stricted npm version
  ui/client/.npmrc
  ui/client/.nvmrc
  ui/client/package.json
Labels: ui

npm fix - node/npm bump
  .github/workflows/pr.yml
  ui/client/.nvmrc
  ui/client/package-lock.json
Labels: ui

fix for switching between package-lock version 1 and 2 - stricted npm version
  package-lock.json
  ui/client/.npmrc
  ui/client/package.json
Labels: ui

test reports split into two workflows to make it work on forked repos
  .github/workflows/pr.yml
  .github/workflows/test-report.yml
Labels: none

test reports - better handling test reports skipping
  .github/workflows/pr.yml
Labels: none

test reports split into two workflows to make it work on forked repos (#2339)
  .github/workflows/pr.yml
  .github/workflows/test-report.yml
Labels: none

Make ignite provided in sql component
  build.sbt
Labels: none

Remove unused dependency
  build.sbt
Labels: none

GH actions test results fix: continue-on-error + fix for condition on cypress tests
  .github/workflows/pr.yml
  .github/workflows/test-report.yml
Labels: none

GH actions test results fix: continue-on-error on correct level
  .github/workflows/test-report.yml
Labels: none

Extracted model-util module to make possible testing them using interpreter
  build.sbt
  utils/model-util/src/main/scala/pl/touk/nussknacker/engine/util/functions/conversion.scala
  utils/model-util/src/main/scala/pl/touk/nussknacker/engine/util/functions/date.scala
  utils/model-util/src/main/scala/pl/touk/nussknacker/engine/util/functions/geo.scala
  utils/model-util/src/main/scala/pl/touk/nussknacker/engine/util/functions/math.scala
  utils/model-util/src/main/scala/pl/touk/nussknacker/engine/util/functions/numeric.scala
  utils/model-util/src/main/scala/pl/touk/nussknacker/engine/util/functions/util.scala
  utils/model-util/src/test/scala/pl/touk/nussknacker/engine/util/functions/MathSpec.scala
Labels: none

Extracted model-util module to make possible testing them using interpreter - fixes
  build.sbt
Labels: none

Add SchemaNotFound error code to the list of schemaregistry error codes.
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaRegistryError.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/ConfluentSchemaRegistryClient.scala
Labels: none

Refactor: ComponentConfigs cdn..
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentGroupName.scala
  docs/MigrationGuide.md
  engine/flink/generic/src/main/resources/defaultModelConfig.conf
  engine/flink/management/sample/src/main/resources/defaultModelConfig.conf
  interpreter/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/ComponentsConfigExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/GlobalVariableDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractor.scala
  interpreter/src/test/resources/reference.conf
  ui/client/types/definition.ts
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/ComponentsGroupMappingConfig.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessCategoryService.scala
  ui/server/src/test/resources/ui.conf
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/ConfigurationTest.scala
Labels: ui, docs
