Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, docs

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'

Review - remove obsolere wrapper
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactory.scala
Labels: none

Review 3
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/schemas.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSource.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordDeserializationSpec.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/keyValueHelperTypeInformation.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/keyed.scala
Labels: none

Fix map/list transformation
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/ComponentExtractor.scala
Labels: none

Feature: component actions (#2376)
  docs/installation_configuration_guide/ModelConfiguration.md
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  ui/server/src/main/resources/defaultUiConfig.conf
  ui/server/src/main/resources/web/static/assets/components/actions/usages.svg
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentGroupName.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/ComponentsActionConfigExtractor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/ComponentsGroupMappingConfigExtractor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DynamicComponentProvider.scala
Labels: docs

Final remarks
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/PartitionByKeyFlinkKafkaProducer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/schemas.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/KeyValueHelperTypeInformation.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/keyed.scala
Labels: none

Add MigrationGuide / Changelog
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

Refactor - extract components grouped by type (#2388)
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/ComponentExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessObjectDefinitionExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/component/ComponentExtractorTest.scala
Labels: none

Better jar hint (#2387)
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/loader/LoadClassFromClassLoader.scala
  utils/util/src/test/scala/pl/touk/nussknacker/engine/util/loader/ScalaServiceLoaderSpec.scala
Labels: none

Extracted deployment-manager-api module
  build.sbt
  docs/MigrationGuide.md
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/queryablestate/QueryableClient.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/displayedgraph/DisplayableProcess.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
Labels: docs

Update base docs link
  engine/flink/generic/src/main/resources/defaultModelConfig.conf
Labels: none

Fixes after review: ProcessingType in rest-model
  docs/MigrationGuide.md
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/displayedgraph/DisplayableProcess.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/process/package.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ServiceRoutes.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ProcessEntityFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/initialization/Initialization.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/NewProcessPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessCategoryService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverter.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataProvider.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReader.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReload.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/FetchingProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/uiresolving/UIProcessResolving.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessUtil.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ConfigProcessToolbarServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
Labels: docs

Update base docs link (#2390)
  engine/flink/generic/src/main/resources/defaultModelConfig.conf
Labels: none

DeploymentManager moved to ui/deployment-manager-api module
  build.sbt
  docs/MigrationGuide.md
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/CustomAction.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/SavepointResult.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleProcessState.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleProcessStateDefinitionManager.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleStateStatus.scala
  ui/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/SimpleProcessStateSpec.scala
  ui/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/StateStatusCodingSpec.scala
Labels: docs

Add setting shouldCheckAvailableSlots to FlinkConfig
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkConfig.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
Labels: docs

Add setting shouldCheckAvailableSlots to FlinkConfig
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkConfig.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
Labels: docs

Passing ui "fat" objects (ActorSystem, HttpBackend, ExecutionContext) into DeploymentManagerProvider.createDeploymentManager
  build.sbt
  docs/MigrationGuide.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingProcessTestRunnerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/StreamingDockerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/standalone/engine/src/it/scala/pl/touk/nussknacker/engine/standalone/management/StandaloneDeploymentManagerSpec.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/management/StandaloneDeploymentManager.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/management/StandaloneProcessClient.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/management/MultiInstanceStandaloneProcessClientSpec.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/CountsReporter.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxCountsReporter.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReader.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/util/LocalNussknackerWithSingleModel.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: docs

DockerTest fix: logging + taskManagerSlotCount lazy val
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSlotsCountSpec.scala
  utils/test-util/src/main/resources/logback-test.xml
Labels: none

Passing ui "fat" objects (ActorSystem, HttpBackend, ExecutionContext) into DeploymentManagerProvider.createDeploymentManager - fixes after review
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
Labels: none

[FIX] close SttpBackend in NussknackerApp
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
Labels: none

Remove flink java deps
  build.sbt
Labels: none

toList
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
Labels: none

Rename and make public KeyedRecordFlatMapper
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/flink/KafkaAvroSink.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/flink/KeyedSinkRecordFlatMapper.scala
Labels: none

[FIX] close SttpBackend in NussknackerApp (#2395)
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
Labels: none

Fix: add missing measuring to base open api enricher invoke's
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/BaseSwaggerEnricher.scala
Labels: none

Fix: more visible formating
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/BaseSwaggerEnricher.scala
Labels: none

Fix: add missing measuring to base open api enricher invoke's (#2398)
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/BaseSwaggerEnricher.scala
Labels: none

get rid of UNSAFE_componentWillReceiveProps after update to React17 so comapring versions against 'second environment' works
  ui/client/components/modals/CompareVersionsDialog.tsx
Labels: ui

get rid of UNSAFE_componentWillReceiveProps after update to React17 so comapring versions against 'second environment' works (#2400)
  ui/client/components/modals/CompareVersionsDialog.tsx
Labels: ui

Move queryableState test to IT, fix IDE problems
  build.sbt
  engine/flink/management/src/it/resources/docker/conf.yml
  engine/flink/management/src/it/resources/docker/entrypointWithIP.sh
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerQueryableStateTest.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/QueryableStateTest.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/FlinkMiniClusterHolder.scala
Labels: none

Move queryableState test to IT, fix IDE problems (#2403)
  build.sbt
  engine/flink/management/src/it/resources/docker/conf.yml
  engine/flink/management/src/it/resources/docker/entrypointWithIP.sh
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerQueryableStateTest.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/QueryableStateTest.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/FlinkMiniClusterHolder.scala
Labels: none

Remove clazz from SourceFactory
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/Source.scala
  api/src/main/scala/pl/touk/nussknacker/engine/javaapi/context/transformation/JavaGenericTransformation.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformerSpec.scala
  engine/base/runtime/src/test/scala/pl/touk/nussknacker/engine/baseengine/sample.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkSource.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompiler.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/UnitTestsProcessConfigCreator.scala
  engine/flink/model-util/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/SingleSideJoinTransformerSpec.scala
  engine/flink/model-util/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/CorrectExceptionHandlingSpec.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/standalone/app/src/test/scala/pl/touk/nussknacker/engine/standalone/http/TestConfigCreator.scala
  engine/standalone/engine/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/StandaloneProcessConfigCreator.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/JsonSchemaStandaloneSourceFactory.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/JsonStandaloneSourceFactory.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/TypedMapStandaloneSourceFactory.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessObjectDefinitionExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
Labels: none

fix verification
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompiler.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompiler.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
Labels: none

ComponentType.fromNodeData return Option[...]
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentType.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinder.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinderTest.scala
Labels: none

Feature: component usages
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentId.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentType.scala
  api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinder.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/StubProcessRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentModels.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinderTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
Labels: none

Test configuration improvemets
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none

Fix tests
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none

Tests for MockFetchingProcessRepository
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/FetchingProcessRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/FetchingProcessRepositoryMock.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockFetchingProcessRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockFetchingProcessRepositorySpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none

FetchingProcessRepository improvements
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/FetchingProcessRepositoryMock.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none

Changes to arkadius's comments part I
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentId.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentType.scala
  api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinder.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinderTest.scala
Labels: none

Fix DefaultComponentServiceSpec
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: none
