Repository TouK/nussknacker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, docs

Omit building standalone app during docker based tests
  .github/workflows/pr.yml
Labels: none

Changelog update
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

fix: reload toolbars/buttons config after rename
  ui/client/actions/nk/processUtils/saveProcess.ts
Labels: ui

Production build chunks names as hashes (#2202)
  ui/client/webpack.config.js
Labels: ui

fix: reload toolbars/buttons config after rename (#2207)
  ui/client/actions/nk/processUtils/saveProcess.ts
Labels: ui

Fixed tooltip for available customAction button
  ui/client/components/toolbars/status/buttons/CustomActionButton.tsx
Labels: ui

Fixed tooltip for available customAction button (#2209)
  ui/client/components/toolbars/status/buttons/CustomActionButton.tsx
Labels: ui

Changelog update (#2206)
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

Fixed tooltip for available customAction button
  ui/client/components/toolbars/status/buttons/CustomActionButton.tsx
Labels: ui

Fixed tooltip for available customAction button (#2210)
  ui/client/components/toolbars/status/buttons/CustomActionButton.tsx
Labels: ui

Setting version to 1.0.0-RC1
  version.sbt
Labels: none

Setting version to 1.0.0-SNAPSHOT
  version.sbt
Labels: none

Drop legacy metrics mode (#2165)
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/NkGlobalParameters.scala
  engine/flink/management/sample/src/main/resources/defaultModelConfig.conf
  engine/flink/process/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypeInformationDetectionSpec.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/metrics/MetricUtils.scala
  engine/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxCountsReporter.scala
  engine/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/ProcessBaseCounts.scala
  engine/processReports/src/test/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxReporterSpec.scala
Labels: none

Remove argonaut
  build.sbt
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/ArgonautCirce.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/Displayable.scala
  engine/api/src/test/scala/pl/touk/nussknacker/engine/api/ArgonautCirceTest.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/sink/EmptySink.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/json/BestEffortJsonEncoder.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/service/ConfigProcessToolbarServiceSpec.scala
Labels: none

Remove argonaut (#2211)
  build.sbt
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/ArgonautCirce.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/Displayable.scala
  engine/api/src/test/scala/pl/touk/nussknacker/engine/api/ArgonautCirceTest.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/sink/EmptySink.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/json/BestEffortJsonEncoder.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/service/ConfigProcessToolbarServiceSpec.scala
Labels: none

Scheduled Kafka source
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/ScheduledKafkaAvroSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/BaseKafkaDelayedSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayCalculator.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/KafkaScheduledSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/Schedule.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/DelayCalculatorSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/ScheduleSpec.scala
Labels: none

Refactor Delayed Kafka Source to use generic Delay Calculator
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/DelayedKafkaAvroSourceFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/ScheduledKafkaAvroSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/BaseKafkaDelayedSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayCalculator.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/KafkaScheduledSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/Schedule.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/sources.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/DelayCalculatorSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/ScheduleSpec.scala
Labels: none

Flink 1.11 compatibility in DeploymentManager
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/HttpFlinkClient.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/flinkRestModel.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
Labels: none

Frontend editor role
  docs/Changelog.md
  engine/security/src/main/scala/pl/touk/nussknacker/ui/security/api/Permission.scala
  nussknacker-dist/src/universal/conf/users.conf
  ui/client/common/models/User.ts
  ui/client/components/graph/Graph.js
  ui/client/components/graph/GraphPartialsInTS/createPaper.ts
  ui/client/components/graph/SelectionContextProvider.tsx
  ui/client/components/graph/node-modal/edge/Details.tsx
  ui/client/components/graph/node-modal/node/selectors.tsx
  ui/client/components/toolbarComponents/CapabilitiesToolbarButton.tsx
  ui/client/components/toolbars/VersionsPanel.tsx
  ui/client/components/toolbars/creator/CreatorPanel.tsx
  ui/client/components/toolbars/edit/buttons/CopyButton.tsx
  ui/client/components/toolbars/edit/buttons/LayoutButton.tsx
  ui/client/components/toolbars/edit/buttons/PasteButton.tsx
  ui/client/components/toolbars/edit/buttons/RedoButton.tsx
  ui/client/components/toolbars/edit/buttons/UndoButton.tsx
  ui/client/containers/Visualization.js
  ui/client/reducers/selectors/other.ts
Labels: ui, docs

Frontend editor role (#2179)
  docs/Changelog.md
  engine/security/src/main/scala/pl/touk/nussknacker/ui/security/api/Permission.scala
  nussknacker-dist/src/universal/conf/users.conf
  ui/client/common/models/User.ts
  ui/client/components/graph/Graph.js
  ui/client/components/graph/GraphPartialsInTS/createPaper.ts
  ui/client/components/graph/SelectionContextProvider.tsx
  ui/client/components/graph/node-modal/edge/Details.tsx
  ui/client/components/graph/node-modal/node/selectors.tsx
  ui/client/components/toolbarComponents/CapabilitiesToolbarButton.tsx
  ui/client/components/toolbars/VersionsPanel.tsx
  ui/client/components/toolbars/creator/CreatorPanel.tsx
  ui/client/components/toolbars/edit/buttons/CopyButton.tsx
  ui/client/components/toolbars/edit/buttons/LayoutButton.tsx
  ui/client/components/toolbars/edit/buttons/PasteButton.tsx
  ui/client/components/toolbars/edit/buttons/RedoButton.tsx
  ui/client/components/toolbars/edit/buttons/UndoButton.tsx
  ui/client/containers/Visualization.js
  ui/client/reducers/selectors/other.ts
Labels: ui, docs

getLatestDeployment
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: none

fix multiple one time schedules
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: none

changelog
  docs/Changelog.md
Labels: docs

Simplify and document getLatestDeployment
  docs/Changelog.md
Labels: docs

Simplify and document getLatestDeployment
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
Labels: none

Handle multiple one time schedules in batch periodic engine (#2150)
  docs/Changelog.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: docs

bump circe/cats
  build.sbt
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/CirceUtil.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/MetaData.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/StandaloneConfigCreator.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/ConfluentAvroToJsonFormatterFactory.scala
  engine/flink/generic/src/test/scala/pl/touk/nussknacker/genericmodel/ClassExtractionTest.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordToJsonFormatterFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/InputMeta.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/marshall/ProcessMarshaller.scala
  engine/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/SimpleInfluxClient.scala
  engine/security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OpenIdConnectProfile.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/ProcessType.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/ValidationResults.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NotificationResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ServiceRoutes.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/app/BuildInfo.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/processtoolbar/ToolbarButtonConfig.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/processtoolbar/ToolbarPanelConfig.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessPosting.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/UiProcessMarshallerSpec.scala
Labels: none

cats effect, newer circe and cats
  build.sbt
  docs/Changelog.md
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  engine/benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/ManyParamsInterpreterBenchmark.scala
  engine/flink/generic/src/test/scala/pl/touk/nussknacker/genericmodel/ClassExtractionTest.scala
  engine/httpUtils/src/main/scala/sttp/client/circe/SttpCirceApi.scala
  engine/httpUtils/src/main/scala/sttp/client/circe/package.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/canonize/ProcessCanonizer.scala
  engine/security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OpenIdConnectProfile.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/DefaultResponseEncoder.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/ValidationResults.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActivityRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
Labels: docs

Fix tests after 1.0.0 :)
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/component/ComponentExtractorTest.scala
Labels: none

Minor docks refinements
  docs/installation_configuration_guide/Configuration.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/Installation.md
  docs/installation_configuration_guide/ModelConfiguration.md
Labels: docs

set 2
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
Labels: docs

Flink 1.11 compatibility in DeploymentManager (#2212)
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/HttpFlinkClient.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/flinkRestModel.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/component/ComponentExtractorTest.scala
Labels: none

Docs refinement (#2217)
  docs/installation_configuration_guide/Configuration.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/Installation.md
  docs/installation_configuration_guide/ModelConfiguration.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
Labels: docs

Documentation for Oidc settings.
  docs/installation_configuration_guide/DesignerConfiguration.md
Labels: docs

Documentation for Oidc settings.
  docs/installation_configuration_guide/DesignerConfiguration.md
Labels: docs

CI speedup: jobs depends on changes in files (fe, others)
  .github/workflows/pr.yml
Labels: none

CI speedup: coverage only for staging
  .github/workflows/pr.yml
Labels: none

CI speedup: jobs depends on changes in files (fe, others) - fix
  .github/workflows/pr.yml
Labels: none

ci fe test
  ui/client/package.json
Labels: ui

CI speedup: jobs depends on changes in files (fe, others)
  .github/workflows/pr.yml
Labels: none

.github/labeler.yml:

ui:
- 'ui/client/*'
- 'ui/client/**/*'

docs:
- '**/*.md'
- 'docs/*'
- 'docs/**/*'
