Repository TouK/nussknacker, pull requests merged in 2020-09, with the labels that each got.

#1189 Fix: Doubling menu in iframe
  package-lock.json
  ui/client/containers/CustomTabs.tsx
  ui/client/containers/Metrics.tsx
  ui/client/containers/NussknackerApp.tsx
  ui/client/package-lock.json
  ui/client/package.json
Labels: bug, ui

#1246 Deployment alert
  ui/client/.eslintrc
  ui/client/assets/icons/tipsWarning.svg
  ui/client/components/HealthCheck.tsx
  ui/client/components/PeriodicallyReloadingComponent.tsx
  ui/client/components/Tool.tsx
  ui/client/components/ToolBox.tsx
  ui/client/components/healthCheck.styl
  ui/client/components/tabs/processTabs.styl
  ui/client/components/toolbarComponents/CollapsibleToolbar.tsx
  ui/client/components/withFocus.tsx
  ui/client/containers/Interval.tsx
  ui/client/containers/Metrics.tsx
  ui/client/containers/Processes.tsx
  ui/client/containers/ProcessesList.tsx
  ui/client/containers/SubProcesses.tsx
  ui/client/containers/plainStyleLink.tsx
  ui/client/containers/processLink.tsx
  ui/client/containers/processesTable/CountRowsToFill.tsx
  ui/client/containers/processesTable/FillCheck.tsx
  ui/client/containers/processesTable/TableItemsCount.tsx
  ui/client/containers/processesTable/TableWithDynamicRows.tsx
  ui/client/containers/processesTable/useRowsPerPage.tsx
  ui/client/containers/theme.tsx
  ui/client/http/HttpService.ts
  ui/client/package-lock.json
  ui/client/package.json
  ui/client/reducers/selectors/settings.ts
  ui/client/stylesheets/_variables.styl
Labels: ui

#1248 moved capabilities selector to parent component for testability
  ui/client/components/ProcessHistory.tsx
  ui/client/components/toolbars/VersionsPanel.tsx
Labels: bug
