Repository TouK/nussknacker, pull requests merged in 2021-12, with the labels that each got.

#2569 move aggregations to baseComponents
  build.sbt
  docs/Changelog.md
  engine/flink/components/base/src/main/java/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregateHelper.java
  engine/flink/components/base/src/main/java/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/SessionWindowTrigger.java
  engine/flink/components/base/src/main/java/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TumblingWindowTrigger.java
  engine/flink/components/base/src/main/java/pl/touk/nussknacker/engine/flink/util/transformer/join/BranchType.java
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/DelayTransformer.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkBaseComponentProvider.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PeriodicSourceFactory.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PreviousValueTransformer.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/TransformStateTransformer.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/Aggregator.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatorFunction.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/CardinalityAggregator.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/EmitExtraWindowWhenNoDataTumblingAggregatorFunction.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/EmitWhenEventLeftAggregatorFunction.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/EnrichingWithKeyFunction.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/UnwrappingAggregateFunction.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/aggregates.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/sampleTransformers.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/transformers.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/triggers.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/SingleSideJoinAggregatorFunction.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/SingleSideJoinTransformer.scala
  engine/flink/components/base/src/test/resources/defaultModelConfig.conf
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatesSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/HyperLogLogPlusAggregatorSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/ModelUtilExceptionHandlingSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/SingleSideJoinTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/generic/src/main/scala/pl/touk/nussknacker/genericmodel/GenericConfigCreator.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/management/sample/src/test/resources/extractedTypes/devCreator.json
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/ClassPaths.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerQueryableStateTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSlotsCountSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingProcessTestRunnerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/JavaConfigDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/StatefulSampleProcess.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkModelJar.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkProcessVerifier.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/richflink.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/components.ts
Labels: ui, docs, client

#2582 lite kafka runtime: auto reset offset turned off
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedDeploymentManagerTest.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaSingleScenarioTaskRun.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  engine/lite/kafka/runtime/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaUtils.scala
Labels: docs

#2578 Update migration guide
  docs/MigrationGuide.md
Labels: docs

#2599 doubled Min validator messages fix
  ui/client/components/graph/node-modal/editors/Validators.ts
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
Labels: ui, client

#2604 Cypress tests for components: Using Default category
  ui/client/cypress.json
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply category filters by row click [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply filters from query [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/__snapshots__/components.ts.snap
  ui/client/cypress/integration/components.ts
Labels: ui, client

#2607 Update migration guide with notes from deployment teams
  docs/MigrationGuide.md
Labels: docs

#2606 doubled Min validator messages fix
  ui/client/components/graph/node-modal/editors/Validators.ts
  ui/client/cypress/integration/process.ts
Labels: ui, client

#2614 MigrationGuide - more info...
  docs/MigrationGuide.md
Labels: docs

#2617 Update with release 1.1
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherValidationTest.scala
  docs/MigrationGuide.md
  ui/client/http/HttpService.ts
Labels: ui, docs, client

#2619 Fix scenario cypres test
  ui/client/cypress/integration/process.ts
Labels: ui, client

#2620 WithLegacyStaticParameters trait giving ability to work Admin tab -> …
  api/src/main/scala/pl/touk/nussknacker/engine/api/context/transformation/GenericNodeTransformation.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/context/transformation/WithLegacyStaticParameters.scala
  docs/MigrationGuide.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/service/EagerServiceWithStaticParameters.scala
Labels: docs

#2575 Components extras
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply filters from query [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/__snapshots__/components.ts.snap
  ui/client/cypress/integration/components.ts
  ui/client/cypress/support/tools.ts
  ui/submodules/package-lock.json
  ui/submodules/packages/components/package.json
  ui/submodules/packages/components/src/common/defaultSuspense.tsx
  ui/submodules/packages/components/src/common/forms/index.ts
  ui/submodules/packages/components/src/common/forms/textFieldWithClear.tsx
  ui/submodules/packages/components/src/common/historyContext.tsx
  ui/submodules/packages/components/src/common/index.ts
  ui/submodules/packages/components/src/components/cellRenderers/categoriesCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/cellLink.tsx
  ui/submodules/packages/components/src/components/cellRenderers/componentGroupNameCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/usageCountCell.tsx
  ui/submodules/packages/components/src/components/filters/filters.tsx
  ui/submodules/packages/components/src/components/filters/filtersContext.tsx
  ui/submodules/packages/components/src/components/nkView.tsx
  ui/submodules/packages/components/src/components/rootRoutes.tsx
  ui/submodules/packages/components/src/components/table.tsx
  ui/submodules/packages/components/src/components/unavailableViewPlaceholder.tsx
  ui/submodules/packages/components/src/components/view.tsx
  ui/submodules/packages/components/src/defaultTheme.tsx
  ui/submodules/packages/components/src/root.tsx
  ui/submodules/packages/components/src/settings/rootProviders.tsx
Labels: ui, client, submodules

#2589 better auth errors
  ui/client/containers/Auth/AuthInitializer.tsx
  ui/client/containers/Auth/InitErrorComponent.tsx
  ui/client/containers/Auth/StrategyInitializer.tsx
  ui/client/containers/errors/InitializeError.tsx
  ui/client/cypress/integration/__image_snapshots__/Fragment  should add documentation url in fragment properties and show it in modal within scenario [Linux] #0.png
Labels: ui, client

#2567 Refactoring dev setup
  .run/NussknackerApp.run.xml
  build.sbt
  nussknacker-dist/src/universal/bin/run.sh
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/README.md
  ui/buildServer.sh
  ui/runServer.sh
Labels: docs

#2624 Renaming process tag to scenario
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/StandaloneProcessInterpreterSpec.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/metrics/dropwizard/DropwizardMetricsProviderForScenario.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/MetricsTest.scala
  nussknacker-dist/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/containers/Metrics.tsx
  ui/processReports/src/it/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxCountsReporterSpec.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxConfig.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxGenerator.scala
Labels: ui, docs, client

#2600 Lite source api refactor - Input => Context transformation done by interprerter
  build.sbt
  docs/MigrationGuide.md
  engine/lite/api/src/main/scala/pl/touk/nussknacker/engine/lite/api/customComponentTypes.scala
  engine/lite/api/src/main/scala/pl/touk/nussknacker/engine/lite/api/interpreterTypes.scala
  engine/lite/kafka/api/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/api/LiteKafkaSource.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaSingleScenarioTaskRun.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreter.scala
  engine/lite/request-response/api/src/main/scala/pl/touk/nussknacker/engine/requestresponse/api/RequestResponseSourceFactory.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/FutureBasedRequestResponseScenarioInterpreter.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseEngine.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/TestRunner.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/sample.scala
Labels: docs

#2625 Remove remaining Standalone name usages
  .github/ISSUE_TEMPLATE/bug_report.md
  api/src/main/scala/pl/touk/nussknacker/engine/api/MetaData.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupLiteRuntimeTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/IgniteEnrichmentLiteRuntimeTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/LiteRuntimeTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/RequestResponseConfigCreator.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpAppSpec.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseEngine.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/deployment/DeploymentService.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/management/RequestResponseDeploymentManager.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/openapi/RequestResponseOpenApiGenerator.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseConfigCreator.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/deployment/DeploymentServiceSpec.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/deployment/FileProcessRepositoryTest.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/test/RequestResponseTestMainSpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/build/EspProcessBuilder.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/util/service/query/ServiceQuery.scala
  security/src/test/resources/oauth2-users.conf
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/DefaultOAuth2ServiceFactorySpec.scala
  ui/client/test/NodeUtils-test.js
  ui/client/test/ProcessDefinitionUtils-test.js
  ui/client/test/admin/Services-test.js
  ui/server/src/main/scala/db/migration/V1_032__StandaloneToRequestResponseDefinition.scala
  ui/server/src/main/scala/db/migration/hsql/V1_032__StandaloneToRequestResponse.scala
  ui/server/src/main/scala/db/migration/postgres/V1_032__StandaloneToRequestResponse.scala
  ui/server/src/test/resources/basicauth-users.conf
  ui/server/src/test/resources/oauth2-users.conf
  ui/server/src/test/scala/db/migration/V1_032__StandaloneToRequestResponseSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinderTest.scala
Labels: ui, docs, client

#2581 Extract common metrics code
  api/src/main/scala/pl/touk/nussknacker/engine/api/ProcessListener.scala
  api/src/main/scala/pl/touk/nussknacker/engine/util/metrics/MetricsProviderForScenario.scala
  build.sbt
  docs/installation_configuration_guide/ModelConfiguration.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatorFunction.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompiler.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/registrar/EndRateMeterFunction.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/registrar/EventTimeDelayMeterFunction.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/registrar/RateMeterFunction.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/registrar/SourceMetricsFunction.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/metrics/InvocationMetrics.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
  engine/lite/request-response/util/src/main/scala/pl/touk/nussknacker/engine/requestresponse/utils/metrics/WithEspTimers.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/metrics/NodeCountingListener.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/metrics/SourceMetrics.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/metrics/dropwizard/DropwizardMetricsProviderForScenario.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/MetricsTest.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxConfig.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/exception/ExceptionRateMeter.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/metrics/SafeLazyMetrics.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/metrics/common/EndCountingListener.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/metrics/common/ExceptionCountingListener.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/metrics/common/NodeCountingListener.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/metrics/common/OneSourceMetrics.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/metrics/common/naming.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/service/TimeMeasuringService.scala
Labels: docs

#2635 Lite kafka source failure handling
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/ContextInitializer.scala
  docs/MigrationGuide.md
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkIntermediateRawSource.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PeriodicSourceFactory.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/GenericSourceWithCustomVariablesSample.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/BlockingQueueSource.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/EmitWatermarkAfterEachElementCollectionSource.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaSourceImplFactory.scala
  engine/lite/kafka/api/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/api/LiteKafkaSource.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/TestComponentProvider.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/MetricsTest.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/StateEngineTest.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/sample.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaContextInitializer.scala
Labels: docs

#2574 Lite Kafka runtime - integration test for avro
  build.sbt
  engine/lite/kafka/integration-test/src/it/resources/scenario.json
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/BaseNuKafkaRuntimeDockerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeDockerAvroTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeDockerJsonTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeDockerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeTestMixin.scala
  engine/lite/kafka/runtime/src/universal/conf/application.conf
  ui/client/cypress/integration/fragment.ts
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/ConfluentUtils.scala
Labels: ui, client

#2643 introduced usages table
  ui/client/common/DateUtils.ts
  ui/client/components/HistoryItem.tsx
  ui/client/components/Process/types.ts
  ui/client/components/common/Date.tsx
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply filters from query [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/components.ts
  ui/client/http/HttpService.ts
  ui/client/package-lock.json
  ui/client/package.json
  ui/submodules/configs/webpack/common.ts
  ui/submodules/configs/webpack/dev.ts
  ui/submodules/package-lock.json
  ui/submodules/packages/components/package.json
  ui/submodules/packages/components/src/common/defaultSuspense.tsx
  ui/submodules/packages/components/src/common/forms/textFieldWithClear.tsx
  ui/submodules/packages/components/src/common/historyContext.tsx
  ui/submodules/packages/components/src/components/cellRenderers/categoriesCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/cellLink.tsx
  ui/submodules/packages/components/src/components/cellRenderers/componentGroupNameCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/nameCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/scenarioCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/truncate.tsx
  ui/submodules/packages/components/src/components/cellRenderers/usageCountCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/useCellArrowKeys.tsx
  ui/submodules/packages/components/src/components/componentTable.tsx
  ui/submodules/packages/components/src/components/customPagination.tsx
  ui/submodules/packages/components/src/components/filters/filterRules.ts
  ui/submodules/packages/components/src/components/filters/filters.tsx
  ui/submodules/packages/components/src/components/filters/filtersContext.tsx
  ui/submodules/packages/components/src/components/listWithFilters.tsx
  ui/submodules/packages/components/src/components/rootRoutes.tsx
  ui/submodules/packages/components/src/components/selectFilter.tsx
  ui/submodules/packages/components/src/components/table.tsx
  ui/submodules/packages/components/src/components/tableWrapper.tsx
  ui/submodules/packages/components/src/components/unavailableViewPlaceholder.tsx
  ui/submodules/packages/components/src/components/usages/breadcrumbs.tsx
  ui/submodules/packages/components/src/components/usages/componentView.tsx
  ui/submodules/packages/components/src/components/usages/filters.tsx
  ui/submodules/packages/components/src/components/usagesTable.tsx
  ui/submodules/packages/components/src/components/useComponentsQuery.tsx
  ui/submodules/packages/components/src/components/view.tsx
  ui/submodules/packages/components/src/defaultTheme.tsx
  ui/submodules/packages/components/src/settings/auth.tsx
Labels: ui, client, submodules

#2655 simple cypress test
  ui/client/cypress/integration/__image_snapshots__/Components list  should display usages [Linux] #0.png
  ui/client/cypress/integration/components.ts
Labels: ui, client

#2661 [FIX] Results and exception were collected incompletely in async mode
  docs/Changelog.md
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/registrar/AsyncInterpretationFunction.scala
  engine/flink/engine/src/test/scala/pl/touk/nussknacker/engine/process/functional/ProcessSpec.scala
Labels: docs

#2564 Refactor union part 1 - flink union
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/img/union_example.png
  docs/scenarios_authoring/img/union_memo_example.png
  docs/scenarios_authoring/img/union_memo_window.png
  docs/scenarios_authoring/img/union_window.png
  engine/flink/components/base/src/it/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformerSpec.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformer.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformer.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformersExceptionHandlingSpec.scala
  engine/flink/generic/src/main/scala/pl/touk/nussknacker/genericmodel/migrations/UnionParametersMigration.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/BaseSampleConfigCreator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/CompilerLazyParameter.scala
  ui/client/components/graph/node-modal/NodeDetailsContent.js
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/UnionParametersMigration.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/UnionParametersMigrationSpec.scala
Labels: ui, docs, client

#2649 Refactor: Deployment service extraction
  docs/MigrationGuide.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingProcessTestRunnerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/StreamingDockerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedDeploymentManager.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/management/RequestResponseDeploymentManager.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessingTypeDeploymentService.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/DefaultProcessingTypeDeploymentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReader.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReload.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/util/CatsSyntax.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/util/LocalNussknackerWithSingleModel.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActorSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/util/ConfigWithScalaVersion.scala
Labels: docs

#2651 Support passing output from fragments which clear context
  api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/context/ValidationContext.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/scenarios_authoring/Fragments.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/Aggregator.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/PartSubGraphCompiler.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
Labels: docs

#2667 Module docs + some dependency cleanup
  build.sbt
  docs/developers_guide/Basics.md
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/cypress/integration/__image_snapshots__/Process  initially clean  should open properites from tips panel [Linux] #0.png
  ui/server/src/test/resources/ui.conf
Labels: ui, docs, client

#2666 added Delay component description + some docs cosmetics
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/Intro.md
Labels: docs

#2671 Bumped akka 2.15 -> 2.16
  build.sbt
  docs/Changelog.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentActor.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/RescheduleFinishedActor.scala
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/ProcessRoute.scala
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpApp.scala
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/logging/RequestResponseLogger.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/ssl/HttpsConnectionContextFactory.scala
  ui/server/src/main/resources/defaultUiConfig.conf
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessReportResources.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/SslBindingSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
Labels: docs

#2673 Cleanup test dependencies, move to testcontainers, ui tests runnable in Idea
  build.sbt
  docs/MigrationGuide.md
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroIntegrationSpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/helpers/KafkaWithSchemaRegistryOperations.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumerSpec.scala
  engine/flink/management/dev-model/src/test/scala/pl/touk/nussknacker/engine/process/NamespacedKafkaSourceSinkTest.scala
  engine/flink/management/src/it/resources/application.conf
  engine/flink/management/src/it/resources/docker/conf.yml
  engine/flink/management/src/it/resources/docker/entrypointWithIP.sh
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerQueryableStateTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingProcessTestRunnerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/StreamingDockerTest.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/GenericItSpec.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedDeploymentManagerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/BaseNuKafkaRuntimeDockerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeBinTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeDockerAvroTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeDockerJsonTest.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  ui/server/src/test/resources/ui.conf
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/TestInfoResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/DbTesting.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/PostgresContainer.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
  utils/kafka-test-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaClient.scala
  utils/kafka-test-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaSpec.scala
  utils/kafka-test-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaZookeeperServer.scala
Labels: docs

#2679 Contributing guide cleanups:
  CONTRIBUTING.md
  README.md
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/RunDefaultModelLocally.scala
  nussknacker-dist/README.md
  ui/README.md
Labels: docs

#2681 Docs updates
  docs/developers_guide/Components.md
  docs/installation_configuration_guide/ModelConfiguration.md
Labels: docs

#2684 Embedded deployment manager statuses
  docs/Changelog.md
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkProcessStateDefinitionManager.scala
  engine/lite/embeddedDeploymentManager/src/main/resources/web.static.assets.embedded.states/deploy-restart-animated.svg
  engine/lite/embeddedDeploymentManager/src/main/resources/web.static.assets.embedded.states/deploy-restart.svg
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedProcessStateDefinitionManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedStateStatus.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedDeploymentManagerTest.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaSingleScenarioTaskRun.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreter.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/LoopUntilClosed.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/OverridingProcessStateDefinitionManager.scala
Labels: docs

#2686 Rename ServiceWithStaticParameters to EagerServiceWithStaticParameter…
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnricher.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/developers_guide/Components.md
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/component/SampleComponentProvider.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/DynamicService.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/UnionReturnObjectService.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/service/EagerServiceWithStaticParameters.scala
Labels: docs

#2690 Streaming-lite scenario metadata
  api/src/main/scala/pl/touk/nussknacker/engine/api/MetaData.scala
  e2e-tests/test/data/scenario.json
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedDeploymentManagerRestartTest.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProviderTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeTestMixin.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreter.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/MetricsTest.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/StateEngineTest.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/build/EspProcessBuilder.scala
  ui/client/components/graph/node-modal/NodeDetailsContent.js
Labels: ui, client

#2693 Wait a bit longer for query in cypress
  ui/client/cypress/integration/components.ts
  ui/client/cypress/support/tools.ts
Labels: ui, client
