Repository TouK/nussknacker, pull requests merged in 2021-11, with the labels that each got.

#2413 prepare for web-submodules
  .github/labeler.yml
  .github/workflows/pr.yml
  ui/client/.nvmrc
  ui/client/containers/DynamicTab.tsx
  ui/client/containers/muiThemeProvider.tsx
  ui/client/containers/useMuiTheme.tsx
  ui/client/package-lock.json
  ui/client/package.json
  ui/client/tsconfig.json
  ui/client/webpack.config.js
Labels: ui

#2411 add docsUrl to 'properties' node in 'sample' model
  engine/flink/management/sample/src/main/resources/defaultModelConfig.conf
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #3.png
  ui/client/cypress/integration/__image_snapshots__/Fragment  should open properties [Linux] #0.png
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
Labels: ui, client

#2409 GenericNodeTransformation - checking validators during steps evaluati…
  api/src/main/java/pl/touk/nussknacker/engine/api/validation/JsonValidator.java
  api/src/main/scala/pl/touk/nussknacker/engine/api/definition/NodeDependency.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterValidator.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroIntegrationSpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/flink/KafkaAvroSinkFactorySpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/source/flink/KafkaAvroPayloadSourceFactorySpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/Validations.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/GenericNodeTransformationValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/StandardParameterEnrichment.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/validator/EditorBasedValidatorExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/validator/ValidatorsExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/CachedConfluentSchemaRegistryClient.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/ConfluentSchemaRegistryClient.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/MockConfluentSchemaRegistryClientFactory.scala
Labels: docs

#2450 Fix minimalNumberValidator message
  ui/client/components/graph/node-modal/editors/Validators.ts
Labels: ui, client

#2386 Sort scenario list by status
  ui/client/containers/Processes.tsx
Labels: ui

#2455 Fix for infinite reloading loop in ui/web-submodules
  .github/workflows/pr.yml
  ui/web-submodules/configs/webpack/withModuleFederationPlugins.ts
Labels: ui

#2453 [FEATURE] Allow providing custom actions for periodic scenarios from…
  docs/MigrationGuide.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicCustomActionsProviderFactory.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
Labels: docs

#2380 Kafka/kafka-avro source sink loaded with component provider
  .run/NussknackerApp.run.xml
  build.sbt
  components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/BaseComponentsProvider.scala
  components/kafka/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/KafkaComponentsProvider.scala
  docs/installation_configuration_guide/Installation.md
  engine/flink/generic/src/main/scala/pl/touk/nussknacker/genericmodel/GenericConfigCreator.scala
  engine/flink/generic/src/test/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/flink/generic/src/test/resources/application.conf
  engine/flink/generic/src/test/scala/pl/touk/nussknacker/genericmodel/GenericItSpec.scala
  engine/flink/generic/src/test/scala/pl/touk/nussknacker/genericmodel/MockKafkaComponentProvider.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/sinks.scala
  nussknacker-dist/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: docs

#2454 Feature: Serve fe submoduless app from akka
  .github/workflows/pr.yml
  .run/NussknackerApp.run.xml
  build.sbt
  nussknacker-dist/src/universal/conf/dev-application.conf
  release.sh
  ui/README.md
  ui/client/containers/ExternalLib/tools/splitUrl.tsx
  ui/client/cypress/integration/components.ts
  ui/client/server.js
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/WebResources.scala
  ui/web-submodules/.env
  ui/web-submodules/README.md
  ui/web-submodules/packages/tools/webpack.config.ts
Labels: ui, docs, client

#2465 aggregate-sliding emitWhenEventLeft default value = false instead of true
  docs/Changelog.md
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/sampleTransformers.scala
Labels: docs

#2462 Description of place of different configuration areas in configuration file
  docs/installation_configuration_guide/Configuration.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/ModelConfiguration.md
Labels: docs

#2472 Update spel selection documentation
  docs/scenarios_authoring/Spel.md
Labels: docs

#2459 Kafka components unflinkization next step
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/Source.scala
  components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformerSpec.scala
  components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/KafkaComponentsProvider.scala
  docs/MigrationGuide.md
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkSource.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/flink/KafkaAvroSourceFactory.scala
  engine/flink/engine/src/test/scala/pl/touk/nussknacker/engine/process/helpers/ProcessTestHelpers.scala
  engine/flink/engine/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkStreamingProcessMainSpec.scala
  engine/flink/generic/src/main/scala/pl/touk/nussknacker/genericmodel/GenericConfigCreator.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/PartitionByKeyFlinkKafkaProducer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/sinks.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/sources.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/FixedKafkaDeserializationSchemaFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/FlinkSerializationSchemaConversions.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/KafkaDeserializationSchemaFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSource.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactory.scala
  engine/flink/management/java_sample/src/main/scala/pl/touk/nussknacker/engine/management/javasample/Objects.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/UnitTestsProcessConfigCreator.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/BoundedSource.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/DynamicParametersSource.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/GenericSourceWithCustomVariablesSample.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/SqlSource.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PeriodicSourceFactory.scala
  engine/flink/model-util/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/SingleSideJoinTransformerSpec.scala
  engine/flink/model-util/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/CorrectExceptionHandlingSpec.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/BaseSampleConfigCreator.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/ReturningClassInstanceSource.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/KafkaDeserializationSchemaFactory.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/KafkaSerializationSchemaFactory.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/schemas.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/sink/GenericJsonSerialization.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/sink/flink/KafkaSinkFactory.scala
Labels: docs

#2406 Metrics in base engine
  api/src/main/scala/pl/touk/nussknacker/engine/api/exception/EspExceptionConsumer.scala
  api/src/main/scala/pl/touk/nussknacker/engine/util/metrics/MetricsProviderForScenario.scala
  build.sbt
  docs/Changelog.md
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/KafkaSingleScenarioTaskRun.scala
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/KafkaTransactionalScenarioInterpreter.scala
  engine/base/kafka/src/test/scala/pl/touk/nussknacker/engine/baseengine/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/ScenarioInterpreterFactory.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/TestRunner.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/NodeCountingListener.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/SourceMetrics.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/dropwizard/BaseEngineMetrics.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/dropwizard/MetricsReporter.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/dropwizard/influxdb/BaseEngineInfluxDbReporter.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/dropwizard/influxdb/InfluxDbHttpReporter.scala
  engine/base/runtime/src/test/scala/pl/touk/nussknacker/engine/baseengine/MetricsTest.scala
  engine/base/runtime/src/test/scala/pl/touk/nussknacker/engine/baseengine/StateEngineTest.scala
  engine/base/runtime/src/test/scala/pl/touk/nussknacker/engine/baseengine/sample.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/exception/RateMeterExceptionConsumer.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/listener/NodeCountMetricListener.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/metrics/FlinkMetricsProviderForScenario.scala
  engine/standalone/app/src/main/scala/pl/touk/nussknacker/engine/standalone/http/StandaloneHttpApp.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/exception/ExceptionRateMeter.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/exception/GenericRateMeterExceptionConsumer.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/metrics/WithMetrics.scala
Labels: docs

#2474 Handle errors on branches after split independently
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  docs/Changelog.md
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/ScenarioInterpreterFactory.scala
  engine/base/runtime/src/test/scala/pl/touk/nussknacker/engine/baseengine/sample.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/registrar/AsyncInterpretationFunction.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/registrar/SyncInterpretationFunction.scala
  engine/flink/engine/src/test/scala/pl/touk/nussknacker/engine/process/functional/ProcessSpec.scala
  engine/flink/engine/src/test/scala/pl/touk/nussknacker/engine/process/helpers/ProcessTestHelpers.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
Labels: docs

#2481 Fix: component's config icon url normalization
  docs/MigrationGuide.md
  engine/flink/management/sample/src/main/resources/defaultModelConfig.conf
  ui/client/components/toolbars/creator/ComponentIcon.tsx
  ui/server/src/test/resources/ui.conf
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
Labels: ui, docs, client

#2486 ContextIdGenerator
  api/src/main/scala/pl/touk/nussknacker/engine/api/Context.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/CustomStreamTransformer.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/runtimecontext/ContextIdGenerator.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/runtimecontext/EngineRuntimeContext.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/spel/UUIDBenchmark.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/customComponentTypes.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/runtimecontext/EngineRuntimeContextPreparer.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/ScenarioInterpreterFactory.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkCustomNodeContext.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkEngineRuntimeContextImpl.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/EmitExtraWindowWhenNoDataTumblingAggregatorFunction.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/EmitWhenEventLeftAggregatorFunction.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/EnrichingWithKeyFunction.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/transformers.scala
  engine/standalone/util/src/main/scala/pl/touk/nussknacker/engine/standalone/utils/customtransformers/StandaloneSorter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compiledgraph/part.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/CompilerLazyParameter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/splittedgraph/splittednode.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/util/service/query/ServiceQuery.scala
  utils/model-util/src/test/scala/pl/touk/nussknacker/engine/util/functions/BaseSpelSpec.scala
  utils/util/src/test/scala/pl/touk/nussknacker/engine/util/definition/RuntimeInjectedJobDataTest.scala
Labels: docs

#2477 ContextInitializer unflinkization
  api/src/main/scala/pl/touk/nussknacker/engine/api/context/transformation/GenericNodeTransformation.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/ContextInitializer.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/FlinkEngineRuntimeContext.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/RuntimeContextLifecycle.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/BasicFlinkContextInitializer.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkIntermediateRawSource.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/RichLifecycleFunction.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/util/ContextInitializingFunction.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/flink/DelayedKafkaAvroSourceFactory.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/flink/KafkaAvroSourceFactory.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroTestProcessConfigCreator.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/helpers/KafkaAvroSpecMixin.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/source/flink/DelayedKafkaAvroIntegrationSpec.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompiler.scala
  engine/flink/engine/src/test/scala/pl/touk/nussknacker/engine/process/helpers/ProcessTestHelpers.scala
  engine/flink/engine/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkStreamingProcessMainSpec.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/BaseKafkaDelayedSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/sources.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/InputMetaTypeInformationProvider.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaContextInitializer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSource.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactory.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedGenericTypedJsonIntegrationSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/InputMetaDeserializationSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryProcessConfigCreator.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactorySpec.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/DynamicParametersSource.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/GenericSourceWithCustomVariablesSample.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/EnrichWithAdditionalDataTransformer.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PeriodicSourceFactory.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/SingleSideJoinTransformer.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SinkForType.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/BlockingQueueSource.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/EmitWatermarkAfterEachElementCollectionSource.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/util/service/query/ServiceQuerySpec.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/InputMeta.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaContextInitializer.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/service/EagerServiceWithStaticParameters.scala
Labels: docs

#2490 KafkaSourceFactory unflinkization
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/source/flink/KafkaAvroSourceFactory.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroIntegrationSpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroTestProcessConfigCreator.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/source/flink/KafkaAvroPayloadSourceFactorySpec.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/source/flink/TestFromFileSpec.scala
  engine/flink/kafka-util/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.util.json.ToJsonEncoder
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/FixedValueDeserializationSchemaFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/sinks.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/sources.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/InputMetaTypeInformationProvider.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedGenericTypedJsonIntegrationSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/InputMetaDeserializationSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryIntegrationSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryMixin.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryProcessConfigCreator.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryProcessMixin.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactorySpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/TestFromFileSpec.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  utils/kafka-util/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.util.json.ToJsonEncoder
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/RecordFormatterFactory.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordDeserializationSchemaFactory.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordToJsonFormatterFactory.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/SerializableConsumerRecord.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/BaseGenericTypedJsonSourceFactory.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/JsonRecordFormatter.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/KafkaTypedSourceFactory.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/schemas.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/sink/KafkaSinkFactory.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/InputMeta.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaContextInitializer.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSourceFactory.scala
  utils/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/JsonRecordFormatterSpec.scala
  utils/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/JsonTypedMapDeserializationTest.scala
  utils/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/serialization/KafkaProducerHelperSpec.scala
  utils/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/source/InputMetaToJsonSpec.scala
Labels: docs

#2489 finalize components list
  .github/labeler.yml
  ui/client/README.md
  ui/client/components/common/ErrorBoundary.tsx
  ui/client/components/toolbars/creator/ComponentIcon.tsx
  ui/client/containers/DynamicTab.tsx
  ui/client/containers/darkTheme.tsx
  ui/client/containers/muiThemeProvider.tsx
  ui/client/containers/theme.tsx
  ui/client/containers/useMuiTheme.tsx
  ui/client/cypress.json
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/components.ts
  ui/client/http/HttpService.ts
  ui/client/webpack.config.js
  ui/web-submodules/configs/webpack/withModuleFederationPlugins.ts
  ui/web-submodules/package-lock.json
  ui/web-submodules/packages/tools/package.json
  ui/web-submodules/packages/tools/src/components/filters.tsx
  ui/web-submodules/packages/tools/src/components/listWithFilters.tsx
  ui/web-submodules/packages/tools/src/components/nkTab.tsx
  ui/web-submodules/packages/tools/src/components/selectFilter.tsx
  ui/web-submodules/packages/tools/src/components/table.tsx
  ui/web-submodules/packages/tools/src/components/useComponentsQuery.tsx
  ui/web-submodules/packages/tools/src/defaultTheme.tsx
  ui/web-submodules/packages/tools/src/root.tsx
  ui/web-submodules/packages/tools/webpack.config.ts
Labels: ui, docs, client

#2501 Lite basic model, basic streaming lite components
  build.sbt
  engine/base/components/base/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/base/components/base/src/main/scala/pl/touk/nussknacker/engine/baseengine/components/BaseComponentProvider.scala
  engine/base/components/base/src/main/scala/pl/touk/nussknacker/engine/baseengine/components/ProcessSplitter.scala
  engine/base/components/base/src/main/scala/pl/touk/nussknacker/engine/baseengine/components/Union.scala
  engine/base/kafka/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/TestComponentProvider.scala
  engine/base/kafka/src/test/scala/pl/touk/nussknacker/engine/baseengine/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  engine/base/kafka/src/universal/conf/application.conf
  engine/base/model/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.process.ProcessConfigCreator
  engine/base/model/src/main/scala/pl/touk/nussknacker/lite/model/BasicConfigCreator.scala
  ui/client/cypress/integration/components.ts
Labels: ui, client

#2505 Components fixes
  ui/submodules/packages/components/src/components/table.tsx
  ui/submodules/packages/components/src/defaultTheme.tsx
Labels: ui, submodules

#2536 ConfluentSchemaRegistryProvider unflinkization
  docs/MigrationGuide.md
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/ConfluentSchemaRegistryProvider.scala
Labels: docs

#2336 Developer documentation - first part
  docs/developers_guide/Basics.md
  docs/developers_guide/Components.md
  docs/developers_guide/FlinkComponents.md
Labels: docs

#2537 LazyParameter refactor
  api/src/main/scala/pl/touk/nussknacker/engine/api/CustomStreamTransformer.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/lazyparam/EvaluableLazyParameter.scala
  docs/Changelog.md
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/flink/KeyedSinkRecordFlatMapper.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/sink/flink/KafkaAvroSinkSpecMixin.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/source/flink/KafkaAvroSourceSpecMixin.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/transformers.scala
  engine/flink/model-util/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/richflink.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/keyed.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/CompilerLazyParameter.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/LazyParameterSpec.scala
Labels: docs

#2483 EmbeddedDeploymentManager
  .run/NussknackerApp.run.xml
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/Installation.md
  engine/base/embeddedDeploymentManager/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.DeploymentManagerProvider
  engine/base/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedDeploymentManager.scala
  engine/base/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedDeploymentManagerTest.scala
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/KafkaSingleScenarioTaskRun.scala
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/NuKafkaEngineApp.scala
  engine/base/kafka/src/main/scala/pl/touk/nussknacker/engine/baseengine/kafka/TestComponentProvider.scala
  engine/base/kafka/src/test/scala/pl/touk/nussknacker/engine/baseengine/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  engine/base/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/StandaloneProcessInterpreterSpec.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/dropwizard/DropwizardMetricsProviderForScenario.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/dropwizard/influxdb/InfluxDbHttpReporter.scala
  engine/base/runtime/src/test/scala/pl/touk/nussknacker/engine/baseengine/MetricsTest.scala
  nussknacker-dist/src/universal/bin/run.sh
  nussknacker-dist/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/cypress/integration/components.ts
  ui/client/package.json
  ui/runServer.sh
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaUtils.scala
Labels: ui, docs, client

#2551 components colors & refactor
  ui/client/containers/CustomTab.tsx
  ui/client/containers/DynamicTab.tsx
  ui/client/containers/ExternalLib/types.ts
  ui/client/containers/NussknackerApp.tsx
  ui/client/containers/useMuiTheme.tsx
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/submodules/package-lock.json
  ui/submodules/packages/components/package.json
  ui/submodules/packages/components/src/components/cellRenderers/categoriesCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/nameCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/usageCountCell.tsx
  ui/submodules/packages/components/src/components/filters.tsx
  ui/submodules/packages/components/src/components/nkView.tsx
  ui/submodules/packages/components/src/components/selectFilter.tsx
  ui/submodules/packages/components/src/components/table.tsx
  ui/submodules/packages/components/src/components/view.tsx
  ui/submodules/packages/components/src/defaultTheme.tsx
  ui/submodules/packages/components/src/root.tsx
  ui/submodules/packages/components/src/settings/rootProviders.tsx
Labels: ui, client, submodules

#2539 Exception handler cleanup:
  api/src/main/java/pl/touk/nussknacker/engine/javaapi/process/ProcessConfigCreator.java
  api/src/main/scala/pl/touk/nussknacker/engine/api/ProcessListener.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/TestProcess.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/exception/EspExceptionConsumer.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/exception/EspExceptionHandler.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/exception/NuExceptionInfo.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/ProcessConfigCreator.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  docs/Changelog.md
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/commonTypes.scala
  engine/base/api/src/main/scala/pl/touk/nussknacker/engine/baseengine/api/utils/errors.scala
  engine/base/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/ProcessRoute.scala
  engine/base/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseRequestHandler.scala
  engine/base/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/StandaloneProcessInterpreterSpec.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/ScenarioInterpreterFactory.scala
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/metrics/NodeCountingListener.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/exception/ExceptionHandler.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/exception/FlinkEspExceptionHandler.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/exception/WithExceptionHandler.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkCustomNodeContext.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkLazyParameterFunctionHelper.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/flink/KafkaAvroSink.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/ProcessPartFunction.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompiler.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompilerData.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompiler.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/exception/FlinkExceptionHandler.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/exception/RateMeterExceptionConsumer.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/exception/RestartStrategyFromConfiguration.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/registrar/AsyncInterpretationFunction.scala
  engine/flink/engine/src/main/scala/pl/touk/nussknacker/engine/process/registrar/SyncInterpretationFunction.scala
  engine/flink/engine/src/test/scala/pl/touk/nussknacker/engine/process/exception/FlinkExceptionHandlerSpec.scala
  engine/flink/engine/src/test/scala/pl/touk/nussknacker/engine/process/exception/RestartStrategyFromConfigurationSpec.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumer.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumerSerializationSpec.scala
  engine/flink/management/java_sample/src/main/java/pl/touk/nussknacker/engine/management/javasample/TestProcessConfigCreator.java
  engine/flink/model-util/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/ModelUtilExceptionHandlingSpec.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/RecordingExceptionConsumer.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/exception/ConfigurableExceptionHandler.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/exception/DefaultEspExceptionHandler.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/exception/DefaultExceptionConsumers.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessObjectDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/ResultsCollectingListener.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaJsonExceptionSerializationSchema.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/LoggingListener.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/exception/ExceptionRateMeter.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/exception/WithExceptionExtractor.scala
Labels: docs

#2561 sort arrows on scenarios list
  ui/client/stylesheets/processes.styl
Labels: ui, client

#2562 main menu active highlight fix + refactor
  ui/client/components/MenuBar.tsx
  ui/client/containers/DynamicTab.tsx
  ui/client/containers/NussknackerApp.tsx
Labels: ui, client

#2560 case insensitive sort order
  ui/submodules/packages/components/src/components/table.tsx
Labels: ui, submodules

#2542 add e2e test for docsUrl in fragment
  ui/client/cypress/integration/__image_snapshots__/Fragment  should add documentation url in fragment properties and show it in modal within scenario [Linux] #0.png
  ui/client/cypress/integration/fragment.ts
Labels: ui, client

#2558 set category filter by category click
  ui/client/cypress/integration/__snapshots__/components.ts.snap
  ui/client/cypress/integration/components.ts
  ui/submodules/packages/components/src/components/cellRenderers/categoriesCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/usageCountCell.tsx
Labels: ui, client, submodules

#2557 change category filter
  ui/client/cypress/integration/__snapshots__/components.ts.snap
  ui/client/cypress/integration/components.ts
  ui/submodules/packages/components/src/components/cellRenderers/categoriesCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/usageCountCell.tsx
  ui/submodules/packages/components/src/components/filters/filterRules.ts
Labels: ui, client, submodules

#2556 Component filters in query
  .github/workflows/pr.yml
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply filters from query [Linux] #0.png
  ui/client/cypress/integration/__snapshots__/components.ts.snap
  ui/client/cypress/integration/components.ts
  ui/client/cypress/support/tools.ts
  ui/submodules/packages/components/src/components/cellRenderers/categoriesCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/usageCountCell.tsx
  ui/submodules/packages/components/src/components/filters.tsx
  ui/submodules/packages/components/src/components/filters/filterRules.ts
  ui/submodules/packages/components/src/components/filters/filters.tsx
  ui/submodules/packages/components/src/components/filters/filtersContext.tsx
  ui/submodules/packages/components/src/components/listWithFilters.tsx
  ui/submodules/packages/components/src/components/table.tsx
  ui/submodules/tsconfig.json
Labels: ui, client, submodules

#2540 Additional Effects for standalone
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/StandaloneProcessTest.scala
  docs/Changelog.md
  engine/base/runtime/src/main/scala/pl/touk/nussknacker/engine/baseengine/TestRunner.scala
  engine/standalone/app/src/main/scala/pl/touk/nussknacker/engine/standalone/http/StandaloneRequestHandler.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/FutureBaseStandaloneScenarioEngine.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/StandaloneScenarioEngine.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/deployment/DeploymentService.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/deployment/ProcessInterpreters.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/management/StandaloneDeploymentManager.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/metrics/InvocationMetrics.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/openapi/StandaloneOpenApiGenerator.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessInterpreterSpec.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/test/StandaloneTestMainSpec.scala
Labels: docs

#2493 Use component config rather that global model data config
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/kryo/AvroSerializersRegistrar.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/source/flink/TestFromFileSpec.scala
  engine/flink/components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkKafkaComponentProvider.scala
  engine/flink/generic/src/main/resources/defaultModelConfig.conf
  engine/flink/generic/src/test/resources/application.conf
  engine/flink/generic/src/test/scala/pl/touk/nussknacker/genericmodel/GenericClassExtractionTest.scala
  engine/flink/generic/src/test/scala/pl/touk/nussknacker/genericmodel/GenericItSpec.scala
  engine/flink/management/sample/src/test/resources/application.conf
  engine/flink/management/sample/src/test/scala/pl/touk/nussknacker/engine/process/NamespacedKafkaSourceSinkTest.scala
  engine/flink/management/sample/src/test/scala/pl/touk/nussknacker/engine/process/SampleComponentProviderTest.scala
  nussknacker-dist/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/GenericRecordSchemaIdSerializationSupport.scala
Labels: docs

#2570 GH Actions badge shows staging status (not CI workflow status for all…
  README.md
Labels: docs

#2568 Release 1.1 to staging
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/StandaloneProcessTest.scala
  docs/Changelog.md
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseRequestHandler.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/FutureBasedRequestResponseScenarioInterpreter.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseEngine.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/deployment/DeploymentService.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/deployment/ProcessInterpreters.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/management/RequestResponseDeploymentManager.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/metrics/InvocationMetrics.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/openapi/StandaloneOpenApiGenerator.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/StandaloneProcessInterpreterSpec.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/test/StandaloneTestMainSpec.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/TestRunner.scala
Labels: docs
