Repository TouK/nussknacker, pull requests merged in 2021-09, with the labels that each got.

#2128 test: fixed snapshots
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should allow pan view [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select only fully covered (to right) [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select only fully covered (to right) [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select partially covered (to left) [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select partially covered (to left) [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #3.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag node [Linux] #0.png
  ui/client/cypress/integration/creatorToolbar.ts
  ui/client/cypress/integration/fragment.ts
  ui/client/cypress/integration/process.ts
  ui/client/cypress/integration/processSelection.ts
  ui/client/cypress/integration/processes.ts
  ui/client/cypress/integration/sqlEditor.ts
  ui/client/cypress/integration/suggester.ts
  ui/client/cypress/support/overrides.ts
Labels: ui

#2132 Cleanup SQL cypress tests
  ui/client/cypress/fixtures/withSqlEditor.json
  ui/client/cypress/fixtures/withSqlEditor2.json
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display advanced colors [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display advanced colors [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display advanced colors [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display colorfull sql code [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display colorfull sql code [Linux] #1.png
Labels: ui

#2112 Flink available slots checking before deploy
  docs/Changelog.md
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSlotsCountSpec.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkSlotsChecker.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/HttpFlinkClient.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/flinkRestModel.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkSlotsCheckerTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
Labels: docs

#2111 Fix missing arrows after closing subprocess modal
  ui/client/components/graph/EspNode/link.ts
  ui/client/components/graph/Graph.js
  ui/client/components/graph/GraphPartialsInTS/createPaper.ts
  ui/client/components/graph/GraphPartialsInTS/drawGraph.ts
  ui/client/cypress/fixtures/fragment.json
  ui/client/cypress/integration/__image_snapshots__/Fragment  used in scenario  should display fragment graph in modal [Linux] #0.png
  ui/client/cypress/integration/fragment.ts
Labels: ui

#2134 build: changed confusing script name
  ui/client/package.json
Labels: ui

#2140 Test: edit edge expression e2e test
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow editing switch edge expression [Linux] #0.png
  ui/client/cypress/integration/switch.ts
Labels: ui

#2149 test(e2e): fragments update, cypress 7.7.0
  ui/client/components/graph/node-modal/subprocess-input-definition/DndItems.tsx
  ui/client/components/graph/node-modal/subprocess-input-definition/FieldsRow.tsx
  ui/client/cypress/fixtures/fragment.json
  ui/client/cypress/integration/__image_snapshots__/Fragment  input  should display details in modal [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #3.png
  ui/client/cypress/integration/__image_snapshots__/Fragment  used in scenario  should display fragment graph in modal [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  initially clean  should open properites from tips panel [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select partially covered (to left) [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should not have latest deploy button by default [Linux] #0.png
  ui/client/cypress/integration/fragment.ts
  ui/client/cypress/support/tools.ts
  ui/client/package-lock.json
  ui/client/package.json
  ui/client/webpack.config.js
Labels: ui

#2152 Create schedule property extractor using config
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/management/periodic/README.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/SchedulePropertyExtractorFactory.scala
Labels: docs

#2133 Hide SQL Variable from generic model
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/generic/src/main/resources/defaultModelConfig.conf
Labels: docs

#2161 test: fix for cypress test of fragments
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #1.png
  ui/client/cypress/integration/fragment.ts
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

#2160 Discard dialog with easier decision message and buttons
  ui/client/common/DialogMessages.ts
  ui/client/components/ProcessHistory.tsx
  ui/client/components/RouteLeavingGuard.tsx
Labels: ui

#2159 Enabled by default useTypingResultTypeInformation option
  docs/MigrationGuide.md
  docs/installation_configuration_guide/ModelConfiguration.md
  engine/flink/process/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypeInformationDetection.scala
  engine/flink/process/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypeInformationDetectionSpec.scala
  nussknacker-dist/src/universal/conf/application.conf
Labels: docs

#2155 docker volume fix
  nussknacker-dist/src/universal/bin/nussknacker-entrypoint.sh
Labels: ui, docs

#2167 fix: svg for pdf export
  ui/client/components/graph/svg-export/export.styl
  ui/client/components/graph/svg-export/prepareSvg.ts
Labels: ui

#2175 Add missing links in docs
  docs/operations_guide/Operations.md
Labels: docs

#2178 fix: component position and pan/zoom
  ui/client/components/graph/PanZoomPlugin.ts
  ui/client/components/graph/ProcessGraph.tsx
  ui/client/cypress/fixtures/testProcess.json
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should not have latest deploy button by default [Linux] #0.png
  ui/client/cypress/integration/process.ts
Labels: ui

#2181 fix: avoid unnecessary layout changes
  ui/client/components/graph/Graph.js
Labels: ui

#2176 Allow to enrich process config on initial schedule and each deployment
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/management/periodic/README.md
  engine/flink/management/periodic/src/main/resources/db/batch_periodic/migration/hsql/V1_106__rename_model_config.sql
  engine/flink/management/periodic/src/main/resources/db/batch_periodic/migration/postgres/V1_106__rename_model_config.sql
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/EnrichDeploymentWithJarData.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/EnrichDeploymentWithJarDataFactory.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesTable.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/flink/FlinkJarManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/DeploymentWithJarData.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/ProcessConfigEnricher.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/modelconfig/InputConfigDuringExecution.scala
  project/plugins.sbt
Labels: docs

#2184 fix: cleanup of undo stack
  ui/client/actions/actionTypes.ts
  ui/client/actions/nk/process.js
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #1.png
  ui/client/reducers/graph/reducer.ts
Labels: ui

#2193 New logo
  ui/client/README.md
  ui/client/assets/img/favicon.png
  ui/client/assets/img/favicon.svg
  ui/client/assets/img/nussknacker-logo.svg
  ui/client/cypress/integration/__image_snapshots__/Expression suggester  should display colorfull and sorted completions [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Expression suggester  should display colorfull and sorted completions [Linux] #1.png
  ui/client/package.json
  ui/client/stylesheets/mainMenu.styl
  ui/client/webpack.config.js
Labels: ui, docs

#2198 Fix visiaulizationUrl with publicPath
  ui/client/common/VisualizationUrl.ts
Labels: ui

#2195 fix: global event handlers called from windows
  ui/client/bootstrap.tsx
  ui/client/containers/BindKeyboardShortcuts.tsx
  ui/client/containers/useDocumentListeners.tsx
  ui/client/package.json
Labels: ui

#2203 changed notification message for during_deploy + deploy dialog closes immediately after ok
  ui/client/components/modals/DeployProcessDialog.tsx
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NotificationResources.scala
Labels: ui

#2202 Production build chunks names as hashes
  ui/client/webpack.config.js
Labels: ui

#2207 fix: reload toolbars/buttons config after rename
  ui/client/actions/nk/processUtils/saveProcess.ts
Labels: ui

#2209 Fixed tooltip for available customAction button
  ui/client/components/toolbars/status/buttons/CustomActionButton.tsx
Labels: ui

#2206 Changelog update
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#2210 Fixed tooltip for available customAction button
  ui/client/components/toolbars/status/buttons/CustomActionButton.tsx
Labels: ui

#2179 Update fe permission
  docs/Changelog.md
  engine/security/src/main/scala/pl/touk/nussknacker/ui/security/api/Permission.scala
  nussknacker-dist/src/universal/conf/users.conf
  ui/client/common/models/User.ts
  ui/client/components/graph/Graph.js
  ui/client/components/graph/GraphPartialsInTS/createPaper.ts
  ui/client/components/graph/SelectionContextProvider.tsx
  ui/client/components/graph/node-modal/edge/Details.tsx
  ui/client/components/graph/node-modal/node/selectors.tsx
  ui/client/components/toolbarComponents/CapabilitiesToolbarButton.tsx
  ui/client/components/toolbars/VersionsPanel.tsx
  ui/client/components/toolbars/creator/CreatorPanel.tsx
  ui/client/components/toolbars/edit/buttons/CopyButton.tsx
  ui/client/components/toolbars/edit/buttons/LayoutButton.tsx
  ui/client/components/toolbars/edit/buttons/PasteButton.tsx
  ui/client/components/toolbars/edit/buttons/RedoButton.tsx
  ui/client/components/toolbars/edit/buttons/UndoButton.tsx
  ui/client/containers/Visualization.js
  ui/client/reducers/selectors/other.ts
Labels: ui, docs

#2150 Handle multiple one time schedules in batch periodic engine
  docs/Changelog.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: docs

#2208 bump circe/cats
  build.sbt
  docs/Changelog.md
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/CirceUtil.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/MetaData.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  engine/benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/ManyParamsInterpreterBenchmark.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/StandaloneConfigCreator.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/ConfluentAvroToJsonFormatterFactory.scala
  engine/flink/generic/src/test/scala/pl/touk/nussknacker/genericmodel/ClassExtractionTest.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordToJsonFormatterFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/InputMeta.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
  engine/httpUtils/src/main/scala/sttp/client/circe/SttpCirceApi.scala
  engine/httpUtils/src/main/scala/sttp/client/circe/package.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/canonize/ProcessCanonizer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/marshall/ProcessMarshaller.scala
  engine/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/SimpleInfluxClient.scala
  engine/security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OpenIdConnectProfile.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/DefaultResponseEncoder.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/ProcessType.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/ValidationResults.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NotificationResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ServiceRoutes.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/app/BuildInfo.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/processtoolbar/ToolbarButtonConfig.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/processtoolbar/ToolbarPanelConfig.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActivityRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessPosting.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/UiProcessMarshallerSpec.scala
Labels: docs

#2217 Docs refinement
  docs/installation_configuration_guide/Configuration.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/Installation.md
  docs/installation_configuration_guide/ModelConfiguration.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
Labels: docs

#2214 Documentation for Oidc settings.
  docs/installation_configuration_guide/DesignerConfiguration.md
Labels: docs

#1479 [Improvement] ProcessId in processVersion
  docs/MigrationGuide.md
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/ProcessVersion.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/process/VersionId.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/NkGlobalParameters.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSlotsCountSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessInterpreterSpec.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/deployment/FileProcessRepositoryTest.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/management/MultiInstanceStandaloneProcessClientSpec.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeEvent.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/services/PullProcessRepository.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/displayedgraph/ProcessStatus.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/process/ProcessId.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/process/ProcessVersionId.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/process/package.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/AuthorizeProcess.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/AuthorizeProcessDirectives.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessAttachmentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessDirectives.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/CommentEntityFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ProcessVersionEntityFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/initialization/Initialization.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigrator.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/FetchingProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActivityRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/PullProcessRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesChangeListenerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinderTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActorSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigratorSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
Labels: docs

#2216 fix(dev): ignore unavailable permission on ff
  ui/client/components/graph/SelectionContextProvider.tsx
Labels: ui

#2230 Fix links with http public path specified
  ui/client/common/VisualizationUrl.ts
Labels: ui

#2236 Fix visiaulizationUrl with publicPath - restore slash (#2230)
  ui/client/common/VisualizationUrl.ts
Labels: ui

#2232 GH actions improvement: not building image if changes are fe-only
  .github/workflows/pr.yml
  build.sbt
  ui/client/cypress/integration/suggester.ts
Labels: ui

#1422 Remove ServiceReturningType, ServiceWithExplicitMethod, add helpers
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/Service.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/definition/WithExplicitMethodToInvoke.scala
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/typed/ReturningType.scala
  engine/components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/BaseSwaggerEnricher.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnrichers.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequest.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/http/SwaggerSttpService.scala
  engine/components/openapi/src/test/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequestTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherWithCacheTest.scala
  engine/components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/BaseDatabaseQueryEnricherTest.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/component/SampleComponentProvider.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/CustomValidatedService.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/DynamicService.scala
  engine/flink/management/sample/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/UnionReturnObjectService.scala
  engine/flink/process/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/MethodDefinitionExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ServiceInvoker.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/util/service/query/ServiceQuerySpec.scala
  engine/standalone/engine/src/main/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessInterpreter.scala
  engine/standalone/engine/src/test/scala/pl/touk/nussknacker/engine/standalone/StandaloneProcessConfigCreator.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/service/EagerServiceWithStaticParameters.scala
  engine/util/src/main/scala/pl/touk/nussknacker/engine/util/service/EnricherContextTransformation.scala
Labels: docs

#2213 Component drag preview
  ui/client/actions/nk/node.ts
  ui/client/bootstrap.tsx
  ui/client/components/ComponentDragPreview.tsx
  ui/client/components/ComponentPreview.tsx
  ui/client/components/DragArea.tsx
  ui/client/components/graph/EspNode/element.ts
  ui/client/components/graph/EspNode/esp.ts
  ui/client/components/graph/Graph.js
  ui/client/components/graph/GraphPartialsInTS/cellUtils.ts
  ui/client/components/graph/ProcessGraph.tsx
  ui/client/components/graph/dragHelpers.ts
  ui/client/components/graph/graphTheme.styl
  ui/client/components/toolbars/creator/Tool.tsx
Labels: ui

#2226 feat: show (build) version number
  .github/workflows/pr.yml
  ui/client/.eslintrc
  ui/client/components/toolbarSettings/ToolbarSelector.tsx
  ui/client/components/toolbarSettings/useToolbarConfig.tsx
  ui/client/components/versionInfo.tsx
  ui/client/containers/NussknackerApp.tsx
  ui/client/http/HttpService.ts
  ui/client/index.d.ts
  ui/client/stylesheets/visualization.styl
  ui/client/version.js
  ui/client/webpack.config.js
Labels: ui

#2251 Community improvements
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/proposal.md
  README.md
Labels: docs

#2256 More changelog
  docs/Changelog.md
Labels: docs

#2242 Public path docs
  docs/installation_configuration_guide/Installation.md
Labels: docs

#2252 GH actions: build FE once
  .github/workflows/pr.yml
  build.sbt
  release.sh
  ui/README.md
  ui/client/.nvmrc
  ui/client/package-lock.json
  ui/client/webpack.config.js
Labels: ui, docs

#2259 Mark 10 released
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: ui, docs

#2258 Release 1.0 to staging
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/Installation.md
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/timestampwatermark/TimestampWatermarkHandler.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/BaseKafkaDelayedSourceFactory.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSource.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedGenericTypedJsonIntegrationSpec.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActorSpec.scala
  version.sbt
Labels: docs

#2261 fix: ace tooltip font size
  ui/client/app.styl
Labels: ui

#2260 GH actions: fix: version version mismatch between FE and BE and others
  .github/workflows/pr.yml
  ui/client/package-lock.json
  ui/client/package.json
  ui/client/server.js
Labels: ui

#2270 Update README.md
  README.md
Labels: docs

#2274 Spel selection for ^ and $ operand
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
  ui/client/components/graph/node-modal/editors/expression/ExpressionSuggester.js
Labels: ui

#2278 Remove SQL Variable
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/generic/src/main/resources/defaultModelConfig.conf
  engine/flink/process/src/test/scala/pl/touk/nussknacker/engine/process/functional/SqlProcessItTests.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/HsqlSqlQueryableDataBase.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/SqlExpressionParser.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/SqlQueryableDataBase.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/TimestampUtils.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/columnmodel/CreateColumnModel.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/columnmodel/TypedClassColumnModel.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/columnmodel/TypedMapColumnModel.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/preparevalues/PrepareTables.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/sql/preparevalues/ReadObjectField.scala
  engine/interpreter/src/test/java/pl/touk/nussknacker/engine/sql/HsqlSqlQueryableDataBaseTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/SqlExpressionParserTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/SqlExpressionTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/TypedList.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/columnmodel/CreateColumnModelTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/columnmodel/CreateTablesDefinitionTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/columnmodel/TypedClassColumnModelTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/columnmodel/TypedMapColumnModelTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/preparevalues/PrepareTablesTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/sql/preparevalues/ReadObjectFieldTest.scala
  ui/client/cypress/integration/__image_snapshots__/Creator toolbar  should allow filtering [Linux] #1.png
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparer.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparerSpec.scala
Labels: ui, docs

#2286 Revert "build(deps-dev): bump webpack-dev-server from 3.11.2 to 4.3.0 in /ui/client"
  ui/client/package-lock.json
  ui/client/package.json
Labels: ui

#2280 Default values defined on Parameter level
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/api/src/main/java/pl/touk/nussknacker/engine/api/DefaultValue.java
  engine/api/src/main/scala/pl/touk/nussknacker/engine/api/definition/NodeDependency.scala
  engine/components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/OptionalDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/ParameterExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/StandardParameterEnrichment.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/AnnotationDefaultValueDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/ConfigParameterDefaultValueDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/DefaultValueDeterminerChain.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/EditorPossibleValuesBasedDefaultValueDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/OptionalityBasedDefaultValueDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/ParameterDefaultValueDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/TypeRelatedParameterValueDeterminer.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/validator/EditorBasedValidatorExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/validator/MandatoryValidatorExtractor.scala
  engine/interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/validator/ValidatorExtractor.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/EditorPossibleValuesBasedDefaultValueDeterminerTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/TypeRelatedParameterValueDeterminerTest.scala
  engine/interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/parameter/validator/ValidatorsExtractorTest.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/EvaluatedParameterPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/defaults/ConfigParameterDefaultValueDeterminer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/defaults/DefaultValueDeterminerChain.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/defaults/OptionalityBasedDefaultValueDeterminer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/defaults/ParameterDefaultValueDeterminer.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/EvaluatedParameterPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/defaults/ConfigParameterDefaultValueDeterminerTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/defaults/DefaultValueDeterminerChainTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/defaults/ParamDefaultValueConfigTest.scala
Labels: docs

#2289 /api/adminProcessManagement/deploy takes savepointPath as a parameter…
  docs/MigrationGuide.md
  docs/operations_guide/Operations.md
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
Labels: docs
