Repository TouK/nussknacker, pull requests merged in 2022-03, with the labels that each got.

#2896 prepare for new scenarios
  ui/client/components/common/ErrorBoundary.tsx
  ui/client/components/graph/Graph.js
  ui/client/components/graph/ProcessGraph.tsx
  ui/client/components/versionInfo.tsx
  ui/client/containers/DynamicTab.tsx
  ui/client/containers/NussknackerApp.tsx
  ui/client/containers/ProcessTabs.tsx
  ui/client/containers/muiThemeProvider.tsx
  ui/client/containers/useMuiTheme.tsx
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply filters from query [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display usages [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  initially clean  should open properites from tips panel [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should allow pan view [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select only fully covered (to right) [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select only fully covered (to right) [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select partially covered (to left) [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select partially covered (to left) [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #3.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag node [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should have counts button and modal [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display colorfull sql code [Linux] #1.png
  ui/client/cypress/integration/components.ts
  ui/submodules/.babelrc
  ui/submodules/configs/webpack/dev.ts
  ui/submodules/package-lock.json
  ui/submodules/package.json
  ui/submodules/packages/components/.eslintrc.json
  ui/submodules/packages/components/package.json
  ui/submodules/packages/components/src/common/forms/textFieldWithClear.tsx
  ui/submodules/packages/components/src/components/cellRenderers/iconImg.tsx
  ui/submodules/packages/components/src/components/cellRenderers/nameCell.tsx
  ui/submodules/packages/components/src/components/componentTable.tsx
  ui/submodules/packages/components/src/defaultTheme.tsx
  ui/submodules/packages/components/src/settings/i18n.ts
Labels: ui, client, submodules

#2901 Component-api artifact name, small FE fix
  build.sbt
  ui/client/containers/Processes.tsx
Labels: ui, client

#2890 [FIx][UI] display labels in NodeDetails
  docs/Changelog.md
  engine/flink/management/dev-model/src/main/resources/defaultModelConfig.conf
  ui/client/components/graph/node-modal/NodeDetailsContent.js
Labels: ui, docs, client

#2912 deployment-manager-api not depends on interpreter
  build.sbt
  docs/MigrationGuide.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/flink/FlinkJarManager.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerQueryableStateTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkModelJar.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingRestManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/management/RequestResponseDeploymentManager.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  scenario-deployment-api/src/main/scala/pl/touk/nussknacker/engine/BaseModelData.scala
  scenario-deployment-api/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeConfig.scala
  scenario-deployment-api/src/main/scala/pl/touk/nussknacker/engine/deployment/DeploymentData.scala
  scenario-deployment-api/src/main/scala/pl/touk/nussknacker/engine/deployment/DeploymentId.scala
  scenario-deployment-api/src/main/scala/pl/touk/nussknacker/engine/deployment/ExternalDeploymentId.scala
  scenario-deployment-api/src/main/scala/pl/touk/nussknacker/engine/deployment/User.scala
  scenario-deployment-api/src/main/scala/pl/touk/nussknacker/engine/modelconfig/InputConfigDuringExecution.scala
  scenario-deployment-api/src/main/scala/pl/touk/nussknacker/engine/testmode/TestProcess.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  ui/server/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ServiceRoutesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/ConfigurationTest.scala
Labels: docs

#2916 Refactor: ProcessState decoupled from ProcessStateDefinitionManager
  build.sbt
  docs/MigrationGuide.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkProcessStateSpec.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentStatusMapper.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentStatusMapperSpec.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/management/RequestResponseProcessClient.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/management/MultiInstanceRequestResponseClientSpec.scala
  scenario-deployment-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/CustomAction.scala
  scenario-deployment-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessStateDefinitionManager.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleProcessState.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleProcessStateDefinitionManager.scala
  ui/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/SimpleProcessStateSpec.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/displayedgraph/ProcessStatus.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/AppResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActorSpec.scala
Labels: docs

#2923 [DOCS] Engines comparison
  docs/developers_guide/StreamingLiteComponents.md
  docs/installation_configuration_guide/Installation.md
  docs/installation_configuration_guide/model/Flink.md
  docs/operations_guide/Common.md
  docs/operations_guide/Flink.md
  docs/operations_guide/Lite.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/DesignerTipsAndTricks.md
  docs/scenarios_authoring/Intro.md
Labels: docs

#2907 Move metrics to components-api
  common-api/src/main/scala/pl/touk/nussknacker/engine/util/metrics/RateMeter.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/Lifecycle.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/runtimecontext/ContextIdGenerator.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/runtimecontext/EngineRuntimeContext.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/util/metrics/MetricsProviderForScenario.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/util/metrics/NoOpMetricsProviderForScenario.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/util/service/EspTimer.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkMetricsProviderForScenario.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/metrics/dropwizard/DropwizardMetricsProviderForScenario.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/service/TimeMeasuringService.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/exception/ExceptionRateMeter.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/metrics/BaseMetricsProviderForScenario.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/metrics/InstantRateMeter.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/metrics/InstantRateMeterWithCount.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/metrics/WithMetrics.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/metrics/common/EndCountingListener.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/metrics/common/OneSourceMetrics.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/SafeLazyValues.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/metrics/InstantRateMeterWithCount.scala
Labels: docs

#2933 scenario-deployment-api merged into extensions-api
  build.sbt
  docs/MigrationGuide.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/BaseModelData.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeConfig.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/CustomAction.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/deployment/DeploymentData.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/deployment/DeploymentId.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/deployment/ExternalDeploymentId.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/deployment/User.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/modelconfig/InputConfigDuringExecution.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/modelconfig/ModelConfigLoader.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/testmode/TestProcess.scala
Labels: docs

#2934 ToJsonEncoder moved to common-api
  common-api/src/main/scala/pl/touk/nussknacker/engine/util/json/ToJsonEncoder.scala
  docs/MigrationGuide.md
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/source/flink/TestFromFileSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/TestFromFileSpec.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/encode/AvroToJsonEncoder.scala
  utils/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/encode/AvroToJsonEncoderSpec.scala
  utils/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/jsonpayload/JsonPayloadToAvroConverterSpec.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/InputMeta.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/json/BestEffortJsonEncoder.scala
  utils/utils/src/test/scala/pl/touk/nussknacker/engine/util/json/BestEffortJsonEncoderSpec.scala
Labels: docs

#2936 Logging docs
  docs/operations_guide/Lite.md
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/BaseNuKafkaRuntimeDockerTest.scala
  engine/lite/kafka/runtime/src/universal/conf/docker-logback.xml
  utils/test-utils/src/main/resources/logback-test.xml
Labels: docs

#2935 Developer guide updates after API modules changes
  docs/developers_guide/Basics.md
  docs/developers_guide/img/modeles-architecture.png
Labels: docs

#2941 Update flink to 1.14.4
  build.sbt
  docs/Changelog.md
Labels: docs

#2942 `fixedValueValidator` - separate list of values by comma and space
  ui/client/components/graph/node-modal/editors/Validators.ts
Labels: ui, client

#2945 Move inserted text in fixed values field from bottom to top
  ui/client/components/graph/node-modal/editors/expression/FixedValuesEditor.tsx
Labels: ui, client

#2950 Remove MATH
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/DefaultConfigCreator.scala
  docs/MigrationGuide.md
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  utils/helpers-utils/src/main/scala/pl/touk/nussknacker/engine/util/functions/math.scala
  utils/helpers-utils/src/main/scala/pl/touk/nussknacker/engine/util/functions/numeric.scala
Labels: docs

#2957 Reschedule failed periodic flag
  docs/Changelog.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicBatchConfig.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/PeriodicProcessDeployment.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/PeriodicProcessListener.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/RescheduleFinishedActorTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: docs

#2928 new scenarios list
  ui/client/bootstrap.tsx
  ui/client/common/featureFlags.tsx
  ui/client/components/table/AddProcessButton.tsx
  ui/client/containers/CustomTab.tsx
  ui/client/containers/DynamicTab.tsx
  ui/client/containers/ExternalLib/ExternalModule.tsx
  ui/client/containers/ExternalLib/store/LibContextProvider.tsx
  ui/client/containers/NussknackerApp.tsx
  ui/client/containers/ScenariosTab.tsx
  ui/client/containers/errors/NotFound.js
  ui/client/cypress/integration/components.ts
  ui/client/package-lock.json
  ui/client/package.json
  ui/client/store/provider.tsx
  ui/client/webpack.config.js
  ui/client/windowManager/useWindows.ts
  ui/server/src/main/resources/defaultUiConfig.conf
  ui/submodules/configs/webpack/common.ts
  ui/submodules/package-lock.json
  ui/submodules/packages/components/federation.config.json
  ui/submodules/packages/components/package.json
  ui/submodules/packages/components/src/common/categoryChip.tsx
  ui/submodules/packages/components/src/common/defaultTheme.tsx
  ui/submodules/packages/components/src/common/hooks/index.ts
  ui/submodules/packages/components/src/common/hooks/useScrollParent.tsx
  ui/submodules/packages/components/src/common/nkView.tsx
  ui/submodules/packages/components/src/components/rootRoutes.tsx
  ui/submodules/packages/components/src/scenarios/filters/activeFilters.tsx
  ui/submodules/packages/components/src/scenarios/filters/filterListItem.tsx
  ui/submodules/packages/components/src/scenarios/filters/filterListItemLabel.tsx
  ui/submodules/packages/components/src/scenarios/filters/filterMenu.tsx
  ui/submodules/packages/components/src/scenarios/filters/filterRules.tsx
  ui/submodules/packages/components/src/scenarios/filters/filtersPart.tsx
  ui/submodules/packages/components/src/scenarios/filters/index.ts
  ui/submodules/packages/components/src/scenarios/filters/optionsStack.tsx
  ui/submodules/packages/components/src/scenarios/filters/otherOptionsStack.tsx
  ui/submodules/packages/components/src/scenarios/filters/quickFilter.tsx
  ui/submodules/packages/components/src/scenarios/filters/scenariosFiltersModel.ts
  ui/submodules/packages/components/src/scenarios/filters/simpleOptionsStack.tsx
  ui/submodules/packages/components/src/scenarios/filters/sortOptionsStack.tsx
  ui/submodules/packages/components/src/scenarios/index.ts
  ui/submodules/packages/components/src/scenarios/list/author.tsx
  ui/submodules/packages/components/src/scenarios/list/item.tsx
  ui/submodules/packages/components/src/scenarios/list/itemsList.tsx
  ui/submodules/packages/components/src/scenarios/list/listPart.tsx
  ui/submodules/packages/components/src/scenarios/list/stats.tsx
  ui/submodules/packages/components/src/scenarios/rootRoutes.tsx
  ui/submodules/packages/components/src/scenarios/scenariosView.tsx
  ui/submodules/packages/components/src/scenarios/useScenariosQuery.tsx
  ui/submodules/packages/components/src/scenariosNkView.tsx
Labels: ui, client, submodules

#2964 Scenario list in dev config
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply filters from query [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display usages [Linux] #0.png
  ui/server/src/main/resources/defaultUiConfig.conf
Labels: ui, client

#2963 reset validation on window close
  ui/client/actions/nk/nodeDetails.ts
  ui/client/components/graph/node-modal/NodeAdditionalInfoBox.tsx
  ui/client/components/graph/node-modal/NodeDetailsContent.js
  ui/client/components/graph/node-modal/NodeDetailsContent/NodeDetails.tsx
  ui/client/components/graph/node-modal/NodeDetailsContent/NodeDetailsContentConnected.tsx
  ui/client/components/graph/node-modal/NodeDetailsContent/helpers.ts
  ui/client/components/graph/node-modal/NodeDetailsContent/selectors.tsx
  ui/client/reducers/nodeDetailsState.ts
  ui/client/types/definition.ts
  ui/client/types/node.ts
  ui/client/types/process.ts
Labels: ui, client

#2969 [K8 engine] allow redeploy during deploy
  docs/MigrationGuide.md
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkProcessStateDefinitionManager.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProviderTest.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleProcessStateDefinitionManager.scala
  ui/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/SimpleProcessStateSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
Labels: docs

#2972 Improvements: Add Url type to tabs configuration
  docs/Changelog.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/components/MenuBar.tsx
  ui/client/containers/DynamicTab.tsx
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply filters from query [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display usages [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  initially clean  should import JSON and save [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  initially clean  should import JSON and save [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should allow pan view [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select only fully covered (to right) [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select only fully covered (to right) [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select partially covered (to left) [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select partially covered (to left) [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #3.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag node [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow editing switch edge expression [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should have counts button and modal [Linux] #0.png
  ui/server/src/main/resources/defaultUiConfig.conf
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
Labels: ui, docs, client

#2978 Improvements: Add Url type to tabs configuration (#2972)
  docs/Changelog.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/components/MenuBar.tsx
  ui/client/containers/DynamicTab.tsx
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply filters from query [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display usages [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  initially clean  should import JSON and save [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  initially clean  should import JSON and save [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should allow pan view [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select only fully covered (to right) [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select only fully covered (to right) [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select partially covered (to left) [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select partially covered (to left) [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #3.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag node [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow editing switch edge expression [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should have counts button and modal [Linux] #0.png
  ui/server/src/main/resources/defaultUiConfig.conf
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
Labels: ui, docs, client

#2980 Add JDK_JAVA_OPTIONS to docs
  docs/installation_configuration_guide/Installation.md
Labels: docs

#2979 Move zml update in docs
  docs/installation_configuration_guide/Installation.md
  docs/installation_configuration_guide/README.md
Labels: docs

#2981 Improve avro serialization docs
  docs/operations_guide/Common.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
Labels: docs

#2982 Testing&Debugging docs
  docs/scenarios_authoring/DesignerTipsAndTricks.md
  docs/scenarios_authoring/Spel.md
  docs/scenarios_authoring/TestingAndDebugging.md
  docs/scenarios_authoring/img/Counts.png
  docs/scenarios_authoring/img/nodeDebugging.png
  docs/scenarios_authoring/img/testPanel.png
Labels: docs
