Repository TouK/nussknacker, pull requests merged in 2022-12, with the labels that each got.

#3757 [FIX] export and test work correctly with unclean FE state
  designer/client/actions/actionTypes.ts
  designer/client/actions/nk/comment.ts
  designer/client/actions/nk/displayTestResults.ts
  designer/client/actions/nk/importExport.js
  designer/client/actions/nk/importExport.ts
  designer/client/actions/nk/processUtils/saveProcess.ts
  designer/client/components/graph/GraphPartialsInTS/EdgeUtils.ts
Labels: ui, client

#3754 New scenario migration fixup
  designer/client/types/process.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/displayedgraph/DisplayableProcess.scala
  designer/restmodel/src/test/scala/pl/touk/nussknacker/restmodel/NodeDataCodecSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ValidationResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverter.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/TestModelMigrations.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/uiresolving/UIProcessResolving.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessActivityResourceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesExportImportResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/TestInfoResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockFetchingProcessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockFetchingProcessRepositorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessPosting.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessUtil.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentTestProcessData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinderTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverterSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/UiProcessMarshallerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/subprocess/SubprocessRepositorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/PdfExporterSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/ProcessComparatorSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
  docs/Changelog.md
Labels: ui, docs, client

#3751 Configuration docs cognitive aspects polishing
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/ModelConfiguration.md
Labels: docs

#3766 Usage stats query params refactor
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/WebResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/UsageStatisticsReportsConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsHtmlSnippet.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/UsageStatisticsUrlTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsHtmlSnippetTest.scala
Labels: ui, docs, client

#3773 minor fix in Spel docs
  docs/scenarios_authoring/Spel.md
Labels: docs

#3768 request-response-embedded and streaming-lite-embedded DeploymentManag…
  build.sbt
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/lite/deploymentManager/src/main/scala/pl/touk/nussknacker/lite/manager/LiteDeploymentManager.scala
  engine/lite/deploymentManager/src/main/scala/pl/touk/nussknacker/lite/manager/LiteDeploymentManagerProvider.scala
  engine/lite/embeddedDeploymentManager/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.DeploymentManagerProvider
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/DeploymentStrategy.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedLiteScenarioValidator.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedRequestResponseScenarioValidator.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/requestresponse/RequestResponseDeploymentStrategy.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/streaming/StreamingDeploymentStrategy.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/RequestResponseEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProvider.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/RequestResponseScenarioValidator.scala
  nussknacker-dist/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: docs

#3776 Handle recursive schema in OpenAPI with fallback
  components/openapi/src/test/resources/swagger/recursive.yml
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/parser/SwaggerParserTest.scala
  docs/Changelog.md
  docs/integration/OpenAPI.md
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
Labels: docs

#3786 OpenAPI edge cases
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/ParseToSwaggerService.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/ParseToSwaggerServices.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/SecuritiesParser.scala
  components/openapi/src/test/resources/swagger/incorrect-service.yml
  components/openapi/src/test/resources/swagger/recursive.yml
  components/openapi/src/test/resources/swagger/service-security.yml
  components/openapi/src/test/resources/swagger/swagger-3.1-array.yml
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/parser/SwaggerParserTest.scala
  docs/Changelog.md
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/parser/ParseSwaggerRefSchemas.scala
Labels: docs

#3792 Fixup to NotBlankParameterValidator
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterValidator.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/definition/ParameterValidatorSpec.scala
  designer/client/components/graph/node-modal/editors/Validators.ts
  designer/client/test/Validators-test.tsx
Labels: ui, client

#3782 Minor docs fixes
  dockerhub/nussknacker/README.md
  docs/integration/KafkaIntegration.md
Labels: docs

#3799 missing dependency
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
Labels: ui, submodules

#3810 Usage statistcs reporting trggered by FE client
  designer/client/actions/nk/assignSettings.ts
  designer/client/containers/NussknackerApp.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/WebResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettings.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/SettingsResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettingsTest.scala
Labels: ui, client

#3762 Docs: Handling Schemas
  docs/integration/DataTypingAndSchemasHandling.md
  docs/integration/KafkaIntegration.md
  docs/integration/img/typing.png
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/RRDataSourcesAndSinks.md
  docs/scenarios_authoring/Spel.md
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSchemaBuilder.scala
Labels: docs

#3809 Fix support for enum type in JsonSchema
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/parser/SwaggerParserTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/JsonTestData.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoder.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToNuStruct.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractorTest.scala
Labels: ui, docs, client

#3725 Processing-mode-specific-intro-docs
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/Intro.md
  docs/scenarios_authoring/RRDataSourcesAndSinks.md
Labels: docs

#3811 Don't send ValidationResult on process update
  designer/client/actions/nk/processUtils/saveProcess.ts
  designer/client/http/HttpService.ts
Labels: ui, client

#3821 support typing enums of arbitrary type in JsonSchema
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  docs/Changelog.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/JsonTestData.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSinkValueParameter.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToNuStruct.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/implicits.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractorTest.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/json/JsonUtils.scala
Labels: docs

#3824 Fix for Flink serialization of large schemas
  docs/MigrationGuide.md
  utils/schemed-kafka-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/NkSerializableParsedSchema.java
  utils/schemed-kafka-components-utils/src/test/scala/org/apache/flink/formats/avro/typeutils/NkSerializableParsedSchemaSpec.scala
Labels: docs

#3828 Last 1.7 sync
  docs/MigrationGuide.md
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/Intro.md
  docs/scenarios_authoring/RRDataSourcesAndSinks.md
  utils/schemed-kafka-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/NkSerializableParsedSchema.java
  utils/schemed-kafka-components-utils/src/test/scala/org/apache/flink/formats/avro/typeutils/NkSerializableParsedSchemaSpec.scala
Labels: docs

#3826 The essence of the sliding window(docs)
  docs/scenarios_authoring/AggregatesInTimeWindows.md
Labels: docs

#3819 Refs JSON Schemas in sinks
  docs/Changelog.md
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/LiteRequestResponseFunctionalTest.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSinkValueParameter.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractor.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoder.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidator.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidatorPrinter.scala
Labels: docs

#3654 Remove /subprocessDetails in favor of /processesDetails?isSubprocess=true
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/RemoteEnvironment.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
  docs/Changelog.md
Labels: docs
