Repository TouK/nussknacker, pull requests merged in 2022-01, with the labels that each got.

#2663 ignore layout only changes in compare dialog
  ui/client/components/modals/CompareVersionsDialog.tsx
Labels: ui, client

#2695 Add NodeComponentInfo to NuExceptionInfo
  api/src/main/scala/pl/touk/nussknacker/engine/api/component/NodeComponentInfo.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/TestProcess.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/exception/NuExceptionInfo.scala
  api/src/test/scala/pl/touk/nussknacker/engine/api/component/NodeComponentInfoSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/exception/ExceptionHandler.scala
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkLazyParameterFunctionHelper.scala
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/sink/flink/FlinkKafkaAvroSink.scala
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroIntegrationSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/ModelUtilExceptionHandlingSpec.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/exception/FlinkExceptionHandler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/CollectingSinkFunction.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/ProcessSpec.scala
  engine/flink/kafka-util/src/test/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumerSerializationSpec.scala
  engine/lite/api/src/main/scala/pl/touk/nussknacker/engine/lite/api/utils/errors.scala
  engine/lite/api/src/main/scala/pl/touk/nussknacker/engine/lite/api/utils/sinks.scala
  engine/lite/api/src/main/scala/pl/touk/nussknacker/engine/lite/api/utils/sources/BaseLiteSource.scala
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/ProcessRoute.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/metrics/InvocationMetrics.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseConfigCreator.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/sample.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/PartSubGraphCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compiledgraph/node.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/NodeComponentInfoExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelConversionServiceOverrideSpec.scala
  ui/client/cypress/integration/__image_snapshots__/Components list  should display usages [Linux] #0.png
  utils/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaJsonExceptionSerializationSchema.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/exception/ExceptionRateMeter.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/exception/WithExceptionExtractor.scala
Labels: ui, docs, client

#2714 Basic developer setup for K8sDeploymentManager
  CONTRIBUTING.md
  build.sbt
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProviderTest.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/metrics/dropwizard/LiteEngineMetrics.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply filters from query [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
Labels: ui, docs, client

#2717 cypress tests fixed
  ui/client/components/versionInfo.tsx
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply filters from query [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display usages [Linux] #0.png
  ui/client/cypress/integration/__snapshots__/components.ts.snap
  ui/client/cypress/integration/components.ts
  ui/client/cypress/support/tools.ts
Labels: ui, client

#2723 version info in cypress tests
  ui/client/components/versionInfo.tsx
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply filters from query [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display usages [Linux] #0.png
  ui/client/cypress/integration/components.ts
Labels: ui, client

#2738 Components flaky usage test fix
  ui/client/cypress/integration/components.ts
Labels: ui, client

#2743 Fix for flaky components grouping test
  ui/client/cypress/integration/components.ts
Labels: ui, client

#2712 Add During Deploy state for Embedded DeploymentManager
  docs/Changelog.md
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/BaseEmbeddedDeploymentManagerTest.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedDeploymentManagerRestartTest.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedDeploymentManagerTest.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/LoopUntilClosed.scala
Labels: docs

#2731 ugly resource waste fixed in component drag preview
  ui/client/components/ComponentDragPreview.tsx
  ui/client/components/ComponentPreview.tsx
  ui/client/components/DragArea.tsx
  ui/client/components/graph/Graph.js
  ui/client/components/graph/ProcessGraph.tsx
  ui/client/components/graph/dragHelpers.ts
  ui/client/components/graph/rafThrottle.ts
  ui/client/cypress/integration/__image_snapshots__/Fragment  should open properties [Linux] #0.png
  ui/client/cypress/integration/fragment.ts
  ui/client/cypress/integration/switch.ts
  ui/client/cypress/support/commands.js
  ui/client/cypress/support/tools.ts
Labels: ui, client

#2744 ugly resource waste fixed in component drag preview (#2731)
  ui/client/components/ComponentDragPreview.tsx
  ui/client/components/ComponentPreview.tsx
  ui/client/components/DragArea.tsx
  ui/client/components/graph/Graph.js
  ui/client/components/graph/ProcessGraph.tsx
  ui/client/components/graph/dragHelpers.ts
  ui/client/components/graph/rafThrottle.ts
  ui/client/cypress/integration/__image_snapshots__/Fragment  should open properties [Linux] #0.png
  ui/client/cypress/integration/fragment.ts
  ui/client/cypress/integration/switch.ts
  ui/client/cypress/support/commands.js
  ui/client/cypress/support/tools.ts
Labels: ui, client

#2749 avoid scenario list flicker
  ui/client/containers/processesTable/useRowsPerPage.tsx
Labels: ui, client

#2746 Handle dir in classloader path
  build.sbt
  docs/Changelog.md
  docs/developers_guide/Basics.md
  docs/installation_configuration_guide/Configuration.md
  docs/installation_configuration_guide/ModelConfiguration.md
  engine/lite/kafka/runtime/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/loader/ModelClassLoader.scala
  utils/util/src/test/resources/modelClassLoader/a/second.jara
  utils/util/src/test/resources/modelClassLoader/b/c/fourth.jara
  utils/util/src/test/resources/modelClassLoader/b/third.jara
  utils/util/src/test/resources/modelClassLoader/first.jara
  utils/util/src/test/scala/pl/touk/nussknacker/engine/util/loader/ModelClassLoaderSpec.scala
Labels: docs

#2747 minor components fixes
  ui/client/components/graph/Graph.js
  ui/client/containers/Visualization.js
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display usages [Linux] #0.png
  ui/submodules/package-lock.json
  ui/submodules/packages/components/package.json
  ui/submodules/packages/components/src/components/cellRenderers/categoriesCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/cellLink.tsx
  ui/submodules/packages/components/src/components/cellRenderers/iconImg.tsx
  ui/submodules/packages/components/src/components/cellRenderers/nameCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/nodesCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/scenarioCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/scenarioHref.tsx
  ui/submodules/packages/components/src/components/cellRenderers/truncate.tsx
  ui/submodules/packages/components/src/components/cellRenderers/truncateWrapper.tsx
  ui/submodules/packages/components/src/components/componentTable.tsx
  ui/submodules/packages/components/src/components/filters/filters.tsx
  ui/submodules/packages/components/src/components/nkView.tsx
  ui/submodules/packages/components/src/components/tableWrapper.tsx
  ui/submodules/packages/components/src/components/usages/filters.tsx
  ui/submodules/packages/components/src/components/usagesTable.tsx
  ui/submodules/packages/components/src/defaultTheme.tsx
  ui/submodules/packages/components/src/root.tsx
Labels: ui, client, submodules

#2751 fixed (hopefully) cache in module federation
  ui/client/containers/ExternalLib/tools/loadComponent.ts
  ui/client/index.d.ts
  ui/client/version.js
  ui/client/webpack.config.js
  ui/submodules/configs/webpack/withModuleFederationPlugins.ts
Labels: ui, client, submodules

#2752 Fix: for nodes after paste have floating points in layout data
  ui/client/containers/Visualization.js
Labels: ui, client

#2761 Links to nussknacker-custom-components
  README.md
  docs/developers_guide/Components.md
Labels: docs

#2767 hash in filenames
  ui/submodules/configs/webpack/common.ts
  ui/submodules/configs/webpack/prod.ts
  ui/submodules/packages/components/src/components/nkView.tsx
  ui/submodules/types/@override/index.d.ts
Labels: ui, submodules

#2762 Improvements: Add base docs link to component element
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #0.png
  ui/client/cypress/integration/components.ts
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  ui/server/src/main/resources/web/static/assets/icons/documentation.svg
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: ui, client

#2775 Fix for: kafka-registry-typed-json not handle logical types in runtime
  build.sbt
  docs/Changelog.md
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroDeserializationSpec.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/jsonpayload/ConfluentJsonPayloadDeserializerFactory.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/jsonpayload/JsonPayloadToAvroConverter.scala
  utils/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/jsonpayload/JsonPayloadToAvroConverterSpec.scala
Labels: docs

#2783 Fix for: kafka-registry-typed-json not handle logical types in runtim…
  build.sbt
  docs/Changelog.md
  engine/flink/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroDeserializationSpec.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/jsonpayload/ConfluentJsonPayloadDeserializerFactory.scala
  utils/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/jsonpayload/JsonPayloadToAvroConverter.scala
  utils/avro-util/src/test/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/jsonpayload/JsonPayloadToAvroConverterSpec.scala
Labels: docs

#2791 Update Flink to 1.14.3 - update changelog
  docs/Changelog.md
Labels: docs

#2789 Update readme for lite
  README.md
Labels: docs

#2793 Readme fix
  README.md
Labels: docs

#2792 Streaming-lite instead of lite-streaming
  e2e-tests/test/helpers.bash
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/streaming/embedded/EmbeddedDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #0.png
Labels: ui, client

#2784 version layout fixed
  ui/client/app.styl
  ui/client/bootstrap.tsx
  ui/client/components/DragArea.tsx
  ui/client/components/graph/SelectionContextProvider.tsx
  ui/client/components/tabs/Tabs.tsx
  ui/client/components/tabs/processTabs.styl
  ui/client/components/versionInfo.tsx
  ui/client/containers/Auth/strategies/RemoteAuthStrategy/externalAuthModule.ts
  ui/client/containers/ExternalLib/types.ts
  ui/client/containers/NussknackerApp.tsx
  ui/client/containers/ProcessTabs.tsx
  ui/client/cypress/integration/__image_snapshots__/Process  initially clean  should import JSON and save [Linux] #1.png
  ui/client/http/HttpService.ts
  ui/client/i18n.ts
  ui/client/package-lock.json
  ui/client/package.json
  ui/client/reducers/index.ts
  ui/client/reducers/selectors/toolbars.ts
  ui/client/stylesheets/mainMenu.styl
Labels: ui, client

#2804 Add dead-end docs, delay link
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/img/dead_end.png
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkBaseComponentProvider.scala
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteBaseComponentProvider.scala
Labels: docs

#2810 Fix for: during realase FE has snapshot version instead of released
  CONTRIBUTING.md
  build.sbt
  release.sh
  ui/buildClient.sh
Labels: docs

#2794 Add for each node to basic flink nodes components
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/img/for_each.png
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkBaseComponentProvider.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformer.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformerSpec.scala
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/ForEachTransformer.scala
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteBaseComponentProvider.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
Labels: docs

#2811 Release 1.2 backports
  CONTRIBUTING.md
  build.sbt
  docs/Changelog.md
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/img/dead_end.png
  docs/scenarios_authoring/img/for_each.png
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkBaseComponentProvider.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformer.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformerSpec.scala
  engine/flink/management/src/it/resources/docker/Dockerfile
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/ForEachTransformer.scala
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteBaseComponentProvider.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
  release.sh
  ui/buildClient.sh
Labels: docs

#2813 Periodic docs, mapVariable fix
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/img/periodic.png
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkBaseComponentProvider.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PeriodicSourceFactory.scala
  ui/client/common/ProcessUtils.ts
Labels: ui, docs, client
