Repository TouK/nussknacker, pull requests merged in 2022-07, with the labels that each got.

#3210 JMX reporter for other metrics
  build.sbt
  docs/Changelog.md
  engine/lite/kafka/runtime/src/universal/conf/jmx_prometheus.yaml
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/metrics/dropwizard/JmxMetricsReporter.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/metrics/dropwizard/LiteMetricRegistryFactory.scala
  nussknacker-dist/src/universal/conf/jmx_prometheus.yaml
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/metrics/RepositoryGauges.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/metrics/TimeMeasuring.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/SslBindingSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
Labels: docs

#3045 json2avro bump 0.2.11 -> 0.2.15 + fix default values wasn't converted to logical types
  build.sbt
  docs/Changelog.md
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/jsonpayload/JsonPayloadToAvroConverter.scala
  utils/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/jsonpayload/JsonPayloadToAvroConverterSpec.scala
Labels: docs

#3187 Edges in node
  docs/Changelog.md
  ui/client/actions/nk/calculateProcessAfterChange.ts
  ui/client/actions/nk/editNode.ts
  ui/client/actions/nk/index.ts
  ui/client/actions/nk/node.ts
  ui/client/actions/nk/process.js
  ui/client/actions/nk/processDefinitionData.ts
  ui/client/actions/nk/processUtils/saveProcess.ts
  ui/client/common/EdgeUtils.ts
  ui/client/components/graph/EspNode/link.ts
  ui/client/components/graph/Graph.js
  ui/client/components/graph/GraphPartialsInTS/EdgeUtils.ts
  ui/client/components/graph/GraphPartialsInTS/createPaper.ts
  ui/client/components/graph/GraphPartialsInTS/drawGraph.ts
  ui/client/components/graph/GraphUtils.ts
  ui/client/components/graph/GraphWrapped.tsx
  ui/client/components/graph/NodeUtils.ts
  ui/client/components/graph/graphTheme.styl
  ui/client/components/graph/joint-events.ts
  ui/client/components/graph/node-modal/BaseModalContent.tsx
  ui/client/components/graph/node-modal/EdgeFields.tsx
  ui/client/components/graph/node-modal/EdgeTypeSelect.tsx
  ui/client/components/graph/node-modal/EdgesDndComponent.tsx
  ui/client/components/graph/node-modal/NodeDetailsContent.tsx
  ui/client/components/graph/node-modal/NodeDetailsContent/NodeDetailsContentConnected.tsx
  ui/client/components/graph/node-modal/editors/EditableEditor.tsx
  ui/client/components/graph/node-modal/editors/Validators.ts
  ui/client/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  ui/client/components/graph/node-modal/node/NodeDetails.tsx
  ui/client/components/graph/node-modal/node/NodeGroupContent.tsx
  ui/client/components/graph/node-modal/subprocess-input-definition/FieldsRow.tsx
  ui/client/components/modals/CompareVersionsDialog.tsx
  ui/client/components/tips/Tips.tsx
  ui/client/components/toolbars/status/buttons/PropertiesButton.tsx
  ui/client/containers/Visualization.js
  ui/client/containers/VisualizationWrapped.tsx
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  should preserve condition on link move (switch) [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow editing switch edge expression [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow editing switch edge expression [Linux] #1.png
  ui/client/cypress/integration/process.ts
  ui/client/cypress/integration/switch.ts
  ui/client/http/HttpService.ts
  ui/client/reducers/graph/reducer.ts
  ui/client/reducers/graph/utils.ts
  ui/client/stylesheets/graph.styl
  ui/client/types/process.ts
  ui/client/windowManager/useWindows.ts
Labels: ui, docs, client

#3209 K8 engine: separate configmap for logback conf & modelConfig in secret
  docs/Changelog.md
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sUtils.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/deployment/DeploymentPreparer.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProviderTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/deployment/DeploymentPreparerTest.scala
Labels: docs

#3213 fix: redirect to archived scenarios after archive
  ui/client/components/toolbars/process/buttons/ArchiveButton.tsx
  ui/client/containers/Archive.tsx
  ui/client/containers/paths.ts
  ui/client/cypress/integration/process.ts
Labels: ui, client

#3215 lock apply button for empty id
  ui/client/components/graph/node-modal/node/NodeDetails.tsx
Labels: ui, client

#3224 Switch component renamed to Choice
  defaultModel/src/main/resources/defaultModelConfig.conf
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/img/filter_graph.png
  docs/scenarios_authoring/img/filter_graph_single.png
  docs/scenarios_authoring/img/filter_window.png
  docs/scenarios_authoring/img/switch_edge_condition.png
  docs/scenarios_authoring/img/switch_edge_default.png
  docs/scenarios_authoring/img/switch_graph.png
  docs/scenarios_authoring/img/switch_window.png
  ui/client/assets/json/nodeAttributes.json
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow editing choice edge expression [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow editing choice edge expression [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow editing switch edge expression [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow editing switch edge expression [Linux] #1.png
  ui/client/cypress/integration/components.ts
  ui/client/cypress/integration/switch.ts
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: ui, docs, client

#3223 Security fix - jwt & oidc token expiration time is always respected
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/BaseOAuth2Service.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/CachingOAuth2Service.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/GenericOidcService.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/JwtOAuth2Service.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2Configuration.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2ServiceFactory.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OpenIdConnectProfile.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/RelativeSecondsCodecs.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/UserMappingOAuth2Service.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/CachingOAuth2ServiceSpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/ExampleOAuth2ServiceFactory.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/JwtOAuth2ServiceSpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/JwtTokenAuthenticationSpec.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/cache/DefaultCache.scala
  utils/utils/src/test/scala/pl/touk/nussknacker/engine/util/cache/DefaultCacheTest.scala
Labels: docs

#3238 Common configMap with logback.xml for k8 runtime pods
  docs/Changelog.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerTest.scala
Labels: docs

#3236 Validate edges in switch
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/PartSubGraphCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compiledgraph/node.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/AdditionalVariableSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/GraphBuilder.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/canonicalgraph/ProcessNodesRewriter.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/EdgeType.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/canonicalgraph/CanonicalProcessTest.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/marshall/ProcessMarshallerSpec.scala
  ui/client/actions/nk/nodeDetails.ts
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow editing choice edge expression [Linux] #1.png
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/displayedgraph/displayablenode.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverter.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/util/PdfExporter.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentIdProviderSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverterSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/util/ProcessComparatorSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
Labels: ui, client

#3240 Create error topic for lite if doesn't exist
  docs/Changelog.md
  docs/installation_configuration_guide/ModelConfiguration.md
  docs/installation_configuration_guide/model/Lite.md
  docs/operations_guide/Common.md
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/signal/KafkaSignalStreamConnector.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/PartitionByKeyFlinkKafkaProducer.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumer.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSource.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumerSerializationSpec.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaSingleScenarioTaskRun.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaErrorTopicInitializerTest.scala
  utils/kafka-components-utils/src/it/scala/pl/touk/nussknacker/engine/kafka/validator/CachedTopicsExistenceValidatorTest.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/validator/TopicsExistenceValidator.scala
  utils/kafka-test-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaClient.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaUtils.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaErrorTopicInitializer.scala
Labels: docs

#3243 minor doc fixes
  docs/installation_configuration_guide/ModelConfiguration.md
  docs/operations_guide/Common.md
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/img/choice_graph.png
  docs/scenarios_authoring/img/choice_window.png
Labels: docs

#3245 Universal kafka components: handling both avro and json - inital work
  docs/Changelog.md
  engine/flink/components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkKafkaComponentProvider.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProvider.scala
  ui/client/cypress/integration/components.ts
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/UniversalKafkaSinkFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/source/UniversalKafkaSourceFactory.scala
Labels: ui, client

#3201 Add types that hold information about variable's value
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/CanBeSubclassDeterminer.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/SimpleObjectEncoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/supertype/CommonSupertypeFinder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypedFromInstanceTest.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultDecoderSpec.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultErrorMessagesSpec.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultSpec.scala
  docs/Changelog.md
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/sink/flink/KafkaAvroSinkImplFactorySpec.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/types/TypesInformationExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/CustomNodeValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionGenSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
  ui/client/cypress/integration/__image_snapshots__/Expression suggester  should display colorfull and sorted completions [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Expression suggester  should display colorfull and sorted completions [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Expression suggester  should display completions for second line (bugfix) [Linux] #0.png
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverterSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
Labels: ui, docs, client

#3250 Kafka 3.2 bump
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/timestampwatermark/TimestampWatermarkHandler.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/BlockingQueueSource.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/EmitWatermarkAfterEachElementCollectionSource.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/timestamp/BoundedOutOfOrderPreviousElementAssigner.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/timestamp/BoundedOutOfOrdernessPunctuatedExtractor.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/signal/KafkaSignalStreamConnector.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/PartitionByKeyFlinkKafkaProducer.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSource.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordDeserializationSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumerSerializationSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/sharedproducer/KafkaSharedProducerSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryMixin.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactorySpec.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/MiniClusterExecutionEnvironment.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/BaseStreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaSingleScenarioTaskRun.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/MethodDefinitionExtractor.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2Authenticator.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/serialization/KafkaAvroKeyValueDeserializationSchemaFactory.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordDeserializationSchemaFactory.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/SerializableConsumerRecord.scala
  utils/kafka-test-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaClient.scala
  utils/kafka-test-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaZookeeperServer.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaUtils.scala
Labels: docs

#3255 Fix MetricsSpec
  docs/MigrationGuide.md
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/MetricsSpec.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/functional/TestReporter.scala
Labels: docs

#3232 fixed fragment node id prefix
  ui/client/actions/actionTypes.ts
  ui/client/actions/nk/node.ts
  ui/client/common/EdgeUtils.ts
  ui/client/components/graph/Graph.js
  ui/client/components/graph/ProcessGraph.tsx
  ui/client/components/graph/SubProcessGraph.tsx
  ui/client/components/graph/node-modal/node/SubprocessContent.tsx
  ui/client/reducers/graph/reducer.ts
  ui/client/reducers/graph/utils.ts
Labels: ui, client

#3237 submodules start script
  ui/submodules/package.json
Labels: ui, submodules

#3263 Batch periodic scenarios carry processing type to distinguish scenarios with different categories
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/management/periodic/README.md
  engine/flink/management/periodic/src/main/resources/db/batch_periodic/migration/hsql/V1_108__add_processing_type.sql
  engine/flink/management/periodic/src/main/resources/db/batch_periodic/migration/postgres/V1_108__add_processing_type.sql
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicBatchConfig.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesTable.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/HsqlProcessRepository.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: docs

#3269 CachingOAuth2Service fix: populate cache fully synchronously
  docs/Changelog.md
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/CachingOAuth2Service.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/CachingOAuth2ServiceSpec.scala
Labels: docs

#3265 Make `RuntimeSchemadata` generic
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/avro-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/LogicalTypesAvroSerializer.java
  engine/flink/avro-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/LogicalTypesAvroSerializerSnapshot.java
  engine/flink/avro-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/LogicalTypesSchemaIdAvroSerializer.java
  engine/flink/avro-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/LogicalTypesSchemaIdAvroSerializerSnapshot.java
  engine/flink/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/FlinkConfluentUtils.scala
  engine/flink/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/flink/FlinkKafkaAvroSink.scala
  engine/flink/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/flink/FlinkKafkaAvroSinkImplFactory.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroSerializationSpec.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaAvroSinkImplFactory.scala
  utils/avro-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/NkSerializableAvroSchema.java
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/AvroSchemaDeterminer.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schema/RecordDeserializer.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/BasedOnVersionAvroSchemaDeterminer.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaRegistryError.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaRegistryProvider.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaWithMetadata.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/ConfluentSchemaRegistryProvider.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/CachedConfluentSchemaRegistryClient.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/ConfluentSchemaRegistryClient.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/JsonPayloadToJsonFormatterFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/AbstractConfluentKafkaAvroDeserializer.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroDeserializationSchemaFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroDeserializer.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/jsonpayload/ConfluentJsonPayloadDeserializerFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/serialization/KafkaAvroDeserializationSchemaFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/serialization/KafkaAvroKeyValueDeserializationSchemaFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/serialization/KafkaAvroKeyValueSerializationSchemaFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/serialization/KafkaAvroSerializationSchemaFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkFactoryWithEditor.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkImplFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/UniversalKafkaSinkFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/source/KafkaAvroSourceFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/source/SpecificRecordKafkaAvroSourceFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/source/UniversalKafkaSourceFactory.scala
Labels: docs

#3278 hide validation errors of invisible fields
  ui/client/components/graph/node-modal/MapVariable.tsx
  ui/client/components/graph/node-modal/NodeDetailsContent.tsx
  ui/client/components/graph/node-modal/NodeDetailsContent/helpers.ts
  ui/client/components/graph/node-modal/SubprocessOutputDefinition.tsx
  ui/client/components/graph/node-modal/Variable.tsx
  ui/client/components/graph/node-modal/node/NodeDetails.tsx
Labels: ui, client

#3279 tweak creator panel filter
  ui/client/common/ProcessDefinitionUtils.ts
  ui/client/components/toolbars/creator/Tool.tsx
  ui/client/components/toolbars/creator/ToolBox.tsx
  ui/client/components/toolbars/creator/ToolboxComponentGroup.tsx
  ui/client/cypress/integration/__image_snapshots__/Creator toolbar  should allow filtering [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Creator toolbar  should allow filtering [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  initially clean  should import JSON and save [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  initially clean  should import JSON and save [Linux] #1.png
  ui/client/stylesheets/toolBox.styl
Labels: ui, client

#3268 preserve typing info after failed validation
  ui/client/reducers/graph/reducer.ts
Labels: ui, client

#3270 Added Null literal
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/CanBeSubclassDeterminer.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/supertype/CommonSupertypeFinder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/supertype/NumberTypesPromotionStrategy.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypedFromInstanceTest.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultDecoderSpec.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultErrorMessagesSpec.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultSpec.scala
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/typer/TypeMethodReference.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/types/TypesInformationExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#3288 SchemaRegistryProvider refactoring
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/AvroNodesClassloadingSpec.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroIntegrationSpec.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroNamespacedSpec.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroTestProcessConfigCreator.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaJsonPayloadIntegrationSpec.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/helpers/KafkaAvroSpecMixin.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroSeDeSpecMixin.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/sink/flink/KafkaAvroSinkExceptionHandlingSpec.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/sink/flink/KafkaAvroSinkFactoryWithEditorIntegrationTest.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/source/flink/DelayedKafkaAvroIntegrationSpec.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/source/flink/KafkaJsonPayloadSourceFactorySpec.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/source/flink/TestFromFileSpec.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/source/flink/TopicSelectionStrategySpec.scala
  engine/flink/components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkKafkaComponentProvider.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/MockFlinkKafkaComponentProvider.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProvider.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/KafkaAvroBaseTransformer.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/BaseSchemaRegistryProvider.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaBasedMessagesSerdeProvider.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/ConfluentAvroSchemaBasedMessagesSerdeProvider.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkFactoryWithEditor.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/UniversalKafkaSinkFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/source/KafkaAvroSourceFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/source/SpecificRecordKafkaAvroSourceFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/source/UniversalKafkaSourceFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/source/delayed/DelayedKafkaAvroSourceFactory.scala
Labels: docs

#3253 Separate validation from deployment
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/test/resources/application.conf
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerTest.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/management/RequestResponseDeploymentManager.scala
  ui/client/components/modals/DeployProcessDialog.tsx
  ui/client/containers/admin/CancelIcon.tsx
  ui/client/containers/admin/DeployIcon.tsx
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActorSpec.scala
Labels: ui, docs, client

#3296 License info doc - first version
  docs/LicenseInfo.md
Labels: docs

#3302 Kafka 3.2 -> 2.8 downgrade
  build.sbt
  docs/Changelog.md
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordDeserializationSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryMixin.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactorySpec.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/serialization/KafkaSchemaBasedKeyValueDeserializationSchemaFactory.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordDeserializationSchemaFactory.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/SerializableConsumerRecord.scala
  utils/kafka-test-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaClient.scala
Labels: docs

#3306 Docs fixes: choice image urls fixed
  docs/scenarios_authoring/BasicNodes.md
Labels: docs

#3305 Update DesignerTipsAndTricks.md
  docs/scenarios_authoring/DesignerTipsAndTricks.md
Labels: docs

#3299 Introduce serialization factory for Universal Kafka components
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroSerializationSpec.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/ConfluentSchemaBasedSerdeProvider.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroSerializationSchemaFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/jsonpayload/ConfluentJsonPayloadSerializerFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/universal/ConfluentUniversalKafkaDeserializerFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/universal/ConfluentUniversalKafkaSerializationSchemaFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/serialization/KafkaSchemaBasedKeyValueSerializationSchemaFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/serialization/KafkaSchemaBasedSerializationSchemaFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkFactoryWithEditor.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/UniversalKafkaSinkFactory.scala
Labels: docs

#3313 Typedclass creation refactor
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypedFromInstanceTest.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultSpec.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/SwaggerTyped.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/TableDefinition.scala
  docs/MigrationGuide.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/aggregates.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatesSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryDefinitionExtractorSpec.scala
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/CollectTransformer.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TypedClassDisplaySpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
  ui/client/cypress/integration/__image_snapshots__/Expression suggester  should display completions for second line (bugfix) [Linux] #0.png
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/InputMeta.scala
Labels: ui, docs, client

#3303 changed svg filters/masks
  ui/submodules/packages/components/src/common/nuIcon.tsx
Labels: ui, submodules

#3309 pass schemaId to kafka headers when serializing data in kafka sinks
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/helpers/KafkaWithSchemaRegistryOperations.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroSerializationSpec.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/BasedOnVersionAvroSchemaDeterminer.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/ConfluentAvroToJsonFormatterFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentKafkaAvroSerializationSchemaFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/jsonpayload/ConfluentJsonPayloadSerializerFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/universal/ConfluentUniversalKafkaDeserializerFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/universal/ConfluentUniversalKafkaSerde.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/universal/ConfluentUniversalKafkaSerializationSchemaFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/serialization/KafkaSchemaBasedKeyValueSerializationSchemaFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/serialization/KafkaSchemaBasedSerializationSchemaFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkFactoryWithEditor.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/UniversalKafkaSinkFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/source/UniversalKafkaSourceFactory.scala
Labels: docs

#3316 introduce UniversalToJsonFormatterFactory
  docs/Changelog.md
  docs/MigrationGuide.md
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/AvroSchemaDeterminer.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/BasedOnVersionAvroSchemaDeterminer.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/ConfluentSchemaBasedSerdeProvider.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/ConfluentAvroMessageFormatter.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/ConfluentAvroToJsonFormatterFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/UniversalMessageFormatter.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/UniversalMessageReader.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/UniversalToJsonFormatterFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/source/UniversalKafkaSourceFactory.scala
Labels: docs

#3322 Extract pattern matching over schema to one place
  docs/Changelog.md
  docs/MigrationGuide.md
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/ConfluentSchemaBasedSerdeProvider.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/UniversalSchemaSupport.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/UniversalMessageFormatter.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/UniversalMessageReader.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/formatter/UniversalToJsonFormatterFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/AbstractConfluentKafkaAvroDeserializer.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/universal/ConfluentUniversalKafkaDeserializerFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/universal/ConfluentUniversalKafkaSerializationSchemaFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/source/UniversalKafkaSourceFactory.scala
Labels: docs

#3324 Choice fe fixes
  ui/client/common/enumUtils.ts
  ui/client/components/graph/node-modal/EdgeTypeSelect.tsx
  ui/client/components/graph/node-modal/EdgesDndComponent.tsx
  ui/client/components/graph/node-modal/NodeDetailsContent.tsx
  ui/client/types/edge.ts
Labels: ui, client

#3218 recreate scenarios table
  ui/client/cypress/integration/__image_snapshots__/Processes list (new table)  should have test process on list [Linux] #0.png
  ui/client/cypress/integration/processes.ts
  ui/submodules/packages/components/src/common/defaultTheme.tsx
  ui/submodules/packages/components/src/components/tableWrapper.tsx
  ui/submodules/packages/components/src/scenarios/filters/filtersPart.tsx
  ui/submodules/packages/components/src/scenarios/list/item.tsx
  ui/submodules/packages/components/src/scenarios/list/tablePart.tsx
  ui/submodules/packages/components/src/scenarios/scenariosView.tsx
  ui/submodules/packages/components/src/scenarios/useScenariosQuery.tsx
Labels: ui, client, submodules

#3071 Improvements: Avro Sink Validation
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  e2e-tests/test/data/scenario.json
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/AvroSchemaSpelExpressionSpec.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroIntegrationSpec.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/encode/BestEffortAvroEncoderSpec.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/sink/flink/KafkaAvroSinkImplFactorySpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/GenericItSpec.scala
  engine/lite/components/kafka/src/test/scala/pl/touk/nussknacker/engine/lite/components/AvroGen.scala
  engine/lite/components/kafka/src/test/scala/pl/touk/nussknacker/engine/lite/components/AvroSchemaCreator.scala
  engine/lite/components/kafka/src/test/scala/pl/touk/nussknacker/engine/lite/components/AvroTestData.scala
  engine/lite/components/kafka/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaAvroSchemaFunctionalTest.scala
  engine/lite/components/kafka/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteralSpELWithAvroImplicits.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/requestresponse/RequestResponseDeploymentStrategy.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeTestMixin.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/encode/AvroSchemaOutputValidator.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/encode/AvroSchemaOutputValidatorPrinter.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/encode/BestEffortAvroEncoder.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/encode/OutputValidator.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/encode/ValidationMode.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/ConfluentUtils.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/KafkaAvroSinkFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/sink/UniversalKafkaSinkFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/typed/AvroSchemaTypeDefinitionExtractor.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/output/OutputValidatorErrorsConverter.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/output/OutputValidatorErrorsMessageFormatter.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/LiteralSpEL.scala
Labels: docs

#3319 Remove unnecessary padding in dropdown
  ui/client/stylesheets/select.styl
Labels: ui, client

#3330 deserialize using latest schema for topic if no headers or magic-byte/schemaId/payload
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/ConfluentUniversalKafkaDeserializerTest.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/ConfluentUtils.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/universal/ConfluentUniversalKafkaDeserializerFactory.scala
Labels: docs

#3328 Schema type aware serialization of `NkSerializableParsedSchema`
  docs/Changelog.md
  docs/MigrationGuide.md
  utils/avro-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/NkSerializableParsedSchema.java
Labels: docs

#3289 Notification on deployment finish
  .github/workflows/pr.yml
  docs/Changelog.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  ui/client/actions/ActionsUtils.ts
  ui/client/actions/actionTypes.ts
  ui/client/actions/nk/notifications.ts
  ui/client/actions/reduxTypes.ts
  ui/client/bootstrap.tsx
  ui/client/containers/Notifications.js
  ui/client/containers/Notifications.tsx
  ui/client/cypress/integration/__image_snapshots__/Process  initially clean  should import JSON and save [Linux] #1.png
  ui/client/cypress/integration/fragment.ts
  ui/client/cypress/integration/process.ts
  ui/client/http/HttpService.ts
  ui/client/package.json
  ui/client/reducers/index.ts
  ui/client/reducers/notifications.ts
  ui/client/reducers/selectors/other.ts
  ui/server/src/main/resources/defaultUiConfig.conf
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NotificationResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeListenerLoader.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/notifications/Notification.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/notifications/NotificationService.scala
  ui/server/src/test/resources/ui.conf
  ui/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
Labels: ui, docs, client

#3264 Add generic helper functions
  components-api/src/main/java/pl/touk/nussknacker/engine/api/generics/GenericType.java
  components-api/src/main/java/pl/touk/nussknacker/engine/api/generics/TypingFunction.java
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/generics/ExpressionParseError.scala
  docs/Changelog.md
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/AvroSchemaSpelExpressionSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/CustomNodeProcessSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryDefinitionExtractorSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryIntegrationSpec.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/global/GenericHelperFunction.scala
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/expression/ExpressionParser.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/TypeDefinitionSet.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/TypeInfos.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/dict/SpelDictTyper.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionParseError.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/typer/TypeMethodReference.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/types/EspTypeUtils.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/types/TypesInformationExtractor.scala
  interpreter/src/test/java/pl/touk/nussknacker/engine/types/JavaSampleDocumentedClass.java
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/CustomNodeValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/TypeInfosSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionGenSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/types/EspTypeUtilsSpec.scala
  ui/client/cypress/integration/__image_snapshots__/Expression suggester  should display completions for second line (bugfix) [Linux] #0.png
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ServiceRoutesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
  utils/helpers-utils/src/test/scala/pl/touk/nussknacker/engine/util/functions/BaseSpelSpec.scala
Labels: ui, docs, client

#3339 fixed double "true" in filter
  ui/client/components/graph/node-modal/EdgeFields.tsx
Labels: ui, client

#3334 Improvements: Allow to import file with different id
  docs/Changelog.md
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/canonicalgraph/CanonicalProcess.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/FetchingProcessRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesExportImportResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActorSpec.scala
Labels: docs

#3341 Fix status refresh on fail
  ui/client/components/modals/DeployProcessDialog.tsx
  ui/client/containers/Notifications.tsx
  ui/server/src/main/scala/pl/touk/nussknacker/ui/notifications/Notification.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/notifications/NotificationService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
Labels: ui, client

#3342 Fix notification refresh
  ui/client/containers/Notifications.tsx
Labels: ui, client

#3343 remove metadata (name) change when importing test data
  ui/client/cypress/support/process.ts
Labels: ui, client
