Repository TouK/nussknacker, pull requests merged in 2022-02, with the labels that each got.

#2819 Changelog - release dates added
  docs/Changelog.md
Labels: docs

#2816 Intro.md - Flink/Lite distinction and fixes
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/Intro.md
Labels: docs

#2820 Lite components docs
  docs/developers_guide/Components.md
  docs/developers_guide/StreamingLiteComponents.md
Labels: docs

#2821 Docs - config for Streaming-Lite
  docs/components/OpenAPI.md
  docs/components/Sql.md
  docs/developers_guide/Basics.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/ExtraComponents.md
  docs/installation_configuration_guide/Installation.md
  docs/installation_configuration_guide/ModelConfiguration.md
  docs/installation_configuration_guide/README.md
  docs/installation_configuration_guide/model/Flink.md
  docs/installation_configuration_guide/model/Lite.md
Labels: docs

#2822 Flink only added; link fixed
  docs/scenarios_authoring/AggregatesInTimeWindows.md
Labels: docs

#2823 fixed i18next calls
  ui/client/http/HttpService.ts
Labels: ui, client

#2824 Add missing split -> for-each migration
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/migrations/ProcessSplitterMigration.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformer.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformerSpec.scala
Labels: docs

#2826 Add missing split -> for-each migration (#2824)
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/migrations/ProcessSplitterMigration.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformer.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformerSpec.scala
Labels: docs

#2827 Fix flink update entry in changelog
  docs/Changelog.md
Labels: docs

#2838 Straming lite fixes in documentation regards to flink-only label
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/BasicNodes.md
Labels: docs

#2830 Introduce more specific values for RunMode and rename it to ComponentUseCase
  api/src/main/scala/pl/touk/nussknacker/engine/api/Service.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/ComponentUseCase.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/RunMode.scala
  api/src/main/scala/pl/touk/nussknacker/engine/api/process/package.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseEnricherInvoker.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseEnricherInvokerWithCache.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/BaseDatabaseQueryEnricherTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/LiteRuntimeTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkCustomNodeContext.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompilerData.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/VerificationFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/GenericTransformationSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/ProcessSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/helpers/ProcessTestHelpers.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkStreamingProcessMainSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/CustomValidatedService.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseEngine.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/deployment/DeploymentService.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseConfigCreator.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/TestRunner.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/sample.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessObjectFactory.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compiledgraph/service.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/CompilerLazyParameter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessObjectDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ServiceInvoker.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/TestInfoProvider.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestDataPreparer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/util/service/query/ServiceQuery.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ServiceInvokerTest.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelConversionServiceOverrideSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/util/service/query/ServiceQuerySpec.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/service/EagerServiceWithStaticParameters.scala
Labels: docs

#2842 Test dropping late events by tumbling aggregate
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
Labels: docs

#2844 Components tab enable
  docs/Changelog.md
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply filters from query [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display usages [Linux] #0.png
  ui/server/src/main/resources/defaultUiConfig.conf
Labels: ui, docs, client

#2846 Component tab backport
  README.md
  docs/Changelog.md
  docs/MigrationGuide.md
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply filters from query [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display usages [Linux] #0.png
  ui/server/src/main/resources/defaultUiConfig.conf
Labels: ui, docs, client

#2851 Add docs for nussknacker instance name label
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
Labels: docs

#2857 release date in changelog
  docs/Changelog.md
Labels: docs

#2866 Minor docs cleanup and parameter rename.
  docs/installation_configuration_guide/model/Flink.md
  engine/flink/api/src/main/scala/pl/touk/nussknacker/engine/flink/api/exception/FlinkEspExceptionConsumer.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/exception/FlinkExceptionHandlerSpec.scala
  engine/flink/kafka-util/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumer.scala
  engine/flink/test-util/src/main/scala/pl/touk/nussknacker/engine/flink/test/RecordingExceptionConsumer.scala
  engine/flink/util/src/main/scala/pl/touk/nussknacker/engine/flink/util/exception/DefaultExceptionConsumers.scala
Labels: docs

#2869 Fix broken links
  docs/developers_guide/Basics.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/Installation.md
  docs/installation_configuration_guide/README.md
Labels: docs

#2864 Fix count computation for lite (#2863)
  docs/installation_configuration_guide/DesignerConfiguration.md
  ui/processReports/src/it/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxCountsReporterSpec.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/CountsReporter.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxConfig.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxCountsReporter.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxGenerator.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/SimpleInfluxClient.scala
  ui/processReports/src/test/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxGeneratorSpec.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessReportResources.scala
  utils/httpUtils/src/main/scala/pl/touk/nussknacker/engine/sttp/SttpJson.scala
Labels: docs

#2874 Allow to configure a WithExceptionExtractor (with default impl)
  docs/installation_configuration_guide/model/Flink.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/exception/FlinkExceptionHandler.scala
  engine/flink/util/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.util.exception.WithExceptionExtractor
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaSingleScenarioTaskRun.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/exception/DefaultWithExceptionExtractor.scala
  utils/util/src/main/scala/pl/touk/nussknacker/engine/util/exception/WithExceptionExtractor.scala
Labels: docs

#2879 Influxdb optional. In case of missing INFLUXDB_URL, reporting of metrics and counts mechanism will be disabled
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/metrics/dropwizard/influxdb/InfluxDbHttpReporter.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/metrics/dropwizard/influxdb/LiteEngineInfluxDbReporter.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/metrics/dropwizard/influxdb/LiteEngineInfluxDbReporterTest.scala
  ui/client/package.json
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxConfig.scala
  ui/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/SimpleInfluxClient.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
Labels: ui, client

#2880 Docs fixes: some occurrences of "process" replaced by "scenario"
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/operations_guide/Common.md
  docs/operations_guide/Flink.md
Labels: docs

#2884 Script updating dockerhub docs
  dockerhub/nussknacker-lite-kafka-runtime/README.md
  dockerhub/nussknacker-lite-kafka-runtime/short.txt
  dockerhub/nussknacker-request-response-app/README.md
  dockerhub/nussknacker-request-response-app/short.txt
  dockerhub/nussknacker/README.md
  dockerhub/nussknacker/short.txt
  dockerhub/pulishReadme.sh
  engine/lite/kafka/runtime/src/universal/bin/nu-kafka-engine-entrypoint.sh
  engine/lite/kafka/runtime/src/universal/conf/application.conf
  release.sh
Labels: docs

#2870 better handled relative module paths
  ui/client/containers/CustomTab.tsx
  ui/submodules/.babelrc
  ui/submodules/configs/webpack/common.ts
  ui/submodules/configs/webpack/withModuleFederationPlugins.ts
  ui/submodules/node_modules/.keep
  ui/submodules/package-lock.json
  ui/submodules/package.json
  ui/submodules/packages/components/i18next-parser.config.js
  ui/submodules/packages/components/node_modules/.keep
  ui/submodules/packages/components/package.json
  ui/submodules/packages/components/src/settings/i18n.ts
  ui/submodules/packages/components/translations/.keep
  ui/submodules/packages/components/tsconfig.json
  ui/submodules/packages/components/webpack.config.ts
Labels: ui, client, submodules

#2883 Ability to change DEFAULT_SCENARIO_TYPE + some conf cleanups + stream…
  dockerhub/nussknacker-request-response-app/short.txt
  dockerhub/nussknacker/README.md
  dockerhub/pulishReadme.sh
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/Installation.md
  e2e-tests/docker-compose.yml
  e2e-tests/test/helpers.bash
  nussknacker-dist/src/universal/conf/application.conf
Labels: docs

#2886 Add explicit serialVersionUID to TimeSerializers that are serialized …
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/avro-util/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/kryo/SchemaIdBasedAvroGenericRecordSerializer.scala
  engine/flink/executor/src/main/java/pl/touk/nussknacker/engine/process/util/TimeSerializers.java
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/util/Serializers.scala
Labels: docs
