Repository TouK/nussknacker, pull requests merged in 2022-06, with the labels that each got.

#3113 moved services from admin tab, removed admin tab
  docs/Changelog.md
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/containers/AdminPage.js
  ui/client/containers/NussknackerApp.tsx
  ui/client/containers/Services.js
  ui/client/containers/admin/BaseAdminTab.js
  ui/client/containers/paths.ts
  ui/client/test/admin/Services-test.js
Labels: ui, docs, client

#3110 Fix/node validation message
  ui/client/components/graph/node-modal/BaseModalContent.tsx
  ui/client/components/graph/node-modal/NodeErrors.js
  ui/client/components/graph/node-modal/NodeErrors.tsx
  ui/client/components/graph/node-modal/node/selectors.tsx
Labels: ui, client

#3114 add flush method to SharedKafkaProducer
  docs/Changelog.md
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/sharedproducer/KafkaSharedProducer.scala
Labels: docs

#3105 fix: node windows error flickering
  ui/buildClient.sh
  ui/client/components/graph/SubProcessGraph.tsx
  ui/client/components/graph/node-modal/NodeAdditionalInfoBox.tsx
  ui/client/components/graph/node-modal/node/NodeDetails.tsx
  ui/client/components/graph/node-modal/node/SubprocessContent.tsx
  ui/client/components/graph/node-modal/node/selectors.tsx
  ui/client/containers/Visualization.js
  ui/client/containers/theme.tsx
  ui/client/http/HttpService.ts
  ui/client/package-lock.json
  ui/client/package.json
  ui/client/reducers/selectors/graph.ts
  ui/client/webpack.config.js
Labels: ui, client

#3109 emoji in filter links
  ui/client/components/graph/NodeUtils.ts
  ui/client/types/edge.ts
Labels: ui, client

#3139 Merge release/1.4 into staging
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/avro/AvroBenchmark.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/kryo/AvroSerializersRegistrar.scala
  engine/flink/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/kryo/SchemaIdBasedAvroGenericRecordSerializer.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/TestSchemaRegistryClientFactory.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/kryo/SchemaIdBasedAvroGenericRecordSerializerSpec.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/sharedproducer/KafkaSharedProducer.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/MiniClusterExecutionEnvironment.scala
  engine/flink/tests/src/test/resources/state-compatibility/2022-06-03_827c565d4b4f1116da392700020ebce21f5250cc/_metadata
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/FlinkWithKafkaSuite.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/GenericItSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/StateCompatibilityTest.scala
  tests/src/test/resources/state-compatibility/2022-06-02_827c565d4b4f1116da392700020ebce21f5250cc/_metadata
  ui/buildClient.sh
  ui/client/actions/nk/node.ts
  ui/client/components/graph/GraphPartialsInTS/createPaper.ts
  ui/client/components/graph/SubProcessGraph.tsx
  ui/client/components/graph/node-modal/BaseModalContent.tsx
  ui/client/components/graph/node-modal/NodeAdditionalInfoBox.tsx
  ui/client/components/graph/node-modal/NodeErrors.js
  ui/client/components/graph/node-modal/NodeErrors.tsx
  ui/client/components/graph/node-modal/node/NodeDetails.tsx
  ui/client/components/graph/node-modal/node/SubprocessContent.tsx
  ui/client/components/graph/node-modal/node/selectors.tsx
  ui/client/containers/Visualization.js
  ui/client/containers/theme.tsx
  ui/client/cypress/fixtures/filter.json
  ui/client/cypress/fixtures/switch.json
  ui/client/cypress/fixtures/variables.json
  ui/client/cypress/integration/__image_snapshots__/Expression suggester  should display colorfull and sorted completions [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Expression suggester  should display colorfull and sorted completions [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  should preserve condition on link move (filter) [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  should preserve condition on link move (filter) [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  should preserve condition on link move (switch) [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  should preserve condition on link move (switch) [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  should preserve condition on link move (switch) [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Process  should preserve condition on link move [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  should preserve condition on link move [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  should preserve condition on link move [Linux] #2.png
  ui/client/cypress/integration/components.ts
  ui/client/cypress/integration/process.ts
  ui/client/cypress/integration/suggester.ts
  ui/client/cypress/support/process.ts
  ui/client/http/HttpService.ts
  ui/client/package-lock.json
  ui/client/package.json
  ui/client/reducers/selectors/graph.ts
  ui/client/types/edge.ts
  ui/client/webpack.config.js
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaRegistryClientFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/CachedConfluentSchemaRegistryClient.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/CachedConfluentSchemaRegistryClientFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/ConfluentSchemaRegistryClientFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/MockConfluentSchemaRegistryClientFactory.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
Labels: ui, docs, client

#3099 Added checking for input nodes named key in UnionMemo.
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ContextTransformation.scala
  docs/Changelog.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformer.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformerSpec.scala
Labels: docs

#3118 added placeholder with example comment for deployment comment
  ui/client/actions/nk/assignSettings.ts
  ui/client/components/CommentInput.tsx
  ui/client/components/modals/DeployProcessDialog.tsx
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
Labels: ui, client

#3146 fix: admin tab styles
  ui/client/containers/AdminPage.js
  ui/client/containers/admin/Services.js
Labels: ui, client

#3153 Set version to 1.4.0
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#3136 Improvements: Lite Kafka testkit
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/encode/BestEffortAvroEncoderSpec.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/schema/FullNameNotCompatible.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/schema/FullNameV1.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/schema/FullNameV2.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/schema/PaymentDate.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/schema/PaymentV2.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProvider.scala
  engine/lite/components/kafka/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaAvroFunctionalTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeDockerAvroTest.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/AvroUtils.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/ConfluentUtils.scala
  utils/components-testkit/src/main/scala/pl/touk/nussknacker/engine/util/test/TestScenarioRunner.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/KafkaTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteKafkaTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/RequestResponseTestScenarioRunner.scala
Labels: docs

#3151 cypress tests update
  ui/client/cypress/integration/__image_snapshots__/Process  should preserve condition on link move (filter) [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  should preserve condition on link move (switch) [Linux] #1.png
  ui/client/cypress/integration/process.ts
Labels: ui, client

#3159 Merge release/1.4 into staging
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#3134 Eager conter initialization, to fix initial counts problem
  docs/Changelog.md
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/VerificationFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerTest.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/MetricsSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/ProcessSpec.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/MetricsTest.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/split/NodesCollector.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/exception/ExceptionRateMeter.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/metrics/common/EndCountingListener.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/metrics/common/NodeCountingListener.scala
Labels: docs

#3144 prepare for switch form with edges
  ui/client/common/TestResultUtils.js
  ui/client/common/TestResultUtils.ts
  ui/client/components/graph/GraphUtils.ts
  ui/client/components/graph/NodeUtils.ts
  ui/client/components/graph/node-modal/AdditionalProperty.tsx
  ui/client/components/graph/node-modal/BranchParameters.js
  ui/client/components/graph/node-modal/NodeDetailsContent.tsx
  ui/client/components/graph/node-modal/NodeDetailsContent/NodeDetailsContentConnected.tsx
  ui/client/components/graph/node-modal/edge/EdgeDetailsContent.tsx
  ui/client/components/graph/node-modal/editors/EditableEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/BoolEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/Cron/CronEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/DateTimeEditor/DatepickerEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/DualParameterEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/Duration/DurationEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/Duration/PeriodEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/Duration/TimeRangeEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/Editor.ts
  ui/client/components/graph/node-modal/editors/expression/FixedValuesEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/JsonEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/RawEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/StringEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/TextareaEditor.tsx
  ui/client/components/graph/node-modal/node/NodeGroupContent.tsx
  ui/client/components/graph/node-modal/subprocess-input-definition/AddButton.tsx
  ui/client/components/graph/node-modal/subprocess-input-definition/FieldsRow.tsx
  ui/client/components/graph/node-modal/subprocess-input-definition/NodeRowFields.tsx
  ui/client/components/modals/CompareVersionsDialog.tsx
  ui/client/reducers/graph/types.ts
  ui/client/types/edge.ts
Labels: ui, client

#3163 Download attachment with correct API
  ui/client/components/ProcessAttachments.tsx
  ui/client/http/HttpService.ts
Labels: ui, client

#3167 another flaky test fix
  ui/client/cypress/integration/components.ts
Labels: ui, client

#3173 Fix typo in designer config example
  docs/installation_configuration_guide/DesignerConfiguration.md
Labels: docs

#3075 Add full outer join
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/ParameterNaming.scala
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/img/fullOuterJoin.png
  docs/scenarios_authoring/img/singleSideJoin.png
  docs/scenarios_authoring/img/singleSideJoinScenario.png
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/function/ProcessFunctionInterceptor.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkBaseComponentProvider.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/aggregates.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/FullOuterJoinAggregatorFunction.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/FullOuterJoinTransformer.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatesSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/FullOuterJoinTransformerSpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/GenericNodeTransformationValidator.scala
Labels: docs

#3179 Added changelog entry for full outer join
  docs/Changelog.md
Labels: docs

#3180 fix changelog
  docs/Changelog.md
Labels: docs

#3182 move ExpressionSuggest to ts
  ui/client/actions/nk/processDefinitionData.ts
  ui/client/components/graph/node-modal/AdditionalProperty.tsx
  ui/client/components/graph/node-modal/Variable.tsx
  ui/client/components/graph/node-modal/editors/expression/ExpressionField.tsx
  ui/client/components/graph/node-modal/editors/expression/ExpressionSuggest.js
  ui/client/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  ui/client/components/graph/node-modal/editors/expression/ExpressionSuggester.js
  ui/client/components/graph/node-modal/editors/expression/RawEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/SqlEditor.tsx
  ui/client/components/graph/node-modal/editors/map/Map.tsx
  ui/client/components/graph/node-modal/editors/map/MapValue.tsx
  ui/client/components/modals/CompareVersionsDialog.tsx
  ui/client/types/process.ts
Labels: ui, client

#3178 Improvements: more complex test scenario runner result
  build.sbt
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenApiScenarioIntegrationTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base/src/it/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformerSpec.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompilerData.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerTest.scala
  engine/lite/components/kafka/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaAvroFunctionalTest.scala
  utils/components-testkit/src/main/scala/pl/touk/nussknacker/engine/util/test/TestScenarioRunner.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteKafkaTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/RequestResponseTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/SynchronousLiteInterpreter.scala
  utils/lite-components-testkit/src/test/scala/pl/touk/nussknacker/engine/lite/util/test/LiteTestScenarioRunnerSpec.scala
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/EitherValuesDetailedMessage.scala
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/ValidatedValuesDetailedMessage.scala
Labels: docs

#3191 fixed bug showing wrong row value after removing a row in MapVariable
  ui/client/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
Labels: ui, client

#3192 Improvements: db enrichers measuring
  build.sbt
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseEnricherInvoker.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseEnricherInvokerWithCache.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  docs/Changelog.md
Labels: docs

#3198 Fix: request response metrics
  .run/NussknackerApp.run.xml
  build.sbt
  docs/Changelog.md
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/DeploymentService.scala
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/ManagementRoute.scala
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/ProcessRoute.scala
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHandler.scala
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpApp.scala
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/DeploymentServiceSpec.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/deployment/ProcessInterpreters.scala
Labels: docs

#3199 Fix/duration editor
  ui/client/components/graph/node-modal/editors/EditableEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/DualParameterEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/Duration/DurationEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/Duration/PeriodEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/Duration/TimeRangeEditor.tsx
  ui/client/components/graph/node-modal/editors/expression/Duration/TimeRangeSection.tsx
  ui/client/components/modals/CustomActionDialog.tsx
  ui/client/cypress/integration/__image_snapshots__/Node window  should display periodic source [Linux] #0.png
  ui/client/cypress/integration/nodeWindow.ts
Labels: ui, client

#3149 fix: escape characters for spel inside sql
  docs/Changelog.md
  ui/client/brace/mode/sql.js
  ui/client/components/graph/node-modal/editors/expression/TemplatesUtils.ts
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display colorfull sql code [Linux] #0.png
  ui/client/test/TemplatesUtils-test.tsx
  ui/client/test/editorFormatter-test.tsx
Labels: ui, docs, client

#3208 Fix set maxAge
  docs/Changelog.md
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2AuthenticationResources.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/ExampleOAuth2ServiceFactory.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/ExampleOAuth2ServiceFactorySpec.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/cache/Cache.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/cache/DefaultCache.scala
  utils/utils/src/test/scala/pl/touk/nussknacker/engine/util/cache/DefaultCacheTest.scala
Labels: docs

#3212 fix undefined parameters
  ui/client/common/ProcessUtils.ts
  ui/client/components/graph/node-modal/NodeDetailsContent.tsx
  ui/client/components/graph/node-modal/NodeDetailsContent/helpers.ts
  ui/client/types/node.ts
Labels: ui, client
