Repository TouK/nussknacker, pull requests merged in 2022-11, with the labels that each got.

#3642 Fix: do not show extra scrollbar on scenario screen when panel to large
  designer/client/stylesheets/visualization.styl
Labels: ui, client

#3672 Fix/for each transformer context id for element 1.6
  docs/Changelog.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformer.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformerSpec.scala
Labels: docs

#3674 fix backwards compatibility when validating scenarios with legacy fragments
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/GraphBuilder.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/subprocess.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/canonicalgraph/CanonicalProcessTest.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/graph/SubprocessRefSerializationSpec.scala
Labels: docs

#3678 [1.6.1] Revert "fix backwards compatibility when validating scenarios with le…
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/GraphBuilder.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/subprocess.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/canonicalgraph/CanonicalProcessTest.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/graph/SubprocessRefSerializationSpec.scala
Labels: docs

#3679 [FIX 1.6.1] fix validation of multiple same fragments in a row in legacy scenarios
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
Labels: docs

#3680 Cleanup legacy API in `SubprocessRef::outputVariableNames`
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/GraphBuilder.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/subprocess.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/canonicalgraph/CanonicalProcessTest.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/graph/SubprocessRefSerializationSpec.scala
Labels: docs

#3681 [1.6.1] fix validation of multiple same fragments in a row in legacy scenarios
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
Labels: docs

#3668 TestScenarioRunner.requestResponseBased() api enhancements: returning scenario compilation errors as a ValidatedNel
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/LiteRequestResponseFunctionalTest.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/RequestResponseTestScenarioRunner.scala
Labels: docs

#3685 Preview/fix swagger date time format
  docs/Changelog.md
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractorTest.scala
Labels: docs

#3682 Extract generic BaseSharedKafkaProducer and align sendToKafka methods with Producer.send methods.
  docs/Changelog.md
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/sharedproducer/KafkaSharedProducer.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/sharedproducer/KafkaSharedProducerSpec.scala
Labels: docs

#3692 OpenAPI requests/response logging and collection
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnricher.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/http/backend/LoggingAndCollectingSttpBackend.scala
  components/openapi/src/test/resources/logback.xml
  designer/client/common/TestResultUtils.ts
  designer/client/components/graph/node-modal/tests/TestResults.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/integration/OpenAPI.md
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/test/RequestResponseTestMainSpec.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/testmode/TestProcess.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestServiceInvocationCollector.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/LoggingListener.scala
Labels: ui, docs, client

#3691 1.6 fixes port 2
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  nussknacker-dist/src/universal/conf/application.conf
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractorTest.scala
Labels: docs

#3695 Fix delaying JSON records by field in universal source
  docs/Changelog.md
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/TypedJsonTimestampFieldAssigner.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/GenericRecordTimestampFieldAssigner.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/UniversalTimestampFieldAssigner.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schema/LongFieldV1.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schema/NullableLongFieldV1.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/DelayedKafkaAvroIntegrationSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/DelayedUniversalKafkaSourceAvroPayloadIntegrationSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/DelayedUniversalKafkaSourceIntegrationMixinSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/DelayedUniversalKafkaSourceJsonPayloadIntegrationSpec.scala
Labels: docs

#3701 Change: SPeL TypedMap Get Accessor
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalSourceJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/JsonTestData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/internal/propertyAccessors.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#3699 Fix: handling null on json schema
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/HandleResponse.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/parser/SwaggerParserTest.scala
  docs/Changelog.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalSourceJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalSourceJsonSchemaLiteTest.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoder.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonDeserializer.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToNuStruct.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractorTest.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonDeserializerSpec.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToNuStructTest.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/JsonSchemaOutputValidator.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/encode/BestEffortJsonSchemaEncoderTest.scala
Labels: docs

#3704 [FIX] Compare nodes doesn't crash
  designer/client/components/graph/node-modal/NodeTypeDetailsContent.tsx
Labels: ui, client

#3706 [FIX] Compare nodes doesn't crash
  designer/client/components/graph/node-modal/NodeTypeDetailsContent.tsx
Labels: ui, client

#3709 support for typing Maps using 'aditionalProperties' in JsonSchema
  docs/Changelog.md
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoder.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToNuStruct.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractorTest.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToNuStructTest.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/encode/BestEffortJsonSchemaEncoderTest.scala
Labels: docs

#3707 Full OpenAPI apiKey support
  components/openapi/src/it/resources/service-security.yml
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/SecurityTest.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/SwaggerSecurity.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/SecuritiesParser.scala
  docs/Changelog.md
Labels: docs

#3717 Fixup MarkdownAdditionalInfo wasn't renamed on frontend after MarkdownNodeAdditionalInfo->MarkdownAdditionalInfo migration
  designer/client/components/graph/node-modal/NodeAdditionalInfoBox.tsx
  designer/client/cypress/integration/__image_snapshots__/Process  initially clean  should open properites from tips panel [Linux] #0.png
  designer/client/http/HttpService.ts
Labels: ui, client

#3712 * Fixup to MigrationGuide.md - renaming SPI configuration file for AdditionalInfoProvider
  docs/MigrationGuide.md
Labels: docs

#3721 Signals fixup - lack of import in js (The Broken Nut Screen)
  designer/client/containers/Signals.js
Labels: ui, client

#3723 Signals fixup - lack of import in js
  designer/client/containers/Signals.js
Labels: ui, client

#3727 Improvements: Change RR Sink validator from JsonSchemaSubclassDeterminer to JsonSchemaOutputValidator
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/validation/ValidationMode.scala
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/DefaultModelMigrations.scala
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/migrations/RequestResponseSinkValidationModeMigration.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/migrations/RequestResponseSinkValidationModeMigrationTest.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/LiteRequestResponseFunctionalTest.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sinks/JsonRequestResponseSinkFactory.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/ScenarioRouteSpec.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSchemaBuilder.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSchemaSubclassDeterminer.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidator.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidatorPrinter.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaUniversalComponentTransformer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/ParsedSchemaSupport.scala
Labels: docs

#3722 Sink validaiton of JsonSchema with addtionalProperties
  docs/Changelog.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafaUniversaJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/JsonTestData.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sinks/JsonRequestResponseSinkFactory.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidator.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidatorPrinter.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidatorTest.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidator.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/ParsedSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/UniversalSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/KafkaAvroSinkFactory.scala
Labels: docs

#3729 improve error msg for type validation errors in Sinks
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/UniversalKafkaSinkValidationSpec.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafaUniversaJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalAvroSchemaFunctionalTest.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/output/OutputValidatorErrorsConverter.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/output/OutputValidatorErrorsMessageFormatter.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidator.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidator.scala
Labels: docs

#3730 Fix: Trimming additional fields at JsonToNuStruct when additionalProperties is enabled
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequest.scala
  docs/Changelog.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafaUniversaJsonFunctionalTest.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/LiteRequestResponseFunctionalTest.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonDeserializer.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToNuStruct.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractorTest.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToNuStructTest.scala
Labels: docs

#3733 [FIX] consistent properties/name validation (name validation errors no longer blink in scenario properties modal)
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  docs/Changelog.md
Labels: docs

#3719 Minor OpenAPI improvements: documentation, status codes
  components/openapi/src/it/resources/logback-test.xml
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenApiScenarioIntegrationTest.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/OpenAPIComponentProvider.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/OpenAPIsConfig.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/discovery/SwaggerOpenApiDefinitionDiscovery.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnricher.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnrichers.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/http/SttpUtils.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/http/SwaggerSttpService.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/package.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/ParseError.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/ParseToSwaggerService.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/ParseToSwaggerServices.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/SwaggerParser.scala
  components/openapi/src/test/resources/swagger/custom-codes.yml
  components/openapi/src/test/resources/swagger/incorrect-service.yml
  components/openapi/src/test/resources/swagger/multiple-operations.yml
  components/openapi/src/test/resources/swagger/service-security.yml
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/BaseOpenAPITest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/CodeHandlingTest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/SecurityTest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/extractor/ParameterExtractorTest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequestTest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/parser/SwaggerParserTest.scala
  docs/Changelog.md
Labels: docs

#3738 Kafka upgrade/cleanup
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/kafka-components-utils/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/metrics/KafkaMetricWrapper.java
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordDeserializationSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryMixin.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactorySpec.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalCrossSourceLiteTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalSourceJsonSchemaLiteTest.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordDeserializationSchemaFactory.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/SerializableConsumerRecord.scala
  utils/kafka-test-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaClient.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/serialization/KafkaSchemaBasedKeyValueDeserializationSchemaFactory.scala
Labels: docs

#3741 Cleanup changelog before 1.7
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#3742 Improvements: Json Schema more strict encoding - matching to schema validate
  docs/Changelog.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/JsonTestData.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/LiteRequestResponseFunctionalTest.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sinks/ResponseRequestSinkImplFactory.scala
  engine/lite/request-response/components-utils/src/main/scala/pl/touk/nussknacker/engine/requestresponse/utils/encode/SchemaResponseEncoder.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoder.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonDeserializer.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToNuStruct.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/util/json/JsonSchemaImplicits.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/util/json/JsonSchemaUtils.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoderTest.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonDeserializerSpec.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToNuStructTest.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/util/json/JsonSchemaUtilsTest.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/ParsedSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/encode/BestEffortJsonSchemaEncoderTest.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/encode/BestEffortJsonSchemaWithAvroEncoderTest.scala
Labels: docs

#3752 Do not specify migrations which did not change process in process mig…
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/CommentEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigrator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DbProcessActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigratorSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
  docs/Changelog.md
Labels: docs
