Repository TouK/nussknacker, pull requests merged in 2022-04, with the labels that each got.

#2984 Fix docs & comment
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/ModelConfiguration.md
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/test/Waiting30SecsCheck.scala
Labels: docs

#2989 update graph export data
  ui/client/components/graph/Graph.js
Labels: ui, client

#2995 Testing components docs
  docs/developers_guide/Components.md
  docs/developers_guide/FlinkComponents.md
  docs/developers_guide/StreamingLiteComponents.md
  docs/developers_guide/Testing.md
Labels: docs

#2998 [Security] Configuring multiple roleClaims for OIDC
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  security/src/it/scala/pl/touk/nussknacker/ui/security/oauth2/GenericOidcServiceSpec.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OpenIdConnectProfile.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcAuthenticationConfiguration.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcService.scala
  security/src/test/resources/oidc-sample1.json
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/OpenIdConnectUserInfoSpec.scala
Labels: docs

#2996 Flink job registration optimization - do not prepare interpretation function for ending node
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/test/resources/META-INF/services/pl.touk.nussknacker.engine.flink.api.exception.FlinkEspExceptionConsumerProvider
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/CustomNodeProcessSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/helpers/LifecycleRecordingExceptionConsumer.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/helpers/ProcessTestHelpers.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/RecordingExceptionConsumer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
Labels: docs

#3010 Feature: Docker Java Debug Option
  docs/Changelog.md
  docs/installation_configuration_guide/Installation.md
  engine/lite/kafka/runtime/src/universal/bin/nu-kafka-engine-entrypoint.sh
  engine/lite/request-response/app/src/universal/bin/nussknacker-request-response-entrypoint.sh
  nussknacker-dist/src/universal/bin/nussknacker-entrypoint.sh
Labels: docs

#3011 fixed error when hiding categories column
  ui/submodules/packages/components/src/components/cellRenderers/categoriesCell.tsx
Labels: ui, submodules

#3013 fixed regex error in safari
  ui/submodules/package-lock.json
  ui/submodules/packages/components/package.json
  ui/submodules/packages/components/src/common/scenarioHref.tsx
Labels: ui, submodules

#3014 Fix services tab
  ui/client/components/QueriedStateTable.js
  ui/client/containers/admin/Services.js
Labels: ui, client

#3016 fixed links to nu in submodules
  ui/client/cypress/integration/components.ts
  ui/submodules/packages/components/src/common/scenarioHref.tsx
Labels: ui, client, submodules

#2983 Improvements: Extract Security Api
  docs/Changelog.md
  docs/MigrationGuide.md
  extensions-api/src/main/scala/pl/touk/nussknacker/security/Permission.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/AuthenticationConfiguration.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/GlobalPermission.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/LoggedUser.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/RulesSet.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/api/LoggedUserTest.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/api/RulesSetSpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/DefaultOAuth2ServiceFactorySpec.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/AuthorizeProcess.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/AuthorizeProcessDirectives.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ServiceRoutes.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/UserResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessCategoryService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ServiceRoutesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockFetchingProcessRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestPermissions.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
Labels: docs

#3017 Optimize components search
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by name with multiple words [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should apply filters from query [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should display usages [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Components list  should filter usages [Linux] #0.png
  ui/client/cypress/integration/components.ts
  ui/submodules/packages/components/src/common/filters/filtersContext.tsx
  ui/submodules/packages/components/src/common/forms/textFieldWithClear.tsx
  ui/submodules/packages/components/src/common/highlight.tsx
  ui/submodules/packages/components/src/components/cellRenderers/categoriesCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/componentGroupNameCell.tsx
  ui/submodules/packages/components/src/components/cellRenderers/nameCell.tsx
  ui/submodules/packages/components/src/components/componentTable.tsx
  ui/submodules/packages/components/src/components/filterRules.tsx
  ui/submodules/packages/components/src/components/filters/filters.tsx
  ui/submodules/packages/components/src/components/highlighted.tsx
  ui/submodules/packages/components/src/components/listWithFilters.tsx
  ui/submodules/packages/components/src/components/tableWrapper.tsx
  ui/submodules/packages/components/src/components/usages/componentView.tsx
  ui/submodules/packages/components/src/components/usages/filters.tsx
  ui/submodules/packages/components/src/components/usages/nodesCell.tsx
  ui/submodules/packages/components/src/components/usages/scenarioCell.tsx
  ui/submodules/packages/components/src/components/usages/usagesTable.tsx
  ui/submodules/packages/components/src/components/utils/index.ts
  ui/submodules/packages/components/src/components/utils/truncateWrapper.tsx
  ui/submodules/packages/components/src/scenarios/filters/filterRules.tsx
  ui/submodules/packages/components/src/scenarios/filters/quickFilter.tsx
  ui/submodules/packages/components/src/scenarios/list/author.tsx
  ui/submodules/packages/components/src/scenarios/list/item.tsx
  ui/submodules/packages/components/src/scenarios/list/itemsList.tsx
  ui/submodules/packages/components/src/scenarios/scenariosView.tsx
Labels: ui, client, submodules

#3028 Force synchronous interpretation for scenario parts that does not contain any services (enrichers, processors)
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/process/package.scala
  docs/Changelog.md
  docs/installation_configuration_guide/model/Flink.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/NkGlobalParameters.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/AsyncInterpretationDeterminer.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/FlinkStreamingProcessRegistrarOperatorUidSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/ProcessSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/helpers/ProcessTestHelpers.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/registrar/FlinkStreamGraphSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/registrar/FlinkStreamingProcessRegistrarOperatorUidSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/registrar/FlinkStreamingProcessRegistrarSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/registrar/InterpretationFunctionFlinkGraphSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkStreamingProcessMainSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypeInformationDetectionSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/StatefulSampleProcess.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
Labels: docs

#3030 Merge final fixes from 1.3
  build.sbt
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenApiScenarioIntegrationTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base/src/it/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformerSpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestComponentsHolder.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/AdditionalVariableSpec.scala
  ui/client/components/QueriedStateTable.js
  ui/client/containers/admin/Services.js
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  utils/components-testkit/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  utils/components-testkit/src/main/scala/pl/touk/nussknacker/engine/util/test/ModelWithTestComponents.scala
  utils/components-testkit/src/main/scala/pl/touk/nussknacker/engine/util/test/TestScenarioRunner.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/RequestResponseTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/SynchronousLiteInterpreter.scala
  utils/lite-components-testkit/src/test/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  utils/lite-components-testkit/src/test/scala/pl/touk/nussknacker/engine/lite/util/test/LiteTestScenarioRunnerSpec.scala
Labels: ui, docs, client

#3006 fixes to 'Restarting' status
  docs/Changelog.md
  engine/flink/management/src/main/resources/web/static/assets/flink/states/deploy-restart-animated.svg
  engine/flink/management/src/main/resources/web/static/assets/flink/states/deploy-restart.svg
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkProcessStateDefinitionManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStateStatus.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedProcessStateDefinitionManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedStateStatus.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/streaming/StreamingDeploymentStrategy.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerRestartTest.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentStatusMapper.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sProcessStateDefinitionManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sStateStatus.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProviderTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentStatusMapperSpec.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleProcessStateDefinitionManager.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleStateStatus.scala
  ui/server/src/main/resources/web/static/assets/states/deploy-restart-animated.svg
  ui/server/src/main/resources/web/static/assets/states/deploy-restart.svg
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActorSpec.scala
Labels: docs

#3034 fixed sort in new scenarios
  ui/submodules/packages/components/src/scenarios/filters/optionsStack.tsx
  ui/submodules/packages/components/src/scenarios/filters/scenariosFiltersModel.ts
  ui/submodules/packages/components/src/scenarios/filters/simpleOptionsStack.tsx
  ui/submodules/packages/components/src/scenarios/filters/sortOptionsStack.tsx
  ui/submodules/packages/components/src/scenarios/list/itemsList.tsx
Labels: ui, submodules

#3035 Update Changelog.md
  docs/Changelog.md
Labels: docs

#3031 Store attachments in DB instead of on disk
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  ui/client/actions/nk/assignSettings.ts
  ui/client/http/HttpService.ts
  ui/server/src/main/resources/db/migration/hsql/V1_034__AttachmentsInDb.sql
  ui/server/src/main/resources/db/migration/postgres/V1_034__AttachmentsInDb.sql
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessActivityResource.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessAttachmentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesExportResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/AttachmentsConfig.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/FeatureTogglesConfig.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/package.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/AttachmentEntityFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/db/migration/SlickMigration.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DbProcessActivityRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/util/PdfExporter.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessActivityResourceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessAttachmentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/util/PdfExporterSpec.scala
Labels: ui, docs, client

#3029 SchemaRegistry caching config from config instead of hardcoded
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/avro/AvroBenchmark.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/ModelConfiguration.md
  engine/flink/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/kryo/AvroSerializersRegistrar.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/AvroNodesClassloadingSpec.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroTestProcessConfigCreator.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/TestSchemaRegistryClientFactory.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/source/flink/DelayedKafkaAvroIntegrationSpec.scala
  engine/flink/components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkKafkaComponentProvider.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/MockFlinkKafkaComponentProvider.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProvider.scala
  nussknacker-dist/src/universal/conf/docker-logback.xml
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/ConfluentSchemaRegistryProvider.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/CachedConfluentSchemaRegistryClientFactory.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/SchemaRegistryCacheConfig.scala
Labels: docs
