Repository TouK/nussknacker, pull requests merged in 2022-05, with the labels that each got.

#3047 Remove deprecated Admin panel tabs: Search Components, Unused Components.
  docs/Changelog.md
  ui/client/containers/AdminPage.js
  ui/client/containers/admin/SearchComponents.js
  ui/client/containers/admin/UnusedComponents.js
  ui/client/http/HttpService.ts
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/AppResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinder.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinderTest.scala
Labels: ui, docs, client

#3044 fix docs after moving attachments to db
  docs/operations_guide/Flink.md
Labels: docs

#3040 Fix missing metrics for end nodes
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/CustomNodeProcessSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/MetricsSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/registrar/InterpretationFunctionFlinkGraphSpec.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/MetricsTest.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/sample.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/ProcessListener.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/PartSubGraphCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compiledgraph/node.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/NodeComponentInfoExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/ResultsCollectingListener.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/LoggingListener.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/metrics/common/EndCountingListener.scala
Labels: docs

#3038 fix(components): better public path in links
  ui/submodules/packages/components/src/common/parentNavigationProvider.tsx
  ui/submodules/packages/components/src/common/scenarioHref.tsx
Labels: ui, submodules

#3052 Code split
  ui/client/common/VisualizationUrl.ts
  ui/client/components/AddProcessDialog.tsx
  ui/client/components/AddProcessForm.tsx
  ui/client/components/FrameDialog.tsx
  ui/client/components/MenuBar.tsx
  ui/client/components/common/DTPicker.css
  ui/client/components/common/DTPicker.tsx
  ui/client/components/graph/node-modal/edge/EdgeDetails.tsx
  ui/client/components/graph/node-modal/editors/expression/DateTimeEditor/DatepickerEditor.tsx
  ui/client/components/graph/node-modal/node/NodeDetails.tsx
  ui/client/components/modals/CalculateCounts/Picker.tsx
  ui/client/components/modals/CalculateCounts/index.ts
  ui/client/components/modals/CompareVersionsDialog.tsx
  ui/client/components/modals/DeployProcessDialog.tsx
  ui/client/components/modals/GenericConfirmDialog.tsx
  ui/client/components/modals/SaveProcessDialog.tsx
  ui/client/containers/CustomTab.tsx
  ui/client/containers/NussknackerApp.tsx
  ui/client/containers/Page.tsx
  ui/client/containers/ProcessTabs.tsx
  ui/client/containers/ScenariosTab.tsx
  ui/client/containers/Visualization.js
  ui/client/containers/darkTheme.tsx
  ui/client/cypress/integration/__image_snapshots__/Fragment  should open properties [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should display some node details in modal [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should display some node details in modal [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should display some node details in modal [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Sql editor  should display colorfull sql code [Linux] #1.png
  ui/client/cypress/integration/fragment.ts
  ui/client/cypress/integration/process.ts
  ui/client/cypress/plugins/index.js
  ui/client/http/HttpService.ts
  ui/client/package-lock.json
  ui/client/package.json
  ui/client/stylesheets/spinner.styl
  ui/client/webpack.config.js
  ui/client/windowManager/ContentGetter.tsx
  ui/client/windowManager/useWindows.ts
Labels: ui, client

#3049 Add collector node for lite engine
  docs/Changelog.md
  docs/scenarios_authoring/BasicNodes.md
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/CollectorTransformer.scala
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/ForEachTransformer.scala
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteBaseComponentProvider.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseConfigCreator.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/test/RequestResponseTestMainSpec.scala
Labels: docs

#3065 OIDC: Passing jwt audience in request to /authorize
  docs/Changelog.md
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcAuthenticationConfiguration.scala
  ui/client/containers/Auth/strategies/OAuth2Strategy.ts
  ui/submodules/node_modules/.keep
Labels: ui, docs, client

#3066 Fix for OAuth2 authentication: Don't redirect when 'invalid_request' …
  docs/Changelog.md
  ui/client/containers/Auth/strategies/OAuth2Strategy.ts
Labels: ui, docs, client

#3067 Expose jmx prometheus metrics in nussknacker-lite-runtime
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/deployment/DeploymentPreparer.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProviderTest.scala
Labels: docs

#3068 OIDC: More precise error messages during JWT validation
  docs/Changelog.md
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/JwtOAuth2Service.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/JwtValidator.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2Authenticator.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcAuthenticationConfiguration.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcService.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oidc/OidcServiceSpec.scala
Labels: docs

#3069 Jwt symmetric encoding
  docs/Changelog.md
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/JwtOAuth2Service.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/JwtValidator.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2Authenticator.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/jwt/JwtValidator.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/jwt/ParsedJwtToken.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/jwt/RawJwtToken.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcService.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oidc/OidcServiceSpec.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/SensitiveDataMasker.scala
  utils/utils-internal/src/test/scala/pl/touk/nussknacker/engine/util/SensitiveDataMaskerTest.scala
Labels: docs

#3076 Add componentUseCase parameter to EagerService implementation
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnricher.scala
  docs/MigrationGuide.md
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/component/SampleComponentProvider.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/DynamicService.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/UnionReturnObjectService.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/service/EagerServiceWithStaticParameters.scala
Labels: docs

#3073 Preview/prometheus metrics docs
  .github/workflows/pr.yml
  docs/Changelog.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/Installation.md
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/deployment/DeploymentPreparer.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProviderTest.scala
  engine/lite/kafka/runtime/src/universal/bin/nu-kafka-engine-entrypoint.sh
  engine/lite/kafka/runtime/src/universal/bin/run.sh
  nussknacker-dist/src/universal/bin/nussknacker-entrypoint.sh
  nussknacker-dist/src/universal/bin/run.sh
Labels: docs

#3056 fix: truncate all elements (empty cell)
  ui/submodules/configs/webpack/dev.ts
  ui/submodules/package-lock.json
  ui/submodules/packages/components/package.json
  ui/submodules/packages/components/src/components/utils/truncateWrapper.tsx
Labels: ui, submodules

#3074 Scenarios fixes after feedback
  ui/client/components/Process/types.ts
  ui/submodules/package-lock.json
  ui/submodules/packages/components/package.json
  ui/submodules/packages/components/src/common/filters/filtersContext.tsx
  ui/submodules/packages/components/src/common/forms/inputWithClear.tsx
  ui/submodules/packages/components/src/common/forms/textFieldWithClear.tsx
  ui/submodules/packages/components/src/common/nuIcon.tsx
  ui/submodules/packages/components/src/components/filterRules.tsx
  ui/submodules/packages/components/src/components/usages/filters.tsx
  ui/submodules/packages/components/src/scenarios/filters/activeFilters.tsx
  ui/submodules/packages/components/src/scenarios/filters/clearFiltersButton.tsx
  ui/submodules/packages/components/src/scenarios/filters/filterListItem.tsx
  ui/submodules/packages/components/src/scenarios/filters/filterMenu.tsx
  ui/submodules/packages/components/src/scenarios/filters/filterRules.tsx
  ui/submodules/packages/components/src/scenarios/filters/getUserSetting.tsx
  ui/submodules/packages/components/src/scenarios/filters/optionsStack.tsx
  ui/submodules/packages/components/src/scenarios/filters/quickFilter.tsx
  ui/submodules/packages/components/src/scenarios/filters/sortOptionsStack.tsx
  ui/submodules/packages/components/src/scenarios/list/author.tsx
  ui/submodules/packages/components/src/scenarios/list/copyTooltip.tsx
  ui/submodules/packages/components/src/scenarios/list/item.tsx
  ui/submodules/packages/components/src/scenarios/list/itemsList.tsx
  ui/submodules/packages/components/src/scenarios/list/stats.tsx
Labels: ui, client, submodules

#3080 Rename collector to collect, move it to request-response components only
  build.sbt
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/img/collect.png
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteBaseComponentProvider.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/CollectTransformer.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/RequestResponseComponentProvider.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseConfigCreator.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
Labels: docs

#3077 Change scenarios tab to use new UI by default
  docs/Changelog.md
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/cypress/integration/__image_snapshots__/Components list  should display component [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  initially clean  should import JSON and save [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  initially clean  should import JSON and save [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should allow pan view [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select only fully covered (to right) [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select only fully covered (to right) [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select partially covered (to left) [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should select partially covered (to left) [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #2.png
  ui/client/cypress/integration/__image_snapshots__/Process  mouse drag  should switch modes, append and inverse select with shift [Linux] #3.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag component and drop on edge [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow drag node [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should allow editing switch edge expression [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Process  with data  should have counts button and modal [Linux] #0.png
  ui/server/src/main/resources/defaultUiConfig.conf
Labels: ui, docs, client

#3081 fix: paste button
  ui/client/components/toolbars/edit/buttons/PasteButton.tsx
  ui/client/components/withFocus.tsx
Labels: ui, client

#3083 Default scenarios path
  ui/client/common/VisualizationUrl.ts
  ui/client/components/MenuBar.tsx
  ui/client/components/toolbars/process/buttons/UnArchiveButton.tsx
  ui/client/containers/AdminPage.js
  ui/client/containers/Archive.tsx
  ui/client/containers/CustomTab.tsx
  ui/client/containers/CustomTabPage.tsx
  ui/client/containers/Metrics.tsx
  ui/client/containers/NussknackerApp.tsx
  ui/client/containers/Processes.tsx
  ui/client/containers/ScenariosTab.tsx
  ui/client/containers/Signals.js
  ui/client/containers/SubProcesses.tsx
  ui/client/containers/paths.ts
  ui/client/cypress/integration/__image_snapshots__/Processes list  should have test process on list [Linux] #0.png
  ui/client/cypress/integration/processes.ts
  ui/client/reducers/selectors/settings.ts
  ui/submodules/packages/components/src/scenarios/filters/clearFiltersButton.tsx
Labels: ui, client, submodules

#3084 Update for-each, add tests for collect, update docs
  docs/Changelog.md
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/img/collect.png
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/ForEachTransformer.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/RequestResponseComponentProvider.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
Labels: docs

#3087 temporarly disable screenshot matching in broken cypress test
  ui/client/cypress/integration/processes.ts
Labels: ui, client

#2992 show comment adding rules when deploying
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProviderTest.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/client/actions/nk/assignSettings.ts
  ui/client/components/CommentContent.tsx
  ui/client/components/ValidateDeployComment.ts
  ui/client/components/modals/DeployProcessDialog.tsx
  ui/client/cypress/integration/process.ts
  ui/client/cypress/support/process.ts
  ui/client/http/HttpService.ts
  ui/client/test/CommentContent-test.tsx
  ui/client/test/ValidateDeployComment-test.js
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/Comment.scala
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeEvent.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessActivityResource.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/FeatureTogglesConfig.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/CommentEntityFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigrator.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/RemoteEnvironment.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DbProcessActivityRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DeploymentComment.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/SystemComment.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/UserComment.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/DeploymentCommentSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessAttachmentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesChangeListenerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessPosting.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActorSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigratorSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
Labels: ui, docs, client

#3089 test: completions test fixed
  ui/client/cypress/fixtures/variables.json
  ui/client/cypress/integration/__image_snapshots__/Expression suggester  should display colorfull and sorted completions [Linux] #0.png
  ui/client/cypress/integration/__image_snapshots__/Expression suggester  should display colorfull and sorted completions [Linux] #1.png
  ui/client/cypress/integration/suggester.ts
Labels: ui, client
