Repository TouK/nussknacker, pull requests merged in 2022-10, with the labels that each got.

#3580 openapi enrichers - support for relative service urls and url without…
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnricher.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/package.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/ParseToSwaggerService.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnricherCreatorTest.scala
  docs/Changelog.md
Labels: docs

#3582 Move slug validation to DeploymentManager
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/lite/components/base/src/test/scala/pl/touk/nussknacker/engine/lite/components/UnionTest.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerConfig.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProvider.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/LiteScenarioValidator.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerKafkaTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerReqRespTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/RequestResponseScenarioValidatorTest.scala
  ui/client/actions/nk/nodeDetails.ts
  ui/client/components/graph/node-modal/IdField.tsx
  ui/client/components/graph/node-modal/properties.tsx
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  ui/server/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeData.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverterSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
Labels: ui, docs, client

#3538 RR docs
  docs/developers_guide/Components.md
  docs/developers_guide/LiteComponents.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/Installation.md
  docs/installation_configuration_guide/model/Lite.md
  docs/integration/MachineLearning.md
  docs/integration/OpenAPI.md
  docs/integration/RequestResponse.mdx
  docs/integration/Sql.md
  docs/operations_guide/Flink.md
  docs/operations_guide/Lite.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/DesignerTipsAndTricks.md
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/Fragments.md
  docs/scenarios_authoring/Intro.md
  docs/scenarios_authoring/RRDataSourcesAndSinks.md
  docs/scenarios_authoring/Spel.md
  docs/scenarios_authoring/TestingAndDebugging.md
  docs/scenarios_authoring/img/collect.png
  docs/scenarios_authoring/img/rrProperties.png
  docs/scenarios_authoring/img/rrSink.png
  docs/scenarios_authoring/img/rrSource.png
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/RequestResponseComponentProvider.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProvider.scala
Labels: docs

#3524 Change to eclipse-temurin base image due to openjdk deprecation
  build.sbt
  docs/Changelog.md
Labels: docs

#3594 Update installation docs base image note
  docs/installation_configuration_guide/Installation.md
Labels: docs

#3597 Added one liner how to run embedded engine
  README.md
Labels: docs

#3598 usage statistics reports config
  .run/NussknackerApp.run.xml
  designer/client/package.json
  designer/runServer.sh
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/UsageStatisticsReportsSettings.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/FeatureTogglesConfig.scala
  designer/server/src/test/resources/designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/SettingsResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/UsageStatisticsUrlTest.scala
  docs/Changelog.md
  docs/installation_configuration_guide/DesignerConfiguration.md
Labels: ui, docs, client

#3606 Remove nussknacker-request-response-app
  .github/workflows/pr.yml
  build.sbt
  dockerhub/pulishReadme.sh
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/DeploymentService.scala
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/ManagementRoute.scala
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/ProcessRoute.scala
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHandler.scala
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpApp.scala
  engine/lite/request-response/app/src/main/scala/pl/touk/nussknacker/engine/requestresponse/http/logging/RequestResponseLogger.scala
  engine/lite/request-response/app/src/test/resources/application.conf
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/DeploymentServiceSpec.scala
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpAppSpec.scala
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpJsonSchemaSpec.scala
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpOpenApi.scala
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpTest.scala
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/TestConfigCreator.scala
  engine/lite/request-response/app/src/universal/bin/nussknacker-request-response-entrypoint.sh
  engine/lite/request-response/app/src/universal/conf/application.conf
  engine/lite/request-response/app/src/universal/conf/docker-logback.xml
  engine/lite/request-response/runtime/src/it/scala/pl/touk/nussknacker/engine/requestresponse/management/RequestResponseDeploymentManagerSpec.scala
  engine/lite/request-response/runtime/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.DeploymentManagerProvider
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/management/RequestResponseDeploymentManager.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/management/RequestResponseProcessClient.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/management/MultiInstanceRequestResponseClientSpec.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: docs

#3605 AdditionalProperties validation (also in JSON)
  designer/client/components/graph/node-modal/AdditionalProperty.tsx
  designer/client/components/graph/node-modal/editors/expression/JsonEditor.tsx
  engine/lite/request-response/components-api/src/main/scala/pl/touk/nussknacker/engine/requestresponse/api/openapi/RequestResponseOpenApiSettings.scala
Labels: ui, client

#3603 Reporting usage statistics by FE
  .run/NussknackerApp.run.xml
  designer/client/README.md
  designer/client/components/toolbarSettings/useToolbarConfig.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/UsageStatisticsReportsSettings.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/WebResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/FeatureTogglesConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/UsageStatisticsReportsConfig.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/SettingsResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/UsageStatisticsUrlTest.scala
  designer/submodules/README.md
  e2e-tests/docker-compose.yml
Labels: ui, docs, client, submodules

#3613 turn off reporting usage statistics in automated test setups
  .run/NussknackerApp.run.xml
  designer/client/package.json
Labels: ui, client

#3599 Engines/processing mode docs simplification
  dockerhub/nussknacker-lite-kafka-runtime/short.txt
  dockerhub/nussknacker-lite-runtime-app/README.md
  dockerhub/nussknacker-lite-runtime-app/short.txt
  dockerhub/nussknacker/README.md
  docs/developers_guide/Basics.md
  docs/developers_guide/Components.md
  docs/developers_guide/FlinkComponents.md
  docs/developers_guide/LiteComponents.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/Installation.md
  docs/installation_configuration_guide/ModelConfiguration.md
  docs/integration/KafkaIntegration.md
  docs/operations_guide/Lite.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/Intro.md
Labels: docs

#3614 Scenarios filters update
  designer/client/cypress/integration/components.ts
  designer/submodules/packages/components/src/common/filters/filtersContext.tsx
  designer/submodules/packages/components/src/scenarios/filters/filtersPart.tsx
  designer/submodules/packages/components/src/scenarios/filters/otherOptionsStack.tsx
Labels: ui, client, submodules

#3617 Release 1.6 fixes port
  .run/NussknackerApp.run.xml
  README.md
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/extractor/JsonToObjectTest.scala
  designer/client/README.md
  designer/client/components/graph/node-modal/AdditionalProperty.tsx
  designer/client/components/graph/node-modal/editors/expression/JsonEditor.tsx
  designer/client/components/toolbarSettings/useToolbarConfig.tsx
  designer/client/package.json
  designer/runServer.sh
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/WebResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/FeatureTogglesConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/UsageStatisticsReportsConfig.scala
  designer/server/src/test/resources/designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/SettingsResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/UsageStatisticsUrlTest.scala
  designer/submodules/README.md
  dockerhub/nussknacker-lite-kafka-runtime/short.txt
  dockerhub/nussknacker-lite-runtime-app/README.md
  dockerhub/nussknacker-lite-runtime-app/short.txt
  dockerhub/nussknacker/README.md
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/developers_guide/Basics.md
  docs/developers_guide/Components.md
  docs/developers_guide/FlinkComponents.md
  docs/developers_guide/LiteComponents.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/Installation.md
  docs/installation_configuration_guide/ModelConfiguration.md
  docs/integration/KafkaIntegration.md
  docs/operations_guide/Lite.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/Intro.md
  e2e-tests/docker-compose.yml
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/CollectionSource.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordDeserializationSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryDefinitionExtractorSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryMixin.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/TestFromFileSpec.scala
  engine/lite/request-response/components-api/src/main/scala/pl/touk/nussknacker/engine/requestresponse/api/openapi/RequestResponseOpenApiSettings.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToObject.scala
Labels: ui, docs, client, submodules

#3619 Fix reporting KafkaMetrics by legacy Flink producer -> overwrite Kafk…
  build.sbt
  docs/Changelog.md
  engine/flink/kafka-components-utils/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/metrics/KafkaMetricWrapper.java
Labels: docs

#3626 Fix for: using Typed.fromDetailedType with scala type aliases cause exception
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultSpec.scala
  docs/Changelog.md
Labels: docs

#3620 fixed exact deps
  designer/client/.npmrc
  designer/client/package-lock.json
  designer/client/package.json
  designer/submodules/.npmrc
  designer/submodules/package-lock.json
  designer/submodules/package.json
  designer/submodules/packages/components/package.json
Labels: ui, client, submodules

#3625 Change to eclipse-temurin base image due to openjdk deprecation
  build.sbt
  docs/Changelog.md
  docs/installation_configuration_guide/Installation.md
Labels: docs

#3628 Docs minor fixes
  docs/Changelog.md
  docs/developers_guide/LiteComponents.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/ModelConfiguration.md
  docs/integration/RequestResponse.mdx
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/RRDataSourcesAndSinks.md
Labels: docs

#3633 Release 1.6 fixes port2
  build.sbt
  designer/client/components/graph/node-modal/OutputParametersList.tsx
  designer/client/reducers/graph/reducer.ts
  designer/client/types/process.ts
  docs/Changelog.md
  docs/developers_guide/LiteComponents.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/ModelConfiguration.md
  docs/integration/RequestResponse.mdx
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/RRDataSourcesAndSinks.md
  engine/flink/kafka-components-utils/src/main/java/org/apache/flink/streaming/connectors/kafka/internals/metrics/KafkaMetricWrapper.java
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/SubprocessResolverSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/GraphBuilder.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/ScenarioBuilder.scala
Labels: ui, docs, client

#3632 properties validation errors
  designer/client/components/graph/node-modal/node/NodeGroupContent.tsx
  designer/client/components/graph/node-modal/node/selectors.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  docs/Changelog.md
Labels: ui, docs, client

#3634 Fragment usages without outputVariableNames fix
  designer/client/components/graph/node-modal/OutputParametersList.tsx
Labels: ui, client

#3636 Fe fixes
  designer/client/components/ProcessHistory.tsx
  designer/client/components/tips/NodeErrorsLinkSection.tsx
  designer/client/stylesheets/visualization.styl
Labels: ui, client

#3638 Release 1.6 fixes port3
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ValidationContext.scala
  designer/client/components/ProcessHistory.tsx
  designer/client/components/graph/node-modal/NodeTypeDetailsContent.tsx
  designer/client/components/graph/node-modal/OutputParametersList.tsx
  designer/client/components/graph/node-modal/editors/expression/JsonEditor.tsx
  designer/client/components/graph/node-modal/node/NodeGroupContent.tsx
  designer/client/components/graph/node-modal/node/selectors.tsx
  designer/client/components/tips/NodeErrorsLinkSection.tsx
  designer/client/stylesheets/visualization.styl
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/PdfExporter.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentIdProviderSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/aggregates.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/CustomProcessValidatorLoader.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/PartSubGraphCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/GenericNodeTransformationValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compiledgraph/node.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/NodeComponentInfoExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/SubprocessResolverSpec.scala
  release.sh
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/canonicalgraph/CanonicalProcess.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/canonicalgraph/ProcessNodesRewriter.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/validated/ValidatedSyntax.scala
Labels: ui, docs, client

#3595 Removed flink-scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/typedinfo/TypingResultBasedSerializationBenchmark.scala
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/typeinformation/ConcreteCaseClassTypeInfo.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/typeinformation/ContextType.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/typeinformation/KeyedValueType.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/typeinformation/TupleType.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/DelayTransformer.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformer.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/InterpretationResultTypeInformation.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypeInformationDetection.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/internal/ContextTypeHelpers.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/internal/ValueWithContextTypeHelpers.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypeInformationDetectionSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetectionSpec.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/InputMetaTypeInformationProvider.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/signal/RemoveLockProcessSignalFactory.scala
  engine/flink/scala-utils/Readme.md
  engine/flink/scala-utils/src/main/java/pl/touk/nussknacker/engine/flink/api/typeinfo/caseclass/ScalaCaseClassSerializerSnapshot.java
  engine/flink/scala-utils/src/main/java/pl/touk/nussknacker/engine/flink/api/typeinfo/option/ScalaOptionSerializerSnapshot.java
  engine/flink/scala-utils/src/main/scala/org/apache/flink/runtime/types/FlinkScalaKryoInstantiator.scala
  engine/flink/scala-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinfo/NothingSerializer.scala
  engine/flink/scala-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinfo/caseclass/CaseClassSerializer.scala
  engine/flink/scala-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinfo/caseclass/CaseClassTypeComparator.scala
  engine/flink/scala-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinfo/caseclass/CaseClassTypeInfo.scala
  engine/flink/scala-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinfo/caseclass/ScalaCaseClassSerializer.scala
  engine/flink/scala-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinfo/option/OptionSerializer.scala
  engine/flink/scala-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinfo/option/OptionTypeComparator.scala
  engine/flink/scala-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinfo/option/OptionTypeInfo.scala
Labels: docs

#3576 Allow to return scenario without validation
  designer/client/containers/hooks/useClashedNames.tsx
  designer/client/http/HttpService.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AppResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/QueryableStateResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SignalsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/BaseEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ProcessEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/initialization/Initialization.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/metrics/RepositoryGauges.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/RemoteEnvironment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/FetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/subprocess/SubprocessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockFetchingProcessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockFetchingProcessRepositorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/initialization/InitializationOnHsqlItSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/initialization/InitializationOnPostgresItSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
  designer/submodules/packages/components/src/scenarios/useScenariosQuery.tsx
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: ui, docs, client, submodules

#3647 Fix for serving OpenApi definition and SwaggerUI for deployed RequestResponse scenarios in embedded mode
  docs/Changelog.md
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/requestresponse/ScenarioDispatcherRoute.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/RequestResponseEmbeddedDeploymentManagerTest.scala
Labels: docs

#3652 Fix OpenAPI component config sample
  docs/integration/OpenAPI.md
Labels: docs

#3607 BestEfortJsonSchemaEncoder with schema support
  build.sbt
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/validation/ValidationMode.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/HandleResponse.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/extractor/JsonToTypedMapTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/FlinkKafkaAvroSinkImplFactory.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/FlinkKafkaUniversalSink.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/FlinkKafkaUniversalSinkImplFactory.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaAvroPayloadIntegrationSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/encode/BestEffortAvroEncoderSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/KafkaAvroSpecMixin.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schema/TestSchema.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/KafkaAvroSinkSpecMixin.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/KafkaUniversalSinkExceptionHandlingSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/SinkValueEditorWithAvroPayloadIntegrationTest.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/UniversalKafkaSinkValidationSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/KafkaAvroSourceSpecMixin.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/FlinkWithKafkaSuite.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/KafkaAvroItSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/KafkaAvroSchemaJsonPayloadItSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/StateCompatibilityTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaAvroSchemaFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalCrossSourceLiteTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalSourceJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/AvroTestData.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/JsonTestData.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaAvroSinkImplFactory.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalSinkImplFactory.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sinks/ResponseRequestSinkImplFactory.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sources/JsonSchemaRequestResponseSource.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sources/JsonSchemaRequestResponseSourceFactory.scala
  engine/lite/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/sample/NuKafkaRuntimeTestSamples.scala
  engine/lite/request-response/components-utils/src/main/scala/pl/touk/nussknacker/engine/requestresponse/utils/encode/SchemaResponseEncoder.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/DefaultResponseEncoder.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreter.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoder.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonDeserializer.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToTypedMap.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/util/json/ToJsonBasedOnSchemaEncoder.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/util/json/json.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteKafkaTestScenarioRunner.scala
  utils/schemed-kafka-components-utils/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.util.json.ToJsonBasedOnSchemaEncoder
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaUniversalComponentTransformer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidator.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroToJsonBasedOnSchemaEncoder.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/BestEffortAvroEncoder.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/BestEffortJsonSchemaEncoder.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/JsonSchemaOutputValidator.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/ParsedSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/UniversalSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/KafkaAvroSinkFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/KafkaAvroSinkFactoryWithEditor.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/KafkaAvroSinkImplFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/UniversalKafkaSinkFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/UniversalKafkaSinkImplFactory.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/encode/BestEffortJsonSchemaEncoderTest.scala
Labels: docs

#3657 Fix schema validation when using additionalProperties without required
  docs/Changelog.md
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpJsonSchemaSpec.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSchemaSubclassDeterminer.scala
Labels: docs

#3656 Basic support for handling + switch to opena api 3.1
  docs/Changelog.md
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractor.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/OpenAPISchemaParser.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractorTest.scala
Labels: docs

#3663 fix additionalProperties to use objectProperties instead of required
  build.sbt
  docs/Changelog.md
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/LiteRequestResponseFunctionalTest.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSchemaSubclassDeterminer.scala
Labels: docs
