Repository TouK/nussknacker, pull requests merged in 2022-08, with the labels that each got.

#3347 Cypress fix
  ui/client/cypress/integration/process.ts
Labels: ui, client

#3337 initial version of BestEffortJsonSchemaEncoder
  docs/Changelog.md
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/encode/BestEffortJsonSchemaEncoder.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/UniversalSchemaSupport.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/AbstractConfluentKafkaAvroDeserializer.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonSerializer.scala
Labels: docs

#3329 fixed conditions for switch fields
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  ui/client/components/graph/node-modal/NodeDetailsContent.tsx
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
Labels: ui, client

#3287 Add low level components based on configuration
  docs/Changelog.md
  engine/flink/components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkKafkaComponentProvider.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkKafkaComponentProviderTest.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProvider.scala
  engine/lite/components/kafka/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProviderTest.scala
  utils/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/KafkaConfigSpec.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
Labels: docs

#3354 UniversalKakfaSource optimization - if message without schemaId, using cache when getting one
  docs/Changelog.md
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/SchemaRegistryClient.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/CachedConfluentSchemaRegistryClient.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/CachedConfluentSchemaRegistryClientFactory.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/client/ConfluentSchemaRegistryClient.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/serialization/universal/ConfluentUniversalKafkaDeserializerFactory.scala
Labels: docs

#3340 fixed branch parameters after node remove
  ui/client/components/graph/GraphUtils.ts
  ui/client/reducers/graph/reducer.ts
  ui/client/reducers/graph/utils.ts
Labels: ui, client

#3345 Switch to swagger based typing and deserialization to typed map
  build.sbt
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/HandleResponse.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequest.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/package.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/ParseToSwaggerService.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/ParseToSwaggerServices.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/SwaggerParser.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/extractor/JsonToObjectTest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/parser/SwaggerParserTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/lite/components/kafka/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalSourceJsonSchemaLiteTest.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/ParsedSchemaSupport.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/schemaregistry/confluent/UniversalSchemaSupport.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSchemaTypeDefinitionExtractor.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractor.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonDeserializer.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToObject.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/parser/ParseSwaggerRefSchemas.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/parser/parser.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/JsonSchemaTypeDefinitionExtractorTest.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractorTest.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonDeserializerSpec.scala
Labels: docs

#3363 Default offset for kafka consumer
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/Installation.md
  engine/flink/management/dev-model/src/test/resources/application.conf
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/FlinkWithKafkaSuite.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/BaseStreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/BaseNuKafkaRuntimeDockerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeBinTest.scala
  engine/lite/kafka/runtime/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/application.conf
  utils/kafka-test-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaSpec.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaUtils.scala
Labels: docs

#3371 Array indexer fix
  docs/Changelog.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ExpressionConfig.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#3374 docs: composite key in the groupBy field
  docs/scenarios_authoring/AggregatesInTimeWindows.md
Labels: docs

#3376 (Flink) Handling kafka source deserialization errors by exceptionHandler
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/KafkaAvroPayloadIntegrationSpec.scala
  engine/flink/avro-components-utils/src/test/scala/pl/touk/nussknacker/engine/avro/schema/PaymentNotCompatible.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/FlinkKafkaDelayedSourceImplFactory.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/FlinkSerializationSchemaConversions.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSource.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryIntegrationSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryProcessMixin.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/MiniClusterExecutionEnvironment.scala
Labels: docs

#3379 Fix/avro union validation abr
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/CanBeSubclassDeterminer.scala
  docs/Changelog.md
  engine/lite/components/kafka/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaAvroSchemaFunctionalTest.scala
  engine/lite/components/kafka/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/AvroTestData.scala
  utils/avro-components-utils/src/main/scala/pl/touk/nussknacker/engine/avro/encode/AvroSchemaOutputValidator.scala
Labels: docs

#3382 create http cookies with 'secure' attribute set to 'true'
  docs/Changelog.md
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2AuthenticationResources.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2AuthenticationResourcesSpec.scala
Labels: docs

#3370 Feature: scenario node category verification on validation
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/FullOuterJoinTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testing/ProcessDefinitionBuilder.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/canonicalgraph/CanonicalProcess.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/displayedgraph/DisplayableProcess.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/process/ProcessId.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/ValidationResults.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/AppResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesExportResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ValidationResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioResolver.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/TestModelMigrations.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/subprocess/SubprocessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/subprocess/SubprocessResolver.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/uiresolving/UIProcessResolving.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/AdditionalPropertiesValidator.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesExportImportResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/StubModelDataWithProcessDefinition.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/StubSubprocessRepository.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestCategories.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinderTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverterSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/TestModelMigrationsSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/processreport/ProcessCounterTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
Labels: docs

#3385 Security fix: add http headers `'X-Content-Type-Options':'nosniff'` and `'Referrer-Policy':'no-referrer'`
  docs/Changelog.md
  ui/server/src/main/scala/cors/CorsSupport.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/util/CorsSupport.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/util/OptionsMethodSupport.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/util/SecurityHeadersSupport.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/util/WithDirectives.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
Labels: docs

#3390 Request-response runtime - working bin test
  build.sbt
  docs/Changelog.md
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/DeploymentStrategy.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/requestresponse/RequestResponseDeploymentStrategy.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/streaming/StreamingDeploymentStrategy.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/BaseNuRuntimeBinTestMixin.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeBinTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeTestMixin.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuReqRespRuntimeBinTest.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/RunnableScenarioInterpreterFactory.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/HealthCheckServerRunner.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreter.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/LoopUntilClosed.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeApp.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/requestresponse/RequestResponseConfig.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/requestresponse/RequestResponseRunnableScenarioInterpreter.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/requestresponse/ScenarioRoute.scala
  engine/lite/kafka/runtime/src/universal/conf/application.conf
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/RunnableScenarioInterpreter.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/TaskStatus.scala
Labels: docs

#3392 validate scenario before deploy
  docs/Changelog.md
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/exception/DeployingInvalidScenarioError.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesChangeListenerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesExportImportResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/SampleFragment.scala
Labels: docs

#3403 Turn off old kafka components
  build.sbt
  docs/Changelog.md
  e2e-tests/docker-compose.yml
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/FlinkWithKafkaSuite.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/GenericItSpec.scala
  engine/lite/components/kafka/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProviderTest.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/BaseStreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/BaseNuKafkaRuntimeDockerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeBinTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeDockerAvroTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeTestMixin.scala
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/components.ts
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
Labels: ui, docs, client

#3412 Corrected method filter for generic types
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  interpreter/src/main/scala/pl/touk/nussknacker/engine/types/EspTypeUtils.scala
  interpreter/src/test/java/pl/touk/nussknacker/engine/types/JavaClassWithFilteredMethod.java
  interpreter/src/test/scala/pl/touk/nussknacker/engine/types/EspTypeUtilsSpec.scala
Labels: docs

#3414 Universal components: new config option docs
  docs/installation_configuration_guide/ModelConfiguration.md
Labels: docs

#3418 Fix: styles on services tab
  ui/client/containers/Services.js
Labels: ui, client

#3401 request-response scenario's openApi definition endpoint
  build.sbt
  docs/Changelog.md
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/requestresponse/RequestResponseDeploymentStrategy.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/BaseNuKafkaRuntimeDockerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeBinTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeTestMixin.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuReqRespRuntimeDockerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/requestresponse/NuReqRespRuntimeBinTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/requestresponse/NuReqRespRuntimeDockerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/requestresponse/sample/NuReqRespTestSamples.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/utils/BaseNuRuntimeBinTestMixin.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/utils/NuRuntimeDockerTestUtils.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/utils/NuRuntimeTestUtils.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/requestresponse/RequestResponseConfig.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/requestresponse/RequestResponseRunnableScenarioInterpreter.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/requestresponse/ScenarioRoute.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/requestresponse/ScenarioRouteSpec.scala
  engine/lite/request-response/components-api/src/main/scala/pl/touk/nussknacker/engine/requestresponse/api/openapi/RequestResponseOpenApiSettings.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreter.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/openapi/RequestResponseOpenApiGenerator.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/openapi/StandaloneOpenApiDataModel.scala
Labels: docs

#3416 Merge release/1.5 into staging
  build.sbt
  components-api/src/main/java/pl/touk/nussknacker/engine/api/generics/TypingFunction.java
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/generics/ExpressionParseError.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/generics/GenericFunctionTypingError.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/generics/MethodTypeInfo.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/generics/Parameter.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/generics/TypingFunction.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/supertype/CommonSupertypeFinder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/generics/ParameterSpec.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultSpec.scala
  defaultModel/src/main/resources/defaultModelConfig.conf
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/ModelConfiguration.md
  docs/scenarios_authoring/BasicNodes.md
  e2e-tests/docker-compose.yml
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryDefinitionExtractorSpec.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/global/GenericHelperFunction.scala
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/FlinkWithKafkaSuite.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/GenericItSpec.scala
  engine/lite/components/kafka/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaAvroSchemaFunctionalTest.scala
  engine/lite/components/kafka/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProviderTest.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/BaseStreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/BaseNuKafkaRuntimeDockerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeBinTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeDockerAvroTest.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/TypeInfos.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionParseError.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionParseErrorConverter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/typer/TypeMethodReference.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/types/EspTypeUtils.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/types/MethodTypeInfoSubclassChecker.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/types/TypesInformationExtractor.scala
  interpreter/src/test/java/pl/touk/nussknacker/engine/types/JavaClassWithFilteredMethod.java
  interpreter/src/test/java/pl/touk/nussknacker/engine/types/JavaSampleDocumentedClass.java
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/TypeInfosSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TypeMethodReferenceSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/types/EspTypeUtilsSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/types/GenericFunctionStaticParameterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/types/MethodTypeInfoSubclassCheckerSpec.scala
  ui/client/containers/Services.js
  ui/client/cypress/integration/__image_snapshots__/Components list  should allow filtering by usage [Linux] #1.png
  ui/client/cypress/integration/components.ts
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/notifications/NotificationService.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidator.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/JsonSchemaOutputValidator.scala
  version.sbt
Labels: ui, docs, client

#3419 Universal Kafka docs
  docs/integration/KafkaIntegration.md
  docs/integration/MachineLearning.md
  docs/integration/OpenAPI.md
  docs/integration/Sql.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/img/kafkaAvroSink.png
  docs/scenarios_authoring/img/kafkaAvroSource.png
  docs/scenarios_authoring/img/kafkaSink.png
  docs/scenarios_authoring/img/kafkaSource.png
  docs/scenarios_authoring/img/kafkaTypedJson.png
Labels: docs

#3423 Staging 1.5
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/integration/KafkaIntegration.md
  docs/integration/MachineLearning.md
  docs/integration/OpenAPI.md
  docs/integration/Sql.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/img/kafkaAvroSink.png
  docs/scenarios_authoring/img/kafkaAvroSource.png
  docs/scenarios_authoring/img/kafkaSink.png
  docs/scenarios_authoring/img/kafkaSource.png
  docs/scenarios_authoring/img/kafkaTypedJson.png
Labels: docs

#3426 Cleanup old docs references
  docs/operations_guide/Common.md
  engine/flink/components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkKafkaComponentProvider.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProvider.scala
Labels: docs

#3427 Extra components placeholder dir
  docs/Changelog.md
  docs/developers_guide/Basics.md
  engine/lite/kafka/runtime/src/universal/components/common/extra/.keep
  engine/lite/kafka/runtime/src/universal/components/lite/extra/.keep
  nussknacker-dist/src/universal/components/common/extra/.keep
  nussknacker-dist/src/universal/components/flink/extra/.keep
  nussknacker-dist/src/universal/components/lite/extra/.keep
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/loader/ModelClassLoader.scala
  utils/utils-internal/src/test/resources/modelClassLoader/c/c1/c11/someFile.classa
  utils/utils-internal/src/test/resources/modelClassLoader/c/c2/someOtherFile.classa
  utils/utils-internal/src/test/resources/modelClassLoader/empty/.hidden
  utils/utils-internal/src/test/scala/pl/touk/nussknacker/engine/util/loader/ModelClassLoaderSpec.scala
Labels: docs

#3422 Generic function documentation
  docs/developers_guide/GenericFunctions.md
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/global/DocumentationFunctions.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/global/ExampleFunctions.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/global/GenericHelperFunction.scala
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
Labels: docs

#3431 Remove dependency helper utils
  build.sbt
  docs/MigrationGuide.md
  docs/developers_guide/img/modeles-architecture.png
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/conversion.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/date.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/dateFormat.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/geo.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/numeric.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/util.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/BaseSpelSpec.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/DateFormatUtilsSpelSpec.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/DateUtilsSpelSpec.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/MathSpec.scala
  utils/math-utils/src/main/scala/pl/touk/nussknacker/engine/util/MathUtils.scala
  utils/math-utils/src/test/scala/pl/touk/nussknacker/engine/util/MathUtilsSpec.scala
Labels: docs

#3436 Better types in operators and helper functions
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumerSpec.scala
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/test/RequestResponseTestMainSpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionParseError.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/conversion.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/numeric.scala
  utils/math-utils/src/main/scala/pl/touk/nussknacker/engine/util/MathUtils.scala
Labels: docs

#3425 LiteRuntime: Healthcheck on the same port as req-resp
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/requestresponse/RequestResponseDeploymentStrategy.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/RequestResponseEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/deployment/DeploymentPreparer.scala
  engine/lite/k8sDeploymentManager/src/test/resources/k8sResponses/podsCrashLoopBackOff.json
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/deployment/DeploymentPreparerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/BaseNuKafkaRuntimeDockerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeDockerProbesTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/utils/NuRuntimeDockerTestUtils.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/HttpConfig.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/RunnableScenarioInterpreterFactory.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/HealthCheckRoutesProvider.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreter.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeApp.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/requestresponse/RequestResponseConfig.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/requestresponse/RequestResponseRunnableScenarioInterpreter.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/requestresponse/ScenarioRoute.scala
  engine/lite/kafka/runtime/src/universal/bin/run.sh
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/RunnableScenarioInterpreter.scala
  nussknacker-dist/src/universal/bin/run.sh
  nussknacker-dist/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: docs

#3420 K8sDeploymentManager supporting req-resp mode
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/deployment/K8sScalingOptionsDeterminer.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/service/ServicePreparer.scala
  engine/lite/k8sDeploymentManager/src/test/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/BaseK8sDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerKafkaTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerReqRespTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sExtraClasses.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sTestUtils.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/KafkaK8sSupport.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/TestComponentProvider.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/deployment/K8sScalingOptionsDeterminerTestSpec.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/management/RequestResponseDeploymentManager.scala
  nussknacker-dist/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  ui/server/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
Labels: docs

#3437 Switch to SwaggerBasedJsonSchemaTypeDefinitionExtractor in RR
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/extractor/JsonToObjectTest.scala
  docs/Changelog.md
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sources/JsonSchemaRequestResponseSource.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sources/JsonSchemaRequestResponseSourceFactory.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/requestresponse/ScenarioRouteSpec.scala
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpJsonSchemaSpec.scala
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpOpenApi.scala
  engine/lite/request-response/runtime/src/it/scala/pl/touk/nussknacker/engine/requestresponse/management/RequestResponseDeploymentManagerSpec.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSchemaSubclassDeterminer.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSchemaTypeDefinitionExtractor.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSinkValueParameter.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToObject.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/JsonSchemaTypeDefinitionExtractorTest.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractorTest.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/JsonSchemaOutputValidator.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/JsonSchemaOutputValidatorPrinter.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/loader/LoadClassFromClassLoader.scala
Labels: docs

#3460 Add config flag to skip redirect after archive. reload page after unarchive
  docs/installation_configuration_guide/DesignerConfiguration.md
  ui/client/actions/nk/assignSettings.ts
  ui/client/components/toolbars/process/buttons/ArchiveButton.tsx
  ui/client/components/toolbars/process/buttons/UnArchiveButton.tsx
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/FeatureTogglesConfig.scala
Labels: ui, docs, client

#3452 Remove kafka from main class name
  build.sbt
  dockerhub/nussknacker-lite-kafka-runtime/README.md
  dockerhub/pulishReadme.sh
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/operations_guide/Lite.md
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/test/resources/deployment/deploymentFull.json
  engine/lite/k8sDeploymentManager/src/test/resources/k8sResponses/inProgress.json
  engine/lite/k8sDeploymentManager/src/test/resources/k8sResponses/podsCrashLoopBackOff.json
  engine/lite/k8sDeploymentManager/src/test/resources/k8sResponses/progressFailed.json
  engine/lite/k8sDeploymentManager/src/test/resources/k8sResponses/running.json
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerKafkaTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/deployment/DeploymentPreparerTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/utils/NuRuntimeDockerTestUtils.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/NuRuntimeApp.scala
  engine/lite/kafka/runtime/src/universal/bin/nu-kafka-engine-entrypoint.sh
  engine/lite/kafka/runtime/src/universal/bin/run.sh
Labels: docs

#3451 Remove JsonToTypedMapConverter
  components/openapi/src/it/resources/customer-primitive-return-swagger.yaml
  components/openapi/src/it/resources/customer-primitive-swagger.yaml
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenApiScenarioIntegrationTest.scala
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/StubService.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequest.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/SwaggerParser.scala
  components/openapi/src/test/resources/swagger/enricher-primitive-body-param.yml
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequestTest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/parser/SwaggerParserTest.scala
  docs/Changelog.md
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sources/JsonSchemaRequestResponseSource.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sources/JsonSchemaRequestResponseSourceFactory.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/RequestResponseEmbeddedDeploymentManagerTest.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/typing/JsonToTypedMapConverter.scala
  utils/components-utils/src/test/scala/pl/touk/nussknacker/engine/util/typing/JsonToTypedMapConverterTest.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonDeserializer.scala
Labels: docs

#3446 RR: Generating default query path based on scenario name + path validation
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/MetaData.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sUtils.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/LiteScenarioValidator.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/RequestResponsePathUtils.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/service/ServicePreparer.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerUnitTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/LiteScenarioValidatorTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/RequestResponsePathUtilsTest.scala
  ui/client/components/graph/node-modal/NodeDetailsContent.tsx
  ui/client/types/node.ts
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/NewProcessPreparer.scala
Labels: ui, client

#3474 Copy ui dist in one task instead of two: copyUiDist, copyUiSubmodulesDist
  CONTRIBUTING.md
  build.sbt
Labels: docs

#3473 Raw mode param in request-response sink
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/RequestResponseComponentProvider.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sinks/JsonRequestResponseSinkFactory.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sinks/JsonRequestResponseSinkWithEditorFactory.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/RequestResponseEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerReqRespTest.scala
  engine/lite/kafka/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/requestresponse/sample/NuReqRespTestSamples.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/requestresponse/ScenarioRouteSpec.scala
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpAppSpec.scala
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpJsonSchemaSpec.scala
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpOpenApi.scala
  engine/lite/request-response/runtime/src/it/scala/pl/touk/nussknacker/engine/requestresponse/management/RequestResponseDeploymentManagerSpec.scala
Labels: docs

#3483 Enrichement of initial node parameters for generic node transformers
  docs/Changelog.md
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/UniversalKafkaSinkValidationSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/KafkaAvroPayloadSourceFactorySpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/GenericNodeTransformationValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/InitialParametersGenericNodeEnricher.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
Labels: docs
