Repository TouK/nussknacker, pull requests merged in 2022-09, with the labels that each got.

#3485 Kafka doc refactor
  docs/installation_configuration_guide/ModelConfiguration.md
  docs/installation_configuration_guide/model/Flink.md
  docs/installation_configuration_guide/model/Lite.md
  docs/integration/KafkaIntegration.md
Labels: docs

#3496 Show error on generate test data
  ui/client/http/HttpService.ts
Labels: ui, client

#3493 Additional properties in code
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/request-response/components-api/src/main/scala/pl/touk/nussknacker/engine/requestresponse/api/openapi/RequestResponseOpenApiSettings.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/management/RequestResponseDeploymentManager.scala
  nussknacker-dist/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  ui/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  ui/server/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeData.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
Labels: docs

#3477 validate node id
  ui/client/components/graph/node-modal/IdField.tsx
  ui/client/components/graph/node-modal/editors/Validators.ts
  ui/client/reducers/selectors/graph.ts
Labels: ui, client

#3506 LocalDateTime -> Instant
  docs/Changelog.md
  docs/MigrationGuide.md
  ui/client/actions/nk/displayProcessActivity.ts
  ui/client/components/Process/types.ts
  ui/client/http/HttpService.ts
  ui/client/reducers/processActivity.ts
  ui/client/types/common.ts
  ui/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeEvent.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/db/DateUtils.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/AttachmentEntityFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/CommentEntityFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ProcessActionEntityFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DbProcessActivityRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/util/PdfExporter.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessActivityResourceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessUtil.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentTestProcessData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinderTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/util/PdfExporterSpec.scala
Labels: ui, docs, client

#3441 Upgrade Flink to 1.15
  build.sbt
  components/openapi/src/it/resources/application.conf
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base/src/it/resources/application.conf
  engine/flink/components/base/src/test/resources/application.conf
  engine/flink/components/base/src/test/resources/defaultModelConfig.conf
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkStubbedRunner.scala
  engine/flink/executor/src/test/resources/application.conf
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/DynamicParametersSource.scala
  engine/flink/management/src/it/resources/docker/Dockerfile
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/CorrectExceptionHandlingSpec.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/MiniClusterExecutionEnvironment.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/StateCompatibilityTest.scala
Labels: docs

#3517 Sync with 1.5
  docs/installation_configuration_guide/DesignerConfiguration.md
  ui/client/actions/nk/assignSettings.ts
  ui/client/components/toolbars/process/buttons/ArchiveButton.tsx
  ui/client/components/toolbars/process/buttons/UnArchiveButton.tsx
  ui/client/http/HttpService.ts
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/config/FeatureTogglesConfig.scala
Labels: ui, docs, client

#3519 fixed dev start script for submodules
  ui/submodules/package.json
Labels: ui, submodules

#3526 Update KafkaIntegration docs
  docs/integration/KafkaIntegration.md
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: docs

#3537 Fix scroll in services tab
  ui/client/app.styl
  ui/client/containers/Services.js
Labels: ui, client

#3540 Dev setup improvements
  CONTRIBUTING.md
  dockerhub/pulishReadme.sh
  e2e-tests/setupAndRun.sh
  e2e-tests/waitForOk.sh
  ui/buildClient.sh
  ui/buildServer.sh
  ui/client/README.md
Labels: ui, docs, client

#3525 Extend Flink components documentation
  docs/developers_guide/FlinkComponents.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkSource.scala
Labels: docs

#3545 TestRunner unified
  build.sbt
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenApiScenarioIntegrationTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/developers_guide/Testing.md
  engine/flink/components/base/src/it/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformerSpec.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaAvroSchemaFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProviderTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalSourceAvroSchemaLiteTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalSourceJsonSchemaLiteTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UnivseralSourceJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/AvroGen.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/AvroSchemaCreator.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/AvroTestData.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/JsonTestData.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/LiteralSpELWithAvroImplicits.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestComponentsHolder.scala
  utils/components-testkit/src/main/scala/pl/touk/nussknacker/engine/util/test/TestScenarioRunner.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteKafkaTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/RequestResponseTestScenarioRunner.scala
  utils/lite-components-testkit/src/test/scala/pl/touk/nussknacker/engine/lite/util/test/LiteTestScenarioRunnerSpec.scala
Labels: docs

#3546 Fix services tab 1.5 (#3537)
  ui/client/app.styl
  ui/client/containers/Services.js
Labels: ui, client

#3548 UI: error response notification crash fix
  ui/client/actions/notificationActions.tsx
  ui/client/containers/Notifications.tsx
  ui/client/http/HttpService.ts
Labels: ui, client

#3552 Undo no longer messes scenario state
  ui/client/components/toolbarSettings/buttons/ActionButton.tsx
  ui/client/components/toolbars/status/ProcessInfo.tsx
  ui/client/reducers/graph/reducer.ts
  ui/client/reducers/graph/types.ts
  ui/client/reducers/index.ts
  ui/client/reducers/scenarioState.ts
  ui/client/reducers/selectors/graph.ts
  ui/client/reducers/selectors/other.ts
  ui/client/reducers/selectors/scenarioState.ts
Labels: ui, client

#3542 New feature: properties additional info
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/management/dev-model/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.additionalInfo.AdditionalInfoProvider
  engine/flink/management/dev-model/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.additionalInfo.NodeAdditionalInfoProvider
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/SampleAdditionalInfoProvider.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/SampleNodeAdditionalInfoProvider.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/additionalInfo/AdditionalInfo.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/additionalInfo/AdditionalInfoProvider.scala
  ui/client/actions/nk/nodeDetails.ts
  ui/client/components/graph/node-modal/NodeAdditionalInfoBox.tsx
  ui/client/components/graph/node-modal/properties.tsx
  ui/client/http/HttpService.ts
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/AdditionalPropertiesValidator.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
Labels: ui, docs, client

#3440 Feature: allow to define fragment outputs variables name in context
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/NodeDependency.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/SubprocessSpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/SubprocessResolverSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/GraphBuilder.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/EdgeType.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/subprocess.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/canonicalgraph/CanonicalProcessTest.scala
  ui/client/components/graph/node-modal/OutputParametersList.tsx
  ui/client/components/graph/node-modal/subprocessInput.tsx
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #1.png
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #3.png
  ui/client/cypress/integration/fragment.ts
  ui/client/types/node.ts
  ui/client/types/process.ts
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  ui/server/src/main/resources/defaultUiConfig.conf
  ui/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/util/PdfExporter.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentTestProcessData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinderTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/TestModelMigrationsSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/processreport/ProcessCounterTest.scala
Labels: ui, docs, client

#3554 Undo fix backport
  ui/client/components/toolbarSettings/buttons/ActionButton.tsx
  ui/client/components/toolbars/status/ProcessInfo.tsx
  ui/client/reducers/graph/reducer.ts
  ui/client/reducers/graph/types.ts
  ui/client/reducers/index.ts
  ui/client/reducers/scenarioState.ts
  ui/client/reducers/selectors/graph.ts
  ui/client/reducers/selectors/other.ts
  ui/client/reducers/selectors/scenarioState.ts
Labels: ui, client, submodules

#3557 RR: ingress handling improvements: better name, docs for k3d with nginx setup, gitignore
  .github/workflows/pr.yml
  .gitignore
  .k3d/single-cluster.yml
  CONTRIBUTING.md
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/ingress/IngressPreparer.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/ingress/IngressPreparerTest.scala
Labels: docs

#3559 Fix: Cypress fragment outputs
  ui/client/cypress/integration/__image_snapshots__/Fragment  should allow adding input parameters and display used fragment graph in modal [Linux] #3.png
  ui/client/cypress/integration/fragment.ts
Labels: ui, client

#3386 Scenario name validation flink
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenApiScenarioIntegrationTest.scala
  docs/MigrationGuide.md
  engine/flink/executor/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.CustomProcessValidatorFactory
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/FlinkScenarioNameValidator.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompiler.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/FlinkScenarioNameValidationSpec.scala
  engine/lite/components/base/src/test/scala/pl/touk/nussknacker/engine/lite/components/UnionTest.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/CustomProcessValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/CustomProcessValidatorLoader.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/CustomNodeValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelConversionServiceOverrideSpec.scala
  ui/client/components/AddProcessDialog.tsx
  ui/client/components/modals/DeployProcessDialog.tsx
  ui/client/components/modals/ValidationLabels.tsx
  ui/client/http/HttpService.ts
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/CustomProcessValidator.scala
  ui/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/CustomProcessValidatorLoader.scala
  ui/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActorSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverterSpec.scala
  ui/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
Labels: ui, docs, client

#3553 Check slug uniqueness
  docs/MigrationGuide.md
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/deployment/DeploymentPreparer.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/service/ServicePreparer.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerReqRespTest.scala
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/DeploymentServiceSpec.scala
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpAppSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/ScenarioBuilder.scala
Labels: docs

#3566 OpenApi invocation path relative to definition path + servers configuration as a list instead of single entry
  .k3d/k3s_manifests/ingress-controller.yaml
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/requestresponse/RequestResponseDeploymentStrategy.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/requestresponse/ScenarioDispatcherRoute.scala
  engine/lite/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/requestresponse/NuReqRespRuntimeDockerTest.scala
  engine/lite/request-response/app/src/test/scala/pl/touk/nussknacker/engine/requestresponse/http/RequestResponseHttpOpenApi.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseConfig.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreter.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseRunnableScenarioInterpreter.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/ScenarioRoute.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/openapi/RequestResponseOpenApiGenerator.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/openapi/StandaloneOpenApiDataModel.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/ScenarioRouteSpec.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/openapi/RequestResponseOpenApiGeneratorSpec.scala
  ui/buildClient.sh
Labels: docs

#3572 Rename modelConfig.conf to runtimeConfig.conf
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/deployment/DeploymentPreparer.scala
  engine/lite/k8sDeploymentManager/src/test/resources/deployment/deploymentFull.json
  engine/lite/k8sDeploymentManager/src/test/resources/k8sResponses/inProgress.json
  engine/lite/k8sDeploymentManager/src/test/resources/k8sResponses/podsCrashLoopBackOff.json
  engine/lite/k8sDeploymentManager/src/test/resources/k8sResponses/progressFailed.json
  engine/lite/k8sDeploymentManager/src/test/resources/k8sResponses/running.json
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/deployment/DeploymentPreparerTest.scala
Labels: docs

#3577 fix: unnecessary submit action on filters
  ui/submodules/packages/components/src/scenarios/filters/quickFilter.tsx
Labels: ui, submodules

#3571 Openapi swagger UI
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/lite/request-response/components-api/src/main/scala/pl/touk/nussknacker/engine/requestresponse/api/openapi/RequestResponseOpenApiSettings.scala
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/favicon-16x16.png
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/favicon-32x32.png
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/index.css
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/index.html
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/oauth2-redirect.html
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/swagger-initializer.js
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/swagger-ui-bundle.js
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/swagger-ui-bundle.js.map
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/swagger-ui-es-bundle-core.js
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/swagger-ui-es-bundle-core.js.map
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/swagger-ui-es-bundle.js
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/swagger-ui-es-bundle.js.map
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/swagger-ui-standalone-preset.js
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/swagger-ui-standalone-preset.js.map
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/swagger-ui.css
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/swagger-ui.css.map
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/swagger-ui.js
  engine/lite/request-response/runtime/src/main/resources/swagger-ui/swagger-ui.js.map
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseConfig.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/ScenarioRoute.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/SwaggerUiRoute.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/ScenarioRouteSpec.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/openapi/RequestResponseOpenApiGeneratorSpec.scala
Labels: docs
