Repository TouK/nussknacker, pull requests merged in 2023-05, with the labels that each got.

#4269 Tag manager
  designer/client/src/reducers/selectors/settings.ts
  designer/client/src/store/provider.tsx
  designer/client/src/store/waitForFirstValue.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/WebResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/extrajs/ExtraScriptsListingPreparer.scala
  designer/server/src/test/resources/extra-scripts-test-lst/web-extra/scripts.lst
  designer/server/src/test/resources/extra-scripts-test/a.js
  designer/server/src/test/resources/extra-scripts-test/web-extra/a.js
  designer/server/src/test/resources/extra-scripts-test/web-extra/b.js
  designer/server/src/test/resources/extra-scripts-test/web-extra/b.txt
  designer/server/src/test/scala/pl/touk/nussknacker/ui/extrajs/ExtraScriptsListingPreparerTest.scala
Labels: ui, client

#4272 Description added
  docs/installation_configuration_guide/model/Flink.md
Labels: docs

#4277 Fix broken link :)
  README.md
Labels: docs

#4264 Add Any/Unknown to fragment's input types
  docs/Changelog.md
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassExtractionBaseTest.scala
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  interpreter/src/main/scala/pl/touk/nussknacker/engine/TypeDefinitionSet.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/TypeInfos.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/types/EspTypeUtils.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/types/TypesInformationExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/types/EspTypeUtilsSpec.scala
Labels: docs

#4290 Replace regex matching in expression compilation with string matching
  benchmarks/Readme.md
  docs/Changelog.md
  docs/MigrationGuide.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassMemberPredicate.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassPredicate.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/types/EspTypeUtilsSpec.scala
Labels: docs

#4292 Expose more methods for use in expressions
  docs/Changelog.md
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
Labels: docs

#4298 Support arrays in BestEffortJsonEncoder
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequest.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  docs/Changelog.md
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/DefaultResponseEncoder.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/openapi/RequestResponseOpenApiGenerator.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoder.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/schemas.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/sink/GenericJsonSerialization.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/RecordFormatterSupport.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/json/BestEffortJsonEncoder.scala
  utils/utils/src/test/scala/pl/touk/nussknacker/engine/util/json/BestEffortJsonEncoderSpec.scala
Labels: docs

#4294 Add user info to migrate scenario action
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AuthorizeProcessDirectives.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigrator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/RemoteEnvironment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessPosting.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/initialization/InitializationOnHsqlItSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/initialization/InitializationOnPostgresItSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  extensions-api/src/main/scala/pl/touk/nussknacker/security/Permission.scala
Labels: docs

#4305 Update flink-scala
  build.sbt
  docs/MigrationGuide.md
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
Labels: docs

#4283 fix oidc access token check
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  security/src/it/resources/keycloak.json
  security/src/it/scala/pl/touk/nussknacker/ui/security/oauth2/GenericOidcServiceSpec.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/AuthenticationConfiguration.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/basicauth/BasicHttpAuthenticator.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/GenericOidcService.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/JwtOAuth2Service.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2Profile.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OpenIdConnectProfile.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcAuthenticationConfiguration.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/basicauth/BasicHttpAuthenticationResourcesSpec.scala
Labels: docs

#4261 Draft: Add test with form support for flink based engine
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/test/ScenarioTestData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DictResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/VerificationFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMain.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerTest.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/TestRunner.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestDataPreparer.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelConversionServiceOverrideSpec.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkProcessCompilerWithTestComponents.scala
Labels: docs

#4254 Move expression suggestions from FE to BE
  designer/client/src/actions/nk/assignSettings.ts
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggester.ts
  designer/client/src/http/HttpService.ts
  designer/client/test/ExpressionSuggester-test.js
  designer/client/test/RegexExpressionSuggester-test.ts
  designer/client/test/__snapshots__/RegexExpressionSuggester-test.ts.snap
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ExpressionSuggester.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/FeatureTogglesConfig.scala
  designer/server/src/test/resources/designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ExpressionSuggesterSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  designer/submodules/packages/legacy_scenarios/src/types/settings.ts
  docs/installation_configuration_guide/DesignerConfiguration.md
Labels: ui, docs, client, submodules

#4313 Fix: sink json schema int / long to BigDecimal (#4289)
  docs/Changelog.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/JsonTestData.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidator.scala
Labels: docs

#4246 Store components usages along with scenario JSON
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/ScenarioComponentsUsages.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  designer/server/src/main/resources/db/migration/common/V1_038__ComponentsUsages.sql
  designer/server/src/main/resources/db/migration/hsql/V1_037__ExtendScenarioJsonLimit.sql
  designer/server/src/main/resources/db/migration/postgres/V1_037__ExtendScenarioJsonLimit.sql
  designer/server/src/main/scala/db/migration/V1_039__FillComponentsUsagesDefinition.scala
  designer/server/src/main/scala/db/migration/hsql/V1_032__StandaloneToRequestResponse.scala
  designer/server/src/main/scala/db/migration/hsql/V1_039__FillComponentsUsages.scala
  designer/server/src/main/scala/db/migration/postgres/V1_032__StandaloneToRequestResponse.scala
  designer/server/src/main/scala/db/migration/postgres/V1_039__FillComponentsUsages.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentIdProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentsUsageHelper.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentsValidator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/DatabaseInitializer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ProcessActionEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ProcessVersionEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/migration/AlwaysUsingSameConnectionDataSource.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/migration/SlickMigration.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioComponentsUsagesHelper.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/subprocess/SubprocessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/DbTesting.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockFetchingProcessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockFetchingProcessRepositorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessUtil.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentTestProcessData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentsUsageHelperTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentIdProviderSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/db/DatabaseInitializerItSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/initialization/InitializationOnDbItSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/initialization/InitializationOnPostgresItSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/ScenarioComponentsUsagesHelperTest.scala
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/ComponentUtil.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/NodeComponentInfoExtractor.scala
Labels: docs

#4314 Expression suggestions tests fix
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ExpressionSuggester.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ExpressionSuggesterSpec.scala
  docs/Changelog.md
Labels: docs

#4299 Identify and serialize state status by name
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleStateStatus.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/OverridingProcessStateDefinitionManagerTest.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/StateStatusCodingSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentProcessStateDefinitionManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicStateStatus.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedStateStatus.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
Labels: docs

#4312 Fetch only process versions on cancel and deploy
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/loadProcessVersions.ts
  designer/client/src/actions/nk/process.ts
  designer/client/src/actions/reduxTypes.ts
  designer/client/src/containers/Notifications.tsx
  designer/client/src/reducers/graph/reducer.ts
  docs/Changelog.md
Labels: ui, docs, client

#4322 Fix for incompatible serialization of status
  designer/client/src/components/Process/types.ts
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/StateStatusCodingSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/submodules/packages/legacy_scenarios/src/components/Process/types.ts
  docs/Changelog.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
Labels: ui, docs, client, submodules

#4311 Tutorial prepare
  designer/client/.eslintignore
  designer/client/.prettierrc.json
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/MenuBar/menu.tsx
  designer/client/src/components/graph/node-modal/node/NodeDetails.tsx
  designer/client/src/containers/Auth/strategies/RemoteAuthStrategy/RemoteAuthStrategy.tsx
  designer/client/src/containers/DynamicTab.tsx
  designer/client/src/containers/ExternalLib/RemoteComponent.tsx
  designer/client/src/containers/theme.tsx
  designer/client/webpack.config.ts
  designer/submodules/.eslintignore
  designer/submodules/.prettierignore
  designer/submodules/package-lock.json
  designer/submodules/package.json
  designer/submodules/packages/components/package.json
  designer/submodules/packages/components/webpack.config.ts
  designer/submodules/packages/legacy_scenarios/local-types/reactable/index.d.ts
  designer/submodules/packages/legacy_scenarios/package.json
  designer/submodules/packages/legacy_scenarios/src/containers/theme.tsx
  designer/submodules/packages/legacy_scenarios/webpack.config.ts
Labels: ui, client, submodules

#4332 Improvements: Don't fetch status state for fragments at /api/processes/status
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
  docs/Changelog.md
Labels: docs

#4326 Typer always typing the whole expression
  docs/Changelog.md
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/CustomNodeProcessSpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/dict/SpelDictTyper.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/typer/TypeReferenceTyper.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#4339 Improvements: Don't fetch state for archived/unarchived scenario
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleProcessStateDefinitionManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleStateStatus.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/InconsistentStateDetector.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessUtil.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessAction.scala
Labels: docs

#4343 Update Flink to 1.16.2
  build.sbt
  docs/Changelog.md
  engine/flink/management/src/it/resources/docker/Dockerfile
Labels: docs
