Repository TouK/nussknacker, pull requests merged in 2023-10, with the labels that each got.

#4739 [4739] Add countsSettings.additionalHeaders setting
  designer/processReports/src/it/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxCountsReporterSpec.scala
  designer/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/InfluxConfig.scala
  designer/processReports/src/main/scala/pl/touk/nussknacker/processCounts/influxdb/SimpleInfluxClient.scala
  docs/Changelog.md
  docs/installation_configuration_guide/DesignerConfiguration.md
Labels: docs

#4752 disable flaky test
  designer/client/cypress/e2e/processSelection.cy.ts
Labels: ui, client

#4755 Fixed process selection test
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should open properties #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should allow pan view #0.png
  designer/client/cypress/e2e/processSelection.cy.ts
  designer/client/src/components/graph/RangeSelectPlugin.ts
Labels: ui, client

#4740 [NU-1100] fix issue with dragging nodes from a toolbar in touch display…
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/PanZoomPlugin.ts
  designer/client/src/components/graph/graphTheme.styl
  designer/client/src/components/graph/utils/graphUtils.ts
  designer/client/src/containers/Visualization.tsx
  designer/client/src/helpers/detectDevice.ts
  designer/client/webpack.config.ts
Labels: ui, client

#4769 Fix empty validation request on undo history clear
  designer/client/src/store/nodeValidationMiddleware.ts
Labels: ui, client

#4709 [NU-981] generating open api yaml
  CONTRIBUTING.md
  build.sbt
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AppApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/BaseEndpointDefinitions.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/AppApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/BaseHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/NuDesignerExposedApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/NuDesignerOpenApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/Project.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/AppApiSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NuDesignerApiAvailableToExposeYamlSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NuDesignerApiSwaggerUISpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/GenerateDesignerOpenApiYamlFile.scala
  docs-internal/api/nu-designer-openapi.yaml
  project/GenerateDesignerOpenApiPlugin.scala
Labels: docs

#4762 Fix: RegExpParameterValidator, trimming SpEL comprehension
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterValidator.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/definition/ParameterValidatorSpec.scala
  designer/client/src/components/graph/node-modal/editors/Validators.ts
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/AdditionalPropertiesValidatorTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/model/ModelConfiguration.md
  interpreter/src/test/resources/reference.conf
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
Labels: ui, docs, client

#4787 another cypress test fix
  designer/client/cypress/e2e/processSelection.cy.ts
  designer/client/src/init.js
Labels: ui, client

#4744 [NU-1096] OIDC: Fix for support for M2M usage of JWT
  docs/Changelog.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  security/src/it/scala/pl/touk/nussknacker/ui/security/oauth2/GenericOidcServiceSpec.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/AuthenticationStrategy.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/BaseOAuth2Service.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/CachingOAuth2Service.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/DefaultOAuth2ServiceFactory.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/EitherCodecs.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/GitHubProfile.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/GitHubProfileAuthentication.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/JwtOAuth2Service.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2AuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2Authenticator.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2Configuration.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2Profile.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2ServiceFactory.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OpenIdConnectProfile.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/RelativeSecondsCodecs.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/UserMappingOAuth2Service.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/GenericOidcService.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcAuthenticationConfiguration.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcAuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcProfileAuthentication.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcService.scala
  security/src/test/resources/oauth2-users.conf
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/CachingOAuth2ServiceSpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/DefaultOAuth2ServiceFactorySpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/ExampleOAuth2ServiceFactory.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/ExampleOAuth2ServiceFactorySpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/JwtOAuth2ServiceSpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2ClientApiSpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oidc/GenericOidcTokenAuthenticationSpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oidc/OidcProfileAuthenticationTest.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oidc/OidcServiceSpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oidc/OidcUserInfoSpec.scala
Labels: docs

#4797 [NU-1084] Access token query param name
  designer/client/src/containers/CustomTabPage.tsx
  designer/client/src/containers/DynamicTab.tsx
  designer/client/src/containers/Metrics.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  docs/Changelog.md
  docs/installation_configuration_guide/DesignerConfiguration.md
Labels: ui, docs, client

#4778 Fix/handle combined schema in request-response source tests
  designer/client/src/components/graph/node-modal/tests/TestResults.tsx
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/RequestResponseTestWithParametersTest.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sources/JsonSchemaRequestResponseSource.scala
Labels: ui, client

#4765 NU-1106 fix style in comment input
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should open properties #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #4.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have equal snapshot #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should make a deploy of the new version #0.png
  designer/client/cypress/e2e/process.cy.ts
  designer/client/cypress/support/process.ts
  designer/client/src/components/comment/CommentInput.tsx
  designer/client/src/components/withFocus.tsx
  designer/server/src/main/resources/web/static/assets/states/failed.svg
  designer/server/src/main/resources/web/static/assets/states/success.svg
  designer/server/src/main/resources/web/static/assets/states/warning.svg
Labels: ui, client

#4828 Improvement: FlinkTestScenarioRunner allow passing timestampAssigner
  docs/Changelog.md
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
Labels: docs

#4837 [NU-1092] expression suggester fix
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/graph/node-modal/editors/expression/CustomAceEditorCompleter.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggester.ts
Labels: ui, client

#4846 [NU-765] fixed submodules dev proxy setup
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/webpack.config.ts
Labels: ui, client

#4845 allow custom query in remote modules urls
  designer/client/src/containers/DynamicTab.tsx
  designer/client/src/containers/ExternalLib/tools/createScript.ts
  designer/client/src/containers/ExternalLib/tools/loadComponent.ts
  designer/client/src/containers/ExternalLib/tools/splitUrl.tsx
  designer/client/src/containers/ExternalLib/types.ts
Labels: ui, client

#4853 Nu 1083 fix after tests
  designer/client/src/components/button/ButtonBaseStyle.tsx
  designer/client/src/components/history/StyledHistory.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButton.tsx
  designer/client/src/containers/theme/nuTheme.tsx
  designer/client/test/__snapshots__/CountsRangesButtons-test.tsx.snap
Labels: ui, client

#4850 Nu 1114/fixed archived status icon
  designer/submodules/packages/components/src/scenarios/useScenariosQuery.tsx
Labels: ui, submodules

#4711 create AdditionalComponentsUIConfigProviderFactory, refactor UIProcessObjectsFactory
  build.sbt
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/AdditionalComponentsUIConfigProvider.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/AdditionalComponentsUIConfigProviderFactory.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/DefaultAdditionalComponentsUIConfigProvider.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should open properties #0.png
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/engine/CombinedProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentIdProviderFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentObjects.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentsUsageHelper.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentsValidator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/EvaluatedParameterPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinder.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.AdditionalComponentsUIConfigProviderFactory
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentsUsageHelperTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentIdProviderSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/TestAdditionalComponentsUIConfigProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/TestAdditionalComponentsUIConfigProviderFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/NewProcessPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReaderSpec.scala
  docs/Changelog.md
  docs/developers_guide/Basics.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ComponentIdProvider.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testing/LocalModelData.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcProfileAuthentication.scala
Labels: ui, docs, client

#4858 fixed text opacity problem in pdf export
  designer/client/src/components/graph/EspNode/element.ts
  designer/client/src/components/graph/svg-export/export.styl
Labels: ui, client

#4860 Rename additionalProperties to scenarioProperties
  build.sbt
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/SingleComponentConfig.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/util/config/FicusReaders.scala
  designer/client/src/components/graph/node-modal/NodeDetailsContent/selectors.tsx
  designer/client/src/components/graph/node-modal/ScenarioProperty.tsx
  designer/client/src/components/graph/node-modal/properties.tsx
  designer/client/src/types/process.ts
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/restmodel/src/test/scala/pl/touk/nussknacker/restmodel/process/ProcessPropertiesTest.scala
  designer/server/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentObjects.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/additionalproperty/AdditionalPropertyConfigValidatorDeterminer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/additionalproperty/AdditionalPropertyValidatorDeterminerChain.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/scenarioproperty/ScenarioPropertyConfigValidatorDeterminer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/scenarioproperty/ScenarioPropertyEditorValidatorDeterminer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/scenarioproperty/ScenarioPropertyValidatorDeterminer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/scenarioproperty/ScenarioPropertyValidatorDeterminerChain.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/scenarioproperty/UiScenarioPropertyEditorDeterminer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/NewProcessPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ScenarioPropertiesValidator.scala
  designer/server/src/test/resources/designer.conf
  designer/server/src/test/scala/db/migration/V1_041__RemoveTypeSpecificDataSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/additionalproperty/UiAdditionalPropertyEditorDeterminerTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/scenarioproperty/ScenarioPropertyValidatorsDeterminerChainTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/scenarioproperty/UiScenarioPropertyEditorDeterminerTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/ConfigurationTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/UiProcessMarshallerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/ScenarioPropertiesValidatorTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/model/ModelConfiguration.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/ExecutionConfigPreparer.scala
  engine/flink/management/dev-model/src/main/resources/defaultModelConfig.conf
  engine/flink/management/dev-periodic-dm/src/main/scala/pl/touk/nussknacker/engine/management/dev/periodic/DevPeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/lite/deploymentManager/src/main/scala/pl/touk/nussknacker/lite/manager/LiteDeploymentManagerProvider.scala
  engine/lite/request-response/components-api/src/main/scala/pl/touk/nussknacker/engine/requestresponse/api/openapi/RequestResponseOpenApiSettings.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/marshall/ProcessMarshallerBackwardsCompatibilitySpec.scala
Labels: ui, docs, client

#4862 added UI configuration of scenarioProperties to AdditionalUIConfigProviderFactory
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/AdditionalUIConfigProvider.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/AdditionalUIConfigProviderFactory.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/DefaultAdditionalComponentsUIConfigProvider.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/DefaultAdditionalUIConfigProvider.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/SingleComponentConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentObjects.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.AdditionalComponentsUIConfigProviderFactory
  designer/server/src/test/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.AdditionalUIConfigProviderFactory
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/TestAdditionalComponentsUIConfigProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/TestAdditionalComponentsUIConfigProviderFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/TestAdditionalUIConfigProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/TestAdditionalUIConfigProviderFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  docs/Changelog.md
  docs/developers_guide/Basics.md
Labels: docs

#4863 NU-1120 fix highlightting searched column text
  designer/submodules/packages/components/src/components/usages/nodesCell.tsx
Labels: ui, submodules

#4867 [NU-765] provide dev proxy to submodules
  designer/submodules/.env
  designer/submodules/configs/webpack/common.ts
  designer/submodules/configs/webpack/dev.ts
  designer/submodules/configs/webpack/withModuleFederationPlugins.ts
  designer/submodules/package.json
  designer/submodules/packages/components/src/common/scenarioHref.tsx
  designer/submodules/packages/components/webpack.config.ts
Labels: ui, submodules

#4871 Update staging branch with Release 1.12 branch fixes
  .github/workflows/release.yml
  designer/client/src/components/graph/EspNode/element.ts
  designer/client/src/components/graph/svg-export/export.styl
  designer/submodules/packages/components/src/components/usages/nodesCell.tsx
  designer/submodules/packages/components/src/scenarios/useScenariosQuery.tsx
Labels: ui, client, submodules

#4880 test fixing
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should open properties #0.png
  designer/client/cypress/e2e/fragment.cy.ts
Labels: ui, client

#4886 1.12.0 changelog fixup
  docs/Changelog.md
Labels: docs

#4876 Nu 1125/add check scenario rename
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/components/graph/node-modal/AdditionalProperty.tsx
  designer/client/src/components/graph/node-modal/editors/EditableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/Validators.ts
  designer/client/src/containers/Visualization.tsx
  designer/client/src/types/validation.ts
Labels: ui, client

#4694 [Docs] K8s configuration clarifications
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
Labels: docs

#4870 NU-1085 fix loader position
  designer/client/src/components/spinner/Spinner.tsx
Labels: ui, client

#4874 Legacy scenarios webmodule cleanups: removed configuration entry and …
  designer/client/src/containers/RootRoutes.tsx
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/submodules/package-lock.json
Labels: ui, client, submodules

#4885 [NU-1140] Synchronize deployed scenario version after server restart in embedded engine
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  docs/Changelog.md
Labels: docs

#4892 NU-1129 fix problem alert error message
  designer/client/src/actions/notificationActions.tsx
  designer/client/src/components/notifications/Notification.tsx
  designer/client/src/containers/Notifications.tsx
  designer/client/src/http/HttpService.ts
Labels: ui, client

#4890 NU-1134 fix problem with refresh when archive but didn't save changes
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/loadProcessToolbarsConfiguration.ts
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/components/toolbars/process/buttons/ArchiveButton.tsx
  designer/client/src/components/toolbars/process/buttons/useArchiveHelper.ts
  designer/client/src/http/HttpService.ts
  designer/client/src/reducers/graph/reducer.ts
Labels: ui, client

#4902 Nu 1133/problem with counts
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should display '' when renaming a node and updating the count #0.png
  designer/client/cypress/e2e/process.cy.ts
  designer/client/src/actions/nk/displayProcessCounts.ts
  designer/client/src/actions/nk/editNode.ts
  designer/client/src/components/graph/EspNode/element.ts
  designer/client/src/components/modals/CalculateCounts/CalculateCountsDialog.tsx
  designer/client/src/containers/Visualization.tsx
Labels: ui, client

#4854 [NU-1059] New categories inside processing types configuration format
  designer/server/src/main/scala/pl/touk/nussknacker/engine/CombinedProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/UserResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/LocalProcessingTypeDataProviderFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/ProcessingTypeDataProviderFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/ProcessingTypeDataReaderBasedProcessingTypeDataProviderFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/NewProcessPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessCategoryService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessToolbarService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataConfigurationReader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/AppApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/BaseHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/LocalNussknackerWithSingleModel.scala
  designer/server/src/test/resources/designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/UsersResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/NuScenarioConfigurationHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ConfigProcessCategoryServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ConfigProcessToolbarServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataConfigurationReaderSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReaderSpec.scala
  docs/Changelog.md
  docs/installation_configuration_guide/Common.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/model/ModelConfiguration.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/flink/management/src/it/resources/application.conf
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/RunFlinkStreamingModelLocally.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeConfig.scala
  nussknacker-dist/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: docs

#4929 [Nu 1154] fix fragment issues with correct rendering and typing
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/components.cy.ts
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/src/components/graph/node-modal/fragmentInput.tsx
  designer/client/src/components/graph/node-modal/useParametersList.ts
Labels: ui, client

#4768 Drag & drop of map's fields
  designer/client/src/components/common/dndItems/DndItems.tsx
  designer/client/src/components/common/dndItems/DragHandle.tsx
  designer/client/src/components/common/dndItems/DropTarget.tsx
  designer/client/src/components/common/dndItems/FakeFormWindow.tsx
  designer/client/src/components/common/dndItems/Items.tsx
  designer/client/src/components/common/dndItems/handlebars.svg
  designer/client/src/components/graph/node-modal/EdgesDndComponent.tsx
  designer/client/src/components/graph/node-modal/editors/map/Map.tsx
  designer/client/src/components/graph/node-modal/editors/map/MapRow.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/FieldsSelect.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/MovableRow.tsx
  designer/client/src/components/toolbarComponents/DragHandle.tsx
  designer/client/src/components/toolbarComponents/ToolbarsContainer.tsx
  designer/client/src/components/toolbarComponents/toolbarWrapper/ToolbarWrapper.tsx
  designer/client/src/components/toolbars/Survey.tsx
Labels: ui, client

#4917 compare and node windows fixes
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should zoomrestore node window with test data #0.png
  designer/client/cypress/e2e/compare.cy.ts
  designer/client/cypress/e2e/process.cy.ts
  designer/client/cypress/fixtures/rrEmpty.json
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/graph/node-modal/NodeDetailsContent.tsx
  designer/client/src/components/graph/node-modal/TestResultsWrapper.tsx
  designer/client/src/components/graph/node-modal/node/NodeGroupContent.tsx
  designer/client/src/components/graph/node-modal/tests/TestValue.tsx
  designer/client/src/components/modals/Styled.tsx
Labels: ui, client

#4949 Fix image in fragment docs
  docs/scenarios_authoring/Fragments.md
Labels: docs

#4940 Merge release 1.12 to staging
  build.sbt
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should open properties #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should display '' when renaming a node and updating the count #0.png
  designer/client/cypress/e2e/components.cy.ts
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/e2e/process.cy.ts
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/displayProcessCounts.ts
  designer/client/src/actions/nk/editNode.ts
  designer/client/src/actions/nk/loadProcessToolbarsConfiguration.ts
  designer/client/src/actions/notificationActions.tsx
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/components/graph/EspNode/element.ts
  designer/client/src/components/graph/node-modal/ScenarioProperty.tsx
  designer/client/src/components/graph/node-modal/editors/EditableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/Validators.ts
  designer/client/src/components/graph/node-modal/fragmentInput.tsx
  designer/client/src/components/graph/node-modal/useParametersList.ts
  designer/client/src/components/modals/CalculateCounts/CalculateCountsDialog.tsx
  designer/client/src/components/notifications/Notification.tsx
  designer/client/src/components/spinner/Spinner.tsx
  designer/client/src/components/toolbars/process/buttons/ArchiveButton.tsx
  designer/client/src/components/toolbars/process/buttons/useArchiveHelper.ts
  designer/client/src/containers/Notifications.tsx
  designer/client/src/containers/Visualization.tsx
  designer/client/src/http/HttpService.ts
  designer/client/src/reducers/graph/reducer.ts
  designer/client/src/types/validation.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: ui, docs, client

#4919 Improvement: Support for handling runtime exceptions at FlinkTestScenarioRunner
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base/src/it/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformerSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/test/RequestResponseTestMainSpec.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/InterpreterTestRunnerTest.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/testmode/TestProcess.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/ResultsCollectingListener.scala
  utils/components-testkit/src/main/scala/pl/touk/nussknacker/engine/util/test/TestExtensionsHolder.scala
  utils/components-testkit/src/main/scala/pl/touk/nussknacker/engine/util/test/TestScenarioRunner.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkProcessCompilerWithTestComponents.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
  utils/flink-components-testkit/src/test/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunnerSpec.scala
  utils/lite-components-testkit/src/test/scala/pl/touk/nussknacker/engine/lite/util/test/LiteTestScenarioRunnerSpec.scala
Labels: docs

#4912 Nu 1061 process service refactor
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ProcessName.scala
  designer/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ListenerScenarioWithDetails.scala
  designer/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/services/PullProcessRepository.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/scenariodetails/ScenarioVersion.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/scenariodetails/ScenarioWithDetails.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessDirectives.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesExportResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentsUsageHelper.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/initialization/Initialization.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/metrics/RepositoryGauges.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessToolbarService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ScenarioQuery.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ScenarioWithDetailsConversions.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/CustomActionInvokerService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigrator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/RemoteEnvironment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/TestModelMigrations.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/FetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/PullProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioShapeFetchStrategy.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioWithDetailsEntity.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/AppApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/PdfExporter.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockFetchingProcessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockFetchingProcessRepositorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/StubDeploymentService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessUtil.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentTestProcessData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentsUsageHelperTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/initialization/InitializationOnDbItSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ConfigProcessToolbarServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/PdfExporterSpec.scala
  docs/MigrationGuide.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessAction.scala
Labels: docs

#4923 Fix non-unique test case ids when testing scenario with union
  CONTRIBUTING.md
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/Context.scala
  docs/Changelog.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformer.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformer.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformer.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformersTestModeSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/ForEachTransformer.scala
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/Union.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/test/RequestResponseTestMainSpec.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: docs

#4946 Cypress changes
  designer/client/cypress.config.ts
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should open properties #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should display question mark when renaming a node and updating the count #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should make a deploy of the new version #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work with counts #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work with counts #1.png
  designer/client/cypress/e2e/components.cy.ts
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/e2e/nodeWindow.cy.ts
  designer/client/cypress/e2e/process.cy.ts
  designer/client/cypress/e2e/switch.cy.ts
  designer/client/cypress/e2e/undo.cy.ts
  designer/client/cypress/support/overrides.ts
  designer/client/cypress/support/process.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/patches/@4tw+cypress-drag-drop+2.2.5.patch
  designer/submodules/configs/webpack/dev.ts
Labels: ui, client, submodules

#4933 [NU-1145] fragment outputs
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should display dead-ended fragment correct #0.png
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/fixtures/deadEndFragment.json
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/calculateProcessAfterChange.ts
  designer/client/src/actions/nk/fetchVisualizationData.ts
  designer/client/src/actions/nk/node.ts
  designer/client/src/actions/nk/process.ts
  designer/client/src/actions/nk/processDefinitionData.ts
  designer/client/src/actions/reduxTypes.ts
  designer/client/src/components/graph/EspNode/element.ts
  designer/client/src/components/graph/NodeUtils.ts
  designer/client/src/components/graph/ProcessGraph.tsx
  designer/client/src/components/graph/node-modal/node/FragmentContent.tsx
  designer/client/src/components/graph/utils/graphUtils.ts
  designer/client/src/components/history/ProcessHistory.tsx
  designer/client/src/reducers/graph/correctFetchedDetails.ts
  designer/client/src/reducers/graph/reducer.ts
Labels: ui, client

#4964 [NU-1061] ClazzDefinition's method not exposed via REST API
  build.sbt
  designer/client/src/types/process.ts
  designer/client/test/ProcessUtils-test.js
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
Labels: ui, client
