Repository TouK/nussknacker, pull requests merged in 2023-08, with the labels that each got.

#4535 Increase max diff threshold for specific Cypress test
  designer/client/cypress/e2e/components.cy.ts
Labels: ui, client

#4532 Remove temporary SQL SpEL Template language
  common-api/src/main/scala/pl/touk/nussknacker/engine/graph/expression/Expression.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display colorfull sql code #0.png
  designer/client/cypress/fixtures/withSqlEditor.json
  designer/client/cypress/fixtures/withSqlEditor2.json
  designer/client/src/brace/mode/sql.js
  designer/server/src/main/scala/pl/touk/nussknacker/ui/suggester/ExpressionSuggester.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/OptionalityBasedDefaultValueDeterminer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/TypeRelatedParameterValueDeterminer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
Labels: ui, client

#4517 Improve readability of types display
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultErrorMessagesSpec.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultSpec.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherWithCacheTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherWithCacheTest.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display completions for second line (bugfix) #0.png
  docs/Changelog.md
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/UniversalKafkaSinkValidationSpec.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalAvroSchemaFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/LiteRequestResponseFunctionalTest.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/CustomNodeValidationSpec.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/CollectionUtilsSpec.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidatorPrinter.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoderTest.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidatorPrinter.scala
Labels: ui, docs, client

#4536 fixed switchable editor hints
  designer/client/src/components/graph/node-modal/editors/expression/BoolEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Cron/CronEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/DateTimeEditor/DateEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/DateTimeEditor/DateTimeEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/DateTimeEditor/TimeEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/DualParameterEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Duration/DurationEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Duration/PeriodEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Editor.ts
  designer/client/src/components/graph/node-modal/editors/expression/FixedValuesEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/JsonEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/SqlEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/StringEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/TextareaEditor.tsx
Labels: ui, client

#4538 NU-382 Fix no validation after scenario paste issue
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should validate process on nodes paste #0.png
  designer/client/cypress/e2e/process.cy.ts
  designer/client/src/actions/nk/node.ts
  designer/client/src/components/graph/SelectionContextProvider.tsx
Labels: ui, client

#4540 Improvement: Allow to select a field from OIDC JWT to represent the username
  designer/server/src/main/resources/defaultDesignerConfig.conf
  docs/Changelog.md
  docs/installation/Installation.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  security/src/it/scala/pl/touk/nussknacker/ui/security/oauth2/GenericOidcServiceSpec.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2Configuration.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2Profile.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OpenIdConnectProfile.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcAuthenticationConfiguration.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcAuthenticationProvider.scala
  security/src/test/resources/oauth2-users.conf
  security/src/test/resources/oidc.conf
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/OpenIdConnectProfileTest.scala
Labels: docs

#4556 Handle isFragment / isSubprocess in Decoder / Encoder
  designer/client/cypress/e2e/components.cy.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  designer/restmodel/src/test/scala/pl/touk/nussknacker/restmodel/ProcessDetailsCodecSpec.scala
Labels: ui, client

#4555 Remove: Back compatibility for encoding/decoding UIParameter
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/restmodel/src/test/scala/pl/touk/nussknacker/restmodel/definition/UIParameterSpec.scala
  docs/Changelog.md
Labels: docs

#4564 fix issue with components tab documentation links
  designer/client/cypress/e2e/components.cy.ts
  designer/submodules/packages/components/src/components/componentTable.tsx
Labels: ui, client, submodules

#4565 Fix counts latest deploy dropdown style
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have quick ranges (with optional latest deploy #2.png
  designer/client/cypress/e2e/process.cy.ts
  designer/client/src/components/common/DropdownButton.tsx
Labels: ui, client

#4567 Fix warnings message
  designer/client/src/components/tips/Warnings.js
Labels: ui, client

#4568 notification closing - fix attempt
  designer/client/src/actions/notificationActions.tsx
  designer/client/src/components/notifications/notifications.styl
  designer/client/src/containers/Notifications.tsx
Labels: ui, client

#4569 NU-980: Error on page open
  designer/client/src/i18n.ts
  designer/submodules/packages/components/src/settings/i18n.ts
  designer/submodules/packages/legacy_scenarios/src/i18n.ts
Labels: ui, client, submodules

#4492 Add ad hoc testing support to fragments
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/processreport/ProcessCounter.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/processreport/ProcessCounterTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFragmentInputDefinitionSource.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/StreamExecutionEnvPreparer.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkStubbedRunner.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFragmentInputDefinitionSourceSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/TestWithTestDataSpec.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/RequestResponseTestWithParametersTest.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/InterpreterTestRunnerTest.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/CompilationResult.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/PartSubGraphCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/StubbedFragmentInputTestSource.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compiledgraph/node.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/NodeComponentInfoExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/FragmentComponentDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProviderSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/api/PartReference.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/MetaDataExtractor.scala
Labels: docs

#4573 Fragment node validation fixed
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/closeModals.ts
  designer/client/src/actions/nk/genericAction.ts
  designer/client/src/actions/nk/index.ts
  designer/client/src/actions/nk/nodeDetails.ts
  designer/client/src/actions/nk/ui/uiActions.ts
  designer/client/src/actions/reduxTypes.ts
  designer/client/src/components/graph/node-modal/NodeAdditionalInfoBox.tsx
  designer/client/src/components/graph/node-modal/NodeDetailsContent/selectors.tsx
  designer/client/src/components/graph/node-modal/NodeTypeDetailsContent.tsx
  designer/client/src/components/graph/node-modal/Variable.tsx
  designer/client/src/components/graph/node-modal/node/FragmentContent.tsx
  designer/client/src/reducers/nodeDetailsState.ts
Labels: ui, client

#4570 Update changelog
  docs/Changelog.md
Labels: docs

#4562 Some links for better interconnection of concepts
  docs/installation_configuration_guide/Common.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/integration/KafkaIntegration.md
  docs/integration/MachineLearning.md
  docs/integration/OpenAPI.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
Labels: docs

#4572 The package of improvements
  docs/Changelog.md
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/flink/scala-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinfo/caseclass/CaseClassTypeInfoFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaUniversalComponentTransformer.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/ResourceLoader.scala
Labels: docs

#4574 Improvements: at `KafkaClient` and `RichKafkaConsumer` in kafka-test-utils
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/CirceUtil.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumerSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactorySpec.scala
  engine/flink/management/dev-model/src/test/scala/pl/touk/nussknacker/engine/process/NamespacedKafkaSourceSinkTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaAvroPayloadIntegrationSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/ConfluentKafkaAvroSerializationSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/KafkaAvroItSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/KafkaAvroSchemaJsonPayloadItSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/StateCompatibilityTest.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/BaseNuKafkaRuntimeDockerTest.scala
  engine/lite/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeBinTest.scala
  engine/lite/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeDockerAvroTest.scala
  engine/lite/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeDockerJsonTest.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  utils/kafka-test-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/ConsumerRecordHelper.scala
  utils/kafka-test-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaClient.scala
  utils/kafka-test-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/RichKafkaConsumer.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/KafkaWithSchemaRegistryOperations.scala
Labels: docs

#4587 fix connection error flaky tests
  designer/client/cypress/e2e/connectionError.cy.ts
Labels: ui, client

#4588 Customize search and replace ace editor styles
  designer/client/src/brace/theme/nussknacker.css
Labels: ui, client

#4584 NU-975 remove dependency to react-bootstrap/lib/Panel
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/src/components/toolbarComponents/Panel.tsx
  designer/client/src/components/toolbarComponents/ToolbarWrapper.tsx
Labels: ui, client

#4590 Update changelog after 1.11
  docs/Changelog.md
Labels: docs

#4593 Update migration guide after 1.11
  docs/MigrationGuide.md
Labels: docs

#4586 NU-976 remove dependency to Popover from react-bootstrap
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/Process/ProcessStateIcon.tsx
  designer/client/src/overrides.d.ts
Labels: ui, client

#4583 DeploymentManager: ability to cancel specific deployment for scenario
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/BaseDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
Labels: docs

#4552 Auto image change
  CONTRIBUTING.md
  designer/client/cypress/e2e/autoScreenshotChangeDocs.cy.ts
  designer/client/cypress/fixtures/docsAggregatesFullOuterJoin#0.json
  designer/client/cypress/fixtures/docsAggregatesSingleSideJoin#0.json
  designer/client/cypress/fixtures/docsBasicComponentsChoice#0.json
  designer/client/cypress/fixtures/docsBasicComponentsFilter#0.json
  designer/client/cypress/fixtures/docsBasicComponentsFilter#1.json
  designer/client/cypress/fixtures/docsBasicComponentsForEach#0.json
  designer/client/cypress/fixtures/docsBasicComponentsMapVariable#0.json
  designer/client/cypress/fixtures/docsBasicComponentsSplit#0.json
  designer/client/cypress/fixtures/docsBasicComponentsUnion#0.json
  designer/client/cypress/fixtures/docsBasicComponentsVariable#0.json
  designer/client/cypress/fixtures/docsBasicComponentsVariable#1.json
  designer/client/cypress/fixtures/docsFragmentsInputs#0.json
  designer/client/cypress/fixtures/docsFragmentsOutputs#0.json
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - choice #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - choice #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - foreach #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - mapmariable #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - mapmariable #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - split #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - union #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - union #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #1.png
  docs/scenarios_authoring/BasicNodes.md
Labels: ui, docs, client

#4608 Fix migration in 1.11
  designer/server/src/main/scala/db/migration/V1_043__RenameSubprocessToFragmentDefinition.scala
  designer/server/src/main/scala/db/migration/V1_046__RenameSubprocessToFragmentDefinition.scala
  designer/server/src/main/scala/db/migration/hsql/V1_046__RenameSubprocessToFragment.scala
  designer/server/src/main/scala/db/migration/postgres/V1_046__RenameSubprocessToFragment.scala
  designer/server/src/test/scala/db/migration/V1_046__RenameSubprocessToFragmentDefinitionSpec.scala
  docs/Changelog.md
Labels: docs

#4609 Update changelog after 1.11.1
  docs/Changelog.md
Labels: docs

#4610 Update links to generated images
  docs/scenarios_authoring/Fragments.md
Labels: docs

#4529 PeriodicDeploymentManager: using deploymentId returned in StatusDetails
  build.sbt
  designer/client/src/components/Process/ProcessStateIcon.tsx
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/inconsistency/InconsistentStateDetector.scala
  engine/flink/management/dev-periodic-dm/src/main/scala/pl/touk/nussknacker/engine/management/dev/periodic/DevPeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/IsFollowingDeployStatusDeterminer.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessStateDefinitionManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/SchedulePropertyExtractor.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/SingleScheduleProperty.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/cron/CronParameterValidator.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/DbInitializer.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/PeriodicProcessDeployment.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/SchedulesState.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/AdditionalDeploymentDataProvider.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/CronSchedulePropertyExtractorTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessDeploymentGen.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessStateDefinitionManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/HsqlProcessRepository.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: ui, client

#4591 fix connection error flaky tests change approach
  designer/client/cypress/e2e/connectionError.cy.ts
Labels: ui, client

#4617 Sample helpers project mentioned in readme
  README.md
Labels: docs

#4613 fixed node links issues
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should add documentation url in fragment properties and show it in modal within scenario #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should preserve condition on link move (switch) #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should validate process on nodes paste #0.png
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/src/actions/nk/node.ts
  designer/client/src/components/graph/EspNode/link.ts
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/GraphPartialsInTS/applyCellChanges.ts
  designer/client/src/components/graph/GraphPartialsInTS/cellUtils.ts
  designer/client/src/components/graph/GraphPartialsInTS/createPaper.ts
  designer/client/src/components/graph/NodeUtils.ts
  designer/client/src/components/graph/arrowMarker.ts
  designer/client/src/reducers/graph/reducer.ts
  designer/client/src/reducers/graph/utils.ts
  designer/client/test/NodeUtils-test.js
Labels: ui, client

#4578 Nu 987 undo redo unwanted state changes fixed
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Node window should display periodic source #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for drop on edge #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for drop on edge #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work with 'last deployed' tag #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work with 'last deployed' tag #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work with counts #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work with counts #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work with validation #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work with validation #1.png
  designer/client/cypress/e2e/nodeWindow.cy.ts
  designer/client/cypress/e2e/process.cy.ts
  designer/client/cypress/e2e/undo.cy.ts
  designer/client/cypress/support/process.ts
  designer/client/src/actions/ActionsUtils.ts
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/node.ts
  designer/client/src/actions/nk/process.ts
  designer/client/src/actions/nk/selection.ts
  designer/client/src/actions/nk/ui/layout.ts
  designer/client/src/actions/reduxTypes.ts
  designer/client/src/actions/undoRedoActions.ts
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/SelectionContextProvider.tsx
  designer/client/src/components/modals/SaveProcessDialog.tsx
  designer/client/src/components/tips/Tips.tsx
  designer/client/src/components/toolbarSettings/useToolbarConfig.tsx
  designer/client/src/components/toolbars/edit/buttons/RedoButton.tsx
  designer/client/src/components/toolbars/edit/buttons/UndoButton.tsx
  designer/client/src/containers/Visualization.tsx
  designer/client/src/reducers/graph/nestedKeyOf.ts
  designer/client/src/reducers/graph/reducer.ts
  designer/client/src/store/configureStore.ts
  designer/client/src/store/nodeValidationMiddleware.ts
Labels: ui, client

#4606 NU-999 fixed toolbar problems
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Creator toolbar should allow filtering #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Creator toolbar should allow filtering #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Node window should display periodic source #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #0.png
  designer/client/cypress/e2e/components.cy.ts
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/e2e/nodeWindow.cy.ts
  designer/client/cypress/e2e/process.cy.ts
  designer/client/src/common/userSettings.tsx
  designer/client/src/components/SvgDiv.tsx
  designer/client/src/components/graph/GraphContext.tsx
  designer/client/src/components/tips/Tips.tsx
  designer/client/src/components/toolbarComponents/ToolbarButton.styl
  designer/client/src/components/toolbarComponents/ToolbarButton.tsx
  designer/client/src/components/toolbarComponents/ToolbarsContainer.tsx
  designer/client/src/components/toolbarSettings/ToolbarSelector.tsx
  designer/client/src/components/toolbarSettings/buttons/LinkButton.tsx
  designer/client/src/components/toolbars/edit/buttons/RedoButton.tsx
  designer/client/src/components/toolbars/edit/buttons/UndoButton.tsx
  designer/client/src/components/toolbars/process/buttons/SaveButton.tsx
  designer/client/src/components/toolbars/status/ProcessInfo.tsx
  designer/client/src/reducers/selectors/graph.ts
  designer/client/src/reducers/selectors/userSettings.ts
  designer/client/src/styles.ts
  designer/client/src/stylesheets/_variables.styl
  designer/client/src/stylesheets/graph.styl
  designer/client/test/Process/__snapshots__/ProcessStateIcon-test.tsx.snap
  designer/client/test/ProcessAttachments-test.js
  designer/client/test/ProcessHistory-test.js
Labels: ui, client
