Repository TouK/nussknacker, pull requests merged in 2023-11, with the labels that each got.

#4745 [NU-983] Add BE node and scenario name validation
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  designer/client/src/actions/nk/nodeDetails.ts
  designer/client/src/components/graph/node-modal/IdField.tsx
  designer/client/src/components/graph/node-modal/NodeCommonDetailsDefinition.tsx
  designer/client/src/components/graph/node-modal/NodeDetailsContent/NodeDetailsFallback.tsx
  designer/client/src/components/graph/node-modal/NodeTypeDetailsContent.tsx
  designer/client/src/components/graph/node-modal/SourceSinkCommon.tsx
  designer/client/src/components/graph/node-modal/Variable.tsx
  designer/client/src/components/graph/node-modal/editors/Validators.ts
  designer/client/src/components/graph/node-modal/enricherProcessor.tsx
  designer/client/src/components/graph/node-modal/filter.tsx
  designer/client/src/components/graph/node-modal/fragmentInput.tsx
  designer/client/src/components/graph/node-modal/joinCustomNode.tsx
  designer/client/src/components/graph/node-modal/properties.tsx
  designer/client/src/components/graph/node-modal/split.tsx
  designer/client/src/components/graph/node-modal/switch.tsx
  designer/client/src/components/tips/error/NodeErrorLink.tsx
  designer/client/src/http/HttpService.ts
  designer/client/src/reducers/selectors/graph.ts
  designer/client/src/store/nodeValidationMiddleware.ts
  designer/client/src/types/node.ts
  designer/client/src/types/process.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/restmodel/src/test/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrorsTest.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/IdValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/IdValidatorTest.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/ScenarioBuilder.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/canonicalgraph/CanonicalProcess.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
Labels: ui, docs, client

#4988 Change authenticationMethod type from Auth to EndpointInput
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AppApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/BaseEndpointDefinitions.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NuDesignerApiAvailableToExposeYamlSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/AuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/basicauth/BasicAuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/dummy/DummyAuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2AuthenticationResources.scala
Labels: docs

#4992 Sort periodic process deployments not only by runAt but also by createdAt
  docs/Changelog.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessStateDefinitionManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/PeriodicProcessDeployment.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/SchedulesState.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessDeploymentGen.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessStateDefinitionManagerTest.scala
Labels: docs

#4991 [NU-1191][NU-1202][NU-1203] fix various issues with a diagram
  designer/client/src/components/graph/CursorMask.ts
  designer/client/src/components/graph/GlobalCursor.ts
  designer/client/src/components/graph/PanZoomPlugin.ts
  designer/client/src/components/graph/RangeSelectPlugin.ts
Labels: ui, client

#5003 Fix NodeAdditionalInfo style
  designer/client/src/components/graph/node-modal/NodeAdditionalInfoBox.tsx
Labels: ui, client

#5028 value in ParameterValidator is optional now
  components-api/src/main/java/pl/touk/nussknacker/engine/api/validation/CompileTimeEvaluableValue.java
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterValidator.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/definition/ParameterValidatorSpec.scala
  designer/client/src/components/graph/node-modal/editors/Validators.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ScenarioPropertiesValidator.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/ScenarioPropertiesValidatorTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/model/ModelConfiguration.md
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/CampaignService.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/ConfiguratorService.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/SimpleTypesService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/cron/CronParameterValidator.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/CronSchedulePropertyExtractorTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalAvroSchemaFunctionalTest.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/Validations.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/validator/CompileTimeEvaluableValueValidatorExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/validator/LiteralValidatorExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/validator/ValidatorsExtractor.scala
  interpreter/src/test/resources/reference.conf
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/parameter/validator/ValidatorsExtractorTest.scala
Labels: ui, docs, client

#5033 Update Scala 2.13 to 2.13.12
  build.sbt
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/fragment/FragmentRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessAttachmentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/TestInfoResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigratorSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/FlinkKafkaDelayedSourceImplFactory.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessDeploymentsTable.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/rest/FlinkHttpClientTest.scala
  engine/lite/runtime-app/src/main/scala/pl/touk/nussknacker/engine/lite/app/NuRuntimeApp.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/DefaultOAuth2ServiceFactorySpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/ExampleOAuth2ServiceFactorySpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2AuthenticationResourcesSpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oidc/OidcDiscoveryTest.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/serialization/AzureAvroSerializerFactory.scala
Labels: docs

#5020 [NU-1284] fix editors height
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Node window should display periodic source #0.png
  designer/client/src/components/graph/node-modal/editors/EditableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Cron/CronEditorStyled.ts
  designer/client/src/components/graph/node-modal/editors/expression/Duration/TimeRangeSection.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Duration/TimeRangeStyled.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/NodeStyled.tsx
Labels: ui, client

#5039 [NU-1290] Global variables types are removed from communication between BE and FE
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/suggester/ExpressionSuggesterBenchmarkSetup.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display completions for second line (bugfix) #0.png
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/components/graph/node-modal/NodeDetailsContent/selectors.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggester.ts
  designer/client/src/http/HttpService.ts
  designer/client/src/types/process.ts
  designer/client/test/ProcessUtils-test.js
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/suggester/ExpressionSuggester.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ExpressionSuggesterSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverterSpec.scala
  docs/MigrationGuide.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testing/ProcessDefinitionBuilder.scala
Labels: ui, docs, client

#5052 [NU-1290] Parameters API (suggester+validate) refactor: less data passed in request
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/suggester/ExpressionSuggesterBenchmarkSetup.scala
  designer/client/src/actions/nk/genericAction.ts
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggester.ts
  designer/client/src/components/modals/GenericActionDialog.tsx
  designer/client/src/components/toolbars/test/buttons/TestWithFormButton.tsx
  designer/client/src/http/HttpService.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/suggester/ExpressionSuggester.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ParametersValidator.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ExpressionSuggesterSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  docs/MigrationGuide.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/GenericNodeTransformationValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestDataPreparer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/variables/GlobalVariablesPreparer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/variables/MetaVariables.scala
Labels: ui, docs, client

#4887 ValidationExpressionParameterValidator
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  build.sbt
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterValidator.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/definition/ParameterValidatorSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFragmentInputDefinitionSource.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/VerificationFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkVerificationMain.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerTest.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFragmentInputDefinitionSourceSpec.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/RequestResponseTestWithParametersTest.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/FragmentComponentDefinitionExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/CustomNodeValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelConversionServiceOverrideSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkProcessCompilerWithTestComponents.scala
Labels: docs

#5032 [Nu 1283] add validation errors from a backend
  designer/client/src/components/graph/node-modal/editors/Validators.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/FieldsSelect.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/FragmentInputDefinition.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/TypeSelect.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/Item.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/types.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/Settings.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/DefaultVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/AnyValueVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/AnyValueWithSuggestionVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/FixedListVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/FixedValuesGroup.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/FixedValuesSetting.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/InitialValue.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/ListItems.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/StyledSettingsComponnets.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/UserDefinedListInput.tsx
  designer/client/src/components/modals/ValidationLabels.tsx
  designer/client/test/Process/FixedValuesSettings-test.tsx
  designer/client/test/Process/FrgamentInputDefinition/FixedValuesGroup-test.tsx
  designer/client/test/Process/FrgamentInputDefinition/Item-test.tsx
Labels: ui, client
