Repository TouK/nussknacker, pull requests merged in 2023-01, with the labels that each got.

#3836 Engines support testing scenarios with multiple sources
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/test/ScenarioTestData.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/test/TestData.scala
  designer/client/actions/nk/assignSettings.ts
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TestInfoResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/RawScenarioTestData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestDataSerDe.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/test/resources/designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/TestInfoResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestDataSerDeTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/VerificationFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMain.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerTest.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/TestFromFileSpec.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingProcessTestRunnerSpec.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkProcessTestRunner.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/AvroNodesClassloadingSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/TestFromFileSpec.scala
  engine/lite/deploymentManager/src/main/scala/pl/touk/nussknacker/lite/manager/LiteDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/test/RequestResponseTestMainSpec.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/TestRunner.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/InterpreterTestRunnerTest.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/sample.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/TestInfoProvider.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestDataPreparer.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ModelDataTestInfoProviderSpec.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/RecordFormatter.scala
  utils/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/RecordFormatterTest.scala
Labels: ui, docs, client

#3847 Added date of release for v1.7.0 in docs
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#3843 Generate data for scenarios with multiple sources
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/test/ScenarioTestData.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/test/TestData.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompiler.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerTest.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/TestInfoProvider.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ModelDataTestInfoProviderSpec.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/RecordFormatter.scala
  utils/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/ListUtilSpec.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/ListUtil.scala
  utils/utils/src/test/scala/pl/touk/nussknacker/engine/util/ListUtilSpec.scala
Labels: docs

#3874 Tumbling window with OnEvent trigger saves context
  docs/Changelog.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/OnEventTriggerWindowOperator.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/transformers.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
Labels: docs

#3872 Cleanup SVG classes
  designer/client/assets/icons/tipsWarning.svg
  designer/client/assets/img/arrows/arrow-left.svg
  designer/client/assets/img/arrows/arrow-right.svg
  designer/client/assets/img/arrows/back-process.svg
  designer/client/assets/img/arrows/panel-hide-arrow.svg
  designer/client/assets/img/buttons/switch.svg
  designer/client/assets/img/close-icon.svg
  designer/client/assets/img/collapse.svg
  designer/client/assets/img/create-process.svg
  designer/client/assets/img/documentation.svg
  designer/client/assets/img/edit-icon.svg
  designer/client/assets/img/expand.svg
  designer/client/assets/img/favicon.svg
  designer/client/assets/img/filter-icon.svg
  designer/client/assets/img/filter.svg
  designer/client/assets/img/menu-closed.svg
  designer/client/assets/img/menu-open.svg
  designer/client/assets/img/nussknacker-logo.svg
  designer/client/assets/img/properties.svg
  designer/client/assets/img/save-icon.svg
  designer/client/assets/img/search.svg
  designer/client/assets/img/split.svg
  designer/client/assets/img/toolbarButtons/JSON.svg
  designer/client/assets/img/toolbarButtons/PDF.svg
  designer/client/assets/img/toolbarButtons/archive.svg
  designer/client/assets/img/toolbarButtons/compare.svg
  designer/client/assets/img/toolbarButtons/copy.svg
  designer/client/assets/img/toolbarButtons/counts.svg
  designer/client/assets/img/toolbarButtons/custom_action.svg
  designer/client/assets/img/toolbarButtons/delete.svg
  designer/client/assets/img/toolbarButtons/deploy.svg
  designer/client/assets/img/toolbarButtons/from-file.svg
  designer/client/assets/img/toolbarButtons/generate.svg
  designer/client/assets/img/toolbarButtons/group-cancel.svg
  designer/client/assets/img/toolbarButtons/group-finish.svg
  designer/client/assets/img/toolbarButtons/group-start.svg
  designer/client/assets/img/toolbarButtons/hide.svg
  designer/client/assets/img/toolbarButtons/import.svg
  designer/client/assets/img/toolbarButtons/layout.svg
  designer/client/assets/img/toolbarButtons/link.svg
  designer/client/assets/img/toolbarButtons/migrate.svg
  designer/client/assets/img/toolbarButtons/paste.svg
  designer/client/assets/img/toolbarButtons/properties.svg
  designer/client/assets/img/toolbarButtons/redo.svg
  designer/client/assets/img/toolbarButtons/resetgui.svg
  designer/client/assets/img/toolbarButtons/save.svg
  designer/client/assets/img/toolbarButtons/stop.svg
  designer/client/assets/img/toolbarButtons/unarchive.svg
  designer/client/assets/img/toolbarButtons/undo.svg
  designer/client/assets/img/toolbarButtons/ungroup.svg
  designer/client/assets/img/toolbarButtons/zoom-in.svg
  designer/client/assets/img/toolbarButtons/zoom-out.svg
  designer/client/package.json
  designer/client/svgo.config.js
Labels: ui, client

#3878 Update README.md
  README.md
Labels: docs

#3840 Survey toolbar
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/CirceUtil.scala
  designer/client/actions/nk/assignSettings.ts
  designer/client/assets/img/arrows/panel-hide-arrow.svg
  designer/client/assets/img/close.svg
  designer/client/components/FrameDialog.tsx
  designer/client/components/tips/Tips.tsx
  designer/client/components/toolbarComponents/CollapsibleToolbar.styl
  designer/client/components/toolbarComponents/CollapsibleToolbar.tsx
  designer/client/components/toolbarComponents/DefaultToolbarPanel.tsx
  designer/client/components/toolbarComponents/ToolbarWrapper.tsx
  designer/client/components/toolbarComponents/ToolbarsContainer.tsx
  designer/client/components/toolbarComponents/ToolbarsLayer.styl
  designer/client/components/toolbarComponents/ToolbarsLayer.tsx
  designer/client/components/toolbarComponents/toolbar.ts
  designer/client/components/toolbarSettings/TOOLBAR_COMPONENTS_MAP.ts
  designer/client/components/toolbarSettings/WIP_TOOLBARS.ts
  designer/client/components/toolbarSettings/defaultToolbarsConfig.ts
  designer/client/components/toolbars/AttachmentsPanel.tsx
  designer/client/components/toolbars/CommentsPanel.tsx
  designer/client/components/toolbars/Survey.tsx
  designer/client/components/toolbars/Toolbars.tsx
  designer/client/components/toolbars/UserSettingsPanel.tsx
  designer/client/components/toolbars/VersionsPanel.tsx
  designer/client/components/toolbars/creator/CreatorPanel.tsx
  designer/client/components/toolbars/status/ProcessInfo.tsx
  designer/client/components/toolbars/useSurvey.tsx
  designer/client/containers/DynamicTab.tsx
  designer/client/containers/muiThemeProvider.tsx
  designer/client/containers/theme.tsx
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/cypress/e2e/process.cy.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/reducers/selectors/settings.ts
  designer/client/reducers/settings.ts
  designer/client/stylesheets/_variables.styl
  designer/client/webpack.config.js
  designer/client/windowManager/ContentGetter.tsx
  designer/client/windowManager/WindowKind.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/FeatureTogglesConfig.scala
  designer/server/src/test/resources/designer.conf
  designer/submodules/packages/components/webpack.config.ts
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: ui, client, submodules

#3845 updated typescript and co.
  designer/client/common/VisualizationUrl.ts
  designer/client/components/graph/GraphWrapped.tsx
  designer/client/components/graph/ProcessGraph.tsx
  designer/client/components/graph/focusable.tsx
  designer/client/components/graph/node-modal/subprocess-input-definition/MovableRow.tsx
  designer/client/components/versionInfo.tsx
  designer/client/containers/CustomTabPage.tsx
  designer/client/containers/Page.tsx
  designer/client/containers/Visualization.js
  designer/client/containers/hooks/useCombinedRefs.tsx
  designer/client/containers/hooks/useSize.tsx
  designer/client/cypress/e2e/__image_snapshots__/.gitignore
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/e2e/process.cy.ts
  designer/client/cypress/e2e/processSelection.cy.ts
  designer/client/cypress/e2e/switch.cy.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/stylesheets/togglePanel.styl
  designer/client/stylesheets/visualization.styl
Labels: ui, client

#3853 Json schema pattern properties support in kafka sinks
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  docs/Changelog.md
  docs/integration/DataTypingAndSchemasHandling.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/JsonTestData.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSinkValueParameter.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidator.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidatorPrinter.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/util/json/JsonSchemaImplicits.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidatorTest.scala
Labels: docs

#3894 Minor cosmetics of Nu db configuration docs
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/README.md
Labels: docs

#3896 Update installation with missing envs
  docs/installation_configuration_guide/Installation.md
Labels: docs

#3890 NU-892 | No notification on copy and paste
  designer/client/components/graph/SelectionContextProvider.tsx
Labels: ui, client

#3884 Node drop undo
  designer/client/actions/actionTypes.ts
  designer/client/actions/nk/node.ts
  designer/client/actions/nk/selection.ts
  designer/client/actions/nk/ui/layout.ts
  designer/client/components/graph/Graph.tsx
  designer/client/components/graph/SelectionContextProvider.tsx
  designer/client/components/graph/joint-events.ts
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should allow pan view #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should select only fully covered (to right) #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should select only fully covered (to right) #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should select partially covered (to left) #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should select partially covered (to left) #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should switch modes, append and inverse select with shift #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should switch modes, append and inverse select with shift #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should switch modes, append and inverse select with shift #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should switch modes, append and inverse select with shift #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for add and move to edge #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for add and move to edge #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for add and move to edge #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for add and move to edge #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for add and move to edge #4.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for add and move to edge #5.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for add and move to edge #6.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for copypaste #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for copypaste #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for drop on edge #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for drop on edge #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for drop on edge #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for drop on edge #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for move #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for move #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for move #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for move #3.png
  designer/client/cypress/e2e/process.cy.ts
  designer/client/cypress/e2e/undo.cy.ts
  designer/client/cypress/support/process.ts
  designer/client/reducers/graph/batchGroupBy.ts
  designer/client/reducers/graph/reducer.ts
Labels: ui, client

#3879 NU-804 | Decrease vendors chunk count
  designer/client/webpack.config.js
Labels: ui, client

#3905 Fix dropdown zIndex
  designer/client/components/common/DropdownButton.tsx
  designer/client/components/graph/node-modal/editors/expression/FixedValuesEditor.tsx
  designer/client/components/graph/node-modal/subprocess-input-definition/TypeSelect.tsx
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Dropdown should display menu portal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Dropdown should display menu portal #1.png
  designer/client/cypress/e2e/dropdown.cy.ts
  designer/client/stylesheets/select.styl
Labels: ui, client

#3917 corrected info on PG drivers
  docs/installation_configuration_guide/DesignerConfiguration.md
Labels: docs

#3922 Bumps: jwks 0.19.0 -> 0.21.3, jackson: 2.11.3 -> 2.13.4
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#3918 Revert skipped test should add documentation url in fragment properties
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should add documentation url in fragment properties and show it in modal within scenario #0.png
  designer/client/cypress/e2e/fragment.cy.ts
Labels: ui, client

#3911 Change message Invalid end of scenario
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  designer/client/components/tips/Errors.js
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverterSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
Labels: ui, client

#3923 Bump sbt-native-packager
  CONTRIBUTING.md
  project/plugins.sbt
Labels: docs

#3925 update @touk/window-manager
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should add documentation url in fragment properties and show it in modal within scenario #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/package-lock.json
  designer/client/package.json
Labels: ui, client

#3929 Value class for SchemaId + schema id as a String
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/avro/AvroBenchmark.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/avro/AvroBenchmarkSpec.scala
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/avro/AvroSamples.scala
  docs/MigrationGuide.md
  engine/flink/schemed-kafka-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/LogicalTypesAvroFactory.java
  engine/flink/schemed-kafka-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/LogicalTypesAvroSerializer.java
  engine/flink/schemed-kafka-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/LogicalTypesAvroSerializerSnapshot.java
  engine/flink/schemed-kafka-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/LogicalTypesAvroTypeInfo.java
  engine/flink/schemed-kafka-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/LogicalTypesGenericRecordAvroTypeInfo.java
  engine/flink/schemed-kafka-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/LogicalTypesGenericRecordWithSchemaIdAvroTypeInfo.java
  engine/flink/schemed-kafka-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/LogicalTypesSchemaIdAvroSerializer.java
  engine/flink/schemed-kafka-components-utils/src/main/java/org/apache/flink/formats/avro/typeutils/LogicalTypesSchemaIdAvroSerializerSnapshot.java
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/FlinkConfluentUtils.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/kryo/SchemaIdBasedAvroGenericRecordSerializer.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/kryo/SchemaIdBasedAvroGenericRecordSerializerSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/ConfluentKafkaAvroDeserializationSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/ConfluentKafkaAvroSerializationSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/ConfluentUniversalKafkaDeserializerTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalAvroSchemaFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalCrossSourceLiteTest.scala
  engine/lite/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/NuKafkaRuntimeDockerAvroTest.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteKafkaTestScenarioRunner.scala
  utils/schemed-kafka-components-utils/src/main/java/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/GenericRecordWithSchemaId.java
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/AvroSchemaDeterminer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/AvroUtils.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/SchemaId.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/SchemaRegistryClient.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/SchemaWithMetadata.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/ConfluentUtils.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/client/CachedConfluentSchemaRegistryClient.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/client/CachedConfluentSchemaRegistryClientFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/client/ConfluentSchemaRegistryClient.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/formatter/ConfluentAvroToJsonFormatterFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/formatter/UniversalToJsonFormatterFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/AbstractConfluentKafkaAvroDeserializer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/universal/ConfluentUniversalKafkaSerde.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/universal/UniversalSchemaIdFromMessageExtractor.scala
Labels: docs

#3938 Remove splitChunks
  designer/client/webpack.config.js
Labels: ui, client

#3940 viewport change in fragment test
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should add documentation url in fragment properties and show it in modal within scenario #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #2.png
  designer/client/cypress/e2e/fragment.cy.ts
Labels: ui, client

#3939 Update testing docs
  docs/integration/OpenAPI.md
  docs/scenarios_authoring/TestingAndDebugging.md
Labels: docs

#3916 Survey update
  designer/client/actions/nk/assignSettings.ts
  designer/client/components/ProcessAttachments.tsx
  designer/client/components/toolbars/Survey.tsx
  designer/client/containers/EnvironmentTag.tsx
  designer/client/containers/NussknackerApp.tsx
  designer/client/stylesheets/mainMenu.styl
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/test/resources/designer.conf
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: ui, docs, client

#3946 Update survey texts
  designer/client/components/toolbars/Survey.tsx
  designer/server/src/main/resources/defaultDesignerConfig.conf
Labels: ui, client

#3953 cache node modules in cypress tests
  .github/workflows/pr.yml
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Creator toolbar should allow filtering #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #0.png
Labels: ui, client

#3945 Add endpoint to get category with processingType
  designer/client/http/HttpService.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AppResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessCategoryService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/AppResourcesSpec.scala
  docs/Changelog.md
Labels: ui, docs, client

#3958 Add content-type to openapi enrichers
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenApiScenarioIntegrationTest.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequest.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/package.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/ParseToSwaggerService.scala
  docs/Changelog.md
Labels: docs

#3965 Update fixes branch - Add content-type to openapi enrichers (#3958)
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenApiScenarioIntegrationTest.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequest.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/package.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/ParseToSwaggerService.scala
  docs/Changelog.md
Labels: docs

#3963 Filter services based on user permissions
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestCategories.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestPermissions.scala
  docs/Changelog.md
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
Labels: docs

#3924 JSON schema pattern properties support in sources
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ServiceRequest.scala
  components/openapi/src/test/resources/swagger/swagger-3.1-array.yml
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/parser/SwaggerParserTest.scala
  docs/Changelog.md
  docs/integration/DataTypingAndSchemasHandling.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/JsonTestData.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonDefaultExpressionDeterminer.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSchemaBuilder.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractor.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoder.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidator.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/OpenAPISchemaParser.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToNuStruct.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractorTest.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidatorTest.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonDeserializerSpec.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToNuStructTest.scala
Labels: docs

#3967 MigrationGuide.md entries related to JSON Schema patternProperties changes.
  docs/MigrationGuide.md
Labels: docs
