Repository TouK/nussknacker, pull requests merged in 2023-12, with the labels that each got.

#5094 [NU-1279] fix fragment params visibility in compare
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare versions should render compare a version with fragment input parameters change marked #0.png
  designer/client/cypress/e2e/compareVersions.cy.ts
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/fixtures/compareVersions.json
  designer/client/src/components/graph/node-modal/useParametersList.ts
  designer/client/src/components/modals/CompareVersionsDialog.tsx
Labels: ui, client

#5059 [NU-1291] Make processing type to category mapping 1-to-1 instead of 1-to-many
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should apply filters from query #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display component #0.png
  designer/client/cypress/e2e/components.cy.ts
  designer/server/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AppApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/UserResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/LocalProcessingTypeDataProviderFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessCategoryService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionService.scala
  designer/server/src/test/resources/basicauth-users.conf
  designer/server/src/test/resources/designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/AppApiSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesApiSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesChangeListenerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesExportImportResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/TestInfoResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/UsersResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/NuScenarioConfigurationHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestCategories.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestPermissions.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessingTypes.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentModels.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentTestProcessData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ConfigProcessCategoryServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/fragment/FragmentRepositorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataConfigurationReaderSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReaderSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/Common.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  engine/flink/management/dev-model/src/main/resources/defaultModelConfig.conf
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeConfig.scala
  nussknacker-dist/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: ui, docs, client

#4978 Expand FragmentParameter with hintText, initialValue, required, inputMode
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/SingleComponentConfig.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/NodeDependency.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should preserve condition on link move (filter) #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should preserve condition on link move (filter) #1.png
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/ValidatedDisplayableProcess.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/uiresolving/UIProcessResolver.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/ProcessComparator.scala
  designer/server/src/test/resources/designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs/Changelog.md
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/RequestResponseTestWithParametersTest.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/displayedgraph/DisplayableProcess.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/FragmentComponentDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/ParameterExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/parameter/editor/EditorExtractorTest.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/parameter/validator/ValidatorsExtractorTest.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/graph/FragmentParameterSerializationSpec.scala
Labels: ui, docs, client

#4953 [NU-983] Add missing validations to base components
  designer/client/src/components/graph/node-modal/EdgesDndComponent.tsx
  designer/client/src/components/graph/node-modal/Variable.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Editor.ts
  designer/client/src/components/graph/node-modal/editors/map/Map.tsx
  designer/client/src/components/graph/node-modal/editors/map/MapRow.tsx
  designer/client/src/components/graph/node-modal/editors/map/MapValue.tsx
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/GenericTransformationSpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/PartSubGraphCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/Validations.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/BaseComponentValidationHelper.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/BaseNodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/RecordValidator.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
Labels: ui, docs, client

#5133 Change codec of ValueInputWithFixedValues
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should open properties #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/JSON editor should display colorfull json #1.png
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/graph/FragmentParameterSerializationSpec.scala
Labels: ui, client

#5100 [NU-1291] ComponentProvider - removed possibility to configure categories
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentProvider.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnrichers.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/model/ModelConfiguration.md
  engine/flink/management/src/it/resources/application.conf
  interpreter/src/main/scala/pl/touk/nussknacker/engine/component/ComponentExtractor.scala
Labels: docs

#5141 [NU-1291] [Security] Processing type data - check read access to category
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/server/src/main/scala/pl/touk/nussknacker/engine/CombinedProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NuDesignerError.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/additionalInfo/AdditionalInfoProviders.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NuDesignerErrorToHttp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesExportResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ValidationResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/LocalProcessingTypeDataProviderFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/NewProcessPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessCategoryService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentManagerDispatcher.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigrator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/RemoteEnvironment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/TestModelMigrations.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReload.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/AppApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettingsDeterminer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/uiresolving/UIProcessResolver.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ScenarioPropertiesValidator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/UIProcessValidator.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ConfigProcessCategoryServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/NewProcessPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverterSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/GroupByMigrationSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/TestModelMigrationsSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/UnionParametersMigrationSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReaderSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettingsDeterminerTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/ScenarioPropertiesValidatorTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs/Changelog.md
Labels: docs

#5166 enable video in cypress
  .github/workflows/pr.yml
  designer/client/cypress.config.ts
Labels: ui, client

#5163 Dict query API removal
  designer/client/src/http/HttpService.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DictResources.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/dict/DictQueryService.scala
Labels: ui, client

#5079 [NU-1211] Replacing Akka HTTP with Tapir in ComponentResource
  build.sbt
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/BaseEndpointDefinitions.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/ComponentApiEndpoints.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AppApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ComponentResource.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/BaseHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/ComponentApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/NuDesignerExposedApiHttpService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesApiSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NuDesignerApiAvailableToExposeYamlSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/MigrationGuide.md
  extensions-api/src/main/scala/pl/touk/nussknacker/security/AuthCredentials.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/AuthenticatedUser.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/AuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/basicauth/BasicAuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/basicauth/BasicHttpAuthenticator.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/dummy/DummyAuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/AuthenticationStrategy.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2AuthenticationResources.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oidc/OidcProfileAuthenticationTest.scala
Labels: docs

#5168 Fix flaky fragment tests
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #5.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #6.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #7.png
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/UserDefinedListInput.tsx
Labels: ui, client

#5203 [NU-1260] Add documentation for User OpenApi
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/UserApiEndpoints.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
Labels: docs

#4956 Refactor: Cleanup TestResults
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/Context.scala
  designer/client/src/common/TestResultUtils.ts
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioTestExecutorService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ResultsWithCounts.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/PeriodicSourceFactorySpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformersTestModeSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/FullOuterJoinTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/JavaCollectionsSerializationTest.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/SingleSideJoinTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMain.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerTest.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/TestFromFileSpec.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingProcessTestRunnerSpec.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkProcessTestRunner.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/TestWithTestDataSpec.scala
  engine/lite/deploymentManager/src/main/scala/pl/touk/nussknacker/lite/manager/LiteDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/test/RequestResponseTestMainSpec.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/TestRunner.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/InterpreterTestRunnerTest.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/sample.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/testmode/TestProcess.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/ResultsCollectingListener.scala
  utils/components-testkit/src/main/scala/pl/touk/nussknacker/engine/util/test/TestScenarioRunner.scala
Labels: ui, docs, client

#5225 Spel conditional dot - docs update
  docs/scenarios_authoring/Spel.md
Labels: docs

#5228 Fix fragment test
  designer/client/cypress/e2e/fragment.cy.ts
Labels: ui, client

#5051 Add mode to run updates in query enricher
  components/sql/src/main/scala/pl/touk/nussknacker/sql/DatabaseEnricherComponentProvider.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteMetaDataProvider.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/query/QueryExecutor.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/query/QueryResultStrategy.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/DbMetaDataProvider.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/JdbcMetaDataProvider.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseEnricherInvoker.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricher.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherTest.scala
  docs/Changelog.md
Labels: docs

#5233 [NU-1338] Fix: Not expected type: Null runtime error for non-nullable…
  docs/Changelog.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/JsonTestData.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/LiteRequestResponseFunctionalTest.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sources/JsonSchemaRequestResponseSource.scala
  engine/lite/request-response/components-utils/src/main/scala/pl/touk/nussknacker/engine/requestresponse/utils/encode/SchemaResponseEncoder.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoder.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidator.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoderTest.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidatorTest.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/ParsedSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/encode/BestEffortJsonSchemaWithAvroEncoderTest.scala
Labels: docs

#5240 Nu 1338 testkit simper result type
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupLiteRuntimeTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/IgniteEnrichmentLiteRuntimeTest.scala
  docs/MigrationGuide.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalAvroSchemaFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalCrossSourceLiteTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalSourceAvroSchemaLiteTest.scala
  utils/components-testkit/src/main/scala/pl/touk/nussknacker/engine/util/test/TestScenarioRunner.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
Labels: docs

#5237 bump node version to 20.10.0
  designer/client/.nvmrc
  designer/client/package-lock.json
  designer/client/package.json
  designer/submodules/.nvmrc
  designer/submodules/package-lock.json
  designer/submodules/package.json
Labels: ui, client, submodules

#5250 [NU-1228] Add documentaiton for Notification OpenApi
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NotificationApiEndpoints.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
Labels: docs

#5241 FragmentParameter valueCompileTimeValidation
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/NodeDependency.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/ProcessingTypeDataReaderBasedProcessingTypeDataStateFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFragmentInputDefinitionSource.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/ConfigCreatorWithCollectingListener.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/RequestResponseTestWithParametersTest.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/FactoryComponentInvoker.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/StubbedFragmentInputTestSource.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/CompilerLazyParameter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/dynamic/DynamicComponentImplementationInvoker.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/ParameterExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/StandardParameterEnrichment.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentCompleteDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentGraphDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentWithoutValidatorsDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/util/namespaces/DefaultNamespacedObjectNaming.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionDiscoverySpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/clazz/MethodDefinitionSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/component/ComponentFromProvidersExtractorTest.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/graph/FragmentParameterSerializationSpec.scala
Labels: docs

#5197 [NU-1141] Indexing on records
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ExpressionSuggesterSpec.scala
  docs/Changelog.md
  docs/scenarios_authoring/Spel.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
Labels: docs

#5247 [Nu-1279] fragment input validation fields
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #7.png
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/src/components/graph/node-modal/FieldLabel.tsx
  designer/client/src/components/graph/node-modal/editors/EditableEditor.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/Item.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/types.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/utils.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/SettingsProvider.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/DefaultVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/AnyValueVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/AnyValueWithSuggestionVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/FixedListVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/InitialValue.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/StyledSettingsComponnets.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/ValidationFields.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/ValidationsFields.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/validation.tsx
  designer/client/test/Process/FrgamentInputDefinition/Item-test.tsx
Labels: ui, client

#5234 OpenAPI enricher: Security configuration documentation clarification.
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/OpenAPIsConfigTest.scala
  docs/integration/DataTypingAndSchemasHandling.md
  docs/integration/OpenAPI.md
  docs/integration/RequestResponse.mdx
Labels: docs

#5257 Update Flink to 1.16.3
  build.sbt
  docs/Changelog.md
  engine/flink/management/src/it/resources/docker/Dockerfile
Labels: docs

#5263 wait for BE error display in a fragment input
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #3.png
  designer/client/cypress/e2e/fragment.cy.ts
Labels: ui, client

#5253 Disable configuration of fragments via config
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/test/resources/designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompilerDataFactory.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentCompleteDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentComponentDefinition.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentWithoutValidatorsDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/CustomNodeValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelConversionServiceOverrideSpec.scala
Labels: docs

#5282 Move misplaced changelog entry
  docs/Changelog.md
Labels: docs

#5271 Change AdditionalUIConfigProvider to be similar to FragmentParameter.
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/FixedExpressionValue.scala
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/parameter/ParameterValueCompileTimeValidation.scala
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/parameter/ValueInputWithFixedValues.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/AdditionalUIConfigProvider.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/DefaultAdditionalUIConfigProvider.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterEditor.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterValidator.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentAdditionalConfigConverter.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/TestAdditionalUIConfigProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/ScenarioPropertiesValidatorTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/DynamicMultipleParamsService.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/RequestResponseTestWithParametersTest.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/BuiltInNodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/ValueEditorValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/editor/EditorExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/editor/ParameterTypeEditorDeterminer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentCompleteDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentWithoutValidatorsDefinitionExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/nodecompilation/MethodBasedServiceInvokerTest.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/graph/FragmentParameterSerializationSpec.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaUniversalComponentTransformer.scala
Labels: docs
