Repository TouK/nussknacker, pull requests merged in 2023-02, with the labels that each got.

#3969 Fix FE crash when environmentAlert is null
  designer/client/actions/nk/assignSettings.ts
  designer/client/containers/EnvironmentTag.tsx
  designer/client/reducers/selectors/settings.ts
Labels: ui, client

#3914 Azure schema registry support
  .github/workflows/pr.yml
  CONTRIBUTING.md
  build.sbt
  docs/Changelog.md
  docs/integration/KafkaIntegration.md
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/UniversalKafkaDeserializerTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/AzureSchemaRegistryKafkaAvroTest.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaProducerRecordsHandler.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaUtils.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/DelegatingKafkaSerializer.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteKafkaTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/confluent/AzureKafkaAvroElementSerde.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/AzureSchemaRegistryClientFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/AzureUtils.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/SchemaNameTopicMatchStrategy.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/internal/AzureConfigurationFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/internal/AzureHttpPipelineFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/internal/AzureTokenCredentialFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/internal/EnhancedSchemasImpl.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/internal/SchemaRegistryJsonSerializer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/internal/model/SchemaVersions.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/internal/model/Schemas.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/schemaid/SchemaIdFromAzureHeader.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/serialization/AzureAvroSerializerFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/AbstractConfluentKafkaAvroSerializer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/ConfluentKafkaAvroSerializer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/jsonpayload/ConfluentJsonPayloadKafkaSerializer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/ParsedSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/UniversalSchemaBasedSerdeProvider.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/UniversalSchemaRegistryClientFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/serialization/KafkaSchemaBasedKeyValueSerializationSchemaFactory.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/KafkaWithSchemaRegistryOperations.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/SchemaIdFromMessageExtractorTest.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/AzureSchemaBasedSerdeProviderIntegrationTest.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/AzureSchemaRegistryClientIntegrationTest.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/AzureTestsFromFileIntegrationTest.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/SchemaNameTopicMatchStrategyTest.scala
  utils/test-utils/src/main/resources/logback-test.xml
Labels: docs

#3981 Kafka documentation refactor: Concepts -> Connection -> Messaging -> Details
  docs/integration/KafkaIntegration.md
Labels: docs

#3999 DateTime info in Scenario Authoring - cosmetics
  docs/scenarios_authoring/Spel.md
Labels: docs

#3979 bump flink to 1.16.1
  build.sbt
  docs/Changelog.md
  engine/flink/management/src/it/resources/docker/Dockerfile
Labels: docs

#3978 Request response ingress docs
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/integration/RequestResponse.mdx
  docs/scenarios_authoring/RRDataSourcesAndSinks.md
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/ingress/IngressPreparer.scala
Labels: docs

#4006 downgrade react-router to 6.3.0
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
Labels: ui, submodules

#4007 downgrade react-router to 6.3.0
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
  designer/submodules/packages/legacy_scenarios/package.json
Labels: ui, submodules

#4016 Docs with indexes in main categories, fix many broken links
  docs/developers_guide/index.md
  docs/installation/Installation.md
  docs/installation/img/components.png
  docs/installation_configuration_guide/Common.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/index.md
  docs/installation_configuration_guide/model/Flink.md
  docs/installation_configuration_guide/model/Lite.md
  docs/installation_configuration_guide/model/ModelConfiguration.md
  docs/installation_configuration_guide/model/_category_.yml
  docs/installation_configuration_guide/model/index.md
  docs/integration/index.md
  docs/operations_guide/Common.md
  docs/operations_guide/index.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/index.md
Labels: docs

#4019 Enhancement: Make displayable process category required
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/displayedgraph/DisplayableProcess.scala
  designer/restmodel/src/test/scala/pl/touk/nussknacker/restmodel/NodeDataCodecSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AppResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessDirectives.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesExportResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TestInfoResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ValidationResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverter.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/TestModelMigrations.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/uiresolving/UIProcessResolving.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesExportImportResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/TestInfoResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessUtil.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverterSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/PdfExporterSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
  docs/Changelog.md
Labels: docs

#4018 Fix for: generate test data mechanism didn't work for json messages with defined schema id
  docs/Changelog.md
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/AvroUtils.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/SchemaWithMetadata.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/ConfluentUtils.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/formatter/UniversalRecordFormatterSpec.scala
Labels: docs

#4020 Enhancement: Pass category name to process migration method
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigrator.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/TestMigrations.scala
  docs/Changelog.md
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/migrations/RequestResponseSinkValidationModeMigrationTest.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/migration/ProcessMigration.scala
Labels: docs

#4022 Forward port: Fix for: generate test data mechanism didn't work for json messages with defined schema id
  docs/Changelog.md
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/UniversalKafkaDeserializerTest.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/AvroUtils.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/SchemaWithMetadata.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/serialization/AzureAvroSerializerFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/ConfluentUtils.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/client/CachedConfluentSchemaRegistryClient.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/client/CachedConfluentSchemaRegistryClientFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/client/ConfluentSchemaRegistryClient.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/client/MockConfluentSchemaRegistryClientFactory.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/formatter/UniversalRecordFormatterSpec.scala
Labels: docs

#4021 Docs: how to configure custom ingress class name
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
Labels: docs

#4025 docs fixes
  defaultModel/src/main/resources/defaultModelConfig.conf
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  docs/developers_guide/FlinkComponents.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/operations_guide/Common.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/DesignerTipsAndTricks.md
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/Intro.md
  docs/scenarios_authoring/RRDataSourcesAndSinks.md
  docs/scenarios_authoring/Spel.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkBaseComponentProvider.scala
  engine/flink/components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkKafkaComponentProvider.scala
  engine/flink/management/dev-model/src/main/resources/defaultModelConfig.conf
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteBaseComponentProvider.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProvider.scala
Labels: docs

#4024 Fix encoding object in sink with JSON schema pattern properties
  docs/Changelog.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoder.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoderTest.scala
Labels: docs

#4028 Fix encoding object in sink with JSON schema pattern properties
  docs/Changelog.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoder.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/encode/BestEffortJsonSchemaEncoderTest.scala
Labels: docs

#4014 Remove Services tab
  designer/client/containers/NussknackerApp.tsx
  designer/client/containers/Services.js
  designer/client/containers/paths.ts
  designer/client/http/HttpService.ts
  designer/client/test/admin/Services-test.js
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ServiceRoutes.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ServiceRoutesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/util/service/query/ServiceQueryOpenCloseSpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/util/service/query/ServiceQuery.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/util/service/query/ServiceQuerySpec.scala
Labels: ui, client

#4030 Local development doesn't resolve evn variables in config passed into execution
  .run/NussknackerApp.run.xml
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/OpenAPIComponentProvider.scala
  designer/runServer.sh
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/DesignerConfigLoader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataConfigurationReader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/LocalNussknackerWithSingleModel.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/SslBindingSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/ConfigurationTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataConfigurationReaderSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReaderSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/ConfigWithScalaVersion.scala
  docs/MigrationGuide.md
  engine/flink/management/dev-model/src/test/scala/pl/touk/nussknacker/engine/process/SampleComponentProviderTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingProcessTestRunnerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/StreamingDockerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/runtime-app/src/universal/bin/nu-engine-entrypoint.sh
  engine/lite/runtime-app/src/universal/bin/run.sh
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/ConfigWithUnresolvedVersion.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeConfig.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/modelconfig/ModelConfigLoader.scala
  extensions-api/src/test/scala/pl/touk/nussknacker/engine/ConfigWithUnresolvedVersionSpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/component/ComponentExtractorTest.scala
  nussknacker-dist/src/universal/bin/nussknacker-entrypoint.sh
  nussknacker-dist/src/universal/bin/run.sh
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: docs

#4039 Fix for: After clicking cancel, sometimes for a moment appear "during deploy" status instead of "during cancel"
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementServiceSpec.scala
  docs/Changelog.md
Labels: docs

#4041 Removed conccurrent deployments check limitation
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/EspErrorToHttp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementActor.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ManagementService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesConcurrentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesChangeListenerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/StubManagementService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessChangeListener.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/ManagementServiceSpec.scala
  docs/Changelog.md
Labels: docs

#3994 Editor mode json schema validation
  docs/Changelog.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/LiteRequestResponseFunctionalTest.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sinks/JsonRequestResponseSinkFactory.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/sinkvalue/SinkValue.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/sinkvalue/SinkValueData.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSinkValueParameter.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidator.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidatorTest.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidator.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/ParsedSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/UniversalSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/AvroSinkValueParameter.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/KafkaAvroSinkFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/UniversalKafkaSinkFactory.scala
Labels: docs

#4047 Services tab remove - style fix
  designer/client/containers/Page.tsx
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Dropdown should display menu portal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Dropdown should display menu portal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should add documentation url in fragment properties and show it in modal within scenario #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should open properties #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Node window should display periodic source #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should open properites from tips panel #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should preserve condition on link move (switch) #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should allow editing choice edge expression #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should display some node details in modal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should display some node details in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should display some node details in modal #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display colorfull sql code #1.png
Labels: ui, client

#4042 Change status deployed filter
  designer/submodules/packages/components/src/scenarios/filters/filterRules.tsx
  designer/submodules/packages/components/src/scenarios/filters/filtersPart.tsx
  designer/submodules/packages/components/src/scenarios/filters/otherOptionsStack.tsx
  designer/submodules/packages/components/src/scenarios/filters/scenariosFiltersModel.ts
  designer/submodules/packages/components/src/scenarios/list/tablePart.tsx
  designer/submodules/packages/components/src/scenarios/scenariosView.tsx
Labels: ui, submodules

#4048 Update README.md
  README.md
  docs/installation_configuration_guide/Installation.md
Labels: docs

#4052 Change filter archived
  designer/client/containers/paths.ts
  designer/client/cypress/e2e/process.cy.ts
  designer/submodules/packages/components/src/scenarios/filters/filterListItem.tsx
  designer/submodules/packages/components/src/scenarios/filters/filterRules.tsx
  designer/submodules/packages/components/src/scenarios/filters/filtersPart.tsx
  designer/submodules/packages/components/src/scenarios/filters/otherOptionsStack.tsx
  designer/submodules/packages/components/src/scenarios/filters/scenariosFiltersModel.ts
  designer/submodules/packages/components/src/scenarios/list/tablePart.tsx
  designer/submodules/packages/components/src/scenarios/scenariosView.tsx
Labels: ui, client, submodules

#4053 merge 'master' into 'staging'
  README.md
  build.sbt
  defaultModel/src/main/resources/defaultModelConfig.conf
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  docs/Changelog.md
  docs/developers_guide/FlinkComponents.md
  docs/installation/Installation.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/operations_guide/Common.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/DesignerTipsAndTricks.md
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/Intro.md
  docs/scenarios_authoring/RRDataSourcesAndSinks.md
  docs/scenarios_authoring/Spel.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkBaseComponentProvider.scala
  engine/flink/components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkKafkaComponentProvider.scala
  engine/flink/management/dev-model/src/main/resources/defaultModelConfig.conf
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteBaseComponentProvider.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProvider.scala
  release.sh
Labels: docs
