Repository TouK/nussknacker, pull requests merged in 2023-03, with the labels that each got.

#3997 Remove subprocessVersions
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/MetaData.scala
  designer/client/components/graph/node-modal/node/SubprocessContent.tsx
  designer/client/cypress/fixtures/filter.json
  designer/client/cypress/fixtures/fragment.json
  designer/client/cypress/fixtures/switch.json
  designer/client/cypress/fixtures/testProcess.json
  designer/client/types/node.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/displayedgraph/DisplayableProcess.scala
  designer/restmodel/src/test/scala/pl/touk/nussknacker/restmodel/NodeDataCodecSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverter.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/subprocess/SubprocessResolver.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/processreport/ProcessCounter.scala
  designer/server/src/test/scala/db/migration/V1_029__AdditionalBranchesChangeSpec.scala
  designer/server/src/test/scala/db/migration/V1_032__StandaloneToRequestResponseSpec.scala
  designer/server/src/test/scala/db/migration/V1_033__RequestResponseUrlToSlugSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverterSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/UiProcessMarshallerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/PdfExporterSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/ProcessComparatorSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  e2e-tests/test/data/scenario.json
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/ScenarioBuilder.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/ScenarioApiShowcasesTest.scala
Labels: ui, docs, client

#4059 update nginx config snippet for public path
  docs/installation/Installation.md
Labels: docs

#4061 Please try [Quickstart] -> Please try the [Demo]
  docs/scenarios_authoring/Intro.md
Labels: docs

#4026 react router v6.8
  designer/client/actions/actionTypes.ts
  designer/client/actions/nk/assignSettings.ts
  designer/client/actions/nk/fetchVisualizationData.ts
  designer/client/actions/nk/index.ts
  designer/client/actions/nk/processUtils/saveProcess.ts
  designer/client/actions/nk/urlChange.js
  designer/client/bootstrap.tsx
  designer/client/components/AddProcessDialog.tsx
  designer/client/components/MenuBar.tsx
  designer/client/components/Process/ProcessBackButton.tsx
  designer/client/components/Process/types.ts
  designer/client/components/ProcessComments.tsx
  designer/client/components/ProcessHistory.tsx
  designer/client/components/RouteLeavingGuard.tsx
  designer/client/components/graph/node-modal/node/NodeDetails.tsx
  designer/client/components/modals/GenericConfirmDialog.tsx
  designer/client/components/modals/SaveProcessDialog.tsx
  designer/client/components/toolbars/process/buttons/ArchiveButton.tsx
  designer/client/components/toolbars/process/buttons/MigrateButton.tsx
  designer/client/components/toolbars/process/buttons/UnArchiveButton.tsx
  designer/client/containers/CustomTab.tsx
  designer/client/containers/CustomTabPage.tsx
  designer/client/containers/DynamicTab.tsx
  designer/client/containers/Metrics.tsx
  designer/client/containers/NussknackerApp.tsx
  designer/client/containers/ProcessesTab.tsx
  designer/client/containers/RootRoutes.tsx
  designer/client/containers/ScenariosTab.tsx
  designer/client/containers/TransitionRouteSwitch.tsx
  designer/client/containers/Visualization.js
  designer/client/containers/Visualization.tsx
  designer/client/containers/VisualizationWrapped.tsx
  designer/client/containers/hooks/useSearchQuery.tsx
  designer/client/containers/paths.ts
  designer/client/cypress/e2e/components.cy.ts
  designer/client/history.ts
  designer/client/http/HttpService.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/reducers/graph/reducer.ts
  designer/client/reducers/httpErrorHandler.ts
  designer/client/webpack.config.js
  designer/client/windowManager/useWindows.ts
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
  designer/submodules/packages/components/src/common/nkView.tsx
  designer/submodules/packages/components/src/components/cellRenderers/usageCountCell.tsx
  designer/submodules/packages/components/src/components/componentsRoutes.tsx
  designer/submodules/packages/components/src/components/rootRoutes.tsx
  designer/submodules/packages/components/src/componentsNkView.tsx
  designer/submodules/packages/components/src/root.tsx
  designer/submodules/packages/components/src/scenarios/index.ts
  designer/submodules/packages/components/src/scenarios/rootRoutes.tsx
  designer/submodules/packages/components/src/scenarios/scenariosView.tsx
  designer/submodules/packages/components/src/scenariosNkView.tsx
  designer/submodules/packages/components/src/settings/rootProviders.tsx
  designer/submodules/packages/legacy_scenarios/package.json
  designer/submodules/packages/legacy_scenarios/src/bootstrap.tsx
  designer/submodules/packages/legacy_scenarios/src/containers/ProcessTabs.tsx
  designer/submodules/packages/legacy_scenarios/src/remote.tsx
Labels: ui, client, submodules

#4060 Removal of notifications about scenarios during deploy
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/notifications/NotificationService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentActionsInProgressActor.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentActionsInProgressRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  docs/Changelog.md
Labels: docs

#4054 Change type filter
  designer/submodules/packages/components/src/scenarios/filters/filterRules.tsx
  designer/submodules/packages/components/src/scenarios/filters/filtersPart.tsx
  designer/submodules/packages/components/src/scenarios/filters/otherOptionsStack.tsx
  designer/submodules/packages/components/src/scenarios/filters/scenariosFiltersModel.ts
  designer/submodules/packages/components/src/scenarios/list/item.tsx
  designer/submodules/packages/components/src/scenarios/list/tablePart.tsx
  designer/submodules/packages/components/src/scenarios/scenariosView.tsx
Labels: ui, submodules

#4068 Remove analytics middleware
  designer/client/actions/actionTypes.ts
  designer/client/actions/nk/displayTestResults.ts
  designer/client/actions/nk/importExport.ts
  designer/client/actions/nk/index.ts
  designer/client/actions/nk/process.js
  designer/client/actions/nk/reportEvent.ts
  designer/client/actions/nk/selection.ts
  designer/client/actions/nk/ui/layout.ts
  designer/client/actions/nk/zoom.ts
  designer/client/actions/reduxTypes.ts
  designer/client/actions/undoRedoActions.ts
  designer/client/analytics/Analytics.js
  designer/client/analytics/AnalyticsEngine.js
  designer/client/analytics/AnalyticsMiddleware.js
  designer/client/analytics/MatomoAnalytics.js
  designer/client/analytics/TrackingEvents.js
  designer/client/components/graph/SelectionContextProvider.tsx
  designer/client/components/toolbarComponents/ToolbarButton.tsx
  designer/client/components/toolbarSettings/buttons/LinkButton.tsx
  designer/client/components/toolbars/process/buttons/ArchiveButton.tsx
  designer/client/components/toolbars/process/buttons/ImportButton.tsx
  designer/client/components/toolbars/process/buttons/JSONButton.tsx
  designer/client/components/toolbars/process/buttons/MigrateButton.tsx
  designer/client/components/toolbars/process/buttons/PDFButton.tsx
  designer/client/components/toolbars/process/buttons/UnArchiveButton.tsx
  designer/client/components/toolbars/test/buttons/FromFileButton.tsx
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/reducers/graph/reducer.ts
  designer/client/store/configureStore.ts
  designer/client/webpack.config.js
  designer/client/windowManager/useWindows.ts
Labels: ui, client

#4071 Change BCrypt library
  build.sbt
  docs/Changelog.md
  security/src/main/scala/pl/touk/nussknacker/ui/security/basicauth/BasicHttpAuthenticator.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/basicauth/BasicHttpAuthenticationResourcesSpec.scala
Labels: dependencies, docs

#4077 fix database query invoker to be async
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseEnricherInvoker.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseEnricherInvokerWithCache.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherWithCacheTest.scala
  docs/Changelog.md
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkProcessTestRunner.scala
Labels: docs

#4074 Info about deployed scenarios endpoints in embedded mode
  README.md
  dockerhub/nussknacker/README.md
  docs/installation/Installation.md
Labels: docs

#4082 fix docs
  README.md
  dockerhub/nussknacker/README.md
  docs/installation/Installation.md
Labels: docs

#4080 Notifications using db
  build.sbt
  designer/server/src/main/resources/db/migration/hsql/V1_036__ProcessActionState.sql
  designer/server/src/main/resources/db/migration/postgres/V1_036__ProcessActionState.sql
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NotificationResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ProcessActionEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/notifications/Notification.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/notifications/NotificationService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  docs/Changelog.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
Labels: docs

#4055 In progress actions db
  build.sbt
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  designer/server/src/main/resources/db/migration/hsql/V1_036__ProcessActionState.sql
  designer/server/src/main/resources/db/migration/postgres/V1_036__ProcessActionState.sql
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AppResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/EspErrorToHttp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NotificationResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/DbConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/BaseEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/CommentEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ProcessActionEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/initialization/Initialization.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/notifications/Notification.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/notifications/NotificationService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/CustomActionInvokerService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentActionsInProgressActor.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentActionsInProgressRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/exception/DeployingInvalidScenarioError.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBIOActionRunner.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DeploymentComment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/Repository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/RepositoryManager.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/subprocess/SubprocessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/AppResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesConcurrentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessActivityResourceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesChangeListenerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesExportImportResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/TestInfoResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/StubDeploymentService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/initialization/InitializationOnHsqlItSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/initialization/InitializationOnPostgresItSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/DBIOActionValues.scala
  docs/Changelog.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
  utils/test-utils/src/main/resources/logback-test.xml
Labels: docs

#3675 Improvements: Normalize kafka components params name
  designer/client/cypress/e2e/suggester.cy.ts
  designer/client/cypress/fixtures/testProcess.json
  designer/client/cypress/fixtures/variables.json
  designer/client/cypress/fixtures/withSqlEditor.json
  designer/client/test/ProcessUtils-test.js
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/SampleProcess.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/UiProcessMarshallerSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/sink/SingleValueSinkFactory.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/MetricsSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/ProcessSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedGenericTypedJsonIntegrationSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryProcessMixin.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/TestFromFileSpec.scala
  engine/flink/management/dev-model/src/test/scala/pl/touk/nussknacker/engine/process/NamespacedKafkaSourceSinkTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/SampleProcess.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/StatefulSampleProcess.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/KafkaAvroSpecMixin.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/DelayedKafkaAvroIntegrationSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/DelayedUniversalKafkaSourceIntegrationMixinSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/TestFromFileSpec.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerRestartTest.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaErrorTopicInitializerTest.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/TestComponentProvider.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/marshall/ProcessMarshallerSpec.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaFactory.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/sink/KafkaSinkFactory.scala
Labels: ui, docs, client

#4083 fix docs
  docs/developers_guide/Basics.md
  docs/developers_guide/FlinkComponents.md
  docs/installation/Installation.md
  docs/installation_configuration_guide/Common.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/model/Flink.md
  docs/installation_configuration_guide/model/Lite.md
  docs/installation_configuration_guide/model/ModelConfiguration.md
  docs/integration/KafkaIntegration.md
  docs/integration/OpenAPI.md
  docs/operations_guide/Common.md
  docs/operations_guide/Flink.md
  docs/operations_guide/Lite.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/Intro.md
  docs/scenarios_authoring/RRDataSourcesAndSinks.md
  docs/scenarios_authoring/Spel.md
  docs/scenarios_authoring/TestingAndDebugging.md
Labels: docs

#4029 inferring datatype for json schama's integer
  docs/integration/DataTypingAndSchemasHandling.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/FunctionalTestMixin.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalCrossSourceLiteTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/UniversalSourceJsonSchemaLiteTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/JsonTestData.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/LiteRequestResponseFunctionalTest.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/output/OutputValidatorErrorsConverter.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/output/OutputValidatorErrorsMessageFormatter.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidator.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/extractor/JsonToNuStruct.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractorTest.scala
Labels: docs

#4088 refactor to TS
  designer/client/app.styl
  designer/client/components/Process/ProcessStateIcon.tsx
  designer/client/components/graph/node-modal/NodeTip.js
  designer/client/components/graph/node-modal/NodeTip.tsx
  designer/client/components/tips/HeaderIcon.js
  designer/client/components/tips/HeaderIcon.tsx
  designer/client/components/tips/ValidTip.js
  designer/client/components/tips/ValidTip.tsx
  designer/client/containers/processesTable.styl
  designer/client/stylesheets/processes.styl
Labels: ui, client

#4091 A bit clearer structure of the security config
  docs/installation_configuration_guide/DesignerConfiguration.md
Labels: docs

#4064 move process actions to TS & fix types
  designer/client/actions/actionTypes.ts
  designer/client/actions/nk/fetchVisualizationData.ts
  designer/client/actions/nk/importExport.ts
  designer/client/actions/nk/process.js
  designer/client/actions/nk/process.ts
  designer/client/components/ProcessAttachments.tsx
  designer/client/components/ProcessHistory.tsx
  designer/client/components/graph/node-modal/node/SubprocessContent.tsx
  designer/client/components/toolbars/process/buttons/ImportButton.tsx
  designer/client/containers/Metrics.tsx
  designer/client/http/HttpService.ts
  designer/client/reducers/processActivity.ts
  designer/client/test/ProcessAttachments-test.js
Labels: ui, client

#4079 adding context variables to onEvent session aggregate
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/OnEventTriggerWindowOperator.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/transformers.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
Labels: docs

#4100 Presenting in progress actions on scenario list
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/StubDeploymentService.scala
  docs/Changelog.md
Labels: docs

#4101 notifications fixes
  designer/server/src/main/scala/pl/touk/nussknacker/ui/notifications/Notification.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/notifications/NotificationService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  docs/Changelog.md
Labels: docs

#4102 Flink - deploy waitForDuringDeployFinished.
  build.sbt
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  docs/Changelog.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkConfig.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
Labels: docs

#4106 add docs desribing contributing to docs
  CONTRIBUTING.md
Labels: docs

#3992 fix compiling scenarios with filter with only false edge
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/PartSubGraphCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compiledgraph/node.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/split/ProcessSplitter.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/splittedgraph/SplittedNodesCollector.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/splittedgraph/splittednode.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/GraphBuilder.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/canonize/ProcessCanonizer.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
Labels: docs

#4087 fixed filter/query loop on screnarios
  designer/submodules/packages/components/src/common/filters/filtersContext.tsx
  designer/submodules/packages/components/src/components/componentsRoutes.tsx
  designer/submodules/packages/components/src/components/rootRoutes.tsx
  designer/submodules/packages/components/src/navigation.tsx
  designer/submodules/packages/components/src/root.tsx
  designer/submodules/packages/components/src/scenarios/scenariosView.tsx
Labels: ui, submodules

#3935 Remove ace-builds/webpack-resolver
  designer/client/components/graph/node-modal/editors/expression/ace.ts
Labels: ui, client

#4122 Fetch available status definitions to enable filtering by staus - backend only
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/OverridingProcessStateDefinitionManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessStateDefinitionManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleProcessStateDefinitionManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleStateStatus.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/OverridingProcessStateDefinitionManagerTest.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/StatusResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ObsoleteStateDetector.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReader.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReaderSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentProcessStateDefinitionManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessStateDefinitionManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicStateStatus.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkProcessStateDefinitionManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStateStatus.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedProcessStateDefinitionManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedStateStatus.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sProcessStateDefinitionManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sStateStatus.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
Labels: docs

#4104 DM ProcessState caching
  build.sbt
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/process/Source.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/BaseDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DataFreshnessPolicy.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/OverridingProcessStateDefinitionManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessStateDefinitionManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleProcessStateDefinitionManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleStateStatus.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/OverridingProcessStateDefinitionManagerTest.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManagerSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AppResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/CustomActionInvokerService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/SslBindingSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/StubDeploymentService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/ConfigWithScalaVersion.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/sink/LiteDeadEndSink.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/LiteCsvSource.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/JavaConfigDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/StreamingDockerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/RequestResponseEmbeddedDeploymentManagerTest.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerRestartTest.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProvider.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/BaseK8sDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerKafkaTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerReqRespTest.scala
Labels: docs

#4139 Release workflow on GitHub Actions
  .github/workflows/release.yml
  build.sbt
  dockerhub/nussknacker/README.md
  dockerhub/publishReadme.sh
  release.sh
Labels: docs

#4132 Combine statuses Failing, Failed, Error, Warning, FailedToGet and MulipleJobsRunning into one "Problem"
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/OverridingProcessStateDefinitionManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleProcessStateDefinitionManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleStateStatus.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ObsoleteStateDetector.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/AppResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicStateStatus.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkProcessStateDefinitionManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStateStatus.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedProcessStateDefinitionManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedStateStatus.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentStatusMapper.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sProcessStateDefinitionManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sStateStatus.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentStatusMapperSpec.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
Labels: docs

#4143 Use ProcessStateStatus to detect alerting scenarios in healthcheck
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AppResources.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/AppResourcesSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#4165 fix flaky test
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should allow drag node #0.png
  designer/client/cypress/e2e/process.cy.ts
Labels: ui, client

#4150 Reduced status api calls
  designer/client/containers/Visualization.tsx
  designer/submodules/packages/components/src/scenarios/useScenariosQuery.tsx
  docs/Changelog.md
Labels: ui, docs, client, submodules

#4140 Status filter allows to search by all available statuses.
  designer/client/components/Process/types.ts
  designer/client/http/HttpService.ts
  designer/submodules/packages/components/src/components/rootRoutes.tsx
  designer/submodules/packages/components/src/components/usages/componentView.tsx
  designer/submodules/packages/components/src/components/usages/filtersPart.tsx
  designer/submodules/packages/components/src/components/usages/usagesFiltersModel.ts
  designer/submodules/packages/components/src/components/usages/usagesTable.tsx
  designer/submodules/packages/components/src/scenarios/filters/filterListItemLabel.tsx
  designer/submodules/packages/components/src/scenarios/filters/filterRules.tsx
  designer/submodules/packages/components/src/scenarios/filters/filtersPart.tsx
  designer/submodules/packages/components/src/scenarios/filters/otherOptionsStack.tsx
  designer/submodules/packages/components/src/scenarios/filters/scenariosFiltersModel.ts
  designer/submodules/packages/components/src/scenarios/list/tablePart.tsx
  designer/submodules/packages/components/src/scenarios/useScenariosQuery.tsx
Labels: ui, client, submodules

#4160 Accept simplified format of test records
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TestInfoResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/PreliminaryScenarioTestDataSerDe.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestDataSerDe.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/TestInfoResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/test/PreliminaryScenarioTestDataSerDeTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestDataSerDeTest.scala
  docs/Changelog.md
  docs/scenarios_authoring/TestingAndDebugging.md
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/AvroNodesClassloadingSpec.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerTest.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/test/PreliminaryScenarioTestData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/test/TestInfoProvider.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/test/TestingCapabilities.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProviderSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/test/PreliminaryScenarioTestRecordTest.scala
Labels: docs

#4161 Bump dependencies
  build.sbt
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterEditor.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/DatabaseInitializer.scala
  docs/Changelog.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/DbInitializer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/TypeDefinitionSet.scala
  project/build.properties
  security/src/it/scala/pl/touk/nussknacker/ui/security/oauth2/GenericOidcServiceSpec.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/kafka-test-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/EmbeddedKafkaServer.scala
Labels: docs

#4171 add default fallback icon to avoid crash if src is null
  designer/client/components/SvgDiv.tsx
  designer/client/components/UrlIcon.tsx
  designer/client/components/common/ErrorBoundary.tsx
  designer/client/test/Process/ProcessStateIcon-test.tsx
  designer/client/test/Process/__snapshots__/ProcessStateIcon-test.tsx.snap
Labels: ui, client

#3870 json editor test (properties of rrk8s scenario)
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/JSON editor should display colorfull json #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/JSON editor should display colorfull json #1.png
  designer/client/cypress/e2e/jsonEditor.cy.ts
  designer/client/cypress/fixtures/rr.json
Labels: ui, client

#4184 7.9.0
  designer/client/package-lock.json
  designer/client/package.json
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
Labels: ui, client, submodules

#4179 Remove redundant states
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicStateStatus.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/JavaConfigDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/StreamingDockerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStateStatus.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkProcessStateSpec.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
Labels: docs

#4155 do not prevent caching in the browser
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/WebResources.scala
  docs/Changelog.md
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/SwaggerUiRoute.scala
Labels: docs

#4169 Configuration areas link fixed
  docs/installation_configuration_guide/model/ModelConfiguration.md
Labels: docs

#4117 Fragment parameters: definition computed based on config
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioResolver.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioTestExecutorService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/subprocess/SubprocessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/subprocess/SubprocessResolver.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/StubModelDataWithProcessDefinition.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/ProcessValidationSpec.scala
  docs/Changelog.md
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerTest.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/SubprocessSpec.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/Validations.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/SubprocessDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/CustomNodeValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/SubprocessResolverSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/AdditionalVariableSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelConversionServiceOverrideSpec.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
Labels: docs

#4198 Docs: update links in readme and update their order
  README.md
Labels: docs
