Repository TouK/nussknacker, pull requests merged in 2023-07, with the labels that each got.

#4452 Ace editor bump 1.4.12 -> 1.23.1
  .github/workflows/pr.yml
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display colorfull and sorted completions #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display colorfull and sorted completions #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display completions for second line (bugfix) #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display javadocs #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #3.png
  designer/client/cypress/e2e/suggester.cy.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/patches/react-ace+10.1.0.patch
  designer/client/src/app.styl
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  designer/client/src/components/graph/node-modal/editors/expression/SqlEditor.tsx
  docs/Changelog.md
Labels: ui, docs, client

#4455 Improvement: Allow to run TestScenarioRunner in TestRuntime mode
  docs/Changelog.md
  utils/components-testkit/src/main/scala/pl/touk/nussknacker/engine/util/test/TestScenarioRunner.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkProcessCompilerWithTestComponents.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteKafkaTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/RequestResponseTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/SynchronousLiteInterpreter.scala
  utils/lite-components-testkit/src/test/scala/pl/touk/nussknacker/engine/lite/util/test/LiteTestScenarioRunnerSpec.scala
Labels: docs

#4465 Faster loading of diagram editor (components panel) and component's usage panel
  designer/server/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentObjects.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReaderSpec.scala
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ToStaticObjectDefinitionTransformer.scala
Labels: docs

#4467 bug in sql brace mode
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display javadocs #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display javadocs #1.png
  designer/client/cypress/e2e/suggester.cy.ts
  designer/client/src/brace/mode/sql.js
Labels: ui, client

#4473 Move migrationGuide entry from Code API changes to REST API changes
  docs/MigrationGuide.md
Labels: docs

#4478 Update testing documentation with ad hoc definition
  docs/scenarios_authoring/TestingAndDebugging.md
  docs/scenarios_authoring/img/testPanel.png
  docs/scenarios_authoring/img/testScenario.png
Labels: docs

#4462 Processtate internaldeploymentid
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/ProcessVersion.scala
  designer/client/src/components/Process/types.ts
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessStateDefinitionManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/inconsistency/InconsistentStateDetector.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleProcessStateDefinitionManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/SimpleProcessStateSpec.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManagerSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/BaseEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ProcessActionEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/AppResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessUtil.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentTestProcessData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentsUsageHelperTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/NkGlobalParameters.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/ExecutionConfigPreparer.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/TestFlinkRunner.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkProcessStateSpec.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentStatusMapper.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentStatusMapperSpec.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessAction.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
Labels: ui, docs, client

#4483 waitForDuringDeployFinish: timeout increased from 1 min to 3 mins
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkConfig.scala
Labels: docs

#4463 SpelTemplate expression suggestions
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggester.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/suggester/ExpressionSuggester.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ExpressionSuggesterSpec.scala
  interpreter/src/main/java/pl/touk/nussknacker/engine/spel/parser/NuTemplateAwareExpressionParser.java
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/parser/ExpressionWithPosition.scala
Labels: ui, client

#4466 Chore cleaning and upgrading packages
  designer/client/.eslintrc
  designer/client/README.md
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by usage #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by usage #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display component #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display usages #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usages #0.png
  designer/client/cypress/e2e/components.cy.ts
  designer/client/jest-setup.js
  designer/client/jest.config.js
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/common/SystemUtils.ts
  designer/client/src/components/ProcessAttachments.tsx
  designer/client/src/components/SuspenseSpinner.tsx
  designer/client/src/components/SvgDiv.tsx
  designer/client/src/components/UrlIcon.tsx
  designer/client/src/components/common/DropdownButton.tsx
  designer/client/src/components/common/ErrorBoundary.tsx
  designer/client/src/components/graph/NodeUtils.ts
  designer/client/src/components/graph/SelectionContextProvider.tsx
  designer/client/src/components/graph/focusable.tsx
  designer/client/src/components/graph/node-modal/ParameterList.tsx
  designer/client/src/components/graph/node-modal/editors/EditableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Duration/DurationEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Duration/PeriodEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionField.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggester.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/FragmentInputDefinition.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/NodeRow.tsx
  designer/client/src/components/graph/node-modal/tests/TestErrors.tsx
  designer/client/src/components/modals/CalculateCounts/CountsRanges.tsx
  designer/client/src/components/toolbarSettings/buttons/LinkButton.tsx
  designer/client/src/components/toolbars/creator/ComponentIcon.tsx
  designer/client/src/components/toolbars/status/buttons/CustomActionButton.tsx
  designer/client/src/components/toolbars/test/buttons/TestWithFormButton.tsx
  designer/client/src/containers/Auth/InitErrorComponent.tsx
  designer/client/src/containers/__mocks__/theme.tsx
  designer/client/src/containers/muiThemeProvider.tsx
  designer/client/test/CommentContent-test.tsx
  designer/client/test/CountsRangesButtons-test.tsx
  designer/client/test/FragmentSchemaAligner-test.js
  designer/client/test/PlainStyleLink-test.tsx
  designer/client/test/ProcessAttachments-test.js
  designer/client/test/ProcessHistory-test.js
  designer/client/test/ProcessUtils-test.js
  designer/client/test/__snapshots__/CountsRangesButtons-test.tsx.snap
  designer/client/test/__snapshots__/PlainStyleLink-test.tsx.snap
  designer/client/test/__snapshots__/RegexExpressionSuggester-test.ts.snap
  designer/client/webpack.config.ts
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
  designer/submodules/packages/components/src/common/defaultTheme.tsx
  designer/submodules/packages/components/src/common/highlight.tsx
  designer/submodules/packages/components/src/components/cellRenderers/filterLinkCell.tsx
  designer/submodules/packages/components/src/components/componentTable.tsx
Labels: ui, docs, client, submodules

#4353 Remove isDeployed/isCancelled flags based on lastAction
  designer/client/src/components/HistoryItem.tsx
  designer/client/src/components/Process/types.ts
  designer/client/src/http/HttpService.ts
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/inconsistency/InconsistentStateDetector.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  designer/server/src/main/resources/db/migration/hsql/V1_044__RenameActionToActionType.sql
  designer/server/src/main/resources/db/migration/postgres/V1_044__RenameActionToActionType.sql
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ProcessActionEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/metrics/RepositoryGauges.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockFetchingProcessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessUtil.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/submodules/packages/components/src/scenarios/list/item.tsx
  designer/submodules/packages/legacy_scenarios/src/components/Process/ProcessLastAction.tsx
  designer/submodules/packages/legacy_scenarios/src/components/Process/types.ts
  docs/Changelog.md
  docs/MigrationGuide.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessAction.scala
Labels: ui, docs, client, submodules

#4488 Fix stopping processes with `/api/adminProcessManagement/stop/{processName}` endpoint on recent Flink versions
  docs/Changelog.md
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/HttpFlinkClient.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
Labels: docs

#4496 Fix language in SpelTemplateEditor
  designer/client/src/brace/mode/spel.js
  designer/client/src/brace/mode/spelTemplate.js
  designer/client/src/brace/mode/sql.js
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  designer/client/src/components/graph/node-modal/editors/expression/SpelTemplateEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ace.ts
Labels: ui, client

#4501 fix: revert react to version 17
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/SuspenseSpinner.tsx
  designer/client/src/components/graph/focusable.tsx
  designer/client/src/containers/Auth/InitErrorComponent.tsx
  designer/client/src/containers/muiThemeProvider.tsx
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
Labels: ui, client, submodules

#4486 Improve README
  README.md
Labels: docs

#4487 Add error prompt under editor in custom action dialog
  designer/client/src/components/modals/CustomActionDialog.tsx
  designer/client/src/http/HttpService.ts
Labels: ui, client

#4493 Nu 957 error handling
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Connection error should display connection errors #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Connection error should display connection errors #1.png
  designer/client/cypress/e2e/connectionError.cy.ts
  designer/client/cypress/support/commands.js
  designer/client/cypress/support/network.ts
  designer/client/cypress/support/overrides.ts
  designer/client/cypress/support/process.ts
  designer/client/cypress/support/tools.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/SvgDiv.tsx
  designer/client/src/components/common/ErrorBoundary.tsx
  designer/client/src/containers/Notifications.tsx
  designer/client/src/containers/NussknackerApp.tsx
  designer/client/src/containers/connectionErrorProvider/ConnectionErrorContent.tsx
  designer/client/src/containers/connectionErrorProvider/ConnectionErrorProvider.tsx
  designer/client/src/containers/connectionErrorProvider/index.ts
  designer/client/src/containers/darkTheme.tsx
  designer/client/src/http/HttpService.ts
  designer/client/test/PlainStyleLink-test.tsx
  designer/submodules/package-lock.json
Labels: ui, client, submodules

#4511 NU-957 fix issue with a connection error visibility when scenario node dialog opens
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Connection error should display connection errors #2.png
  designer/client/cypress/e2e/connectionError.cy.ts
  designer/client/cypress/support/network.ts
  designer/client/src/containers/connectionErrorProvider/ConnectionErrorProvider.tsx
  designer/client/src/containers/useMuiTheme.tsx
Labels: ui, client

#4502 Add new sqlSpelTemplate language to unify sql-source component
  common-api/src/main/scala/pl/touk/nussknacker/engine/graph/expression/Expression.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display colorfull sql code #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display colorfull sql code #1.png
  designer/client/cypress/e2e/sqlEditor.cy.ts
  designer/client/cypress/fixtures/withSqlEditor.json
  designer/client/cypress/fixtures/withSqlEditor2.json
  designer/client/src/components/graph/node-modal/editors/expression/AceWrapper.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Formatter.ts
  designer/client/src/components/graph/node-modal/editors/expression/RawEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/SqlEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/StringEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/TemplatesUtils.ts
  designer/client/src/components/graph/node-modal/editors/expression/types.ts
  designer/client/test/SpelQuotesUtils-test.tsx
  designer/client/test/TemplatesUtils-test.tsx
  designer/client/test/editorFormatter-test.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/suggester/ExpressionSuggester.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/SqlSource.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/OptionalityBasedDefaultValueDeterminer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/parameter/defaults/TypeRelatedParameterValueDeterminer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/ast/SpelSubstitutionsCollector.scala
Labels: ui, client

#4514 Replace AkkaHttpBackend with AsyncHttpClientFutureBackend
  build.sbt
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/OpenAPIsConfig.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/discovery/SwaggerOpenApiDefinitionDiscovery.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnricher.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/http/backend/SharedHttpClient.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  docs/MigrationGuide.md
  utils/http-utils/src/main/scala/pl/touk/nussknacker/http/backend/HttpBackendProvider.scala
  utils/http-utils/src/main/scala/pl/touk/nussknacker/http/backend/HttpClientConfig.scala
  utils/http-utils/src/main/scala/pl/touk/nussknacker/http/backend/LoggingAndCollectingSttpBackend.scala
  utils/http-utils/src/main/scala/pl/touk/nussknacker/http/backend/RequestResponseLog.scala
Labels: docs

#4508 unhide sourcemaps
  designer/client/webpack.config.ts
Labels: ui, client

#4497 component usages filters
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usages #0.png
  designer/client/cypress/e2e/components.cy.ts
  designer/client/cypress/fixtures/fragmentWithFilter.json
  designer/submodules/packages/components/src/common/highlight.tsx
  designer/submodules/packages/components/src/common/scenarioHref.tsx
  designer/submodules/packages/components/src/components/usages/componentView.tsx
  designer/submodules/packages/components/src/components/usages/filtersPart.tsx
  designer/submodules/packages/components/src/components/usages/nodesCell.tsx
  designer/submodules/packages/components/src/components/usages/scenarioCell.tsx
  designer/submodules/packages/components/src/components/usages/usagesFiltersModel.ts
  designer/submodules/packages/components/src/components/usages/usagesTable.tsx
  designer/submodules/packages/components/src/scenarios/filters/activeFilters.tsx
Labels: ui, client, submodules

#4526 Remove regex code completions
  designer/client/src/actions/nk/assignSettings.ts
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggester.ts
  designer/client/test/RegexExpressionSuggester-test.ts
  designer/client/test/__snapshots__/RegexExpressionSuggester-test.ts.snap
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/FeatureTogglesConfig.scala
  designer/server/src/test/resources/designer.conf
  designer/submodules/packages/legacy_scenarios/src/types/settings.ts
  docs/installation_configuration_guide/DesignerConfiguration.md
Labels: ui, docs, client, submodules

#4484 Marking deployment as finished instead of adding cancel action
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ProcessIdWithName.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessingTypeDeploymentService.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/inconsistency/InconsistentStateDetector.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/process/ProcessId.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/processdetails.scala
  designer/server/src/main/resources/db/migration/hsql/V1_045__ProcessActionDeploymentFinishedState.sql
  designer/server/src/main/resources/db/migration/postgres/V1_045__ProcessActionDeploymentFinishedState.sql
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AuthorizeProcessDirectives.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessDirectives.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/notifications/Notification.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/notifications/NotificationService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/CustomActionInvokerService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioTestExecutorService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/exception/ProcessIllegalAction.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/DefaultProcessingTypeDeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DbProcessActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessAttachmentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/StubDeploymentService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessUtil.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
  docs/MigrationGuide.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessAction.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/deployment/DeploymentId.scala
Labels: docs
