Repository TouK/nussknacker, pull requests merged in 2023-06, with the labels that each got.

#4349 Fix unnecessary fetchTestFormParameters reload
  designer/client/src/components/toolbars/test/buttons/TestWithFormButton.tsx
Labels: ui, client

#4346 Improvement: Don't fetch state for fragment
  designer/client/src/reducers/selectors/graph.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  docs/Changelog.md
Labels: ui, docs, client

#4342 Improvements: Don't run custom action on archived scenario and fragment
  designer/client/src/reducers/selectors/graph.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/CustomActionInvokerService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/SampleProcess.scala
  docs/Changelog.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/CustomAction.scala
Labels: ui, docs, client

#4334 Rethinking components usage calculation
  designer/client/src/http/HttpService.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentsUsageHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentsUsageHelperTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  designer/submodules/packages/components/src/common/index.ts
  designer/submodules/packages/components/src/common/scenarioHref.tsx
  designer/submodules/packages/components/src/components/usages/nodesCell.tsx
  designer/submodules/packages/components/src/components/usages/usagesTable.tsx
Labels: ui, client, submodules

#4302 Move state inconsistency detection and resolution from DeploymentServiceImpl to deployment manager.
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessingTypeDeploymentService.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/inconsistency/InconsistentStateDetector.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleProcessStateDefinitionManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleStateStatus.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManagerSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/InconsistentStateDetector.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/DefaultProcessingTypeDeploymentService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/AppResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/StubDeploymentService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/PeriodicProcessListener.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkProcessStateDefinitionManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerRestartTest.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentStatusMapper.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sProcessStateDefinitionManager.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentStatusMapperSpec.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
Labels: docs

#4360 Fix for spel validations: Typing type reference with class starting from lower case caused nasty error
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/typer/TypeReferenceTyper.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#4350 Process status isXYZ methods removal
  designer/client/cypress/support/process.ts
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/inconsistency/InconsistentStateDetector.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleStateStatus.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/SimpleProcessStateSpec.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/StateStatusCodingSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentProcessStateDefinitionManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicStateStatus.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/JavaConfigDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/StreamingDockerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkProcessStateSpec.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedProcessStateDefinitionManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedStateStatus.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessAction.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
Labels: ui, docs, client

#4361 fix decoding scenario name
  designer/client/src/common/routerUtils.ts
  designer/client/src/containers/Visualization.tsx
Labels: ui, client

#4323 Expression suggestions with Typer
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display completions for second line (bugfix) #0.png
  designer/client/cypress/e2e/suggester.cy.ts
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ExpressionSuggester.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/suggester/ExpressionSuggester.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ExpressionSuggesterSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  docs/Changelog.md
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/AvroSchemaSpelExpressionSpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/internal/OptimizedEvaluationContext.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionGenSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/BaseSpelSpec.scala
Labels: ui, docs, client

#4371 fixed webpack config for node 18
  designer/client/__mocks__/svgComponentMock.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/actions/notificationActions.tsx
  designer/client/src/components/HistoryItem.tsx
  designer/client/src/components/MenuBar/index.tsx
  designer/client/src/components/MenuBar/menu.tsx
  designer/client/src/components/Process/ProcessBackButton.tsx
  designer/client/src/components/ProcessAttachments.tsx
  designer/client/src/components/TogglePanel.tsx
  designer/client/src/components/graph/arrowMarker.ts
  designer/client/src/components/graph/node-modal/NodeDetailsModalHeader.tsx
  designer/client/src/components/graph/node-modal/NodeErrors.tsx
  designer/client/src/components/graph/node-modal/editors/expression/SwitchButton.tsx
  designer/client/src/components/graph/node-modal/subprocess-input-definition/DragHandle.tsx
  designer/client/src/components/graph/node-modal/subprocess-input-definition/MovableRow.tsx
  designer/client/src/components/graph/node-modal/tests/ExpressionTestResults.tsx
  designer/client/src/components/graph/node-modal/tests/TestErrors.tsx
  designer/client/src/components/graph/node-modal/tests/TestResults.tsx
  designer/client/src/components/modals/ProcessDialogWarnings.tsx
  designer/client/src/components/notifications/Notification.tsx
  designer/client/src/components/table/SearchFilter.tsx
  designer/client/src/components/tips/Errors.tsx
  designer/client/src/components/tips/ValidTips.tsx
  designer/client/src/components/tips/Warnings.js
  designer/client/src/components/toolbarComponents/ToolbarWrapper.tsx
  designer/client/src/components/toolbarSettings/buttons/LinkButton.tsx
  designer/client/src/components/toolbars/creator/ComponentIcon.tsx
  designer/client/src/components/toolbars/edit/buttons/CopyButton.tsx
  designer/client/src/components/toolbars/edit/buttons/DeleteButton.tsx
  designer/client/src/components/toolbars/edit/buttons/LayoutButton.tsx
  designer/client/src/components/toolbars/edit/buttons/PasteButton.tsx
  designer/client/src/components/toolbars/edit/buttons/RedoButton.tsx
  designer/client/src/components/toolbars/edit/buttons/UndoButton.tsx
  designer/client/src/components/toolbars/process/buttons/ArchiveButton.tsx
  designer/client/src/components/toolbars/process/buttons/CompareButton.tsx
  designer/client/src/components/toolbars/process/buttons/ImportButton.tsx
  designer/client/src/components/toolbars/process/buttons/JSONButton.tsx
  designer/client/src/components/toolbars/process/buttons/MigrateButton.tsx
  designer/client/src/components/toolbars/process/buttons/PDFButton.tsx
  designer/client/src/components/toolbars/process/buttons/SaveButton.tsx
  designer/client/src/components/toolbars/process/buttons/UnArchiveButton.tsx
  designer/client/src/components/toolbars/status/buttons/CancelDeployButton.tsx
  designer/client/src/components/toolbars/status/buttons/CustomActionButton.tsx
  designer/client/src/components/toolbars/status/buttons/DeployButton.tsx
  designer/client/src/components/toolbars/status/buttons/PropertiesButton.tsx
  designer/client/src/components/toolbars/test/buttons/CountsButton.tsx
  designer/client/src/components/toolbars/test/buttons/FromFileButton.tsx
  designer/client/src/components/toolbars/test/buttons/GenerateAndTestButton.tsx
  designer/client/src/components/toolbars/test/buttons/GenerateButton.tsx
  designer/client/src/components/toolbars/test/buttons/HideButton.tsx
  designer/client/src/components/toolbars/test/buttons/TestWithFormButton.tsx
  designer/client/src/components/toolbars/view/buttons/ResetViewButton.tsx
  designer/client/src/components/toolbars/view/buttons/ZoomInButton.tsx
  designer/client/src/components/toolbars/view/buttons/ZoomOutButton.tsx
  designer/client/src/containers/Notifications.tsx
  designer/client/types/@override/index.d.ts
  designer/client/webpack.config.ts
Labels: ui, client

#4376 fragment test fixed
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #3.png
  designer/client/cypress/e2e/fragment.cy.ts
Labels: ui, client

#4384 default backendCodeSuggestions to false
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display completions for second line (bugfix) #0.png
  designer/client/src/actions/nk/assignSettings.ts
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/submodules/packages/legacy_scenarios/src/types/settings.ts
Labels: ui, client, submodules

#4388 possibility to override frontend authentication strategy for oauth2
  docs/installation_configuration_guide/DesignerConfiguration.md
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2AuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2Configuration.scala
Labels: docs

#4391 Module name nussknacker-flink-components-api fixup in docs.
  docs/developers_guide/Basics.md
Labels: docs

#4380 fixed save for renamed scenario with changes
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have quick ranges (with optional latest deploy #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have quick ranges (with optional latest deploy #1.png
  designer/client/cypress/e2e/process.cy.ts
  designer/client/src/common/routerUtils.ts
  designer/client/src/components/modals/SaveProcessDialog.tsx
Labels: ui, client

#4392 Fixed preloaded svg id
  designer/client/src/components/toolbars/creator/ComponentIcon.tsx
Labels: ui, client

#4396 Filter empty optional parameters while testing with form
  designer/client/src/components/toolbars/test/buttons/TestWithFormButton.tsx
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestDataPreparer.scala
Labels: ui, client

#4400 Improvement: Avoid long waits for closing job on test Flink minicluster
  components/openapi/src/it/resources/application.conf
  docs/Changelog.md
  engine/flink/components/base/src/it/resources/application.conf
  engine/flink/components/base/src/test/resources/application.conf
  engine/flink/executor/src/test/resources/application.conf
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/CustomNodeProcessSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/ProcessSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/helpers/ProcessTestHelpers.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/FlinkSpec.scala
Labels: docs

#4410 Pass empty validators list rather than undefined
  designer/client/src/components/modals/GenericActionDialog.tsx
Labels: ui, client

#4398 Replace img with inlined svg for CustomAction buttons.
  designer/client/src/components/toolbars/status/buttons/CustomActionButton.tsx
  engine/development/deploymentManager/src/main/resources/web/static/assets/buttons/test_deploy.svg
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
Labels: ui, client

#4406 Set backendCodeSuggestions to true
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display completions for second line (bugfix) #0.png
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/test/resources/designer.conf
  docs/Changelog.md
Labels: ui, docs, client

#4389 Shorten big types labels
  designer/client/src/components/common/ValidationLabel.ts
  designer/client/src/components/graph/node-modal/FieldLabel.tsx
  designer/client/src/components/modals/DeployProcessDialog.tsx
  designer/client/src/components/modals/ValidationLabels.tsx
  designer/client/src/containers/Page.tsx
  designer/client/src/stylesheets/graph.styl
  designer/client/src/stylesheets/processes.styl
Labels: ui, client

#4435 Fix: resolve references in Swagger 2.0
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/parser/SwaggerParser.scala
  components/openapi/src/test/resources/swagger/swagger-2.0-refs.yml
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/parser/SwaggerParserTest.scala
  docs/Changelog.md
Labels: docs

#4437 Change filtering policy in usages tab
  designer/submodules/packages/components/src/components/usages/componentView.tsx
  designer/submodules/packages/components/src/components/usages/filtersPart.tsx
  designer/submodules/packages/components/src/components/usages/usagesFiltersModel.ts
  designer/submodules/packages/components/src/components/usages/usagesTable.tsx
Labels: ui, submodules

#4430 Minor fixes in components
  designer/submodules/packages/components/src/common/scenarioHref.tsx
  designer/submodules/packages/components/src/components/usages/breadcrumbs.tsx
Labels: ui, submodules

#4441 Fragment flaky test fix - 2nd attempt
  designer/client/cypress/e2e/fragment.cy.ts
Labels: ui, client

#4440 Improvement: Better exception info handling at KafkaExceptionInfo - extract input from context
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/Context.scala
  docs/Changelog.md
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumerSerializationSpec.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaJsonExceptionSerializationSchema.scala
Labels: docs

#4447 Fix changelog version header
  docs/Changelog.md
Labels: docs
