Repository TouK/nussknacker, pull requests merged in 2023-04, with the labels that each got.

#4202 Fix for: Deadlock during resolving fragments by EmbeddedDeploymentManager
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioResolver.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioTestExecutorService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/subprocess/SubprocessResolver.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompiler.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/SubprocessResolver.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/SubprocessComponentDefinitionExtractor.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/CustomNodeValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/AdditionalVariableSpec.scala
Labels: docs

#4201 Fix for: Dynamic nodes (GenericNodeTransformation) has now initial parameters inferred based on definition instead of empty List
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/transformation/GenericNodeTransformation.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/transformation/WithLegacyStaticParameters.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/transformation/WithStaticParameters.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/javaapi/context/transformation/JavaGenericTransformation.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinder.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodeResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/StubModelDataWithProcessDefinition.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/DBProcessServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverterSpec.scala
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompiler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/VerificationFlinkProcessCompiler.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessObjectFactory.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/DefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/GlobalVariableDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ServiceInvoker.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/ToStaticObjectDefinitionTransformer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testing/ProcessDefinitionBuilder.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/variables/GlobalVariablesPreparer.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/AdditionalVariableSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/LazyParameterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ProcessDefinitionExtractorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/ServiceInvokerTest.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/variables/GlobalVariablesPreparerTest.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/service/EagerServiceWithStaticParameters.scala
Labels: docs

#4200 Changes in basic editor button hints
  designer/client/components/graph/node-modal/editors/expression/FixedValuesEditor.tsx
  designer/client/components/graph/node-modal/editors/expression/SqlEditor.tsx
  designer/client/components/graph/node-modal/editors/expression/StringEditor.tsx
  designer/client/components/graph/node-modal/editors/expression/TextareaEditor.tsx
Labels: ui, client

#4142 Handling failed migration when target process archived on remote
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/RemoteEnvironment.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
  docs/MigrationGuide.md
Labels: docs

#4204 ProcessingTypeDataProvider has combined data being a result of all processing types
  designer/server/src/main/scala/pl/touk/nussknacker/engine/CombinedProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AppResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/initialization/Initialization.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/NewProcessPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentManagerDispatcher.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigrator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/TestModelMigrations.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReload.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettings.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/uiresolving/UIProcessResolving.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/LocalNussknackerWithSingleModel.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/AdditionalPropertiesValidator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ProcessValidation.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/EspItTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionServiceSpec.scala
  docs/Changelog.md
Labels: docs

#4219 Components are aware of processing data reload
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/engine/CombinedProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentIdProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentObjects.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentsUsageHelper.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentsValidator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentGroupName.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/DefaultsComponentIcon.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessObjectsFinder.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/LocalNussknackerWithSingleModel.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentsUsageHelperTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentIdProviderSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReaderSpec.scala
  docs/Changelog.md
Labels: docs

#4229 Aggregates in windows docs remake
  docs/developers_guide/Basics.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/Intro.md
  docs/scenarios_authoring/img/sessionWindowConcept.png
  docs/scenarios_authoring/img/slidingWindowConcept.png
  docs/scenarios_authoring/img/slidingWindowEmitWhenEventLeftConcept.png
  docs/scenarios_authoring/img/tumblingWindowConcept.png
Labels: docs

#4224 extract flink-scala-2.13 project
  README.md
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/scala-utils/src/main/scala/org/apache/flink/runtime/types/FlinkScalaKryoInstantiator.scala
  engine/flink/scala-utils/src/main/scala/org/apache/flink/runtime/types/JavaWrapperScala2_13Serializer.scala
  engine/flink/scala-utils/src/test/scala/org/apache/flink/runtime/types/FlinkScalaKryoInstantiatorSpec.scala
Labels: docs

#4235 Editor switch button
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display colorfull and sorted completions #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display colorfull and sorted completions #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display completions for second line (bugfix) #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should add documentation url in fragment properties and show it in modal within scenario #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Node window should display periodic source #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should preserve condition on link move (switch) #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should allow editing choice edge expression #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should display some node details in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should display some node details in modal #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display colorfull sql code #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display colorfull sql code #1.png
  designer/client/src/components/graph/node-modal/editors/expression/AceWrapper.tsx
  designer/client/src/components/graph/node-modal/editors/expression/DualParameterEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Editor.ts
  designer/client/src/components/graph/node-modal/editors/expression/Formatter.ts
  designer/client/src/components/graph/node-modal/editors/expression/SwitchButton.tsx
  designer/client/src/components/graph/node-modal/editors/expression/SwitchIcon.js
  designer/client/src/components/graph/node-modal/editors/expression/icons/code.svg
  designer/client/src/components/graph/node-modal/editors/expression/icons/code_off.svg
  designer/client/src/components/graph/node-modal/editors/expression/icons/date_range.svg
  designer/client/src/components/graph/node-modal/editors/expression/icons/list.svg
  designer/client/src/components/graph/node-modal/editors/expression/icons/schedule.svg
  designer/client/src/stylesheets/graph.styl
  designer/client/src/windowManager/WindowContent.tsx
  designer/submodules/configs/webpack/dev.ts
Labels: ui, client, submodules

#4233 i18n path fix
  designer/client/src/i18n.ts
Labels: ui, client

#4234 Svgo path fix
  designer/client/package.json
  designer/client/src/assets/img/arrows/arrow-left.svg
  designer/client/src/assets/img/arrows/panel-hide-arrow.svg
  designer/client/src/assets/img/close.svg
  designer/client/src/components/deployed.svg
  designer/client/src/components/graph/arrow.svg
Labels: ui, client

#4190 Flink tumbling windows can have offset
  docs/MigrationGuide.md
  docs/installation_configuration_guide/model/Flink.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkBaseComponentProvider.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregateWindowsConfig.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregateWindowsOffsetProvider.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/EmitExtraWindowWhenNoDataTumblingAggregatorFunction.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/sampleTransformers.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/transformers.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregateWindowsOffsetProviderSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
Labels: docs

#4241 1.9 Changelog date
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#4239 initial status fixed
  designer/client/src/components/Process/ProcessStateIcon.tsx
  designer/client/src/components/Process/ProcessStateUtils.ts
  designer/client/src/components/toolbars/status/ProcessInfo.tsx
  designer/client/src/reducers/index.ts
  designer/client/src/reducers/scenarioState.ts
  designer/client/src/reducers/selectors/graph.ts
  designer/client/src/reducers/selectors/scenarioState.ts
  designer/client/test/Process/ProcessStateIcon-test.tsx
  designer/client/test/Process/__snapshots__/ProcessStateIcon-test.tsx.snap
  designer/client/test/reducer-test.js
Labels: ui, client

#4243 During deploy invalid scenario fix
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  docs/Changelog.md
Labels: docs

#4247 1.9.1 Changelog date
  docs/Changelog.md
Labels: docs

#4249 watch only src in webpack dev
  designer/client/webpack.config.js
Labels: ui, client

#4238 collapse arrow color fixed
  designer/client/src/assets/img/arrows/arrow-right.svg
  designer/client/src/stylesheets/togglePanel.styl
Labels: ui, client

#4260 Merge master into staging
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettingsDeterminer.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettingsDeterminerTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  version.sbt
Labels: docs

#4263 editor switch regression fix
  designer/client/src/components/graph/node-modal/editors/EditableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/DualParameterEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Editor.ts
  designer/client/src/components/graph/node-modal/editors/expression/RawEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/SqlEditor.tsx
Labels: ui, client

#4266 metrics fixed
  designer/client/containers/CustomTabPage.tsx
  designer/client/containers/DynamicTab.tsx
  designer/client/containers/Metrics.tsx
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: ui, client

#4268 Improve docs
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  README.md
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/developers_guide/GenericFunctions.md
  docs/installation/Installation.md
  docs/integration/Sql.md
Labels: docs
