Repository TouK/nussknacker, pull requests merged in 2024-01, with the labels that each got.

#5278 Recreate assembled model JAR for Flink if it got removed (e.g. by systemd-tmpfiles)
  docs/Changelog.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/flink/FlinkJarManager.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkModelJarProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
Labels: docs

#5256 [NU-1042] node windows history fixed
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for add and move to edge #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for add and move to edge #5.png
  designer/client/cypress/e2e/nodeWindow.cy.ts
  designer/client/cypress/support/tools.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/common/VisualizationUrl.ts
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/fragmentGraph.tsx
  designer/client/src/components/graph/node-modal/node/FragmentContent.tsx
  designer/client/src/components/graph/node-modal/node/NodeDetails.tsx
  designer/client/src/components/graph/types.ts
  designer/client/src/containers/Visualization.tsx
  designer/client/src/containers/hooks/useInitEffect.tsx
  designer/client/src/containers/hooks/useModalDetailsIfNeeded.tsx
  designer/client/src/containers/hooks/useSearchQuery.tsx
  designer/client/src/windowManager/useWindows.ts
Labels: ui, client

#5287 fix docs/autoScreenshotChangeDocs creation
  .github/workflows/pr.yml
  designer/client/cypress/e2e/autoScreenshotChangeDocs.cy.ts
  designer/client/cypress/tsconfig.json
  designer/client/package-lock.json
  designer/client/package.json
  docs/autoScreenshotChangeDocs/.gitignore
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - aggregates - Full Outer Join #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - aggregates - Single Side Join #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - aggregates - Single Side Join #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - choice #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - choice #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - foreach #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - mapmariable #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - mapmariable #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - split #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - union #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - union #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Outputs #0.png
Labels: ui, docs, client

#5288 Removed dependencies to the ValidatedDisplayableProcess.name on BE side + RemoteEnvironment / ModelMigration cleanups
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentInfo.scala
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/migrations/GroupByMigration.scala
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/migrations/ProcessSplitterMigration.scala
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/migrations/RequestResponseSinkValidationModeMigration.scala
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/migrations/SinkExpressionMigration.scala
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/migrations/UnionParametersMigration.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/scenariodetails/ScenarioWithDetails.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/ValidatedDisplayableProcess.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ScenarioWithDetailsConversions.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/GroupByMigration.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/RemoteEnvironment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/TestModelMigrations.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/UnionParametersMigration.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestProcessUtil.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/marshall/ProcessConverterSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/GroupByMigrationSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigratorSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/TestMigrations.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/TestModelMigrationsSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/UnionParametersMigrationSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs/MigrationGuide.md
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaAvroPayloadIntegrationSpec.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/migration/ProcessMigration.scala
Labels: docs

#5291 update docs link in the designer configuration
  docs/installation_configuration_guide/DesignerConfiguration.md
Labels: docs

#5292 [NU-1360] fix node open issue when source not exist
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #3.png
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/components/graph/node-modal/NodeDetailsContent/selectors.tsx
  designer/client/src/components/graph/node-modal/ParametersUtils.ts
  designer/client/src/types/process.ts
Labels: ui, client

#5299 [NU-1042] node windows history fixed (#5256)
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for add and move to edge #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for add and move to edge #5.png
  designer/client/cypress/e2e/nodeWindow.cy.ts
  designer/client/cypress/support/tools.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/common/VisualizationUrl.ts
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/fragmentGraph.tsx
  designer/client/src/components/graph/node-modal/node/FragmentContent.tsx
  designer/client/src/components/graph/node-modal/node/NodeDetails.tsx
  designer/client/src/components/graph/types.ts
  designer/client/src/containers/Visualization.tsx
  designer/client/src/containers/hooks/useInitEffect.tsx
  designer/client/src/containers/hooks/useModalDetailsIfNeeded.tsx
  designer/client/src/containers/hooks/useSearchQuery.tsx
  designer/client/src/windowManager/useWindows.ts
Labels: ui, client

#5305 fixed editor switch icon
  designer/client/src/components/graph/node-modal/editors/expression/SwitchButton.tsx
Labels: ui, client

#5277 Update fragment docs + backport autogen screenshot fix
  .github/workflows/pr.yml
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #7.png
  designer/client/cypress/e2e/autoScreenshotChangeDocs.cy.ts
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/fixtures/docsFragmentsInputs#0.json
  designer/client/cypress/fixtures/docsFragmentsOutputs#0.json
  designer/client/cypress/tsconfig.json
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/graph/node-modal/fragment-input-definition/buttons/SettingsButton.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/ValidationFields.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/validation.tsx
  docs/autoScreenshotChangeDocs/.gitignore
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - aggregates - Full Outer Join #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - aggregates - Single Side Join #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - aggregates - Single Side Join #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - choice #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - choice #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - foreach #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - mapmariable #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - mapmariable #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - split #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - union #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - union #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Outputs #0.png
  docs/installation_configuration_guide/model/ModelConfiguration.md
  docs/scenarios_authoring/Fragments.md
  docs/scenarios_authoring/img/fragment_input.png
  docs/scenarios_authoring/img/fragment_output.png
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/StandardParameterEnrichment.scala
Labels: ui, docs, client

#5309 [NU-1384] fixed create window width
  designer/client/src/components/AddProcessForm.tsx
  designer/client/src/components/table/AddProcessButton.tsx
Labels: ui, client

#5268 [NU-1335] update MUI based libraries
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by usage #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by usage #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display component #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display usages #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usages #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/components.cy.ts
  designer/client/cypress/e2e/nodeWindow.cy.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/graph/Graph.tsx
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
  designer/submodules/packages/components/src/common/defaultTheme.tsx
  designer/submodules/packages/components/src/components/cellRenderers/cellLink.tsx
  designer/submodules/packages/components/src/components/cellRenderers/filterLinkCell.tsx
  designer/submodules/packages/components/src/components/cellRenderers/nameCell.tsx
  designer/submodules/packages/components/src/components/cellRenderers/usageCountCell.tsx
  designer/submodules/packages/components/src/components/componentTable.tsx
  designer/submodules/packages/components/src/components/customPagination.tsx
  designer/submodules/packages/components/src/components/tableWrapper.tsx
  designer/submodules/packages/components/src/components/usages/nodesCell.tsx
  designer/submodules/packages/components/src/components/usages/scenarioCell.tsx
  designer/submodules/packages/components/src/components/usages/usagesTable.tsx
  designer/submodules/packages/components/src/components/utils/index.ts
  designer/submodules/packages/components/src/components/utils/truncateWrapper.tsx
  designer/submodules/packages/components/src/components/utils/useCellArrowKeys.tsx
  designer/submodules/packages/components/src/scenarios/list/listPart.tsx
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - choice #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Outputs #0.png
Labels: ui, docs, client, submodules

#5314 [NU-1383] Collect component clears context variables - 1.13 bugfix
  docs/Changelog.md
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/CollectTransformerTest.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/CollectTransformer.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
Labels: docs

#5312 [NU-1383] Collect component clears context variables
  docs/Changelog.md
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/CollectTransformerTest.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/CollectTransformer.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
Labels: docs

#5324 [NU-1399] provide value type to suggester
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/ValidationFields.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/validation.tsx
Labels: ui, client

#5316 A set of unrelated tiny docs improvements.
  docs/installation/Installation.md
  docs/installation_configuration_guide/Common.md
  docs/integration/Sql.md
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/Spel.md
  docs/scenarios_authoring/TestingAndDebugging.md
Labels: docs

#5297 [NU-1324] Fragment and Built-in components definition preparation moved closer to the domain layer
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/AdditionalUIConfigProvider.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentInfo.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentType.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/engine/CombinedProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentGroupsPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentIdProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentIdProviderFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentNodeTemplatePreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentObjects.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/ComponentsValidator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/EdgeTypesPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/component/NodeParameterTemplatesPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/AdditionalUIConfigFinalizer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/ModelDefinitionEnricher.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/scenarioproperty/FragmentPropertiesConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ComponentNamesFinder.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentApiSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentDefinitionPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentGroupsPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/ComponentsUsageHelperTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentIdProviderSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DynamicComponentProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/EdgeTypesPreparerTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/UIProcessObjectsFactorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReaderSpec.scala
  docs/MigrationGuide.md
  docs/installation_configuration_guide/model/ModelConfiguration.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFragmentSourceDefinitionPreparer.scala
  engine/flink/management/dev-model/src/main/resources/defaultModelConfig.conf
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionWithImplementation.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentStaticDefinition.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentTypeSpecificData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/ToStaticComponentDefinitionTransformer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/bultin/BuiltInComponentsStaticDefinitionsPreparer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/defaultconfig/DefaultComponentConfigDeterminer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/defaultconfig/DefaultsComponentGroupName.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/defaultconfig/DefaultsComponentIcon.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentComponentDefinition.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentWithoutValidatorsDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinition.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinitionFromConfigCreatorExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/modelconfig/ComponentsUiConfigParser.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testing/ModelDefinitionBuilder.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/AdditionalVariableSpec.scala
Labels: docs

#5322 [NU-1398] removed unnecessary colon character
  designer/client/src/http/HttpService.ts
Labels: ui, docs, client

#5323 [NU-1400] Legacy categories config removal
  common-api/src/main/scala/pl/touk/nussknacker/engine/util/Implicits.scala
  designer/server/src/main/scala/pl/touk/nussknacker/engine/CombinedProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/LocalProcessingTypeDataStateFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessCategoryService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReload.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ConfigProcessCategoryServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtypedata/ProcessingTypeDataReaderSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkRunner.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingProcessTestRunnerSpec.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeConfig.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2Configuration.scala
Labels: docs

#5337 Add AverageAggregator and CountWhenAggregator (#5313)
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/supertype/NumberTypesPromotionStrategy.scala
  docs/Changelog.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  engine/flink/components/base/src/main/java/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregateHelper.java
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/aggregates.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/sampleTransformers.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatesSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/KafkaAvroSpecMixin.scala
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/numeric.scala
  utils/math-utils/src/main/scala/pl/touk/nussknacker/engine/util/MathUtils.scala
Labels: docs

#5343 KafkaAvroPayloadIntegrationSpec flaky test fix: explicitly passed local TestResultsHolders instead of objects shared between many tests
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/Service.scala
  docs/MigrationGuide.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/ModelUtilExceptionHandlingSpec.scala
  engine/flink/executor/src/test/resources/META-INF/services/pl.touk.nussknacker.engine.flink.api.exception.FlinkEspExceptionConsumerProvider
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactoryTest.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/CustomNodeProcessSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/DictsSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/FragmentSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/GenericTransformationSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/MetricsSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/ProcessSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/helpers/LifecycleRecordingExceptionConsumer.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/helpers/ProcessTestHelpers.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/registrar/FlinkStreamingProcessRegistrarSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkStreamingProcessMainSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryDefinitionExtractorSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryIntegrationSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryProcessConfigCreator.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryProcessMixin.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/TestFromFileSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/AvroNodesClassloadingSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaAvroNamespacedSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaAvroPayloadIntegrationSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaAvroTestProcessConfigCreator.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaJsonPayloadIntegrationSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/KafkaAvroSpecMixin.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/SinkValueEditorWithAvroPayloadIntegrationTest.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/DelayedUniversalKafkaSourceAvroPayloadIntegrationSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/DelayedUniversalKafkaSourceIntegrationMixinSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/DelayedUniversalKafkaSourceJsonPayloadIntegrationSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/TestWithTestDataSpec.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/CorrectExceptionHandlingSpec.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/FlinkSpec.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/RecordingExceptionConsumer.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SinkForType.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/TestResultsHolder.scala
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/WithDataList.scala
Labels: docs

#5266 [NU-1372] Block accessing methods by field names in record
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/internal/propertyAccessors.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#5354 Fix for: outgoing edges from node that used fragment which lost outputs weren't automatically cleaned
  designer/client/src/components/graph/NodeUtils.ts
  designer/client/src/reducers/graph/correctFetchedDetails.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
Labels: ui, client

#5359 Fix for: Fragment Documentation url property was duplicated on the FE side
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should open properties #0.png
  designer/client/src/components/graph/node-modal/NodeTypeDetailsContent.tsx
  designer/client/src/components/graph/node-modal/ScenarioProperty.tsx
  designer/client/src/components/graph/node-modal/properties.tsx
  designer/client/src/types/node.ts
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - choice #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Outputs #0.png
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/displayedgraph/DisplayableProcess.scala
Labels: ui, docs, client

#5361 [NU-1403] Parameter's label moved into domain Parameter object
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/NodeDependency.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  designer/client/src/components/graph/node-modal/FieldLabel.tsx
  designer/client/src/components/graph/node-modal/NodeTypeDetailsContent.tsx
  designer/client/src/components/modals/GenericActionDialog.tsx
  designer/client/src/types/component.ts
  designer/client/src/types/definition.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/ValidationResults.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  designer/server/src/test/resources/designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodesApiSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/ParameterExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/StandardParameterEnrichment.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
Labels: ui, docs, client

#5275 [NU-1361] Move fragment input definition validation to BE
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ValidationContext.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/validation/Validations.scala
  designer/client/src/components/graph/node-modal/fragment-input-definition/FieldsSelect.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/Item.tsx
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/PartSubGraphCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
Labels: ui, client

#5402 [NU-1409] remove properties.isFragment
  designer/client/src/actions/nk/calculateProcessAfterChange.ts
  designer/client/src/actions/nk/fetchVisualizationData.ts
  designer/client/src/components/graph/node-modal/nodeUtils.tsx
  designer/client/src/reducers/selectors/graph.ts
  designer/client/src/types/node.ts
Labels: ui, client

#5416 [NU-1412] fix error on fragment node open when there is no component
  designer/client/src/components/graph/node-modal/OutputParametersList.tsx
Labels: ui, client

#5352 Backporting changes from 1.13 release
  .github/workflows/release.yml
  designer/buildClient.sh
  designer/client/src/components/AddProcessForm.tsx
  designer/client/src/components/graph/node-modal/ParametersUtils.ts
  designer/client/src/components/graph/node-modal/editors/expression/SwitchButton.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/ValidationFields.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/validation.tsx
  designer/client/src/components/table/AddProcessButton.tsx
  designer/client/src/http/HttpService.ts
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - aggregates - Full Outer Join #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - aggregates - Single Side Join #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - mapmariable #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #1.png
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/KafkaAvroSpecMixin.scala
Labels: ui, docs, client

#5413 Generic types (Records, Lists and other collections) using generic parameters in their method's return type
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/generics/TypingFunction.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  docs/Changelog.md
  engine/flink/components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkKafkaComponentProvider.scala
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaAvroTestProcessConfigCreator.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/KafkaAvroSpecMixin.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/DelayedUniversalKafkaSourceIntegrationMixinSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/TopicSelectionStrategySpec.scala
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalAvroSchemaFunctionalTest.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProvider.scala
  extensions-api/src/main/java/pl/touk/nussknacker/engine/javaapi/process/ClassExtractionSettings.java
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/conversion/ProcessConfigCreatorMapping.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassMemberPredicate.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/TypingFunctionForClassMember.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinition.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/MethodDefinition.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/typer/MethodReferenceTyper.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionDiscoverySpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/clazz/MethodDefinitionSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/source/UniversalKafkaSourceFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/source/delayed/DelayedUniversalKafkaSourceFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/typed/AvroSchemaTypeDefinitionExtractor.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/typed/SpelExpressionSchemedSpec.scala
Labels: docs

#5419 Remove system properties from merged model config
  docs/Changelog.md
  docs/MigrationGuide.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/modelconfig/ModelConfigLoader.scala
  interpreter/src/test/resources/defaultModelConfig.conf
  interpreter/src/test/scala/pl/touk/nussknacker/engine/DefaultModelConfigLoaderTest.scala
Labels: docs

#5363 [NU-1361] Add unique fragment output validation
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  designer/client/cypress/e2e/process.cy.ts
  designer/client/cypress/fixtures/docsFragmentsInputs#0.json
  designer/client/cypress/fixtures/docsFragmentsOutputs#0.json
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/tips/error/ErrorTips.tsx
  designer/client/src/components/tips/error/NodeErrorsLinkSection.tsx
  designer/client/src/components/tips/error/NodeErrorsTips.tsx
  designer/client/src/types/validation.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/ValidationResults.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/RemoteEnvironment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/TestModelMigrations.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/UIProcessValidator.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/CompilationResult.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/FragmentResolver.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/FragmentValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentGraphDefinition.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/CustomNodeValidationSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/FragmentResolverSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/canonize/ProcessUncanonizationError.scala
Labels: ui, docs, client

#5429 NU-1338 open url in header in a new tab
  designer/client/src/components/MenuBar/TabElement.tsx
Labels: ui, client

#5450 Backport to 1.12: Fixup: jdk downgraded from 17 to 11 in lite runner image (due to issues with InaccessibleObjectException)
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#5451 Backport to 1.13: Fixup: jre downgraded from 17 to 11 in lite runner image (due to issues with InaccessibleObjectException)
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#5432 Kafka and schema registry libraries bump
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/lite/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/kafka/BaseNuKafkaRuntimeDockerTest.scala
  utils/kafka-test-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/EmbeddedKafkaServer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/ConfluentKafkaAvroSerializer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/jsonpayload/ConfluentJsonPayloadKafkaSerializer.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/KafkaWithSchemaRegistryOperations.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/SimpleKafkaAvroDeserializer.scala
Labels: docs

#5462 Remove unused endpoint: update category
  common-api/src/main/scala/pl/touk/nussknacker/engine/util/Implicits.scala
  designer/client/src/http/HttpService.ts
  designer/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeEvent.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/AppApiHttpService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesChangeListenerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  docs/MigrationGuide.md
Labels: ui, docs, client

#5465 Fix for comparing Records with mixed different types of fields
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeConversionHandler.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/supertype/CommonSupertypeFinder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultSpec.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteQueryHelper.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/TableDefinition.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformer.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/global/DocumentationFunctions.scala
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/Union.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/LiteRequestResponseFunctionalTest.scala
  extensions-api/src/main/java/pl/touk/nussknacker/engine/javaapi/process/ExpressionConfig.java
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/conversion/ProcessConfigCreatorMapping.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ExpressionConfig.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/TypingFunctionForClassMember.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionDiscovery.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/globalvariables/ExpressionConfigDefinition.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinitionFromConfigCreatorExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testing/ModelDefinitionBuilder.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/variables/MetaVariables.scala
  interpreter/src/test/java/pl/touk/nussknacker/engine/definition/clazz/JavaSampleDocumentedClass.java
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/nodecompilation/LazyParameterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionDiscoverySpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionGenSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
Labels: docs

#5475 Equals used with lists with different types checking
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/supertype/CommonSupertypeFinder.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultSpec.scala
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#5471 Fix autscreenshot flaky tests
  designer/client/cypress/e2e/autoScreenshotChangeDocs.cy.ts
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - choice #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Outputs #0.png
Labels: ui, docs, client

#5485 Autodocs fix next try
  designer/client/cypress/e2e/autoScreenshotChangeDocs.cy.ts
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - choice #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Outputs #0.png
Labels: ui, docs, client
