Repository TouK/nussknacker, pull requests merged in 2024-06, with the labels that each got.

#6113 [NU-1532] fix issue when node has & in name
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #3.png
  designer/client/src/containers/hooks/useSearchQuery.tsx
Labels: ui, client

#6112 add router-link directive in markdown
  designer/client/cypress/support/process.ts
  designer/client/src/components/graph/node-modal/MarkdownStyled.tsx
Labels: ui, client

#6123 docs links fixes
  CONTRIBUTING.md
  README.md
  designer/client/src/components/AddProcessForm.tsx
  dockerhub/nussknacker-lite-runtime-app/README.md
  docs/LicenseInfo.md
  docs/developers_guide/Basics.md
  docs/installation_configuration_guide/Common.md
  docs/installation_configuration_guide/ScenarioDeploymentConfiguration.md
  docs/installation_configuration_guide/model/ModelConfiguration.md
  docs/integration/KafkaIntegration.md
  docs/operations_guide/Common.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/Intro.md
Labels: ui, docs, client

#6126 Fix statistics configuration
  designer/client/src/actions/nk/assignSettings.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/SettingsResourcesSpec.scala
  docs/Changelog.md
Labels: ui, docs, client

#6132 1.15.1 statistics and adhoc test fix
  designer/client/src/actions/nk/assignSettings.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/SettingsResourcesSpec.scala
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkEngineRuntimeContextImpl.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompilerData.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/MetricsProviderForFlink.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/SourceMetricsFunction.scala
Labels: ui, docs, client

#6105 [NU-1585] resolve active save button after scenario save issue
  designer/client/src/reducers/selectors/graph.ts
Labels: ui, client

#6106 [NU-1558] Update react-ace
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/patches/react-ace+10.1.0.patch
  designer/client/src/components/graph/node-modal/NodeTypeDetailsContent.tsx
  designer/client/src/components/graph/node-modal/ParameterExpressionField.tsx
  designer/client/src/components/graph/node-modal/StaticExpressionField.tsx
  designer/client/src/components/graph/node-modal/filter.tsx
  designer/client/src/components/graph/node-modal/switch.tsx
Labels: ui, client

#6121 NU-1691 provide move column functionality
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #9.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should change columns position #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should change columns position #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should change columns position #2.png
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/e2e/tableEditor.cy.ts
  designer/client/src/components/graph/node-modal/editors/expression/Table/TableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/state/action.ts
  designer/client/src/components/graph/node-modal/editors/expression/Table/state/helpers.ts
  designer/client/src/components/graph/node-modal/editors/expression/Table/state/reducer.ts
  docs/Changelog.md
Labels: ui, docs, client

#6134 Fix last action data determining
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/WithAccessControlCheckingConfigScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  docs/Changelog.md
Labels: docs

#6156 Fix last action data determining (forwardport from #6134)
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/WithAccessControlCheckingConfigScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  docs/Changelog.md
Labels: docs

#6151 fix flaky screenshots
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #3.png
  designer/client/cypress/e2e/tableEditor.cy.ts
Labels: ui, client

#6130 Fixed width for actions dialogs when error message is too long
  designer/client/src/components/modals/CustomActionDialog.tsx
  designer/client/src/components/toolbars/actions/buttons/CustomActionButton.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/CancelDeployButton.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/CustomActionButton.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/DeployButton.tsx
  designer/client/src/stylesheets/variables.ts
Labels: ui, client

#6136 [NU-1658] Add possiblity to configure EXACTLY_ONCE delivery mode for …
  build.sbt
  docs/Changelog.md
  docs/installation_configuration_guide/model/Flink.md
  docs/installation_configuration_guide/model/ModelConfiguration.md
  docs/integration/KafkaIntegration.md
  docs/operations_guide/Flink.md
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/PartitionByKeyFlinkKafkaProducer.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/FinkExactlyOnceItSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/FlinkWithKafkaSuite.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProviderSpec.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProvider.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/spel/Implicits.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExtension.scala
  utils/kafka-test-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/RichKafkaConsumer.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
Labels: docs

#6171 Fix aggregate window offset configuration doc
  docs/installation_configuration_guide/model/Flink.md
Labels: docs

#6155 [NU-1686] Deployment statuses synchronization
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentStatusName.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleDeploymentStatus.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleStateStatus.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManagerSpec.scala
  designer/server/src/main/resources/db/migration/common/V1_052__AddDeploymentStatusDetails.sql
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/DeploymentApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/BaseEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentCommand.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentId.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/synchronize/DeploymentsStatusesSynchronizationScheduler.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/synchronize/DeploymentsStatusesSynchronizer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/InvalidDeploymentManagerStub.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/BaseDeploymentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpServiceDeploymentCommentSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/FlinkClientStub.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/CachedFlinkClient.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/FlinkClient.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/HttpFlinkClient.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/rest/CachedFlinkClientTest.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/DeploymentStrategy.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/requestresponse/RequestResponseDeploymentStrategy.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/streaming/StreamingDeploymentStrategy.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/deployment/DeploymentId.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/newdeployment/DeploymentId.scala
Labels: docs

#6173 Merge release to staging - doc fix
  docs/installation_configuration_guide/model/Flink.md
Labels: docs

#6172 [NU-1685] newdeployment.DeploymentService: Ensure that only one deployment is performed for each scenario at a time
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentStatus.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentStatusName.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleDeploymentStatus.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleStateStatus.scala
  designer/server/src/main/resources/db/migration/common/V1_053__AddDeploymentStatusNameConstraint.sql
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/DeploymentApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/SqlStates.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newactivity/ActivityService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/synchronize/DeploymentsStatusesSynchronizationScheduler.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/synchronize/DeploymentsStatusesSynchronizer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBIOActionRunner.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DbProcessActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/Repository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/version/ScenarioGraphVersionService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/resources/config/access-control-checking/multiple-category-designer.conf
  designer/server/src/test/resources/config/business-cases/category-used-more-than-once-designer.conf
  designer/server/src/test/resources/config/business-cases/simple-streaming-use-case-designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockFetchingProcessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/AppApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/AppApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpServiceDeploymentCommentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodesApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodesApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ScenarioParametersApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ScenarioParametersApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/StatisticsApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentServiceTest.scala
  docs/Changelog.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/exception/DefaultExceptionConsumers.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/requestresponse/RequestResponseDeploymentStrategy.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/streaming/StreamingDeploymentStrategy.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/logging/LazyLoggingWithTraces.scala
Labels: docs

#6184 Remove "Remote[]" string part from forwarded username for processes creation and updates
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/MigrationApiHttpServiceBusinessSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#6186 extracted ExternalLib to separate module
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/RemoteComponent.tsx
  designer/client/src/components/spinner/SuspenseSpinner.tsx
  designer/client/src/components/toolbarComponents/DefaultToolbarPanel.tsx
  designer/client/src/components/toolbarSettings/types.ts
  designer/client/src/containers/Auth/strategies/RemoteAuthStrategy/RemoteAuthStrategy.tsx
  designer/client/src/containers/Auth/strategies/RemoteAuthStrategy/externalAuthModule.ts
  designer/client/src/containers/DynamicTab.tsx
  designer/client/src/containers/ExternalLib/ExternalModule.tsx
  designer/client/src/containers/ExternalLib/RemoteComponent.tsx
  designer/client/src/containers/ExternalLib/hooks/index.ts
  designer/client/src/containers/ExternalLib/hooks/useExternalLib.tsx
  designer/client/src/containers/ExternalLib/index.ts
  designer/client/src/containers/ExternalLib/store/LibContextProvider.tsx
  designer/client/src/containers/ExternalLib/store/context.ts
  designer/client/src/containers/ExternalLib/store/index.ts
  designer/client/src/containers/ExternalLib/store/modulesStore.tsx
  designer/client/src/containers/ExternalLib/store/types.tsx
  designer/client/src/containers/ExternalLib/tools/createScript.ts
  designer/client/src/containers/ExternalLib/tools/index.ts
  designer/client/src/containers/ExternalLib/tools/loadComponent.ts
  designer/client/src/containers/ExternalLib/tools/splitUrl.tsx
  designer/client/src/containers/ExternalLib/types.ts
  designer/client/types/@override/index.d.ts
  designer/submodules/configs/webpack/dev.ts
  designer/submodules/package-lock.json
  designer/submodules/package.json
Labels: ui, client, submodules

#6191 Flink cache config fix
  docs/Changelog.md
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/CachedFlinkClient.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/rest/CachedFlinkClientTest.scala
Labels: docs

#6185 Improvement: Make UniversalKafkaSinkFactory available at BoundedStream
  docs/Changelog.md
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/UniversalKafkaSinkFactory.scala
Labels: docs

#6193 Release 1.15 port
  docs/Changelog.md
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/CachedFlinkClient.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/rest/CachedFlinkClientTest.scala
Labels: docs

#6198 Fix flink caching client
  docs/Changelog.md
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/CachedFlinkClient.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/rest/CachedFlinkClientTest.scala
Labels: docs

#6225 [NU-1714] fix-problem-with-parsing-object-in-fragment-input-parameter
  designer/client/src/components/graph/node-modal/editors/expression/DictParameterEditor/DictParameterEditor.tsx
  docs/Changelog.md
Labels: ui, docs, client

#6221 [NU-1687] Blocking of deployment of either fragment or archived scenario
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/DeploymentApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/WithBatchConfigScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/BaseDeploymentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpServiceBusinessSpec.scala
  docs/Changelog.md
Labels: docs

#6231 [NU-1714] fix-problem-with-parsing-object-in-fragment-input-parameter
  designer/client/src/components/graph/node-modal/editors/expression/DictParameterEditor/DictParameterEditor.tsx
  docs/Changelog.md
Labels: ui, docs, client

#6230 Fix periodic scenarios that are Running being shown as Scheduled
  docs/Changelog.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/PeriodicProcessDeployment.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/SchedulesState.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: docs

#6092 [Nu-974] update react to 18
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare versions should render compare a version with fragment input parameters change marked #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Connection error should display connection errors #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display javadocs #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #8.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should open properites from tips panel #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should validate process on nodes paste #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process tests from file should properly display results of tests from file #0.png
  designer/client/cypress/e2e/process2.cy.ts
  designer/client/jest-setup.js
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/actions/nk/node.ts
  designer/client/src/bootstrap.tsx
  designer/client/src/common/TestResultUtils.ts
  designer/client/src/components/common/dndItems/DndItems.tsx
  designer/client/src/components/common/dndItems/DragHandle.tsx
  designer/client/src/components/common/dndItems/DropTarget.tsx
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/node-modal/editors/expression/AceWrapper.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Editor.ts
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionField.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  designer/client/src/components/graph/node-modal/editors/expression/SqlEditor.tsx
  designer/client/src/components/modals/CompareVersionsDialog.tsx
  designer/client/src/components/toolbarComponents/DragAndDropContainer.tsx
  designer/client/src/components/toolbarComponents/ToolbarsContainer.tsx
  designer/client/src/components/toolbars/creator/ComponentIcon.tsx
  designer/client/src/components/toolbars/process/buttons/CompareButton.tsx
  designer/client/src/components/toolbars/test/buttons/TestWithFormButton.tsx
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
  designer/submodules/packages/components/src/bootstrap.tsx
  designer/submodules/packages/components/src/scenarios/list/itemsList.tsx
  designer/submodules/packages/components/tsconfig.json
Labels: ui, client, submodules

#6179 Ad-hoc markdownContext
  designer/client/cypress/e2e/process.cy.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/scenariotoolbar/ToolbarButtonConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ScenarioToolbarService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/config/scenariotoolbar/CategoriesScenarioToolbarsConfigParserSpec.scala
Labels: ui, client

#6208 [Nu-1696] fix unzoom node details dialog issue
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #2.png
  designer/client/src/components/graph/node-modal/editors/expression/Table/TableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/tableTheme.ts
  docs/Changelog.md
Labels: ui, docs, client

#6245 Dynamic components properly use validators from AdditionalUIConfigProvider
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/component/ComponentsValidator.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/Validations.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/DynamicNodeValidator.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/StandardParameterEnrichment.scala
Labels: docs

#6238 Fix FE ScenarioPropertyConfig's attribute to align to the BE response
  designer/client/src/components/graph/node-modal/ScenarioProperty.tsx
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
Labels: ui, client

#6240 NU-1710 fix date picker visibility on table editor
  designer/client/src/components/common/DTPicker.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/customCells/DatePicker.tsx
Labels: ui, client

#6246 [NU-1520] Remove analytics config
  designer/client/src/reducers/settings.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/AnalyticsConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/SettingsResourcesSpec.scala
Labels: ui, client

#6260 Merge 1.15 to staging
  docs/Changelog.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/PeriodicProcessDeployment.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/SchedulesState.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: docs

#6262 Docs cosmetics
  docs/about/GLOSSARY.md
  docs/about/NussknackerEnterprise.md
  docs/installation/Installation.md
  docs/installation_configuration_guide/Common.md
  docs/installation_configuration_guide/ScenarioDeploymentConfiguration.md
  docs/operations_guide/Common.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/Intro.md
  docs/scenarios_authoring/Spel.md
Labels: docs

#6266 Disable custom action button for periodic engine.
  designer/client/src/components/toolbarSettings/buttons/ActionButton.tsx
  designer/client/src/reducers/selectors/graph.ts
Labels: ui, client

#6270 [NU-1720] compare version does not work in case of remote
  designer/client/jest-setup.js
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/modals/CompareVersionsDialog.tsx
  designer/client/test/CompareVersionDialog-test.tsx
  docs/Changelog.md
Labels: ui, docs, client

#6283 [NU-1559] fix joint js style loading
  designer/client/jest.config.js
  designer/client/src/components/graph/Graph.tsx
  designer/client/webpack.config.ts
Labels: ui, client

#6285 [NU-1721] Fix for DatabaseLookupEnricher mixing fields values when it is connected to ignite db, backport of pr #6264
  build.sbt
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteQueryHelper.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/query/QueryExecutor.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/ColumnDefinition.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/TableDefinition.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupLiteRuntimeTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherHsqlTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherPostgresqlTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherQueryWithEnricher.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/IgniteEnrichmentLiteRuntimeTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/BasePostgresqlQueryEnricherTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/WithPostgresqlDB.scala
  docs/Changelog.md
Labels: docs
