Repository TouK/nussknacker, pull requests merged in 2024-09, with the labels that each got.

#6692 Registration of serializers in the way that is acceptable by table API
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/avro/AvroBenchmark.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/join/TableJoinTest.scala
  engine/flink/executor/src/main/java/pl/touk/nussknacker/engine/process/util/TimeSerializers.java
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/util/Serializers.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/util/SpelHack.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/util/SerializersSpec.scala
  engine/flink/extensions-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/serialization/SerializerRegistrar.scala
  engine/flink/extensions-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/serialization/SerializerWithSpecifiedClass.scala
  engine/flink/extensions-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/serialization/SerializersRegistrar.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/kryo/AvroSerializersRegistrar.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/kryo/SchemaIdBasedAvroGenericRecordSerializer.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/kryo/SchemaIdBasedAvroGenericRecordSerializerSpec.scala
  engine/flink/tests/src/test/resources/state-compatibility/2.12/2024-02-29_848850b98750556b40b3be45f87667a4c26e7414/13f0afe3-c9c2-43f0-8626-bb6fe0a40bf8
  engine/flink/tests/src/test/resources/state-compatibility/2.12/2024-02-29_848850b98750556b40b3be45f87667a4c26e7414/_metadata
  engine/flink/tests/src/test/resources/state-compatibility/2.12/2024-02-29_848850b98750556b40b3be45f87667a4c26e7414/af43ca70-405d-4d16-bfab-e525ec402e66
  engine/flink/tests/src/test/resources/state-compatibility/2.12/2024-08-30_3cccb137d90784c8dfc7282256ae9d46681f2856/_metadata
  engine/flink/tests/src/test/resources/state-compatibility/2.13/2024-02-29_2c31c356fed8f1eec0629bf6cdefc696f9ad3513/_metadata
  engine/flink/tests/src/test/resources/state-compatibility/2.13/2024-08-30_83567408a92375cfdc4a1fafbd98b0ec1c138273/_metadata
Labels: docs

#6706 [NU-1752] Fix some broken links in documentation
  docs/configuration/Common.md
  docs/configuration/DesignerConfiguration.md
  docs/installation/Binaries.md
  docs/integration/DataTypingAndSchemasHandling.md
  docs/integration/KafkaIntegration.md
Labels: docs

#6716 [NU-1489] Fix COLLECTION merge function
  docs/Changelog.md
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/collection.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/CollectionUtilsSpec.scala
Labels: docs

#6695 [NU-1771] Add capability to the array to be able to invoke methods as it was a list
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/typedinfo/TypingResultBasedSerializationBenchmark.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/CanBeSubclassDeterminer.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeConversionHandler.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/supertype/CommonSupertypeFinder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/supertype/NumberTypesPromotionStrategy.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultGen.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableFileSinkTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatesSpec.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformer.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/ToTableTypeEncoder.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/ToTableTypeSchemaBasedEncoder.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/ForEachTransformer.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/TypingFunctionForClassMember.scala
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/NuReflectiveMethodExecutor.java
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/internal/ArrayToListConversionHandler.java
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/internal/ArrayToListConverter.java
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionDiscovery.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/TypeRelatedParameterValueDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/editor/ParameterTypeEditorDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/DefaultSpelConversionsProvider.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/OptimizedEvaluationContext.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/typer/MethodReferenceTyper.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/TypedClassDisplaySpec.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidator.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidator.scala
Labels: docs

#6701 [NU-1784] fix unhandled error when open survey
  designer/client/src/windowManager/WindowContent.tsx
Labels: ui, client

#6725 [Nu-1792] properties save fix when fragment is in different group than fragments
  designer/client/src/components/graph/utils/fragmentSchemaAligner.ts
Labels: ui, client

#6731 [Nu-1785] fix input style in the generated dialog (#6698)
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should be available via button and modal #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should display dead-ended fragment correct #0.png
  designer/client/src/components/modals/GenerateDataAndTestDialog.tsx
Labels: ui, client

#6727 [NU-1752] Fix broken links in 1.16
  docs/LicenseInfo.md
  docs/MigrationGuide.md
  docs/about/ProcessingModes.md
  docs/configuration/Common.mdx
  docs/configuration/ScenarioDeploymentConfiguration.md
  docs/configuration/model/Lite.md
  docs/configuration/model/ModelConfiguration.mdx
  docs/developers_guide/Basics.md
  docs/installation/Binaries.md
  docs/integration/DataTypingAndSchemasHandling.md
  docs/integration/KafkaIntegration.md
  docs/operations_guide/Common.md
  docs/operations_guide/Flink.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/Intro.md
Labels: docs

#6711 Rename SingleComponentConfig to ComponentConfig
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentConfig.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should be available via button and modal #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should display dead-ended fragment correct #0.png
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  docs/MigrationGuide.md
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/WithCategories.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentAdditionalConfigConverter.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionWithImplementation.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/defaultconfig/DefaultComponentConfigDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/modelconfig/ComponentsUiConfigParser.scala
Labels: ui, docs, client

#6736 [NU-1752] More broken links fix
  docs/LicenseInfo.md
  docs/MigrationGuide.md
  docs/about/ProcessingModes.md
  docs/configuration/ScenarioDeploymentConfiguration.md
  docs/configuration/index.mdx
  docs/configuration/model/Lite.md
  docs/configuration/model/ModelConfiguration.md
  docs/developers_guide/Basics.md
  docs/operations_guide/Common.md
  docs/operations_guide/Flink.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/Intro.md
Labels: docs

#6652 [Nu-1705] error boundary changes
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should display dead-ended fragment correct #0.png
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/errors.ts
  designer/client/src/actions/nk/fetchVisualizationData.ts
  designer/client/src/actions/nk/index.ts
  designer/client/src/actions/reduxTypes.ts
  designer/client/src/bootstrap.tsx
  designer/client/src/components/UrlIcon.tsx
  designer/client/src/components/common/ErrorBoundary.tsx
  designer/client/src/components/common/RootErrorBoundary.tsx
  designer/client/src/components/common/error-boundary/DefaultFullScreenMessage.tsx
  designer/client/src/components/common/error-boundary/ErrorBoundary.tsx
  designer/client/src/components/common/error-boundary/NotFound.tsx
  designer/client/src/components/common/error-boundary/fallbackComponent/DialogErrorFallbackComponent.tsx
  designer/client/src/components/common/error-boundary/fallbackComponent/FullPageErrorBoundaryFallbackComponent.tsx
  designer/client/src/components/common/error-boundary/fallbackComponent/PlaceholderIconFallbackComponent.tsx
  designer/client/src/components/common/error-boundary/fallbackComponent/RouteErrorFallbackComponent.tsx
  designer/client/src/components/common/error-boundary/fallbackComponent/ToolbarErrorFallbackComponent.tsx
  designer/client/src/components/common/error-boundary/fallbackComponent/index.ts
  designer/client/src/components/common/error-boundary/images/error-occurred.svg
  designer/client/src/components/common/error-boundary/images/placeholder-icon.svg
  designer/client/src/components/common/error-boundary/images/warning-occurred.svg
  designer/client/src/components/common/error-boundary/index.tsx
  designer/client/src/components/graph/node-modal/FieldLabel.tsx
  designer/client/src/components/graph/node-modal/editors/EditableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/DualParameterEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/TableEditor.tsx
  designer/client/src/components/graph/node-modal/node/DescriptionDialog.tsx
  designer/client/src/components/graph/node-modal/node/FragmentContent.tsx
  designer/client/src/components/graph/node-modal/node/NodeDetails.tsx
  designer/client/src/components/modals/CustomActionDialog.tsx
  designer/client/src/components/modals/GenericAction/FormField.tsx
  designer/client/src/components/sidePanels/CollapsibleScrollPanel.tsx
  designer/client/src/components/toolbarComponents/toolbarWrapper/ToolbarWrapper.tsx
  designer/client/src/containers/Auth/strategies/RemoteAuthStrategy/RemoteAuthStrategy.tsx
  designer/client/src/containers/DynamicTab.tsx
  designer/client/src/containers/ErrorHandler.tsx
  designer/client/src/containers/RootRoutes.tsx
  designer/client/src/containers/Visualization.tsx
  designer/client/src/containers/errors/InitializeError.tsx
  designer/client/src/reducers/httpErrorHandler.ts
  designer/client/src/windowManager/WindowContent.tsx
  designer/submodules/packages/components/src/common/CrackedNut.tsx
  designer/submodules/packages/components/src/common/PlaceholderIconFallbackComponent.tsx
  designer/submodules/packages/components/src/common/nuIcon.tsx
  designer/submodules/packages/components/src/common/placeholder-icon.svg
Labels: ui, client, submodules

#6737 [Nu-1794] fix problem with properties fields update
  designer/client/src/components/graph/node-modal/node/NodeDetails.tsx
  designer/submodules/packages/components/src/components/cellRenderers/nameCell.tsx
Labels: ui, client, submodules

#6578 Added docsUrl to PropertiesConfig
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/SingleComponentConfig.scala
  designer/client/src/components/graph/node-modal/NodeDetailsContent/selectors.tsx
  designer/client/src/components/graph/node-modal/nodeDetails/NodeDetailsModalHeader.tsx
  designer/client/src/components/graph/node-modal/properties.tsx
  designer/client/src/types/scenarioGraph.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReaderSpec.scala
  docs/configuration/model/ModelConfiguration.md
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/WithCategories.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentAdditionalConfigConverter.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionWithImplementation.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/defaultconfig/DefaultComponentConfigDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/modelconfig/ComponentsUiConfigParser.scala
Labels: ui, docs, client

#6748 Fe release 1.17 staging synchronization
  designer/client/src/components/graph/node-modal/node/NodeDetails.tsx
  designer/client/src/components/graph/utils/fragmentSchemaAligner.ts
  designer/submodules/packages/components/src/components/cellRenderers/nameCell.tsx
Labels: ui, client, submodules

#6749 Bring back Rename SingleComponentConfig to ComponentConfig (#6711)
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentConfig.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should display dead-ended fragment correct #0.png
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/WithCategories.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentAdditionalConfigConverter.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionWithImplementation.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/defaultconfig/DefaultComponentConfigDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/modelconfig/ComponentsUiConfigParser.scala
Labels: ui, client

#6740 [NU-1752] Fix broken links in 1.15
  docs/Changelog.md
  docs/LicenseInfo.md
  docs/MigrationGuide.md
  docs/about/ProcessingModes.md
  docs/developers_guide/Basics.md
  docs/developers_guide/FlinkComponents.md
  docs/installation/Installation.md
  docs/installation_configuration_guide/Common.mdx
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/ScenarioDeploymentConfiguration.md
  docs/installation_configuration_guide/model/Flink.md
  docs/installation_configuration_guide/model/Lite.md
  docs/installation_configuration_guide/model/ModelConfiguration.md
  docs/integration/DataTypingAndSchemasHandling.md
  docs/integration/KafkaIntegration.md
  docs/operations_guide/Common.md
  docs/operations_guide/Flink.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/Intro.md
  docs/scenarios_authoring/Spel.md
  docs/scenarios_authoring/TestingAndDebugging.mdx
Labels: docs

#6734 [NU-1789] TableDefinition - dynamic discovery
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypedObjectDefinition.scala
  docs/Changelog.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/extractor/TablesDefinitionDiscoveryTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceDataGenerationTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/TableDefinition.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/extractor/TablesDefinitionDiscovery.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSinkFactory.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceFactory.scala
Labels: docs

#6738 [NU-1752] Broken links for 1.17
  docs/LicenseInfo.md
  docs/MigrationGuide.md
  docs/about/ProcessingModes.md
  docs/configuration/Common.md
  docs/configuration/DesignerConfiguration.md
  docs/configuration/ScenarioDeploymentConfiguration.md
  docs/configuration/index.mdx
  docs/configuration/model/Lite.md
  docs/configuration/model/ModelConfiguration.md
  docs/developers_guide/Basics.md
  docs/installation/Binaries.md
  docs/integration/DataTypingAndSchemasHandling.md
  docs/integration/KafkaIntegration.md
  docs/operations_guide/Common.md
  docs/operations_guide/Flink.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/Intro.md
Labels: docs

#6752 Determine dictionary parameter editor language when no default value is present (#6685)
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/EditorPossibleValuesBasedDefaultValueDeterminer.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/EditorPossibleValuesBasedDefaultValueDeterminerTest.scala
Labels: docs

#6750 [NU-1791] Add varargs to concat and merge helper functions
  docs/Changelog.md
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/collection.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/CollectionUtilsSpec.scala
Labels: docs

#6782 collapsed panels fixed
  designer/client/src/reducers/panel.ts
  designer/client/src/reducers/selectors/panel.ts
Labels: ui, client

#6778 [NU-1656] Check for methods if property does not exist
  designer/client/src/components/graph/node-modal/editors/expression/CustomAceEditorCompleter.tsx
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: ui, docs, client

#6699 Axios security update
  designer/client/package-lock.json
  designer/client/package.json
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
Labels: ui, client, submodules

#6744 Added docsUrl to PropertiesConfig (#6578)
  designer/client/src/components/graph/node-modal/NodeDetailsContent/selectors.tsx
  designer/client/src/components/graph/node-modal/nodeDetails/NodeDetailsModalHeader.tsx
  designer/client/src/components/graph/node-modal/properties.tsx
  designer/client/src/types/scenarioGraph.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReaderSpec.scala
  docs/configuration/model/ModelConfiguration.md
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: ui, docs, client

#6794 [NU-1700] Highlights moved to changelog
  docs/Changelog.md
Labels: docs

#6796 [NU-1700] changelog improvements cherry-pick from release/1.17
  docs/Changelog.md
Labels: docs

#6806 [NU-1700] changelog formatting fix
  docs/Changelog.md
Labels: docs

#6769 Add long fragment parameters handling for lists
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should display dead-ended fragment correct #0.png
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/types.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/Settings.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/PermittedTypeVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/InputModeSelect.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/index.ts
  docs/Changelog.md
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #1.png
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidator.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidatorTest.scala
Labels: ui, docs, client

#6797 Performance improvement: GenericData created once + removed not used …
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/integration/DataTypingAndSchemasHandling.md
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/kryo/SchemaIdBasedAvroGenericRecordSerializer.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/AvroStringSettingsInTests.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schema/StringForcingDatumReaderSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/KafkaAvroPayloadSourceFactorySpec.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/AvroUtils.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidatorPrinter.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/ToAvroSchemaBasedEncoder.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schema/AvroStringSettings.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schema/DatumReaderWriterMixin.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schema/StringForcingDatumReaderProvider.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/AbstractConfluentKafkaAvroSerializer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/formatter/AvroMessageFormatter.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/UniversalSchemaPayloadDeserializer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/typed/AvroSchemaTypeDefinitionExtractor.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/SimpleKafkaAvroDeserializer.scala
Labels: docs

#6815 Performance improvement: Optimize serializer creation in UniversalSchemaSupport
  docs/Changelog.md
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/FlinkKafkaUniversalSink.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/ParsedSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/UniversalSchemaSupport.scala
Labels: docs

#6807 [NU-1701] Add conversions to primitive types to helper functions
  docs/Changelog.md
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/conversion.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/BaseSpelSpec.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/ConversionUtilsSpec.scala
Labels: docs

#6741 [NU-1789] Catalog configuration
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/BaseDeploymentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesBatchBusinessSpec.scala
  docs/Changelog.md
  e2e-tests/src/test/scala/pl/touk/nussknacker/BatchDataGenerationSpec.scala
  engine/flink/components/base-tests/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/definition/MockableCatalogFactory.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/definition/SqlFromFileReaderTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/definition/TablesDefinitionDiscoveryTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableFileSinkTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSinkParametersTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceDataGenerationTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/FlinkTableComponentProvider.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/TableDefinition.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/definition/FlinkDataDefinition.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/definition/SqlStatementReader.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/definition/TablesDefinitionDiscovery.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/extractor/TablesDefinitionDiscovery.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSink.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSinkFactory.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/FlinkMiniClusterTableOperations.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSource.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceFactory.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/TableComponentFactory.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/devmodel/TableKafkaPingPongTest.scala
Labels: docs

#6826 [NU-1801] Fix no validation when indexing on Lists and Maps
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#6728 collapsed panels fixed
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should display dead-ended fragment correct #0.png
  designer/client/src/reducers/panel.ts
  designer/client/src/reducers/selectors/panel.ts
Labels: ui, client

#6828 Extend ML documentation
  docs/LicenseInfo.md
  docs/about/NussknackerEnterprise.md
  docs/integration/MachineLearning.md
  docs/integration/img/mlExportedModels.png
  docs/integration/img/mlMlflowAndNussknackerMlRuntime.png
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/img/mlEnricherForm.png
Labels: docs

#6841 Expose NuThemeProvider using module federation mechanism
  designer/client/federation.config.json
Labels: ui, client

#6847 [NU-1804] TimeRangeComponent border issue
  designer/client/src/components/graph/node-modal/editors/expression/Cron/CronEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Duration/TimeRangeComponent.tsx
Labels: ui, client

#6849 Move Validation setting to the bottom in Fragment Input Definition view
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #3.png
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/DefaultVariant.tsx
Labels: ui, client

#6700 [Nu-1780] Add advanced search options
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Creator toolbar should allow collapse (persist) and filtering #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should display dead-ended fragment correct #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process tests from file should properly display results of tests from file #0.png
  designer/client/cypress/e2e/autoScreenshotChangeDocs.cy.ts
  designer/client/cypress/e2e/description.cy.ts
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/e2e/process.cy.ts
  designer/client/cypress/e2e/process2.cy.ts
  designer/client/cypress/e2e/search.cy.ts
  designer/client/src/assets/img/advanced-search.svg
  designer/client/src/components/sidePanels/SearchLabel.tsx
  designer/client/src/components/sidePanels/SearchLabeledInput.tsx
  designer/client/src/components/table/SearchFilter.tsx
  designer/client/src/components/themed/InputWithIcon.tsx
  designer/client/src/components/themed/SearchInput.tsx
  designer/client/src/components/tips/Styled.tsx
  designer/client/src/components/toolbars/search/AdvancedSearchFilters.tsx
  designer/client/src/components/toolbars/search/SearchPanel.tsx
  designer/client/src/components/toolbars/search/SearchResults.tsx
  designer/client/src/components/toolbars/search/utils.ts
Labels: ui, client

#6862 benchmark pipeline fix
  .github/workflows/benchmark-e2e.yml
  .github/workflows/benchmark-jmh.yml
  benchmarks/Readme.md
Labels: docs

#6763 Windows update
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should display dead-ended fragment correct #0.png
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/bootstrap.tsx
Labels: ui, client

#6825 [NU-1735] Use installation example for a local development purposes
  .run/NussknackerApp-postgres.run.xml
  .run/RunEnvForLocalDesigner.run.xml
  CONTRIBUTING.md
  build.sbt
  designer/server/src/test/scala/pl/touk/nussknacker/dev/RunEnvForLocalDesigner.scala
  e2e-tests/src/test/scala/pl/touk/nussknacker/BaseE2ESpec.scala
  e2e-tests/src/test/scala/pl/touk/nussknacker/BatchDataGenerationSpec.scala
  e2e-tests/src/test/scala/pl/touk/nussknacker/DetectLargeTransactionSpec.scala
  e2e-tests/src/test/scala/pl/touk/nussknacker/DetermineOfferedPlanSpec.scala
  engine/common/components/src/main/scala/pl/touk/nussknacker/engine/common/components/DecisionTable.scala
  examples/dev/flink/Dockerfile
  examples/dev/flink/flink-properties.yml
  examples/dev/grafana/dashboards/dashboards.yml
  examples/dev/grafana/dashboards/nussknacker-lite-scenario.json
  examples/dev/grafana/dashboards/nussknacker-request-response-scenario.json
  examples/dev/grafana/dashboards/nussknacker-scenario.json
  examples/dev/grafana/datasources/datasources.yml
  examples/dev/local-testing.docker-compose.yml
  examples/dev/nu-scala213.override.yml
  examples/dev/telegraf/telegraf.conf
  examples/installation/.env
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/numeric.scala
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/installationexample/DockerBasedNuInstallationExampleEnvironment.scala
Labels: docs

#6880 Faster serialization of Avro unions
  docs/Changelog.md
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/ToAvroSchemaBasedEncoder.scala
Labels: docs

#6886 FlinkTestScenarioRunner: ability to pass NodesDeploymentData + fix for Apache Iceberg Illegal table name error
  docs/Changelog.md
  engine/flink/components/base-tests/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/definition/MockableCatalogFactory.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/definition/StubbedCatalogFactory.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/definition/TablesDefinitionDiscoveryTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/definition/FlinkDataDefinition.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
Labels: docs

#6883 Faster avro nulls (backport to 1.17)
  docs/Changelog.md
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/ToAvroSchemaBasedEncoder.scala
Labels: docs

#6877 Windows update (#6763)
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should display dead-ended fragment correct #0.png
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/bootstrap.tsx
  docs/Changelog.md
Labels: ui, docs, client

#6896 Move Validation setting to the bottom in Fragment Input Definition vi…
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should be available via button and modal #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/AnyValueVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/AnyValueWithSuggestionVariant.tsx
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #2.png
Labels: ui, docs, client

#6756 flaky test fix next attempt
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #6.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #8.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should display dead-ended fragment correct #0.png
  designer/client/cypress/e2e/counts.cy.ts
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/support/mocks.ts
Labels: ui, client

#6901 Move Validation setting to the bottom in Fragment Input Definition - cherry pick to 1.17
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should be available via button and modal #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #2.png
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/AnyValueVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/AnyValueWithSuggestionVariant.tsx
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #2.png
Labels: ui, docs, client

#6889 Release 1.17 -> staging merge
  .github/workflows/pr.yml
  components/openapi/src/it/resources/enrichers-with-optional-fields.yaml
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenApiScenarioIntegrationTest.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  defaultModel/src/main/resources/defaultModelConfig.conf
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #6.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #8.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should display dead-ended fragment correct #0.png
  designer/client/cypress/e2e/counts.cy.ts
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/support/mocks.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/modals/SaveProcessDialog.tsx
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/integration/DataTypingAndSchemasHandling.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkBaseComponentProvider.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/kryo/SchemaIdBasedAvroGenericRecordSerializer.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/FlinkKafkaUniversalSink.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/AvroStringSettingsInTests.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schema/StringForcingDatumReaderSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/KafkaAvroPayloadSourceFactorySpec.scala
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteBaseComponentProvider.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/AvroUtils.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidatorPrinter.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/ToAvroSchemaBasedEncoder.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schema/AvroStringSettings.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schema/DatumReaderWriterMixin.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schema/StringForcingDatumReaderProvider.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/serialization/AbstractConfluentKafkaAvroSerializer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/formatter/AvroMessageFormatter.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/ParsedSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/UniversalSchemaPayloadDeserializer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/UniversalSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/typed/AvroSchemaTypeDefinitionExtractor.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/SimpleKafkaAvroDeserializer.scala
Labels: ui, docs, client, submodules

#6914 Add long fragment parameters handling for lists (#6769)
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/types.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/Settings.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/PermittedTypeVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/InputModeSelect.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/index.ts
  docs/Changelog.md
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #1.png
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidator.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidatorTest.scala
Labels: ui, docs, client

#6916 Highlights for version 1.17
  docs/Changelog.md
Labels: docs

#6920 Release1.17 to staging merge
  docs/Changelog.md
Labels: docs

#6176 Update dependencies
  build.sbt
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentProvider.scala
  docs/Changelog.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/AvroGen.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/component/ComponentFromProvidersExtractorTest.scala
Labels: docs

#6910 Display category and scenario name as breadcrumbs on scenario list
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Processes list should filter by processing mode #0.png
  designer/client/src/components/toolbars/scenarioDetails/ScenarioLabels.tsx
  designer/submodules/packages/components/src/common/categoryChip.tsx
  designer/submodules/packages/components/src/common/index.ts
  designer/submodules/packages/components/src/common/labelChip.tsx
  designer/submodules/packages/components/src/components/cellRenderers/categoriesCell.tsx
  designer/submodules/packages/components/src/components/usages/filtersPart.tsx
  designer/submodules/packages/components/src/components/usages/usagesFiltersModel.ts
  designer/submodules/packages/components/src/scenarios/filters/filtersPart.tsx
  designer/submodules/packages/components/src/scenarios/filters/typeOptionsStack.tsx
  designer/submodules/packages/components/src/scenarios/list/item.tsx
  designer/submodules/packages/components/src/scenarios/list/tablePart.tsx
  designer/submodules/packages/components/src/scenarios/useScenariosQuery.tsx
Labels: ui, client, submodules

#6949 Ad hoc testing not available message
  designer/client/src/components/toolbars/test/buttons/TestWithFormButton.tsx
Labels: ui, client

#6925 Preserve typing information during expression compilation
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ComponentExecutorFactory.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
Labels: docs

#6721 Counts popover
  designer/client/src/actions/nk/displayProcessCounts.ts
  designer/client/src/actions/nk/process.ts
  designer/client/src/components/graph/EspNode/esp.ts
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/GraphWrapped.tsx
  designer/client/src/components/graph/NodeDescriptionPopover.tsx
  designer/client/src/containers/Visualization.tsx
  designer/client/src/reducers/userSettings.ts
Labels: ui, client

#6950 Fix for testing mechanism for table sources: using full, model classpath instead of only flinkTable.jar
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentProvider.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/component/NussknackerVersionTest.scala
  docs/Changelog.md
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/FlinkMiniClusterTableOperations.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/testmode/TestDataPreparer.scala
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/installationexample/DockerBasedNuInstallationExampleEnvironment.scala
Labels: docs

#6952 Improvement: TypeInformation support for scala.Option
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/scala-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinfo/caseclass/CaseClassTypeInfoFactory.scala
Labels: docs
