Repository TouK/nussknacker, pull requests merged in 2024-07, with the labels that each got.

#6291 [MAINTENANCE] Enhance type conversion docs
  docs/scenarios_authoring/Spel.md
Labels: docs

#6264 [NU-1721] Fix for DatabaseLookupEnricher mixing fields values when it is connected to ignite db
  build.sbt
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteQueryHelper.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/query/QueryExecutor.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/ColumnDefinition.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/TableDefinition.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupLiteRuntimeTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherHsqlTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherPostgresqlTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherQueryWithEnricher.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/IgniteEnrichmentLiteRuntimeTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/BasePostgresqlQueryEnricherTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/WithPostgresqlDB.scala
  docs/Changelog.md
Labels: docs

#6292 Idleness in Operations.Troubleshooting - docs
  README.md
  docs/operations_guide/Flink.md
  docs/scenarios_authoring/Spel.md
Labels: docs

#6282 [NU-1682] topic auto create changes
  .k3d/k3s_manifests/runtimes.yaml
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/server/src/test/resources/config/access-control-checking/multiple-category-designer.conf
  designer/server/src/test/resources/config/business-cases/simple-streaming-use-case-designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/test/config/ConfigWithScalaVersion.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/integration/KafkaIntegration.md
  e2e-tests/src/test/resources/spec-setup/debuggable-nu-designer.override.yml
  e2e-tests/src/test/scala/pl/touk/nussknacker/DockerBasedInstallationExampleNuEnvironment.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/TestFromFileSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/KafkaAvroSpecMixin.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/TestWithTestDataSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/FlinkWithKafkaSuite.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/RunFlinkStreamingModelLocally.scala
  examples/installation/.env
  examples/installation/docker-compose.yml
  examples/installation/flink/flink-properties.yml
  utils/kafka-components-utils/src/it/scala/pl/touk/nussknacker/engine/kafka/validator/CachedTopicsExistenceValidatorTest.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaComponentsUtils.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/validator/CachedTopicsExistenceValidator.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/validator/TopicsExistenceValidator.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteKafkaTestScenarioRunner.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaUniversalComponentTransformer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/source/UniversalKafkaSourceFactory.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/formatter/UniversalRecordFormatterSpec.scala
Labels: docs

#6319 Fix migration between environments
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrationService.scala
  docs/Changelog.md
Labels: docs

#6324 Enhance component group mapping configuration docs
  docs/installation_configuration_guide/model/ModelConfiguration.md
Labels: docs

#6337 [NU-1683] Fixes memory leak in test mechanism introduced in #4956
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMain.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/testmode/ResultsCollectingListener.scala
Labels: docs

#6323 [NU-1697] Fix ad hoc submitting empty field error and other small fixes
  designer/client/src/components/comment/StyledComment.tsx
  designer/client/src/components/modals/GenericAction/GenericActionDialog.tsx
  designer/client/src/components/toolbars/test/buttons/TestWithFormButton.tsx
  designer/client/test/CommentContent-test.tsx
Labels: ui, client

#6322 Fix search nodes panel (do not catch ctrl f)
  designer/client/cypress/e2e/process2.cy.ts
  designer/client/src/components/toolbars/search/SearchPanel.tsx
Labels: ui, client

#6348 [NU-1726] installation example improvements
  .gitignore
  examples/installation/README.md
  examples/installation/docker-compose.yml
  examples/installation/flink/Dockerfile
  examples/installation/flink/flink-properties.yml
  examples/installation/nginx/nginx.conf
  examples/installation/run.sh
  examples/installation/start.sh
  examples/installation/stop-and-clean.sh
Labels: docs

#6362 [NU-1733] provide statistics lock mechanism
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #3.png
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/useProcessFormDataOptions.test.ts
  designer/client/src/containers/NussknackerApp.tsx
  designer/client/src/containers/useAnonymousStatistics.tsx
  designer/client/test/useAnonymousStatistics.test.tsx
Labels: ui, client

#6357 quickfix for LinkButton/ToolbarButton icon in safari
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButtonStyled.tsx
Labels: ui, client

#6358 Fix search nodes panel (do not catch ctrl f) (#6322)
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #3.png
  designer/client/cypress/e2e/process2.cy.ts
  designer/client/src/components/toolbars/search/SearchPanel.tsx
  docs/Changelog.md
Labels: ui, docs, client

#6370 [NU-1726] new quickstart adaptations
  CONTRIBUTING.md
  README.md
  dockerhub/nussknacker-lite-runtime-app/README.md
  dockerhub/nussknacker/README.md
  docs/installation/Installation.md
  docs/installation_configuration_guide/Common.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/integration/KafkaIntegration.md
  docs/integration/OpenAPI.md
  docs/operations_guide/Flink.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/TestingAndDebugging.md
  nussknacker-dist/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: docs

#6377 Merge 1.15 to staging
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButtonStyled.tsx
  docs/Changelog.md
Labels: ui, docs, client

#6380 [NU-1613] doc installation page improvements
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButtonStyled.tsx
  dockerhub/nussknacker/README.md
  docs/about/engines/LiteArchitecture.md
  docs/configuration/Common.md
  docs/configuration/DesignerConfiguration.md
  docs/configuration/ScenarioDeploymentConfiguration.md
  docs/configuration/img/configuration_areas.png
  docs/configuration/index.md
  docs/configuration/model/Flink.md
  docs/configuration/model/Lite.md
  docs/configuration/model/ModelConfiguration.md
  docs/configuration/model/_category_.yml
  docs/configuration/model/index.md
  docs/developers_guide/Basics.md
  docs/installation/Binaries.md
  docs/installation/Docker.md
  docs/installation/HelmChart.md
  docs/installation/index.md
  docs/installation_configuration_guide/Common.md
  docs/integration/DataTypingAndSchemasHandling.md
  docs/integration/KafkaIntegration.md
  docs/integration/OpenAPI.md
  docs/integration/Sql.md
  docs/operations_guide/Common.md
  docs/operations_guide/Flink.md
  docs/operations_guide/Lite.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/RRDataSourcesAndSinks.md
  docs/scenarios_authoring/Spel.md
  docs/scenarios_authoring/TestingAndDebugging.md
Labels: ui, docs, client

#6385 [NU-1727] readme changed related to the new quickstart
  README.md
Labels: docs

#6384 [GH-5715] Customizable realm value
  designer/server/src/main/resources/defaultDesignerConfig.conf
  docs/Changelog.md
  docs/configuration/Common.md
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/AuthenticationProvider.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/AuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/basicauth/BasicAuthenticationConfiguration.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/basicauth/BasicAuthenticationProvider.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/basicauth/BasicAuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2AuthenticationProvider.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2AuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2Configuration.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2ServiceProvider.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcAuthenticationProvider.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oidc/OidcAuthenticationResources.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/basicauth/BasicAuthenticationSpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/JwtTokenAuthenticationSpec.scala
  security/src/test/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2AuthenticationResourcesSpec.scala
Labels: docs

#6363 [NU-6301] Improvement on SpEL suggestions
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ExpressionSuggesterSpec.scala
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
Labels: docs

#6382 Stop deployment and reschedule actors less gracefully on reload (backport of #6314)
  docs/Changelog.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/Utils.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/UtilsSpec.scala
Labels: docs

#6269 Fix `TypingResult.valueOpt` for the purpose of SpEL validator
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalAvroSchemaFunctionalTest.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/collection.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/BaseSpelSpec.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/CollectionUtilsSpec.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidator.scala
Labels: docs

#6409 Add dynamic import retry mechanism for component icon
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
  designer/submodules/packages/components/src/common/CrackedNut.tsx
  designer/submodules/packages/components/src/common/nuIcon.tsx
Labels: ui, submodules

#6410 Modify property label form title to fix failing cypress test
  designer/client/src/components/graph/node-modal/properties.tsx
Labels: ui, client

#6388 [NU-1725] any value with suggestion expression mode fix
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/src/components/graph/node-modal/editors/expression/DictParameterEditor/DictParameterEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/DualParameterEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Editor.ts
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionField.tsx
  designer/client/src/components/graph/node-modal/editors/expression/types.ts
  docs/Changelog.md
Labels: ui, docs, client

#6383 `/components` endpoint new `skipUsages` query param
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #2.png
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/ComponentApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ComponentApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/component/ComponentService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/DefaultComponentServiceSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
Labels: ui, client

#6411 added FieldWrapper in ParameterExpressionField
  designer/client/src/components/graph/node-modal/NodeTypeDetailsContent.tsx
  designer/client/src/components/graph/node-modal/ParameterExpressionField.tsx
  designer/client/src/components/graph/node-modal/customNode.tsx
  designer/client/src/components/graph/node-modal/joinNode.tsx
  designer/client/src/components/graph/node-modal/parametersList.tsx
Labels: ui, client

#6418 Improvement: Pass implicite nodeId at EagerServiceWithStaticParamers. returnType
  docs/Changelog.md
  docs/MigrationGuide.md
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/service/EagerServiceWithStaticParameters.scala
Labels: docs

#6397 [NU-1745] Add flag to toggle the sending of errors reports
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/UsageStatisticsReportsConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/statistics/FingerprintService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettingsService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/SettingsResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/statistics/FingerprintServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettingsServiceTest.scala
  docs/configuration/DesignerConfiguration.md
Labels: docs

#6408 Revert "Fix `TypingResult.valueOpt` for the purpose of SpEL validator" #6269
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalAvroSchemaFunctionalTest.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/collection.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/BaseSpelSpec.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/CollectionUtilsSpec.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidator.scala
Labels: docs

#6333 [NU-1683] Test data generation feature: more meaningful error message…
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TestInfoResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/PreliminaryScenarioTestDataSerDe.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/TestInfoResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/test/PreliminaryScenarioTestDataSerDeTest.scala
  docs/Changelog.md
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerTest.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/test/PreliminaryScenarioTestData.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/test/TestInfoProvider.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProviderSpec.scala
Labels: docs

#6426 fix dict completion: `#parent.dict with spaces` -> `#parent["dict wit…
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #2.png
  designer/client/src/components/graph/node-modal/editors/expression/CustomAceEditorCompleter.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggester.ts
Labels: ui, client

#6386 [NU-1742] Fix unallowed expressions in array constructor by making the array constructor illegal
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionParseError.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#6432 flaky k8s tests fix: increased default adminClientTimeout from 500ms to 10s
  docs/Changelog.md
  docs/integration/KafkaIntegration.md
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaSourceImplFactory.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/BaseK8sDeploymentManagerTest.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
Labels: docs

#6217 Improvement: Remove using flink-metrics-dropwizard at flink-components-utils
  build.sbt
  docs/Changelog.md
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatorFunction.scala
Labels: docs

#6353 TableAggregation: using stream of rows with specified typeinformation…
  docs/Changelog.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/SpelValues.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableFileSinkTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/TableDefinition.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregation.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/extractor/TableExtractor.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/extractor/TypeExtractor.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSink.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSource.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/RowConversions.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/TableTypeConversions.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypeInformationDetection.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetectionSpec.scala
Labels: docs

#6442 Add type to FE http service Dict api
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/useGetAllDicts.ts
  designer/client/src/http/HttpService.ts
Labels: ui, client

#6445 [NU-1748] handling seconds in duration editor
  designer/client/src/components/graph/node-modal/editors/expression/Duration/DurationEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Duration/TimeRangeComponent.tsx
Labels: ui, client

#6320 [NU-1679] table join component
  docs/Changelog.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkCustomNodeContext.scala
  engine/flink/components-utils/src/main/java/pl/touk/nussknacker/engine/flink/util/transformer/join/BranchType.java
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/join/TableJoinTest.scala
  engine/flink/components/table/src/main/java/pl/touk/nussknacker/engine/flink/table/join/JoinType.java
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/FlinkTableComponentProvider.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/join/TableJoinComponent.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/RowConversions.scala
Labels: docs

#6437 [MAINTENANCE] Remove deprecated create process API
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#6446 Changelog entry for #6415
  designer/client/cypress/e2e/autoScreenshotChangeDocs.cy.ts
  designer/client/cypress/fixtures/docsBasicComponentsRecordVariable#0.json
  docs/Changelog.md
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - mapmariable #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - mapmariable #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - recordVariable #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - recordVariable #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Properties #0.png
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/Fragments.md
Labels: ui, docs, client

#6430 [NU-1746] fix node details window position
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should open properties #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should open properites from tips panel #0.png
  designer/client/package-lock.json
  designer/client/package.json
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Properties #0.png
Labels: ui, docs, client

#6462 [NU-1679] Manually provided by component's developer canHaveManyInput…
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/CustomStreamTransformer.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/javaapi/context/transformation/JavaDynamicComponent.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentGroupsPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentModels.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentsUsageHelperTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/DefaultComponentServiceSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformer.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/FullOuterJoinTransformer.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/SingleSideJoinTransformer.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformer.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/EnrichWithAdditionalDataTransformer.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/JoinTransformerWithEditors.scala
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/Union.scala
  engine/lite/request-response/components-utils/src/main/scala/pl/touk/nussknacker/engine/requestresponse/utils/customtransformers/Sorter.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentTypeSpecificData.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/defaultconfig/DefaultComponentConfigDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/testing/ModelDefinitionBuilder.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
Labels: docs

#6476 Fix fragment cypress test and fixtures
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/TypeSpecificData.scala
  common-api/src/test/scala/pl/touk/nussknacker/engine/api/TypeSpecificDataTestData.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should open properties #0.png
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/fixtures/deadEndFragment.json
  designer/client/cypress/fixtures/docsFragmentsInputs#0.json
  designer/client/cypress/fixtures/docsFragmentsOutputs#0.json
  designer/client/cypress/fixtures/fragment.json
  designer/client/cypress/fixtures/fragmentWithFilter.json
  designer/server/src/main/scala/db/migration/V1_054__FragmentAddComponentGroupProperty.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/scenarioproperty/FragmentPropertiesConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/NewProcessPreparer.scala
  designer/server/src/test/scala/db/migration/V1_031__FragmentSpecificDataSpec.scala
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Properties #0.png
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentComponentDefinitionExtractor.scala
Labels: ui, docs, client

#6213 Improvement: Load resource config only in test context
  docs/MigrationGuide.md
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/DockerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingProcessTestRunnerSpec.scala
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/WithConfig.scala
Labels: docs

#6493 Docs link fix
  docs/configuration/Common.md
Labels: docs

#6340 [NU-1557] Test on generated data for Table Source
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/test/TestRecordParser.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  e2e-tests/src/test/scala/pl/touk/nussknacker/BatchDataGenerationSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceDataGenerationTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/FlinkMiniClusterDataGenerator.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/FlinkMiniClusterTableOperations.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSource.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactoryTest.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSource.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactorySpec.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/CsvSource.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/GenericSourceWithCustomVariablesSample.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/LiteCsvSource.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/NoEndingSource.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/KafkaAvroSpecMixin.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaSourceImplFactory.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sources/JsonSchemaRequestResponseSource.scala
  engine/lite/request-response/components-utils/src/main/scala/pl/touk/nussknacker/engine/requestresponse/utils/JsonRequestResponseSourceFactory.scala
  engine/lite/request-response/components-utils/src/main/scala/pl/touk/nussknacker/engine/requestresponse/utils/QueryStringTestDataParser.scala
  engine/lite/request-response/components-utils/src/test/scala/pl/touk/nussknacker/engine/requestresponse/utils/QueryStringTestRecordParserSpec.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/TestRunner.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/sample.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/testmode/TestDataPreparer.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProviderSpec.scala
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/NuRestAssureMatchers.scala
Labels: docs

#6467 Nu 1679 table join improvements
  docs/Changelog.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/join/TableJoinTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/join/TableJoinComponent.scala
Labels: docs

#6499 [NU-1748] fix saving seconds in duration editor
  designer/client/src/components/graph/node-modal/editors/expression/Duration/DurationEditor.tsx
  designer/client/src/reducers/processActivity.ts
  docs/Changelog.md
Labels: ui, docs, client

#6434 [Nu-1743] collect frontend errors
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/actions/nk/assignSettings.ts
  designer/client/src/bootstrap.tsx
  designer/client/src/components/versionInfo.tsx
  designer/client/src/containers/BuildInfoProvider.tsx
  designer/client/src/containers/NussknackerApp.tsx
  designer/client/src/containers/event-tracking/use-error-register.ts
Labels: ui, client

#5987 More README fine tuning
  README.md
Labels: docs

#6509 removed environmental variables from the main configuration doc
  docs/configuration/Common.md
  docs/configuration/ScenarioDeploymentConfiguration.md
  docs/configuration/index.md
  docs/configuration/model/ModelConfiguration.md
  docs/integration/OpenAPI.md
  docs/integration/Sql.md
  docs/scenarios_authoring/Enrichers.md
Labels: docs

#6512 fix flaky tests next attempt
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by processing mode #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by usage #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by usage #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display component #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display colorfull and sorted completions #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display colorfull and sorted completions #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display completions for second line (bugfix) #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display javadocs #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #7.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #8.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/JSON editor should display colorfull json #1.png
  designer/client/cypress/support/overrides.ts
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #1.png
Labels: ui, docs, client

#6520 ExplicitTypeInformationSource removal - TypeInformation determined by GenericTypeInformationDetection instead of passed manually
  docs/MigrationGuide.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkSource.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinformation/TypeInformationDetection.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/BlockingQueueSource.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/CollectionSource.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/EmitWatermarkAfterEachElementCollectionSource.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/EmptySource.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/ReturningClassInstanceSource.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformerSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformersTestModeSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformerSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/FullOuterJoinTransformerSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/JavaCollectionsSerializationTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/SingleSideJoinTransformerSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSource.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFragmentSourceDefinitionPreparer.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/VerificationFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/internal/typedobject/TypedObjectBasedTypeInformation.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactoryTest.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/FlinkSerializationSchemaConversions.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSource.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryMixin.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/BoundedSource.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/CsvSource.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/DynamicParametersSource.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/GenericSourceWithCustomVariablesSample.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/NoEndingSource.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/SqlSource.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/CorrectExceptionHandlingSpec.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentComponentDefinition.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
Labels: docs

#6436 Fix TypingResult.valueOpt for the purpose of SpEL validator (fixed after rollback)
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/SimpleObjectEncoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/ValueDecoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/ValueEncoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypedFromInstanceTest.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultDecoderSpec.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/ValueDecoderSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/NodesApiEndpoints.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalAvroSchemaFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/collection.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/BaseSpelSpec.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/CollectionUtilsSpec.scala
  utils/math-utils/src/main/scala/pl/touk/nussknacker/engine/util/MathUtils.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidator.scala
Labels: docs
