Repository TouK/nussknacker, pull requests merged in 2024-05, with the labels that each got.

#5988 [NU-1641] fix scenario name in scenario details
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should open more scenario details #0.png
  designer/client/src/assets/img/nuLogoIcon.svg
  designer/client/src/components/modals/MoreScenarioDetailsDialog.tsx
  designer/client/webpack.config.ts
Labels: ui, client

#6003 [Nu-1642] search changes with zoom and moving a view
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process view should have node search toolbar #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process view should have node search toolbar #2.png
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/PanZoomPlugin.ts
  designer/client/src/components/toolbars/search/SearchResults.tsx
Labels: ui, client

#6015 [NU-1633] change background color of variable node
  designer/client/src/containers/theme/darkModePalette.ts
  designer/client/src/containers/theme/lightModePalette.ts
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - union #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #0.png
Labels: ui, docs, client

#6010 [NU-1648] Fix ad hoc tests with schemas containing nested fields
  docs/Changelog.md
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSource.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/TestWithTestDataSpec.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaSourceImplFactory.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/parameters/TestingParametersSupport.scala
  utils/components-utils/src/test/scala/pl/touk/nussknacker/engine/util/parameters/TestingParametersSupportTest.scala
Labels: docs

#6031 Fixed duplicated components on the Components tab
  .run/NussknackerApp-dist-config.run.xml
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentProvider.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by processing mode #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by usage #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display component #0.png
  docs/Changelog.md
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/DelayTransformer.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PreviousValueTransformer.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformer.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/sampleTransformers.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/transformers.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/FullOuterJoinTransformer.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/SingleSideJoinTransformer.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkBaseComponentProvider.scala
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteBaseComponentProvider.scala
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/CollectTransformer.scala
  nussknacker-dist/src/universal/conf/application.conf
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionExtractor.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/UniversalKafkaSinkFactory.scala
Labels: ui, docs, client

#5914 [Nu-1474] Add Table API primitive types
  .run/NussknackerApp-postgres.run.xml
  .run/NussknackerApp.run.xml
  build.sbt
  designer/server/src/test/resources/config/business-cases/tables-definition.sql
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpServiceBusinessSpec.scala
  docs/MigrationGuide.md
  docs/installation/Installation.md
  engine/flink/components/base-tests/src/test/resources/tables/primitives/primitives.json
  engine/flink/components/base-tests/src/test/resources/transactions/transaction-1.csv
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/SpelValues.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/TestTableComponents.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/extractor/TableExtractorTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableFileSinkTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableFileToFileTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/utils/TableTypeConversionsTest.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregation.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationFactory.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/RowConversions.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/TableTypeConversions.scala
  nussknacker-dist/src/universal/bin/nussknacker-entrypoint.sh
  nussknacker-dist/src/universal/bin/run.sh
  nussknacker-dist/src/universal/conf/dev-tables-definition.sql
  nussknacker-dist/src/universal/conf/tables-definition.sql
Labels: docs

#6036 Privacy Policy added
  PRIVACY_POLICY.md
  README.md
Labels: docs

#6051 Update README.md
  README.md
Labels: docs

#6025 remove flaky screenshot
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #9.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #3.png
  designer/client/cypress/e2e/fragment.cy.ts
Labels: ui, client

#5996 [NU-1092] fixed ExpressionSuggester
  designer/client/src/components/graph/node-modal/editors/expression/CustomAceEditorCompleter.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggester.ts
Labels: ui, client

#6008 [NU-1520] Save statistics data to quest db
  build.sbt
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/StatisticsApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/timeseries/FEStatisticsRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/timeseries/QuestDbFEStatisticsRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/NussknackerAppFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/statistics/ScenarioStatistics.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettingsService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/StatisticsApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/StatisticsApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/statistics/ScenarioStatisticsTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettingsServiceTest.scala
  docs/Changelog.md
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/NuRestAssureExtensions.scala
Labels: docs

#6044 [NU-1647] Cached spel evaluation fix
  docs/Changelog.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/KafkaJsonRefFunctionalSpec.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/propertyAccessors.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonDeserializer.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonDeserializerSpec.scala
Labels: docs

#6065 one more menu flicker fix
  designer/client/src/components/MenuBar/menu.tsx
Labels: ui, client

#6086 [NU-1643] migration guide: link fix
  docs/MigrationGuide.md
Labels: docs

#6087 [NU-1639] DeploymentUpdateStrategy introduced
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DMScenarioCommand.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentUpdateStrategy.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioCommand.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSlotsCountSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/JavaConfigDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/StreamingDockerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/BaseStreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/RequestResponseEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/BaseK8sDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerKafkaTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerReqRespTest.scala
Labels: docs

#6089 [NU-1643] about section moved from nussknacker page internal project
  docs/about/GLOSSARY.md
  docs/about/KeyFeatures.md
  docs/about/NussknackerEnterprise.md
  docs/about/Overview.md
  docs/about/ProcessingModes.md
  docs/about/engines/Engines.md
  docs/about/engines/FlinkArchitecture.md
  docs/about/engines/LiteArchitecture.md
  docs/about/engines/img/flink_simple.png
  docs/about/engines/img/lite_deployment.png
  docs/about/engines/img/lite_layers.png
  docs/about/engines/img/lite_rr_layers.png
  docs/about/engines/img/lite_scenario.png
  docs/about/engines/img/nu_flink_simple.png
  docs/about/img/nu_aggregate_node_details.png
  docs/about/img/nu_code_suggestions.gif
  docs/about/img/nu_designer.png
  docs/about/img/nu_scenario.png
  docs/about/img/overview_configuration.png
  docs/about/img/overview_monitoring.png
  docs/about/img/overview_scenario.png
  docs/about/img/screen1b.jpg
  docs/about/img/spel.png
  docs/about/img/visual_processing_schema_registry.png
  docs/about/img/visual_processing_session_parameterization.png
  docs/about/img/visual_processing_simple_scenario.png
  docs/about/typical implementation/RequestResponse.md
  docs/about/typical implementation/Streaming.md
  docs/about/typical implementation/img/typical_implementation_flink.png
  docs/about/typical implementation/img/typical_implementation_lite.png
  docs/about/typical implementation/img/typical_implementation_requestresponse.png
Labels: docs

#6090 added `spacerBefore` prop in menu element to allow adding separators
  designer/client/src/components/MenuBar/TabElement.tsx
  designer/client/src/components/MenuBar/menu.tsx
  designer/client/src/containers/DynamicTab.tsx
Labels: ui, client

#6069 [NU-1616] Docker Compose based installation example
  docs/installation_configuration_guide/ScenarioDeploymentConfiguration.md
  examples/installation/README.md
  examples/installation/clean.sh
  examples/installation/designer/application-customizations.conf
  examples/installation/docker-compose.yml
  examples/installation/flink/Dockerfile
  examples/installation/flink/flink-properties.yml
  examples/installation/grafana/dashboards/dashboards.yml
  examples/installation/grafana/dashboards/nussknacker-lite-scenario.json
  examples/installation/grafana/dashboards/nussknacker-request-response-scenario.json
  examples/installation/grafana/dashboards/nussknacker-scenario.json
  examples/installation/grafana/datasources/datasources.yml
  examples/installation/nginx/additional/akhq.conf
  examples/installation/nginx/additional/flink.conf
  examples/installation/nginx/nginx.conf
  examples/installation/run.sh
  examples/installation/telegraf/telegraf.conf
Labels: docs

#6098 [NU-1616] NU installation example
  docs/installation_configuration_guide/ScenarioDeploymentConfiguration.md
  examples/installation/README.md
  examples/installation/clean.sh
  examples/installation/designer/application-customizations.conf
  examples/installation/docker-compose.yml
  examples/installation/flink/Dockerfile
  examples/installation/flink/flink-properties.yml
  examples/installation/grafana/dashboards/dashboards.yml
  examples/installation/grafana/dashboards/nussknacker-lite-scenario.json
  examples/installation/grafana/dashboards/nussknacker-request-response-scenario.json
  examples/installation/grafana/dashboards/nussknacker-scenario.json
  examples/installation/grafana/datasources/datasources.yml
  examples/installation/nginx/additional/akhq.conf
  examples/installation/nginx/additional/flink.conf
  examples/installation/nginx/nginx.conf
  examples/installation/run.sh
  examples/installation/telegraf/telegraf.conf
Labels: docs

#6082 [NU-1616] docker-based installation example improvements
  docs/MigrationGuide.md
  examples/installation/docker-compose.yml
  examples/installation/flink/flink-properties.yml
  examples/installation/grafana/datasources/datasources.yml
  examples/installation/nginx/additional/akhq.conf
  examples/installation/telegraf/telegraf.conf
  nussknacker-dist/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: docs

#6099 Merge release 1.15 to staging
  docs/MigrationGuide.md
  docs/about/GLOSSARY.md
  docs/about/KeyFeatures.md
  docs/about/NussknackerEnterprise.md
  docs/about/Overview.md
  docs/about/ProcessingModes.md
  docs/about/engines/Engines.md
  docs/about/engines/FlinkArchitecture.md
  docs/about/engines/LiteArchitecture.md
  docs/about/engines/img/flink_simple.png
  docs/about/engines/img/lite_deployment.png
  docs/about/engines/img/lite_layers.png
  docs/about/engines/img/lite_rr_layers.png
  docs/about/engines/img/lite_scenario.png
  docs/about/engines/img/nu_flink_simple.png
  docs/about/img/nu_aggregate_node_details.png
  docs/about/img/nu_code_suggestions.gif
  docs/about/img/nu_designer.png
  docs/about/img/nu_scenario.png
  docs/about/img/overview_configuration.png
  docs/about/img/overview_monitoring.png
  docs/about/img/overview_scenario.png
  docs/about/img/screen1b.jpg
  docs/about/img/spel.png
  docs/about/img/visual_processing_schema_registry.png
  docs/about/img/visual_processing_session_parameterization.png
  docs/about/img/visual_processing_simple_scenario.png
  docs/about/typical implementation/RequestResponse.md
  docs/about/typical implementation/Streaming.md
  docs/about/typical implementation/img/typical_implementation_flink.png
  docs/about/typical implementation/img/typical_implementation_lite.png
  docs/about/typical implementation/img/typical_implementation_requestresponse.png
Labels: docs

#5891 Add decision table documentation
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/img/decisionTableData.png
  docs/scenarios_authoring/img/decisionTableScenario.png
Labels: docs

#6101 [NU-1178] Add decision table documentation (cherry-pick from staging) (#5891)
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/img/decisionTableData.png
  docs/scenarios_authoring/img/decisionTableScenario.png
Labels: docs

#5982 [NU-1479] newdeployment.DeploymentService rewrite
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/DeploymentApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/CommentEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ProcessActionEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ProcessVersionEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/initialization/Initialization.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrationService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DefaultProcessingTypeDeployedScenariosProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newactivity/ActivityService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentCommand.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/CommentRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DbProcessActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/SystemComment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/version/ScenarioGraphVersionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/version/ScenarioGraphVersionService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ScenarioToJsonHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/BaseDeploymentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/initialization/InitializationOnDbItSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
Labels: docs

#6102 minor bugfixes and styles cleanup
  designer/client/cypress/e2e/connectionError.cy.ts
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/e2e/process.cy.ts
  designer/client/cypress/e2e/processSelection.cy.ts
  designer/client/cypress/e2e/switch.cy.ts
  designer/client/cypress/e2e/undo.cy.ts
  designer/client/cypress/support/process.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/components/AddProcessDialog.tsx
  designer/client/src/components/comment/CommentContent.tsx
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/GraphStyled.ts
  designer/client/src/components/graph/GraphWrapped.tsx
  designer/client/src/components/graph/focusable.tsx
  designer/client/src/components/graph/focusableDiv.tsx
  designer/client/src/components/graph/focusableStyled.ts
  designer/client/src/components/graph/graphStyledWrapper.ts
  designer/client/src/components/graph/node-modal/editors/expression/AceWithSettings.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/buttons/RemoveButton.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/buttons/SettingsButton.tsx
  designer/client/src/components/graph/node-modal/node-row-fields-provider/buttons/AddButton.tsx
  designer/client/src/components/graph/node-modal/nodeDetails/NodeDetailsModalHeader.tsx
  designer/client/src/components/graph/paperContainer.tsx
  designer/client/src/components/graph/resizeObserver.tsx
  designer/client/src/components/graph/styledButton.ts
  designer/client/src/components/graph/styledDiv.tsx
  designer/client/src/components/toolbarComponents/ToolbarsContainer.tsx
  designer/client/src/components/toolbarSettings/TOOLBAR_COMPONENTS_MAP.ts
  designer/client/src/components/toolbars/UserSettingsPanel.tsx
  designer/client/src/components/toolbars/creator/ComponentIcon.tsx
  designer/client/src/components/toolbars/search/SearchResults.tsx
  designer/client/src/containers/Page.tsx
  designer/client/src/containers/theme/nuTheme.tsx
  designer/client/src/containers/theme/nuThemeProvider.tsx
  designer/client/src/reducers/userSettings.ts
  designer/client/src/windowManager/useWindows.ts
Labels: ui, client

#6114 [NU-1655] change top menu style
  designer/client/src/components/MenuBar/menu.tsx
Labels: ui, client

#6111 Touchpad pinch to zoom
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/PanZoomPlugin.ts
  designer/client/src/components/graph/jqueryPassiveEvents.ts
Labels: ui, client
