Repository TouK/nussknacker, pull requests merged in 2024-02, with the labels that each got.

#5494 Add migration guide note for #4698
  docs/MigrationGuide.md
Labels: docs

#5389 [NU-1231] Rewrite process actvity endpoints from akka to tapir
  designer/client/src/http/HttpService.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessActivityResource.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessAttachmentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessDirectives.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ScenarioActivityApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TapirCodecs.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ScenarioAttachmentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DbProcessActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedTapirStreamEndpointProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/HeadersSupport.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/NuAkkaHttpServerInterpreterForTapirPurposes.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/TapirStreamEndpointProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/BaseHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/NuDesignerExposedApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/ScenarioActivityApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/CatsSyntax.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/EitherTImplicits.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ScenarioActivityApiSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ScenarioAttachmentServiceSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  nussknacker-dist/src/universal/bin/run.sh
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/NuRestAssureExtensions.scala
Labels: ui, docs, client

#5516 [NU-1379] Add missing changelog entry to the ScenarioActivityAPI security enhancements
  docs/Changelog.md
Labels: docs

#5517 Legacy markProcessFinishedIfLastActionDeploy removal
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessingTypeDeploymentService.scala
  designer/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeEvent.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtypedata/DefaultProcessingTypeDeploymentService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/StubDeploymentService.scala
  docs/MigrationGuide.md
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/deployment/DeploymentId.scala
Labels: docs

#5522 Scenario status caching more often
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
Labels: docs

#5511 NU-1401 cleanup unnecessary errors in console
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/actions/nk/nodeDetails.ts
  designer/client/src/api.ts
  designer/client/src/common/SystemUtils.ts
  designer/client/src/components/graph/node-modal/NodeAdditionalInfoBox.tsx
  designer/client/src/http/HttpService.ts
  designer/client/src/reducers/nodeDetailsState.ts
Labels: ui, client

#5521 [NU-1068] DeploymentManagerProvider: ability to return validation errors + DeploymentManagerDependencies
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerDependencies.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/LocalProcessingTypeDataStateFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/ProcessingTypeDataReaderBasedProcessingTypeDataStateFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/ProcessingTypeDataStateFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DefaultProcessingTypeDeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReaderSpec.scala
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/management/dev-periodic-dm/src/main/scala/pl/touk/nussknacker/engine/management/dev/periodic/DevPeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerProviderHelper.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingProcessTestRunnerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/StreamingDockerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/RequestResponseEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProvider.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/BaseK8sDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerKafkaTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerOnMocksTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerReqRespTest.scala
Labels: docs

#5533 Backport 1.13-esp: Scenario status caching more often part II - on FlinkClient level
  build.sbt
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/BaseDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DataFreshnessPolicy.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManagerSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/management/dev-periodic-dm/src/main/scala/pl/touk/nussknacker/engine/management/dev/periodic/DevPeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/FlinkClientStub.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkConfig.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkSlotsChecker.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/CachedFlinkClient.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/FlinkClient.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/HttpFlinkClient.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/rest/CachedFlinkClientTest.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/RequestResponseEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProvider.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/BaseK8sDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerKafkaTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerOnMocksTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerReqRespTest.scala
Labels: docs

#5526 [NU-1301] Namespaced consumer groups and ObjectNaming refactor
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/namespaces/NamingContext.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/namespaces/NamingStrategy.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/namespaces/ObjectNaming.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ProcessObjectDependencies.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/namespaces/NamingStrategySpec.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/OpenAPIComponentProviderTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/StubModelDataWithModelDefinition.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/DefaultComponentServiceSpec.scala
  docs/MigrationGuide.md
  docs/developers_guide/Basics.md
  docs/installation_configuration_guide/model/Lite.md
  docs/integration/KafkaIntegration.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/NkGlobalParameters.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/ExecutionConfigPreparer.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkMetricsProviderForScenario.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/VerificationFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkStreamingProcessMain.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/FlinkKafkaDelayedSourceImplFactory.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSource.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSourceImplFactory.scala
  engine/flink/management/dev-model/src/test/scala/pl/touk/nussknacker/engine/process/NamespacedKafkaSourceSinkTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaAvroNamespacedSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/DefaultClassDiscoveryTest.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/FlinkNamespacedKafkaTest.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/FlinkWithKafkaSuite.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/KafkaAvroSchemaJsonPayloadItSpec.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaSourceImplFactory.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/BaseStreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaSingleScenarioTaskRun.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreter.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/BaseModelData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testing/LocalModelData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/util/namespaces/DefaultNamespacedObjectNaming.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/util/namespaces/ObjectNamingProvider.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/util/namespaces/DefaultNamespacedObjectNamingSpec.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkProcessCompilerDataFactoryWithTestComponents.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaComponentsUtils.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSourceFactory.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaUniversalComponentTransformer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/source/UniversalKafkaSourceFactory.scala
Labels: docs

#5519 Improvements: Scenario status caching more often part II - on FlinkClient level
  build.sbt
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerProvider.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/BaseDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DataFreshnessPolicy.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManagerSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/management/dev-periodic-dm/src/main/scala/pl/touk/nussknacker/engine/management/dev/periodic/DevPeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/FlinkClientStub.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerProviderHelper.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkConfig.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkSlotsChecker.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/CachedFlinkClient.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/FlinkClient.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/HttpFlinkClient.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/rest/CachedFlinkClientTest.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/RequestResponseEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProvider.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/BaseK8sDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerKafkaTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerOnMocksTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerReqRespTest.scala
Labels: docs

#5535 [NU-1068] ModelClassLoader - ability to specify working directory for the tests purpose
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/LocalProcessingTypeDataStateFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/ProcessingTypeDataReaderBasedProcessingTypeDataStateFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/ProcessingTypeDataStateFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/helpers/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/ConfigurationTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReaderSpec.scala
  docs/MigrationGuide.md
  engine/flink/management/dev-model/src/test/scala/pl/touk/nussknacker/engine/process/SampleComponentProviderTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerProviderHelper.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/lite/runtime-app/src/main/scala/pl/touk/nussknacker/engine/lite/app/RunnableScenarioInterpreterFactory.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeConfig.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/loader/ModelClassLoader.scala
  utils/utils-internal/src/test/scala/pl/touk/nussknacker/engine/util/loader/ModelClassLoaderSpec.scala
Labels: docs

#5545 add visibility check to intervals
  designer/client/src/actions/nk/assignSettings.ts
  designer/client/src/components/graph/SelectionContextProvider.tsx
  designer/client/src/containers/Interval.tsx
  designer/client/src/containers/Visualization.tsx
Labels: ui, client

#5547 [NU-1068] ComponentProviders loading in tests error fix
  CONTRIBUTING.md
  build.sbt
  components/openapi/src/it/resources/logback-test.xml
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/LocalProcessingTypeDataStateFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/ProcessingTypeDataReaderBasedProcessingTypeDataStateFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/ProcessingTypeDataStateFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/resources/logback-test.xml
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/StubModelDataWithModelDefinition.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/ConfigurationTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReaderSpec.scala
  engine/flink/executor/src/test/resources/logback-test.xml
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/modelconfig/SampleModelConfigLoader.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerProviderHelper.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentsFromProvidersExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/modelconfig/DefaultModelConfigLoader.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testing/LocalModelData.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/DefaultModelConfigLoaderTest.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/component/ComponentFromProvidersExtractorTest.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinitionFromConfigCreatorExtractorSpec.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/loader/ScalaServiceLoader.scala
Labels: docs

#5495 Introduce value class ActionName
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/CustomActionRequest.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/exception/ProcessIllegalAction.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/StubDeploymentService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  docs/Changelog.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentProcessStateDefinitionManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/CustomAction.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessAction.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/deployment/DeploymentId.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/deployment/ExternalDeploymentId.scala
Labels: docs

#5550 [Nu 1063] create scenario modal changes
  designer/client/cypress/e2e/processes.cy.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/assets/img/batch.svg
  designer/client/src/assets/img/request-response.svg
  designer/client/src/assets/img/streaming.svg
  designer/client/src/components/AddProcessDialog.tsx
  designer/client/src/components/AddProcessForm.tsx
  designer/client/src/components/customRadio/CustomRadio.tsx
  designer/client/src/components/customRadio/customRadio.test.tsx
  designer/client/src/components/table/AddProcessButton.tsx
  designer/client/src/components/useProcessFormDataOptions.test.ts
  designer/client/src/components/useProcessFormDataOptions.ts
  designer/client/src/http/HttpService.ts
Labels: ui, client

#5505 [NU-1408][regression] anonymous user handling in case of Tapir's endpoints
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NuDesignerError.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/NuAkkaHttpServerInterpreterForTapirPurposes.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/services/BaseHttpService.scala
  designer/server/src/test/resources/config/rich/basicauth-users.conf
  designer/server/src/test/resources/config/rich/rich-streaming-use-case-designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/StubDeploymentService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/TestProcessUtil.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/AppApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodesApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NotificationApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NuDesignerApiAvailableToExposeYamlSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ScenarioActivityApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ScenarioParametersApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/UserApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ConfigScenarioToolbarServiceSpec.scala
  designer/server/work/.gitkeep
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/security/AuthCredentials.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/AuthenticatedUser.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/AuthenticationConfiguration.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/AuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/basicauth/BasicAuthenticationProvider.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/basicauth/BasicAuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/basicauth/BasicHttpAuthenticator.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/dummy/DummyAuthenticationConfiguration.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/dummy/DummyAuthenticationResources.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2AuthenticationProvider.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2AuthenticationResources.scala
Labels: docs

#5553 added syncpack
  .husky/pre-commit
  designer/client/.syncpackrc.json
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display component #0.png
  designer/client/package-lock.json
  designer/client/package.json
  designer/formatStagedFrontendFiles.sh
  designer/submodules/.syncpackrc.json
  designer/submodules/package-lock.json
  designer/submodules/package.json
  designer/submodules/packages/components/package.json
  designer/submodules/packages/components/src/components/utils/truncate.tsx
  designer/submodules/packages/components/src/components/utils/truncateWrapper.tsx
Labels: ui, client, submodules

#5558 [Nu 1066] provide an info about processing mode and engine to the scenario
  designer/client/.syncpackrc.json
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should open more scenario details #0.png
  designer/client/cypress/e2e/process.cy.ts
  designer/client/src/components/Process/types.ts
  designer/client/src/components/customRadio/customRadio.test.tsx
  designer/client/src/components/modals/MoreScenarioDetailsDialog.tsx
  designer/client/src/components/toolbarSettings/TOOLBAR_COMPONENTS_MAP.ts
  designer/client/src/components/toolbarSettings/buttons/ActionButton.tsx
  designer/client/src/components/toolbarSettings/buttons/TOOLBAR_BUTTONS_MAP.ts
  designer/client/src/components/toolbarSettings/defaultToolbarsConfig.ts
  designer/client/src/components/toolbars/actions/ProcessActions.tsx
  designer/client/src/components/toolbars/actions/ProcessActionsComponents.tsx
  designer/client/src/components/toolbars/actions/buttons/CancelDeployButton.tsx
  designer/client/src/components/toolbars/actions/buttons/CustomActionButton.tsx
  designer/client/src/components/toolbars/actions/buttons/DeployButton.tsx
  designer/client/src/components/toolbars/actions/buttons/PropertiesButton.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioDetails.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioDetailsComponents.tsx
  designer/client/src/components/toolbars/scenarioDetails/buttons/CancelDeployButton.tsx
  designer/client/src/components/toolbars/scenarioDetails/buttons/CustomActionButton.tsx
  designer/client/src/components/toolbars/scenarioDetails/buttons/DeployButton.tsx
  designer/client/src/components/toolbars/scenarioDetails/buttons/PropertiesButton.tsx
  designer/client/src/components/toolbars/status/ProcessInfo.tsx
  designer/client/src/windowManager/ContentGetter.tsx
  designer/client/src/windowManager/WindowKind.tsx
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/scenariotoolbar/ToolbarPanelConfig.scala
  designer/server/src/test/resources/config/common-designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/config/scenariotoolbar/CategoriesScenarioToolbarsConfigParserSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ConfigScenarioToolbarServiceSpec.scala
  designer/submodules/.syncpackrc.json
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
  docs/installation_configuration_guide/DesignerConfiguration.md
Labels: ui, docs, client, submodules

#5566 [NU-1068] Docker setup working with both Flink and Embedded engine
  build.sbt
  designer/server/src/main/scala/pl/touk/nussknacker/ui/extrajs/ExtraScriptsListingPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/DeploymentData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/InvalidDeploymentManagerStub.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/StubModelDataWithModelDefinition.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReaderSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ScenarioParametersServiceTest.scala
  dockerhub/nussknacker/README.md
  docs/Changelog.md
  docs/installation/Installation.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  e2e-tests/docker-compose.yml
  e2e-tests/test/helpers.bash
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/modelconfig/SampleModelConfigLoader.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/flink/FlinkJarManager.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerProviderHelper.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkConfig.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/FlinkClient.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/HttpFlinkClient.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkSlotsCheckerTest.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/rest/FlinkHttpClientTest.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentsFromProvidersExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/modelconfig/DefaultModelConfigLoader.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testing/LocalModelData.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/DefaultModelConfigLoaderTest.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/component/ComponentFromProvidersExtractorTest.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinitionFromConfigCreatorExtractorSpec.scala
  nussknacker-dist/src/universal/conf/application.conf
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/loader/ScalaServiceLoader.scala
Labels: docs

#5570 [NU-1063] hide categories field when only one category available
  designer/client/src/components/AddProcessDialog.tsx
  designer/client/src/components/AddProcessForm.tsx
  designer/client/src/components/useProcessFormDataOptions.test.ts
  designer/client/src/components/useProcessFormDataOptions.ts
Labels: ui, client

#5573 [NU-1063] update categories link
  designer/client/src/components/AddProcessForm.tsx
Labels: ui, client

#5272 [NU-1172][NU-1294] decision table component
  build.sbt
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/DictKeyWithLabelExpression.scala
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/TabularTypedData.scala
  common-api/src/main/scala/pl/touk/nussknacker/engine/graph/expression/Expression.scala
  common-api/src/test/scala/pl/touk/nussknacker/engine/api/TypeSpecificDataTest.scala
  common-api/src/test/scala/pl/touk/nussknacker/engine/api/TypeSpecificDataTestData.scala
  common-api/src/test/scala/pl/touk/nussknacker/engine/api/definition/TabularTypedDataCodersSpec.scala
  common-api/src/test/scala/pl/touk/nussknacker/engine/api/definition/TabularTypedDataSpec.scala
  components-api/src/main/java/pl/touk/nussknacker/engine/api/editor/SimpleEditorType.java
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/NodeDependency.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterEditor.scala
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/BaseOpenAPITest.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseEnricherInvoker.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricher.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/BaseDatabaseQueryEnricherTest.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display component #0.png
  designer/restmodel/src/test/scala/pl/touk/nussknacker/restmodel/process/ProcessPropertiesTest.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  docs/Changelog.md
  engine/common/components-tests/src/test/scala/pl/touk/nussknacker/engine/common/components/DecisionTableSpec.scala
  engine/common/components/src/main/scala/pl/touk/nussknacker/engine/common/components/DecisionTable.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkBaseComponentProvider.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/helpers/ProcessTestHelpers.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/component/SampleComponentProvider.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/DynamicService.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/UnionReturnObjectService.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/SerializationTest.scala
  engine/lite/components/base/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteBaseComponentProvider.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseSampleComponents.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/NodeValidationExceptionHandler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/ValueEditorValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/methodbased/MethodDefinition.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/methodbased/ServiceDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/ParameterExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/EditorPossibleValuesBasedDefaultValueDeterminer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/OptionalityBasedDefaultValueDeterminer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/editor/EditorExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/dict/ProcessDictSubstitutor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/language/dictWithLabel/DictKeyWithLabelExpressionParser.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/language/tabularDataDefinition/TabularDataDefinitionParser.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinitionFromConfigCreatorExtractorSpec.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteTestScenarioRunner.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/LoggingListener.scala
Labels: ui, docs, client

#5145 [NU-1173] Table editor
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display component #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #4.png
  designer/client/cypress/e2e/tableEditor.cy.ts
  designer/client/cypress/fixtures/table.json
  designer/client/cypress/support/commands.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/bootstrap.tsx
  designer/client/src/components/graph/node-modal/SourceSinkCommon.tsx
  designer/client/src/components/graph/node-modal/editors/EditableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/AceWrapper.tsx
  designer/client/src/components/graph/node-modal/editors/expression/DualParameterEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Editor.ts
  designer/client/src/components/graph/node-modal/editors/expression/Table/CellMenu.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/Sizer.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/TableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/TypesMenu.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/glideGridPortal.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/state/action.ts
  designer/client/src/components/graph/node-modal/editors/expression/Table/state/expressionParser.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/state/expressionStringifier.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/state/helpers.ts
  designer/client/src/components/graph/node-modal/editors/expression/Table/state/reducer.ts
  designer/client/src/components/graph/node-modal/editors/expression/Table/state/tableState.ts
  designer/client/src/components/graph/node-modal/editors/expression/Table/tableTheme.ts
  designer/client/src/components/graph/node-modal/editors/expression/TextareaEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/types.ts
  designer/client/src/components/graph/node-modal/enricherProcessor.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/FragmentInputDefinition.tsx
  designer/client/src/components/graph/node-modal/joinCustomNode.tsx
  designer/client/src/components/graph/node-modal/node/NodeDetails.tsx
  designer/client/src/components/graph/node-modal/parametersList.tsx
  designer/client/src/components/modals/CustomActionDialog.tsx
  designer/client/src/components/modals/GenericActionDialog.tsx
  designer/client/src/containers/Visualization.tsx
  designer/client/src/containers/emotion.d.ts
  designer/client/src/containers/theme/nuTheme.tsx
  designer/client/src/reducers/settings.ts
Labels: ui, client

#5585 Bump version to 1.15.0-SNAPSHOT
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #1.png
  version.sbt
Labels: ui, client

#5590 Remove unused build tools to prevent disk space exhaustion during release
  .github/workflows/release.yml
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #1.png
Labels: ui, client

#5593 Keep node build tools during release
  .github/workflows/release.yml
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
Labels: ui, client

#5600 [NU-1288] missing changelog entry
  docs/Changelog.md
  engine/flink/management/src/it/resources/docker/Dockerfile
Labels: docs

#5609 [NU-1466] CustomAction refactor
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/BaseDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/CustomActionResponse.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/InvalidDeploymentManagerStub.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/StubDeploymentService.scala
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicCustomActionsProviderFactory.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/deployment/CustomActionDefinition.scala
Labels: docs

#5597 [NU-1063] fixes after tests
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #1.png
  designer/client/src/components/AddProcessDialog.tsx
  designer/client/src/components/AddProcessForm.tsx
  designer/client/src/components/modals/MoreScenarioDetailsDialog.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioDetails.tsx
Labels: ui, client

#5625 Release 1.14 port
  .github/workflows/release.yml
  common-api/src/main/scala/pl/touk/nussknacker/engine/graph/expression/TabularTypedData.scala
  common-api/src/test/scala/pl/touk/nussknacker/engine/graph/expression/TabularTypedDataSpec.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #1.png
  designer/client/cypress/e2e/tableEditor.cy.ts
  designer/client/src/components/AddProcessDialog.tsx
  designer/client/src/components/AddProcessForm.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/TableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/state/helpers.ts
  designer/client/src/components/graph/node-modal/editors/expression/Table/state/reducer.ts
  designer/client/src/components/modals/MoreScenarioDetailsDialog.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioDetails.tsx
Labels: ui, client

#5610 [NU-1466] ScenarioAction: commands (ADT, sum types) instead of methods
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/ProcessVersion.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/BaseDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ScenarioCommand.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioTestExecutorService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/InvalidDeploymentManagerStub.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicCustomActionsProviderFactory.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSlotsCountSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingProcessTestRunnerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/JavaConfigDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/StreamingDockerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/lite/deploymentManager/src/main/scala/pl/touk/nussknacker/lite/manager/LiteDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/BaseStreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/RequestResponseEmbeddedDeploymentManagerTest.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/BaseK8sDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerKafkaTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerReqRespTest.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/deployment/CustomActionDefinition.scala
Labels: docs

#5638 Add Output type for DecisionTable - change scala list to java list fo…
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #1.png
  engine/common/components-tests/src/test/scala/pl/touk/nussknacker/engine/common/components/DecisionTableSpec.scala
  engine/common/components/src/main/scala/pl/touk/nussknacker/engine/common/components/DecisionTable.scala
Labels: ui, client

#5616 [NU-1070] Scenario based statistics instead of configuration based
  designer/client/src/actions/nk/assignSettings.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ScenarioQuery.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/DeploymentData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/statistics/ProcessingTypeUsageStatistics.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettingsDeterminer.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/SettingsResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReaderSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettingsDeterminerTest.scala
Labels: ui, client

#5632 Remove unnecessary Optional wrapping in Params class
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/Params.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  docs/MigrationGuide.md
Labels: docs

#5645 [NU-1069] K3s bumped 1.26.5 -> 1.29.1
  .github/workflows/pr.yml
  .k3d/single-cluster.yml
  build.sbt
  docs/Changelog.md
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/BaseK8sDeploymentManagerTest.scala
Labels: docs
