Repository TouK/nussknacker, pull requests merged in 2024-04, with the labels that each got.

#5809 [Nu-5807] Change filter rules for categories in components table
  designer/submodules/packages/components/src/components/filterRules.tsx
Labels: ui, submodules

#5813 [NU-1575] Fixed "More than one processing type ..." error during scen…
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ScenarioParametersService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ScenarioParametersServiceTest.scala
  docs/Changelog.md
Labels: docs

#5780 Fix Scala case class with fields in body serialization
  build.sbt
  docs/Changelog.md
  engine/flink/scala-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinfo/caseclass/CaseClassTypeInfoFactory.scala
  engine/flink/scala-utils/src/test/scala/pl/touk/nussknacker/engine/flink/api/typeinfo/caseclass/CaseClassSerializationTest.scala
Labels: docs

#5762 [NU-1500] Flink-based TestRunner improvements
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenApiScenarioIntegrationTest.scala
  docs/MigrationGuide.md
  docs/developers_guide/Testing.md
  engine/common/components-tests/src/test/scala/pl/touk/nussknacker/engine/common/components/DecisionTableSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformerSpec.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompilerDataFactory.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/SerializationTest.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/ResultsCollectingListener.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestServiceInvocationCollector.scala
  utils/components-testkit/src/main/scala/pl/touk/nussknacker/engine/util/test/TestScenarioRunner.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/TestExtensionsHolder.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/TestResultService.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/TestResultSinkFactory.scala
  utils/flink-components-testkit/src/test/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunnerSpec.scala
Labels: docs

#5486 Cleaned up typos and syntax mistakes in scenarios_authoring docs
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/Intro.md
Labels: docs

#5821 fixed flickering of menu list elements
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #3.png
  designer/client/src/components/MenuBar/menu.tsx
Labels: ui, client

#5827 Coverage removal
  .github/workflows/pr.yml
  README.md
  build.sbt
  engine/flink/test-utils/src/main/resources/docker/Dockerfile
  project/plugins.sbt
Labels: docs

#5828 allow toolbars with remote components
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Connection error should display connection errors #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Creator toolbar should allow filtering #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Creator toolbar should allow filtering #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should allow pan view #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should select only fully covered (to right) #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should select only fully covered (to right) #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should select partially covered (to left) #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should select partially covered (to left) #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should switch modes, append and inverse select with shift #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should switch modes, append and inverse select with shift #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should switch modes, append and inverse select with shift #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process mouse drag should switch modes, append and inverse select with shift #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process view should have node search toolbar #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should allow drag component and drop on edge #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should allow drag component and drop on edge #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should allow drag node #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should allow editing choice edge expression #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for add and move to edge #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for add and move to edge #6.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for copypaste #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for drop on edge #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for move #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work for move #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work with 'last deployed' tag #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/UndoRedo should work with 'last deployed' tag #1.png
  designer/client/src/components/SidePanelToggleButton.tsx
  designer/client/src/components/comment/CommentsPanel.tsx
  designer/client/src/components/graph/node-modal/nodeDetails/Docs.tsx
  designer/client/src/components/graph/node-modal/nodeDetails/NodeDetailsStyled.tsx
  designer/client/src/components/graph/node-modal/nodeDetails/Subtype.tsx
  designer/client/src/components/sidePanels/CollapsiblePanel.tsx
  designer/client/src/components/sidePanels/SidePanelStyled.ts
  designer/client/src/components/tips/Tips.tsx
  designer/client/src/components/toolbarComponents/DefaultToolbarPanel.tsx
  designer/client/src/components/toolbarComponents/DragAndDropContainer.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButton.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButtonStyled.tsx
  designer/client/src/components/toolbarComponents/toolbarWrapper/ToolbarWrapper.tsx
  designer/client/src/components/toolbarSettings/WIP_TOOLBARS.ts
  designer/client/src/components/toolbarSettings/defaultToolbarsConfig.ts
  designer/client/src/components/toolbarSettings/types.ts
  designer/client/src/components/toolbars/AttachmentsPanel.tsx
  designer/client/src/components/toolbars/Survey.tsx
  designer/client/src/components/toolbars/UserSettingsPanel.tsx
  designer/client/src/components/toolbars/VersionsPanel.tsx
  designer/client/src/components/toolbars/actions/ProcessActions.tsx
  designer/client/src/components/toolbars/creator/CreatorPanel.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioDetails.tsx
  designer/client/src/components/toolbars/search/SearchPanel.tsx
  designer/client/src/containers/theme/nuTheme.tsx
  designer/client/src/reducers/settings.ts
  designer/client/src/stylesheets/variables.ts
Labels: ui, client

#5831 [Nu-1494] Provide presets selection to fragment input parameters
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #7.png
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/src/components/graph/node-modal/editors/EditableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/DictParameterEditor/DictParameterEditor.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/FieldsSelect.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/FragmentInputDefinition.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/Item.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/types.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/utils.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/Settings.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/AnyValueWithSuggestionVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/FixedListVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/useGetAllDicts.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/FixedValuesGroup.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/FixedValuesSetting.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/InitialValue.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/InputModeSelect.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/StyledSettingsComponnets.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/dictSelect.tsx
  designer/client/src/components/graph/node-modal/node/NodeDetails.tsx
  designer/client/src/http/HttpService.ts
  designer/client/src/types/scenarioGraph.ts
  designer/client/test/Process/FrgamentInputDefinition/FixedValuesGroup-test.tsx
  designer/client/test/Process/FrgamentInputDefinition/Item-test.tsx
  docs/Changelog.md
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #2.png
Labels: ui, docs, client

#5620 [NU-1224] Nodes open api documentation
  build.sbt
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/CanBeSubclassDeterminer.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/supertype/CommonSupertypeFinder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/NodesApiEndpoints.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/generators/NodeDataGen.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodesApiEndpointsSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodesApiHttpServiceBusinessSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidator.scala
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/NuScalaTestAssertions.scala
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/NuTapirSchemaTestHelpers.scala
Labels: docs

#5783 [NU-1512] Added allowedProcessingModes field to components endpoint
  build.sbt
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentProvider.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ProcessingMode.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/process/Source.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display component #0.png
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/ComponentApiEndpoints.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/additionalInfo/AdditionalInfoProviders.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DictApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesExportResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ScenarioParametersApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TestInfoResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ValidationResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/AlignedComponentsDefinitionProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/initialization/Initialization.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrationService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentManagerDispatcher.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/TestModelMigrations.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/DesignerModelData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ScenarioParametersDeterminer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessActionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/EdgeTypesPreparerTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentGroupsPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentsUsageHelperTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReaderSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFragmentSourceDefinitionPreparer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ComponentExecutorFactory.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionWithImplementation.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/DynamicComponentStaticDefinitionDeterminer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/bultin/BuiltInComponentsDefinitionsPreparer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/dynamic/DynamicComponentDefinitionWithImplementation.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/methodbased/MethodBasedComponentDefinitionWithImplementation.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentComponentDefinition.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentComponentDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testing/ModelDefinitionBuilder.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/component/ComponentFromProvidersExtractorTest.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinitionFromConfigCreatorExtractorSpec.scala
Labels: ui, docs, client

#5824 [NU-1579] decision table component - labels change
  build.sbt
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/DefaultModelMigrations.scala
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/migrations/DecisionTableParameterNamesMigration.scala
  defaultModel/src/test/scala/pl/touk/nussknacker/defaultModel/migrations/DecisionTableParameterNamesMigrationSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigrator.scala
  docs/MigrationGuide.md
  engine/common/components-tests/src/test/scala/pl/touk/nussknacker/engine/common/components/DecisionTableSpec.scala
  engine/common/components/src/main/scala/pl/touk/nussknacker/engine/common/components/DecisionTable.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/GraphBuilder.scala
Labels: docs

#5835 expand all component groups by default - store closed state
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Creator toolbar should allow collapse (persist) and filtering #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Creator toolbar should allow collapse (persist) and filtering #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/cypress/e2e/compareVersions.cy.ts
  designer/client/cypress/e2e/components.cy.ts
  designer/client/cypress/e2e/creatorToolbar.cy.ts
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/e2e/nodeWindow.cy.ts
  designer/client/cypress/e2e/process.cy.ts
  designer/client/cypress/e2e/switch.cy.ts
  designer/client/cypress/e2e/undo.cy.ts
  designer/client/src/components/toolbars/creator/ToolboxComponentGroup.tsx
  designer/client/src/reducers/selectors/toolbars.ts
  designer/client/src/reducers/toolbars.ts
Labels: ui, client

#5843 [NU-1524] Add endpoint to provide statistics URLs
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/StatisticsApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TapirCodecs.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/StatisticsApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettingsDeterminer.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/SettingsResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/StatisticsApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/StatisticsApiHttpServiceSecuritySpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
Labels: docs

#5853 [Nu-1065] processing mode info on components table
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by processing mode #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by processing mode #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by usage #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by usage #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should apply filters from query #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display component #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Processes list should filter by processing mode #0.png
  designer/client/cypress/e2e/components.cy.ts
  designer/client/cypress/e2e/processes.cy.ts
  designer/client/src/http/HttpService.ts
  designer/submodules/packages/components/src/components/cellRenderers/processingModesCell.tsx
  designer/submodules/packages/components/src/components/componentTable.tsx
  designer/submodules/packages/components/src/components/filterRules.tsx
  designer/submodules/packages/components/src/components/filters/componentsFiltersModel.ts
  designer/submodules/packages/components/src/components/listWithFilters.tsx
  designer/submodules/packages/components/src/scenarios/list/processingMode.tsx
  docs/Changelog.md
Labels: ui, docs, client, submodules

#5842 [NU-1466] deployment service scenario command
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DMScenarioCommand.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessStateProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DefaultProcessingTypeActionService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioCommand.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioTestExecutorService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/InvalidDeploymentManagerStub.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/CustomActionValidator.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/StubProcessStateProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicCustomActionsProviderFactory.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSlotsCountSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingProcessTestRunnerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/JavaConfigDeploymentManagerSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/StreamingDockerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/lite/deploymentManager/src/main/scala/pl/touk/nussknacker/lite/manager/LiteDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/BaseStreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/RequestResponseEmbeddedDeploymentManagerTest.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/BaseK8sDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerKafkaTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerReqRespTest.scala
Labels: docs

#5877 [NU-1607] Decision Table component field rename: "Filter expression" -> "Match condition"
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/migrations/DecisionTableParameterNamesMigration.scala
  defaultModel/src/test/scala/pl/touk/nussknacker/defaultModel/migrations/DecisionTableParameterNamesMigrationSpec.scala
  docs/MigrationGuide.md
  engine/common/components-tests/src/test/scala/pl/touk/nussknacker/engine/common/components/DecisionTableSpec.scala
  engine/common/components/src/main/scala/pl/touk/nussknacker/engine/common/components/DecisionTable.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/GraphBuilder.scala
Labels: docs

#5784 Make readme great again
  README.md
  docs/NuHighLevelView.png
Labels: docs

#5873 [NU-1523] anonymous statistics send in interval
  designer/client/src/containers/NussknackerApp.tsx
  designer/client/src/containers/UsageReportingImage.tsx
  designer/client/src/containers/useAnonymousStatistics.tsx
  designer/client/src/http/HttpService.ts
  designer/client/test/useAnonymousStatistics.test.tsx
  docs/Changelog.md
Labels: ui, docs, client

#5889 [NU-1527] decision table params validation improvement
  common-api/src/main/scala/pl/touk/nussknacker/engine/graph/expression/TabularTypedData.scala
  common-api/src/test/scala/pl/touk/nussknacker/engine/graph/expression/TabularTypedDataSpec.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/transformation/BaseDefinedParameter.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/transformation/DynamicComponent.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/generics/ExpressionParseError.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/BaseDatabaseQueryEnricherTest.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TapirCodecs.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/NodesApiEndpoints.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  engine/common/components-tests/src/test/scala/pl/touk/nussknacker/engine/common/components/DecisionTableSpec.scala
  engine/common/components/src/main/scala/pl/touk/nussknacker/engine/common/components/DecisionTable.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/DynamicParametersMixin.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/EnrichWithAdditionalDataTransformer.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/LastVariableFilterTransformer.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/DynamicNodeValidator.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/language/tabularDataDefinition/TabularDataDefinitionParser.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
Labels: docs

#5898 [NU-1609] fixed: Nu runtime memory leak
  docs/Changelog.md
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/SynchronousExecutionContextAndIORuntime.scala
Labels: docs

#5757 [NU-1481] Table aggregation component
  build.sbt
  designer/server/src/test/resources/config/business-cases/batch-designer.conf
  designer/server/src/test/resources/config/business-cases/tables-definition.sql
  designer/server/src/test/resources/transactions/date=2024-01-01/transaction-1.csv
  designer/server/src/test/resources/transactions/date=2024-01-02/transaction-1.csv
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/BaseDeploymentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpServiceDeploymentCommentSpec.scala
  docs/MigrationGuide.md
  docs/developers_guide/FlinkComponents.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkContextInitializingFunction.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkIntermediateRawSource.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkSource.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/StandardFlinkSourceFunctionUtils.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/BlockingQueueSource.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/CollectionSource.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/EmitWatermarkAfterEachElementCollectionSource.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/EmptySource.scala
  engine/flink/components/base-tests/src/test/resources/transactions/transaction-1.csv
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationParametersTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/extractor/SqlFromFileReaderTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableFileToFileTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/utils/TableTypeConversionsTest.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PeriodicSourceFactory.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/FlinkTableComponentProvider.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregation.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationFactory.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregator.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSink.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSource.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceFactory.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/RowConversions.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/TableTypeConversions.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFragmentSourceDefinitionPreparer.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/StreamExecutionEnvPreparer.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactoryTest.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSource.scala
  engine/flink/management/dev-model-java/src/main/scala/pl/touk/nussknacker/engine/management/javasample/Objects.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/CsvSource.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/GenericSourceWithCustomVariablesSample.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/NoEndingSource.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/OneSource.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/devmodel/TableKafkaPingPongTest.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
Labels: docs

#5887 [Nu-1589] fix toolbar icons height
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #0.png
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButton.tsx
  designer/client/src/stylesheets/variables.ts
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/submodules/packages/components/src/scenarios/list/itemsList.tsx
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: ui, docs, client, submodules

#5918 [NU-1484] Improve Machine Learning docs
  docs/integration/MachineLearning.md
  docs/scenarios_authoring/Enrichers.md
Labels: docs

#5899 [NU-1455] Add missing e2e tests for tests from file
  .run/NussknackerApp.run.xml
  build.sbt
  designer/client/README.md
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process tests from file should properly display results of tests from file #0.png
  designer/client/cypress/e2e/testsFromFile.cy.ts
  designer/client/cypress/fixtures/dumbStreamKafkaSourceScenario.json
  designer/client/cypress/fixtures/transactionsAvroSchema.json
  designer/client/cypress/fixtures/transactionsTestData.txt
  designer/client/cypress/support/process.ts
  designer/client/docker-compose.yml
  designer/client/package.json
  e2e-tests/docker-compose.yml
  e2e-tests/setupAndRun.sh
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: ui, docs, client

#5875 [NU-1597] Add idleness to Kafka source
  docs/MigrationGuide.md
  docs/integration/KafkaIntegration.md
  docs/operations_guide/Flink.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/timestampwatermark/TimestampWatermarkHandler.scala
  engine/flink/components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkKafkaComponentProvider.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/FlinkKafkaDelayedSourceImplFactory.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSource.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/NoEndingSource.scala
  engine/lite/components/kafka/src/main/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaComponentProvider.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaSingleScenarioTaskRun.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
Labels: docs

#5943 Fix always enabled generate button
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Connection error should display connection errors #2.png
  designer/client/src/components/toolbars/test/buttons/GenerateButton.tsx
Labels: ui, client

#5947 Button regression fix and bats removal
  .github/workflows/pr.yml
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Connection error should display connection errors #2.png
  designer/client/src/components/toolbars/test/buttons/GenerateButton.tsx
  e2e-tests/Dockerfile
  e2e-tests/docker-compose.yml
  e2e-tests/run.sh
  e2e-tests/setupAndRun.sh
  e2e-tests/test/data/scenario.json
  e2e-tests/test/data/transactions.json
  e2e-tests/test/helpers.bash
  e2e-tests/test/pong.bats
  e2e-tests/waitForOk.sh
Labels: ui, client

#5939 Fix search node qualifier (selector) for variable node
  designer/client/src/components/toolbars/search/utils.ts
Labels: ui, client

#5910 Use ScenarioPropertiesConfigFinalizer in NewProcessPreparer and ScenarioPropertiesValidatior
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/AdditionalUIConfigProvider.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Connection error should display connection errors #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #7.png
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/NewProcessPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ScenarioPropertiesValidator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/UIProcessValidator.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/TestAdditionalUIConfigProviderFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/NewProcessPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/ScenarioPropertiesValidatorTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
Labels: ui, client

#5966 change filter node selector
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Connection error should display connection errors #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/connectionError.cy.ts
Labels: ui, client

#5798 Use common steps for deploy, cancel and custom actions.
  designer/client/src/components/modals/CustomActionDialog.tsx
  designer/client/src/http/HttpService.ts
  designer/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeEvent.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/CustomActionRequest.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioCommand.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DeploymentComment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/CustomActionValidator.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesConcurrentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesChangeListenerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/CustomActionValidatorTest.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
Labels: ui, docs, client

#5973 Use common steps for deploy, cancel and custom actions. (#5798)
  designer/client/src/components/modals/CustomActionDialog.tsx
  designer/client/src/http/HttpService.ts
  designer/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeEvent.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/CustomActionRequest.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioCommand.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DeploymentComment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/CustomActionValidator.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesConcurrentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesChangeListenerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/CustomActionValidatorTest.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
Labels: ui, docs, client

#5981 Readme cosmetics
  README.md
Labels: docs

#5779 [NU-1588] Add API versioning for migrations between environments
  build.sbt
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/MigrationApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TapirCodecs.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/MigrationApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/utils/ApiVersion.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrateScenarioData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrationApiAdapterService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrationApiAdapters.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrationService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/RemoteEnvironment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/ApiAdapter.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/ApiAdapterService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/VersionedData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ReflectionBasedUtils.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/migration/MigrationUtils.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/MigrationApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/MigrationApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NuDesignerApiAvailableToExposeYamlSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/description/MigrationApiEndpointsSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/ApiAdapterServiceSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
Labels: docs

#5990 Cherry pick Migration API Versioning to release 1.15
  build.sbt
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/MigrationApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TapirCodecs.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/MigrationApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/utils/ApiVersion.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrateScenarioData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrationApiAdapterService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrationApiAdapters.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrationService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/RemoteEnvironment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/ApiAdapter.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/ApiAdapterService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/VersionedData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ReflectionBasedUtils.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/migration/MigrationUtils.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/MigrationApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/MigrationApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NuDesignerApiAvailableToExposeYamlSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/description/MigrationApiEndpointsSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/ApiAdapterServiceSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
Labels: docs
