Repository TouK/nussknacker, pull requests merged in 2024-12, with the labels that each got.

#7269 fixed focus scrolling in ace editor
  designer/client/src/components/graph/node-modal/editors/expression/AceWithSettings.tsx
Labels: ui, client

#7271 Scrool fix 1.18 backport
  designer/client/src/components/graph/node-modal/editors/expression/AceWithSettings.tsx
  docs/Changelog.md
Labels: ui, docs, client

#7270 Savepoint deserialization fixup - The class is an inner class, but not statically accessible.
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/internal/typedobject/TypedJavaMapBasedTypeInformation.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/internal/typedobject/TypedObjectBasedTypeInformation.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/internal/typedobject/TypedScalaMapBasedTypeInformation.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetectionSpec.scala
Labels: docs

#7272 Savepoint deserialization fixup - The class is an inner class, but not statically accessible. (#7270)
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/internal/typedobject/TypedJavaMapBasedTypeInformation.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/internal/typedobject/TypedObjectBasedTypeInformation.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/internal/typedobject/TypedScalaMapBasedTypeInformation.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetectionSpec.scala
Labels: docs

#7274 providerType config and idle source
  docs/configuration/model/ModelConfiguration.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
Labels: docs

#7281 1.18 ports9
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  examples/installation/docker-compose.yml
  examples/installation/flink/flink-properties.yml
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/json/ToJsonEncoder.scala
  utils/utils/src/test/scala/pl/touk/nussknacker/engine/util/json/ToJsonEncoderSpec.scala
Labels: docs

#7283 [NU-1901] fix deployment status indicator for periodic scenarios
  designer/client/src/components/toolbars/activities/ActivitiesPanelRow.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItem.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItemHeader.tsx
  designer/client/src/components/toolbars/activities/helpers/activityItemColors.ts
  docs/Changelog.md
Labels: ui, docs, client

#7184 Add notifications related to currently displayed scenario
  designer/client/cypress/e2e/connectionError.cy.ts
  designer/client/src/containers/Notifications.tsx
  designer/client/src/http/HttpService.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NotificationApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ScenarioActivityApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/NotificationApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/notifications/Notification.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/notifications/NotificationService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/activities/DbScenarioActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/activities/ScenarioActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/activities/ScenarioActivityRepositoryAuditLogDecorator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/scenarioactivity/FetchScenarioActivityService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/ScenarioActivityUtils.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NotificationApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ScenarioAttachmentServiceSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/util/DeterministicUUIDFromLong.scala
Labels: ui, docs, client

#7254 [NU-1881][NU-1895] fix manual window size change and fix Maximum update depth exceeded
  designer/client/package-lock.json
  designer/client/package.json
  docs/Changelog.md
Labels: ui, docs, client

#7298 Optimize CSS selector for cursor dragging
  designer/client/src/components/graph/node-modal/node/HeaderWithGlobalCursor.tsx
  designer/client/src/components/graph/node-modal/node/StyledHeader.tsx
Labels: ui, client

#7290 Update Swagger dependencies
  build.sbt
  docs/Changelog.md
Labels: docs

#7299 [Nu-7284] Optimize CSS selector related to cursor type
  designer/client/src/components/graph/node-modal/node/HeaderWithGlobalCursor.tsx
  designer/client/src/components/graph/node-modal/node/StyledHeader.tsx
  docs/Changelog.md
Labels: ui, docs, client

#7293 real optimization without loosing features
  designer/client/src/components/graph/node-modal/node/HeaderWithGlobalCursor.tsx
  designer/client/src/components/graph/node-modal/node/StyledHeader.tsx
Labels: ui, client

#7300 1.18 ports11
  build.sbt
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/graph/node-modal/node/HeaderWithGlobalCursor.tsx
  designer/client/src/components/graph/node-modal/node/StyledHeader.tsx
  docs/Changelog.md
Labels: ui, docs, client

#7306 Fix: CI replace image vectorized/redpanda with redpandadata/redpanda
  designer/client/docker-compose.yml
Labels: ui, client

#7308 Aggregate map fix
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/graph/PanZoomPlugin.ts
  designer/client/src/components/graph/node-modal/aggregate/aggMapLikeParser.tsx
  designer/client/src/components/graph/node-modal/aggregate/parser.test.ts
  designer/client/src/components/graph/node-modal/aggregate/useAggParamsSerializer.tsx
  designer/client/src/components/graph/node-modal/editors/expression/AceWithSettings.tsx
  designer/client/src/components/toolbarSettings/DEV_TOOLBARS.ts
  designer/client/src/devHelpers.ts
Labels: ui, client

#7323 [Fix] Improve periodic dm db queries
  docs/Changelog.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentActor.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/JarManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesTable.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/flink/FlinkJarManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/DeploymentWithJarData.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/PeriodicProcess.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/PeriodicProcessDeployment.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/SchedulesState.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/AdditionalDeploymentDataProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/PeriodicProcessListener.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/ProcessConfigEnricher.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentActorTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessDeploymentGen.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessGen.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: ui, docs, client, submodules

#7324 Fix: Passing Flink Job Global Params
  docs/Changelog.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/NkGlobalParameters.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/ExecutionConfigPreparer.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/NkGlobalParametersEncoderTest.scala
Labels: docs

#7319 Allow "run now" only for currently deployed version, which must be presented on UI
  designer/client/cypress/e2e/connectionError.cy.ts
  designer/client/src/actions/nk/process.ts
  designer/client/src/components/modals/AddAttachmentDialog.tsx
  designer/client/src/components/modals/CustomActionDialog.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/CancelDeployButton.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/DeployButton.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/PerformSingleExecutionButton.tsx
  designer/client/src/containers/Notifications.tsx
  designer/client/src/containers/Visualization.tsx
  designer/client/src/http/HttpService.ts
  designer/client/src/reducers/selectors/graph.ts
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessStateDefinitionManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleProcessStateDefinitionManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/api/deployment/SimpleProcessStateSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessStateProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/InvalidDeploymentManagerStub.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/activities/DbScenarioActivityRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/StubProcessStateProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicStateStatus.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessStateDefinitionManagerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkProcessStateSpec.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedProcessStateDefinitionManager.scala
Labels: ui, client

#7332 Handle scenario names with spaces when performing migration tests
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/RemoteEnvironment.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
  docs/Changelog.md
Labels: docs

#7347 Use `RichFunction.open(OpenContext)` instead of `RichFunction.open(Configuration)`
  docs/MigrationGuide.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/datastream/StatefulFunction.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/exception/WithExceptionHandler.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkContextInitializingFunction.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkLazyParameterFunctionHelper.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/RichLifecycleFunction.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/state/EvictableState.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/function/CoProcessFunctionInterceptor.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/function/ProcessFunctionInterceptor.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/EmitExtraWindowWhenNoDataTumblingAggregatorFunction.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/EmitWhenEventLeftAggregatorFunction.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/EnrichingWithKeyFunction.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/OnEventTriggerWindowOperator.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/DelayTransformer.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PreviousValueTransformer.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregation.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/ProcessPartFunction.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/AsyncInterpretationFunction.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/SourceMetricsFunction.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSource.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/ConstantStateTransformer.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/FlinkKafkaUniversalSink.scala
Labels: docs

#7342 [NU-1777] "Perform single execution" action was renamed to "Run off schedule"
  designer/client/src/assets/img/toolbarButtons/run-off-schedule.svg
  designer/client/src/components/Process/ProcessStateUtils.ts
  designer/client/src/components/Process/types.ts
  designer/client/src/components/toolbarSettings/buttons/BuiltinButtonTypes.ts
  designer/client/src/components/toolbarSettings/buttons/TOOLBAR_BUTTONS_MAP.ts
  designer/client/src/components/toolbarSettings/defaultToolbarsConfig.ts
  designer/client/src/components/toolbars/scenarioActions/buttons/RunOffScheduleButton.tsx
  designer/client/src/containers/event-tracking/helpers.ts
  designer/client/src/containers/event-tracking/use-register-tracking-events.ts
  designer/client/src/http/HttpService.ts
  designer/client/src/reducers/selectors/graph.ts
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DMScenarioCommand.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/RunOffScheduleRequest.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/RunOffScheduleResponse.scala
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/scenariotoolbar/ToolbarButtonConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioCommand.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioActionRepository.scala
  designer/server/src/test/scala/db/migration/V1_057__MigrateActionsAndCommentsToScenarioActivities.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessStateDefinitionManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicStateStatus.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessStateDefinitionManagerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessAction.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/deployment/CustomActionDefinition.scala
Labels: ui, client

#7344 Fetch only latest scenario activities for periodic DM
  engine/flink/management/periodic/README.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicBatchConfig.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
Labels: docs

#7307 [NU-1921] Add standard deviation and variance aggregations
  docs/Changelog.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatesSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/components/base-unbounded/src/main/java/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregateHelper.java
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/aggregates.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/sampleTransformers.scala
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  utils/math-utils/src/main/scala/pl/touk/nussknacker/engine/util/MathUtils.scala
Labels: docs

#7321 [NU-1921] Add median aggregator
  docs/Changelog.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatesSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/components/base-unbounded/src/main/java/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregateHelper.java
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/aggregates.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/median/MedianHelper.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/sampleTransformers.scala
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  utils/math-utils/src/main/scala/pl/touk/nussknacker/engine/util/MathUtils.scala
Labels: docs

#7341 Integer dictionary support in fragment inputs
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/types.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DictApiHttpServiceSpec.scala
  docs/Changelog.md
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/dict/IntegerDictionary.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidator.scala
Labels: ui, docs, client

#7356 [NU-1932] Big decimal uses default scale
  build.sbt
  docs/Changelog.md
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/FragmentSpec.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/CollectTransformerTest.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/Conversion.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  utils/math-utils/src/test/scala/pl/touk/nussknacker/engine/util/MathUtilsSpec.scala
  utils/utils/src/main/java/org/springframework/util/NumberUtils.java
  utils/utils/src/main/java/pl/touk/nussknacker/springframework/util/BigDecimalScaleEnsurer.scala
Labels: docs

#7333 [Nu-7330] Change endpoint used for Counts window
  designer/client/cypress/e2e/counts.cy.ts
  designer/client/src/components/modals/CalculateCounts/CountsRanges.tsx
  designer/client/src/components/modals/CalculateCounts/useActivityHistory.ts
  designer/client/src/components/modals/CalculateCounts/useDeployHistory.ts
  designer/client/src/components/toolbars/activities/types.ts
  designer/client/src/http/HttpService.ts
Labels: ui, client

#7368 [NU-1923] Rename source 'periodic' to 'sample generator'
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/DefaultModelMigrations.scala
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/migrations/PeriodicToSampleGeneratorMigration.scala
  defaultModel/src/test/scala/pl/touk/nussknacker/defaultModel/migrations/PeriodicToSampleGeneratorSpec.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should display question mark when renaming a node and updating the count #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Node window should display sample-generator source #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/cypress/e2e/counts.cy.ts
  designer/client/cypress/e2e/nodeWindow.cy.ts
  designer/client/cypress/fixtures/aggregations.json
  designer/client/cypress/fixtures/counts.json
  designer/client/cypress/fixtures/docsAggregatesFullOuterJoin#0.json
  designer/client/cypress/fixtures/docsAggregatesSingleSideJoin#0.json
  designer/client/cypress/fixtures/docsBasicComponentsChoice#0.json
  designer/client/cypress/fixtures/docsBasicComponentsFilter#0.json
  designer/client/cypress/fixtures/docsBasicComponentsFilter#1.json
  designer/client/cypress/fixtures/docsBasicComponentsForEach#0.json
  designer/client/cypress/fixtures/docsBasicComponentsRecordVariable#0.json
  designer/client/cypress/fixtures/docsBasicComponentsSplit#0.json
  designer/client/cypress/fixtures/docsBasicComponentsUnion#0.json
  designer/client/cypress/fixtures/docsBasicComponentsVariable#0.json
  designer/client/cypress/fixtures/docsBasicComponentsVariable#1.json
  designer/client/cypress/fixtures/table.json
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/developers_guide/Components.md
  docs/developers_guide/FlinkComponents.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/img/periodic.png
  docs/scenarios_authoring/img/sample-generator.png
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/SampleGeneratorSourceFactorySpec.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/FlinkBaseUnboundedComponentProvider.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/SampleGeneratorSourceFactory.scala
Labels: ui, docs, client
