Repository TouK/nussknacker, pull requests merged in 2024-10, with the labels that each got.

#6875 [NU-1701] Introduce extension methods to SpeL. Add canCastTo and cast…
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ExpressionSuggesterSpec.scala
  docs/Changelog.md
  docs/scenarios_authoring/Spel.md
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/NuReflectiveMethodExecutor.java
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/internal/RuntimeConversionHandler.java
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionSet.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinitionWithClasses.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/Cast.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ExtensionMethods.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/DefaultSpelConversionsProvider.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/OptimizedEvaluationContext.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/typer/MethodReferenceTyper.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionDiscoverySpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionTestUtils.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/extension/ExtensionMethodsSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/MethodReferenceTyperSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
Labels: docs

#6962 [NU-1772] Scenario activities BE - phase 2
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/Comment.scala
  designer/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/Comment.scala
  designer/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeEvent.scala
  designer/server/src/main/scala/db/migration/V1_058__UpdateAndAddMissingScenarioActivitiesDefinition.scala
  designer/server/src/main/scala/db/migration/hsql/V1_058__UpdateAndAddMissingScenarioActivities.scala
  designer/server/src/main/scala/db/migration/postgres/V1_058__UpdateAndAddMissingScenarioActivities.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ScenarioActivityApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/DeploymentApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/MigrationApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioActivity/Dtos.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioActivity/Examples.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ScenarioActivityEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/initialization/Initialization.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrateScenarioData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrationApiAdapters.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrationService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioCommand.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigrator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/RemoteEnvironment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newactivity/ActivityService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ApiCallComment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DeploymentComment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioActionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/SystemComment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/UserComment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/activities/DbScenarioActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/LoggedUserUtils.scala
  designer/server/src/test/scala/db/migration/V1_057__MigrateActionsAndCommentsToScenarioActivities.scala
  designer/server/src/test/scala/db/migration/V1_058__UpdateAndAddMissingScenarioActivitiesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/WithAccessControlCheckingConfigScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/processes/WithScenarioActivitySpecAsserts.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DeploymentCommentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/MigrationApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ScenarioActivityApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigratorSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ScenarioActivity.scala
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/NuRestAssureMatchers.scala
Labels: docs

#6974 [NU-1701] Casts suggester
  designer/server/src/main/scala/pl/touk/nussknacker/ui/suggester/ExpressionSuggester.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ExpressionSuggesterSpec.scala
  docs/Changelog.md
  docs/scenarios_authoring/Spel.md
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/NuReflectiveMethodExecutor.java
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/internal/ConversionAndExtensionAwareMethodsDiscovery.java
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/internal/ConversionAndExtensionsAwareMethodInvoker.java
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/internal/RuntimeConversionHandler.java
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/Cast.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ExtensionMethods.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/OptimizedEvaluationContext.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/util/classes/Extensions.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/component/parameter/validator/ValidationExpressionParameterValidatorTest.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/util/classes/ExtensionsSpec.scala
Labels: docs

#6988 Remove MultiMap
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/state/EvictableState.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/state/MultiMap.scala
Labels: docs

#6994 [NU-1816] fixing checkbox style on firefox
  designer/client/src/components/graph/node-modal/NodeDetailsContent/NodeTableStyled.tsx
Labels: ui, client

#6991 [Nu-1797] add information about contact about batches
  designer/client/src/components/AddProcessDialog.tsx
  designer/client/src/components/AddProcessForm.tsx
  designer/client/src/containers/theme/nuTheme.tsx
  designer/client/src/containers/theme/styles.ts
Labels: ui, client

#6985 [NU-1825] add tooltip to processing mode icon
  designer/client/src/components/modals/MoreScenarioDetailsDialog.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioDetails.tsx
  designer/client/src/components/toolbars/scenarioDetails/getProcessingModeVariantName.ts
Labels: ui, client

#6996 Avro 1.11.3 -> 1.11.4
  build.sbt
  docs/Changelog.md
Labels: docs

#7000 Show all dict values on dict parameter editor open
  designer/client/src/components/graph/node-modal/editors/expression/DictParameterEditor/DictParameterEditor.tsx
  docs/Changelog.md
Labels: ui, docs, client

#6944 Add backend validation for Adhoc testing
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  designer/client/src/actions/nk/adhocTesting.ts
  designer/client/src/actions/nk/genericAction.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/UserDefinedListInput.tsx
  designer/client/src/components/modals/AdhocTesting/AdhocTestingDialog.tsx
  designer/client/src/components/modals/AdhocTesting/AdhocTestingFormContext.tsx
  designer/client/src/components/modals/AdhocTesting/FormField.tsx
  designer/client/src/components/modals/AdhocTesting/FormFields.tsx
  designer/client/src/components/modals/AdhocTesting/MarkdownForm.tsx
  designer/client/src/components/modals/AdhocTesting/useAdhocTestingAction.tsx
  designer/client/src/components/modals/AdhocTesting/useAdhocTestingAvailability.tsx
  designer/client/src/components/modals/AdhocTesting/useAdhocTestingParametersValidation.tsx
  designer/client/src/components/modals/GenericAction/useGenericActionValidation.tsx
  designer/client/src/components/toolbarSettings/buttons/CustomButtonTypes.ts
  designer/client/src/components/toolbarSettings/buttons/TOOLBAR_BUTTONS_MAP.ts
  designer/client/src/components/toolbarSettings/buttons/types.ts
  designer/client/src/components/toolbars/test/buttons/AdhocTestingButton.tsx
  designer/client/src/components/toolbars/test/buttons/TestWithFormButton.tsx
  designer/client/src/containers/event-tracking/helpers.ts
  designer/client/src/http/HttpService.ts
  designer/client/src/windowManager/ContentGetter.tsx
  designer/client/src/windowManager/WindowKind.tsx
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TapirCodecs.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TestInfoResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TestingApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/NodesApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/TestingApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/scenariotoolbar/ToolbarButtonConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/validation/ParametersValidator.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/TestInfoResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/TestingApiHttpServiceSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/configuration/DesignerConfiguration.md
  e2e-tests/src/test/scala/pl/touk/nussknacker/BatchDataGenerationSpec.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/GenericSourceWithCustomVariablesSample.scala
Labels: ui, docs, client

#6958 Kafka exceptionHandler: retry when message is too large, log when writing to Kafka fails
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/integration/KafkaIntegration.md
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumer.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumerSerializationSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumerSpec.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaSingleScenarioTaskRun.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaErrorTopicInitializerTest.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaErrorTopicInitializer.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumerConfig.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaJsonExceptionSerializationSchema.scala
  utils/kafka-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaJsonExceptionSerializationSchemaSpec.scala
Labels: docs

#7012 Upgrade swagger parser to 2.1.15 -> 2.1.22
  build.sbt
  docs/Changelog.md
Labels: docs

#7017 [NU-7016] Introduce Add button when typing element in user defined list
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/UserDefinedListInput.tsx
Labels: ui, client

#7023 Cherry pick NU-7016 to esp preview branch
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/UserDefinedListInput.tsx
Labels: ui, client

#7014 Upgrade tapir / openapiCirceYaml versions
  build.sbt
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/BaseEndpointDefinitions.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TestingApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/TestingApiEndpoints.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/AuthManager.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/SecurityError.scala
Labels: docs

#7032 [NU-1836] Add list methods as extension methods to array
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ExpressionSuggesterSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/scenarios_authoring/Spel.md
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/TypingFunctionForClassMember.scala
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/NuReflectiveMethodExecutor.java
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/internal/ConversionAndExtensionAwareMethodsDiscovery.java
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/internal/ConversionAndExtensionsAwareMethodInvoker.java
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/internal/RuntimeConversionHandler.java
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionDiscovery.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ArrayExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/Cast.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ExtensionMethods.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/OptimizedEvaluationContext.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/typer/MethodReferenceTyper.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#7047 fixed the problem
  docs/configuration/index.mdx
Labels: docs

#7049 Fix docs with rich text code
  docs/configuration/index.mdx
Labels: docs

#7050 Fix docs with rich text code 1.16
  docs/configuration/Common.mdx
Labels: docs

#7052 Fix docs with rich text code 1.14
  docs/installation_configuration_guide/Common.md
Labels: docs

#7002 [NU-1819] union copy fix
  designer/client/src/components/Process/types.ts
  designer/client/src/reducers/graph/utils.fixtures.ts
  designer/client/src/reducers/graph/utils.test.ts
  designer/client/src/reducers/graph/utils.ts
  designer/client/src/types/definition.ts
  designer/client/src/types/node.ts
  designer/client/src/types/validation.ts
  designer/client/test/reducer-test.js
Labels: ui, client

#7039 [NU-1772] ScenarioActivity-based activity log
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ScenarioActivityApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ScenarioActivityAuditLog.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DefaultProcessingTypeDeployedScenariosProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/LockableTable.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioActionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioActionRepositoryAuditLogDecorator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/activities/DbScenarioActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/activities/ScenarioActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/activities/ScenarioActivityRepositoryAuditLogDecorator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/FunctorUtils.scala
  designer/server/src/test/scala/db/migration/V1_057__MigrateActionsAndCommentsToScenarioActivities.scala
  designer/server/src/test/scala/db/migration/V1_058__UpdateAndAddMissingScenarioActivitiesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ScenarioAttachmentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
  docs/MigrationGuide.md
  utils/test-utils/src/main/resources/logback-test.xml
Labels: docs

#7083 [NU-1772] DeploymentManager activity handling default value and migration guide
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  docs/MigrationGuide.md
Labels: docs

#7058 Improvements: Add missing Flink TypeInformation for proper serialization
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/datastream/DataStreamImplicits.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkCustomNodeContext.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinformation/TypeInformationDetection.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/richflink.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/timestamp/TimestampAssignmentHelper.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformerSpec.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PeriodicSourceFactory.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/TransformStateTransformer.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformer.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/FullOuterJoinTransformer.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/SingleSideJoinTransformer.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/DelayTransformer.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformer.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/InterpretationResultTypeInformation.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/PartReferenceTypeInformation.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/FlinkSerializationSchemaConversions.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/StatefulTransformer.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/FlinkKafkaUniversalSink.scala
Labels: docs

#7091 [NU-1845] add activities statistic
  designer/client/src/actions/nk/assignSettings.ts
  designer/client/src/components/toolbars/activities/ActivitiesPanelFooter.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItemComment.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItemCommentModify.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItemHeader.tsx
  designer/client/src/containers/event-tracking/use-register-tracking-events.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/StatisticsApiEndpoints.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NuDesignerApiAvailableToExposeYamlSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
Labels: ui, client

#7094 [NU-1772] Scenario activities changes and refactors
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/BaseDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ScenarioActivityHandling.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ScenarioActivityApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioActivity/Dtos.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/scenariotoolbar/ToolbarPanelConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/InvalidDeploymentManagerStub.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/config/scenariotoolbar/CategoriesScenarioToolbarsConfigParserSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ConfigScenarioToolbarServiceSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/lite/deploymentManager/src/main/scala/pl/touk/nussknacker/lite/manager/LiteDeploymentManager.scala
Labels: docs

#7085 better name for configuration doc with environment variables
  docs/configuration/Common.md
Labels: docs

#7006 [NU-1790] Update docs after Flink 1.19 bump
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#7099 embed youtube (html) in markdown
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/graph/node-modal/MarkdownStyled.tsx
Labels: ui, client

#7102 new aggregations UI
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Aggregations should display updated UI for aggregate-session #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Aggregations should display updated UI for aggregate-sliding #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Aggregations should display updated UI for aggregate-tumbling #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display colorfull and sorted completions #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display colorfull and sorted completions #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display completions for second line (bugfix) #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/JSON editor should display colorfull json #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/JSON editor should display colorfull json #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/aggregations should display updated UI for aggregate-session #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/aggregations should display updated UI for aggregate-sliding #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/aggregations should display updated UI for aggregate-tumbling #0.png
  designer/client/cypress/e2e/aggregations.cy.ts
  designer/client/cypress/e2e/jsonEditor.cy.ts
  designer/client/cypress/e2e/sqlEditor.cy.ts
  designer/client/cypress/fixtures/aggregations.json
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/components/common/dndItems/DndItems.tsx
  designer/client/src/components/common/dndItems/DropTarget.tsx
  designer/client/src/components/graph/node-modal/FieldLabel.tsx
  designer/client/src/components/graph/node-modal/ParameterExpressionField.tsx
  designer/client/src/components/graph/node-modal/StaticExpressionField.tsx
  designer/client/src/components/graph/node-modal/aggregate/aggMapLikeParser.tsx
  designer/client/src/components/graph/node-modal/aggregate/aggregateContext.tsx
  designer/client/src/components/graph/node-modal/aggregate/aggregatorField.tsx
  designer/client/src/components/graph/node-modal/aggregate/aggregatorFieldsStack.tsx
  designer/client/src/components/graph/node-modal/aggregate/dynamicLabel.tsx
  designer/client/src/components/graph/node-modal/aggregate/groupBy/collectionField.tsx
  designer/client/src/components/graph/node-modal/aggregate/groupBy/editor.tsx
  designer/client/src/components/graph/node-modal/aggregate/groupBy/groupByField.tsx
  designer/client/src/components/graph/node-modal/aggregate/groupBy/highlightedSpel.tsx
  designer/client/src/components/graph/node-modal/aggregate/groupBy/spelChip.tsx
  designer/client/src/components/graph/node-modal/aggregate/groupBy/valuesList.tsx
  designer/client/src/components/graph/node-modal/aggregate/useAggParamsSerializer.tsx
  designer/client/src/components/graph/node-modal/aggregateParametersList.tsx
  designer/client/src/components/graph/node-modal/customNode.tsx
  designer/client/src/components/graph/node-modal/customNodeParameters.tsx
  designer/client/src/components/graph/node-modal/editors/EditableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/AceWrapper.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  designer/client/src/components/graph/node-modal/editors/expression/JsonEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/RawEditor.tsx
  designer/client/src/components/graph/node-modal/editors/field/Input.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/TypeSelect.tsx
  designer/client/src/components/graph/node-modal/node-row-fields-provider/NodeRowFieldsProvider.tsx
  designer/client/src/components/graph/node-modal/node/NodeValue.tsx
  designer/client/src/components/graph/node-modal/parameterHelpers.tsx
  designer/client/src/containers/Auth/strategies/RemoteAuthStrategy/RemoteAuthStrategy.tsx
  designer/client/src/containers/Debug.tsx
  designer/client/src/containers/event-tracking/helpers.ts
  designer/client/src/containers/theme/nuTheme.tsx
  designer/client/src/containers/theme/styles.ts
  designer/client/src/http/HttpService.ts
  designer/client/src/http/parametersUtils.ts
  designer/client/test/CompareVersionDialog-test.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/initialization/Initialization.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigrator.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/extension/ExtensionMethodsSpec.scala
Labels: ui, client

#7021 [NU-1847] Definition service with the ability to return definition without config from additional provider
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/FeatureTogglesConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/AlignedComponentsDefinitionProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/DesignerModelData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/loader/LocalProcessingTypeDataLoader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/loader/ProcessingTypesConfigBasedProcessingTypeDataLoader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodesApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/TestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/EdgeTypesPreparerTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentGroupsPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentsUsageHelperTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/DefaultComponentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ProcessStateDefinitionServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataProviderSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ScenarioParametersCombinationProviderTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ScenarioParametersServiceTest.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactory.scala
  engine/flink/management/dev-model/src/test/scala/pl/touk/nussknacker/engine/process/SampleComponentProviderTest.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerProviderHelper.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerSpec.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/Components.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentsFromProvidersExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/DynamicComponentStaticDefinitionDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/dynamic/DynamicComponentDefinitionWithImplementation.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/model/ModelClassDefinitionDiscovery.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinition.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinitionFromConfigCreatorExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/testing/LocalModelData.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/testing/ModelDefinitionBuilder.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/CustomNodeValidationSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/component/ComponentFromProvidersExtractorTest.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinitionFromConfigCreatorExtractorSpec.scala
Labels: docs

#7108 Add missing migration info about TimeMeasuringService
  docs/MigrationGuide.md
Labels: docs

#7010 NU-1827 allow dynamic access via indexer operator on expressions typed to unknown
  docs/Changelog.md
  docs/scenarios_authoring/Spel.md
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionDiscovery.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionSet.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/OptimizedEvaluationContext.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/propertyAccessors.scala
  scenario-compiler/src/test/java/pl/touk/nussknacker/engine/spel/JavaClassWithStaticParameterlessMethod.java
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
Labels: docs

#7063 [NU-1836] Move converters from CONV util to extension methods. Implement generic conversion extension methods: is, to and toOrNull.
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/generics/MethodTypeInfo.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ExpressionSuggesterSpec.scala
  docs/Changelog.md
  docs/scenarios_authoring/DesignerTipsAndTricks.md
  docs/scenarios_authoring/Spel.md
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/internal/ConversionHandler.java
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ArrayExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/Cast.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/CastOrConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/Conversion.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ExtensionMethods.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToBigDecimalConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToBooleanConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToDoubleConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToListConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToLongConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToMapConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/DefaultSpelConversionsProvider.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/OptimizedEvaluationContext.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/util/classes/Extensions.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/extension/ExtensionMethodsSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/conversion.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/ConversionUtilsSpec.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/NumericUtilsSpec.scala
Labels: docs

#7113 Update Scala 2.13 to 2.13.15
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/configuration/model/Flink.md
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/docker/WithFlinkContainers.scala
  examples/dev/nu-scala213.override.yml
Labels: docs

#7112 flaky cypress test fix
  designer/client/cypress/e2e/fragment.cy.ts
Labels: ui, client

#7106 [NU-1661] Remove focus from input in a dialog on esc keyboard button click
  designer/client/cypress/e2e/nodeWindow.cy.ts
  designer/client/src/components/FormElements.tsx
  designer/client/src/components/graph/node-modal/tests/TestResultsSelect.tsx
  designer/client/src/windowManager/useWindows.ts
Labels: ui, client
