Repository TouK/nussknacker, pull requests merged in 2024-03, with the labels that each got.

#5641 cherrypick: fetching/parsing batch periodic json only when needed (stop parsing during status check)
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentActor.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/JarManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesRepository.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/db/PeriodicProcessesTable.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/flink/FlinkJarManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/DeploymentWithJarData.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/PeriodicProcess.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/PeriodicProcessDeployment.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/model/SchedulesState.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/AdditionalDeploymentDataProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/PeriodicProcessListener.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/service/ProcessConfigEnricher.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentActorTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerStub.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/JarManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessDeploymentGen.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessGen.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/db/InMemPeriodicProcessesRepository.scala
Labels: docs

#5666 DelayedKafkaSourceFactory delay parameters bug fix
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/FlinkKafkaDelayedSourceImplFactory.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/delayed/DelayedKafkaSourceFactory.scala
Labels: ui, docs, client

#5657 [5615] Fix for eventhub naming convention with Azure Schema Registry
  .github/workflows/pr.yml
  CONTRIBUTING.md
  docs/Changelog.md
  docs/integration/KafkaIntegration.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/AzureSchemaRegistryKafkaAvroTest.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/AzureSchemaRegistryClientFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/SchemaNameTopicMatchStrategy.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/AzureSchemaRegistryClientIntegrationTest.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/SchemaNameTopicMatchStrategyTest.scala
Labels: docs

#5670 table editor test fix
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #3.png
  designer/client/cypress/e2e/tableEditor.cy.ts
Labels: ui, client

#5671 [Nu 1509] generated doesn t work
  designer/client/src/actions/nk/displayTestResults.ts
  designer/client/src/http/HttpService.ts
Labels: ui, client

#5674 [5615] Fix for eventhub naming convention with Azure Schema Registry
  .github/workflows/pr.yml
  CONTRIBUTING.md
  docs/Changelog.md
  docs/integration/KafkaIntegration.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/AzureSchemaRegistryKafkaAvroTest.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/AzureSchemaRegistryClientFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/SchemaNameTopicMatchStrategy.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/AzureSchemaRegistryClientIntegrationTest.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/SchemaNameTopicMatchStrategyTest.scala
Labels: docs

#5687 disable table editor test
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #3.png
  designer/client/cypress/e2e/tableEditor.cy.ts
Labels: ui, client

#5667 [NU-1431] fix cancel button color
  designer/client/src/components/modals/GenericActionDialog.tsx
Labels: ui, client

#5692 Small fixes around processing mode / engine setup handling
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ScenarioParametersDeterminer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ScenarioParametersService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReaderSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/installation_configuration_guide/DeploymentManagerConfiguration.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/ProcessingTypeConfig.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/deployment/EngineSetupName.scala
Labels: docs

#5658 [NU-1358] fit graph on reset button
  designer/client/src/actions/nk/displayTestResults.ts
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/toolbarComponents/toolbarWrapper/ToolbarWrapper.tsx
  designer/client/src/components/toolbars/test/buttons/FromFileButton.tsx
  designer/client/src/components/toolbars/view/buttons/ResetViewButton.tsx
Labels: ui, client

#5646 [Nu 1278] dictionary editor support
  designer/client/src/components/graph/node-modal/editors/expression/DictParameterEditor/DictParameterEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/DictParameterEditor/index.ts
  designer/client/src/components/graph/node-modal/editors/expression/Editor.ts
  designer/client/src/containers/theme/nuTheme.tsx
  designer/client/src/http/HttpService.ts
  designer/client/test/Editors/DictParameterEditor-test.tsx
Labels: ui, client

#5698 1.13.2 update for 1.14
  docs/Changelog.md
Labels: docs

#5690 Modify TestValue textArea height calculation
  designer/client/src/components/graph/node-modal/NodeDetailsContent/NodeTableStyled.tsx
  designer/client/src/components/graph/node-modal/tests/ExpressionTestResults.tsx
  designer/client/src/components/graph/node-modal/tests/TestValue.tsx
Labels: ui, client

#5664 [Nu 1064] processing mode info on scenarios list
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display usages #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usages #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Processes list should filter by processing mode #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Processes list should filter by processing mode #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Processes list should filter by processing mode #2.png
  designer/client/cypress/e2e/processes.cy.ts
  designer/client/cypress/support/process.ts
  designer/client/types/@override/index.d.ts
  designer/submodules/configs/webpack/common.ts
  designer/submodules/packages/components/src/assets/icons/batch.svg
  designer/submodules/packages/components/src/assets/icons/fragment.svg
  designer/submodules/packages/components/src/assets/icons/request-response.svg
  designer/submodules/packages/components/src/assets/icons/scenario.svg
  designer/submodules/packages/components/src/assets/icons/streaming.svg
  designer/submodules/packages/components/src/common/highlight.tsx
  designer/submodules/packages/components/src/components/cellRenderers/filterLinkCell.tsx
  designer/submodules/packages/components/src/components/cellRenderers/nameCell.tsx
  designer/submodules/packages/components/src/components/cellRenderers/scenarioStatusFormatted.tsx
  designer/submodules/packages/components/src/components/usages/usagesFiltersModel.ts
  designer/submodules/packages/components/src/components/usages/usagesTable.tsx
  designer/submodules/packages/components/src/index.d.ts
  designer/submodules/packages/components/src/scenarios/filters/filterRules.tsx
  designer/submodules/packages/components/src/scenarios/filters/filtersPart.tsx
  designer/submodules/packages/components/src/scenarios/filters/otherOptionsStack.tsx
  designer/submodules/packages/components/src/scenarios/filters/processingModeStack.tsx
  designer/submodules/packages/components/src/scenarios/filters/quickFilter.tsx
  designer/submodules/packages/components/src/scenarios/filters/scenariosFiltersModel.ts
  designer/submodules/packages/components/src/scenarios/list/author.tsx
  designer/submodules/packages/components/src/scenarios/list/item.tsx
  designer/submodules/packages/components/src/scenarios/list/itemsList.tsx
  designer/submodules/packages/components/src/scenarios/list/processingMode.tsx
  designer/submodules/packages/components/src/scenarios/list/scenarioAvatar.tsx
  designer/submodules/packages/components/src/scenarios/list/scenarioStatus.tsx
  designer/submodules/packages/components/src/scenarios/list/tableCellAvatar.tsx
Labels: ui, client, submodules

#5710 [NU-1516] Fix for OAuth2 authentication stop to work
  build.sbt
  designer/server/src/test/resources/config/oauth2/users.conf
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/db/DbTesting.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/WithWireMockServer.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/UserApiHttpServiceOAuth2Spec.scala
  docs/Changelog.md
  security/src/main/scala/pl/touk/nussknacker/ui/security/oauth2/OAuth2AuthenticationResources.scala
Labels: docs

#5512 Non trivial aggregations in time windows
  docs/operations_guide/Flink.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/img/complexAggregation.png
  docs/scenarios_authoring/img/keyExtraction.png
Labels: docs

#5726 fixed tableEditor cell error display
  designer/client/src/components/graph/node-modal/editors/expression/Table/errorHighlights.tsx
  designer/client/src/types/validation.ts
Labels: ui, client

#5737 Minor table editor fix
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #1.png
  designer/client/src/components/graph/node-modal/editors/expression/Table/TableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/errorHighlights.tsx
Labels: ui, client

#5747 [NU-1071] Processing mode related changes in the documentation
  docs/developers_guide/Basics.md
  docs/installation/Installation.md
  docs/installation_configuration_guide/Common.md
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/ScenarioDeploymentConfiguration.md
  docs/installation_configuration_guide/img/configuration_areas.png
  docs/installation_configuration_guide/model/ModelConfiguration.md
  docs/integration/OpenAPI.md
  docs/operations_guide/Lite.md
Labels: docs

#5653 [NU-1473] Sql sink
  designer/client/package.json
  engine/flink/components/dev-table/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/FlinkTableComponentProvider.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/TableComponentProvider.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/TableDefinition.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/extractor/SqlStatementReader.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/extractor/TableExtractor.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/extractor/TypeExtractor.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSink.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSinkFactory.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TypingResultOutputValidator.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/HardcodedSchemaTableSourceFactory.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/HardcodedValuesTableSourceFactory.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSource.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceFactory.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/HardcodedSchema.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/RowConversions.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/TableComponentFactory.scala
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/TableUtils.scala
  engine/flink/components/dev-table/src/test/scala/pl/touk/nussknacker/engine/flink/table/TableExtractorTest.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/FlinkWithKafkaSuite.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/devmodel/SqlKafkaPingPongTest.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/devmodel/TableApiHardcodedSourcePingPongTest.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/devmodel/TableApiKafkaPingPongTest.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/devmodel/TableKafkaPingPongTest.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  nussknacker-dist/src/universal/conf/tables-definition.sql
Labels: ui, client

#5761 [NU-1539] fixed: Open API generation with Scala 2.12
  build.sbt
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/NuAkkaHttpServerInterpreterForTapirPurposes.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NuDesignerApiAvailableToExposeYamlSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  interpreter/src/main/scala/pl/touk/nussknacker/engine/language/tabularDataDefinition/TabularDataDefinitionParser.scala
Labels: docs

#5662 [NU-1124] node rename error
  designer/client/src/actions/nk/editNode.ts
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/components/graph/node-modal/DescriptionField.tsx
  designer/client/src/components/graph/node-modal/IdField.tsx
  designer/client/src/components/graph/node-modal/MapVariable.tsx
  designer/client/src/components/graph/node-modal/NodeCommonDetailsDefinition.tsx
  designer/client/src/components/graph/node-modal/NodeField.tsx
  designer/client/src/components/graph/node-modal/Variable.tsx
  designer/client/src/components/graph/node-modal/editors/Validators.ts
  designer/client/src/components/graph/node-modal/editors/map/Map.tsx
  designer/client/src/components/graph/node-modal/node/NodeDetails.tsx
  designer/client/src/types/validation.ts
Labels: ui, client

#5763 [NU-1544] change of scenario name to the same value force user to save scenario
  designer/client/src/actions/nk/calculateProcessAfterChange.ts
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/components/graph/NodeUtils.ts
  designer/client/src/components/graph/node-modal/DescriptionField.tsx
  designer/client/src/components/graph/node-modal/IdField.tsx
  designer/client/src/components/graph/node-modal/NodeField.tsx
  designer/client/src/components/graph/node-modal/ScenarioProperty.tsx
  designer/client/src/types/node.ts
Labels: ui, client

#5769 [NU-1551] display processing mode batch
  designer/client/src/components/AddProcessDialog.tsx
  designer/client/src/components/AddProcessForm.tsx
  designer/client/src/components/useProcessFormDataOptions.test.ts
  designer/client/src/components/useProcessFormDataOptions.ts
Labels: ui, client

#5754 [NU-1455] Fix for broken encoding mechanism in tests from file, revert 0d9b600
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/cache/CachingProcessStateDeploymentManager.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/testing/DeploymentManagerStub.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioTestExecutorService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/InvalidDeploymentManagerStub.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ResultsWithCounts.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementApiHttpServiceBusinessSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/PeriodicSourceFactorySpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformersTestModeSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatesSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/FullOuterJoinTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/JavaCollectionsSerializationTest.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/SingleSideJoinTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMain.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkVerificationMain.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactoryTest.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/TestFromFileSpec.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/DeploymentManagerStub.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingProcessTestRunnerSpec.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkProcessTestRunner.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/TestWithTestDataSpec.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/ConfigCreatorWithCollectingListener.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  engine/lite/deploymentManager/src/main/scala/pl/touk/nussknacker/lite/manager/LiteDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/test/RequestResponseTestMainSpec.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/TestRunner.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/InterpreterTestRunnerTest.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/sample.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/testmode/TestProcess.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/ResultsCollectingListener.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestInterpreterRunner.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestServiceInvocationCollector.scala
  utils/components-testkit/src/main/scala/pl/touk/nussknacker/engine/util/test/TestScenarioRunner.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkProcessCompilerDataFactoryWithTestComponents.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteTestScenarioRunner.scala
Labels: docs

#5774 disable table editor test (#5687)
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #3.png
  designer/client/cypress/e2e/tableEditor.cy.ts
Labels: ui, client

#5786 [NU-1455] Fix for broken encoding mechanism in tests from file, revert 0d9b600
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ScenarioCommand.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioTestExecutorService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ResultsWithCounts.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementApiHttpServiceBusinessSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/PeriodicSourceFactorySpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformersTestModeSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatesSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/FullOuterJoinTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/JavaCollectionsSerializationTest.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/SingleSideJoinTransformerSpec.scala
  engine/flink/components/base/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMain.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkVerificationMain.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactoryTest.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/TestFromFileSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingProcessTestRunnerSpec.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkProcessTestRunner.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/TestWithTestDataSpec.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/ConfigCreatorWithCollectingListener.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  engine/lite/deploymentManager/src/main/scala/pl/touk/nussknacker/lite/manager/LiteDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/test/RequestResponseTestMainSpec.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/TestRunner.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/InterpreterTestRunnerTest.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/sample.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/testmode/TestProcess.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/ResultsCollectingListener.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestInterpreterRunner.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/testmode/TestServiceInvocationCollector.scala
  utils/components-testkit/src/main/scala/pl/touk/nussknacker/engine/util/test/TestScenarioRunner.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkProcessCompilerDataFactoryWithTestComponents.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteTestScenarioRunner.scala
Labels: docs

#5790 provide info about processing mode and new toolbars to the changelog
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#5791 Release 1.14 fixes
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Table editor should display rich table editor #3.png
  designer/client/cypress/e2e/tableEditor.cy.ts
  designer/client/src/components/AddProcessDialog.tsx
  designer/client/src/components/AddProcessForm.tsx
  designer/client/src/components/useProcessFormDataOptions.test.ts
  designer/client/src/components/useProcessFormDataOptions.ts
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: ui, docs, client

#5782 changes done
  docs/scenarios_authoring/Spel.md
Labels: docs

#5647 Align deploymentservice actions
  designer/listener-api/src/main/scala/pl/touk/nussknacker/ui/listener/ProcessChangeEvent.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceImpl.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/exception/ProcessIllegalAction.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  docs/Changelog.md
Labels: docs

#5793 Add show and hide option for variables in test case
  designer/client/src/components/graph/node-modal/NodeDetailsContent/NodeTableStyled.tsx
  designer/client/src/components/graph/node-modal/tests/TestResults.tsx
  designer/client/src/components/graph/node-modal/tests/TestResultsVariables.tsx
  designer/client/src/components/graph/node-modal/tests/TestValue.tsx
Labels: ui, client

#5651 Allow configuring DictParameterEditor in fragment definition, fix non-string dict values handling in DictParameterEditor
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/parameter/ParameterValueInput.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/AdditionalUIConfigProvider.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterEditor.scala
  designer/client/src/http/HttpService.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DefinitionResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DictApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DictResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TapirCodecs.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/DictApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/NodesApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DictApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  engine/flink/components/dev-table/src/main/scala/pl/touk/nussknacker/engine/flink/table/FlinkTableComponentProvider.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/dict/BooleanDictionary.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/dict/LongDictionary.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/service/ServiceWithDictParameterEditor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/ValueEditorValidator.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/TypeRelatedParameterValueDeterminer.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/editor/EditorExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentParametersDefinitionExtractor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/dict/ProcessDictSubstitutor.scala
  interpreter/src/main/scala/pl/touk/nussknacker/engine/language/dictWithLabel/DictKeyWithLabelExpressionParser.scala
  interpreter/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/graph/FragmentParameterSerializationSpec.scala
Labels: ui, client

#5796 Removed DEFAULT_SCENARIO_TYPE from oneliner in readme
  README.md
Labels: docs

#5724 Improvements: Allow Designer to run locally with remote debugging & normalize NUSSKNACKER_SCALA_VERSION env param name
  .github/workflows/pr.yml
  .run/NussknackerRemoteDebug.run.xml
  CONTRIBUTING.md
  ciRunSbt.sh
  designer/runServer.sh
  docs/MigrationGuide.md
  nussknacker-dist/src/universal/bin/run.sh
Labels: docs

#5792 SpEL and scenario authoring tips & tricks
  docs/scenarios_authoring/DesignerTipsAndTricks.md
  docs/scenarios_authoring/img/enumComparisonToStringProblem.png
  docs/scenarios_authoring/img/enumComparisonToStringSolution.png
  docs/scenarios_authoring/img/enumComparisonWithVariable.png
  docs/scenarios_authoring/img/enumToAnyConversion.png
  docs/scenarios_authoring/img/passingContextBeyondUnion.png
Labels: docs
