Repository TouK/nussknacker, pull requests merged in 2024-11, with the labels that each got.

#7120 update-changelog-frontend-changes
  docs/Changelog.md
Labels: docs

#7127 1.18 release highlights
  docs/Changelog.md
Labels: docs

#7133 Nu 1865 activities changes
  designer/client/cypress/e2e/activities.cy.ts
  designer/client/src/components/modals/ModifyActivityCommentDialog.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItem.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItemComment.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItemCommentModify.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItemHeader.tsx
  designer/client/src/components/toolbars/activities/helpers/extendActivitiesWithUIData.ts
  designer/client/src/components/toolbars/activities/types.ts
  designer/client/src/components/toolbars/activities/useActivitiesSearch.test.ts
  designer/client/src/windowManager/ContentGetter.tsx
  designer/client/src/windowManager/WindowKind.tsx
Labels: ui, client

#7139 1.18 ports 2
  designer/client/cypress/e2e/activities.cy.ts
  designer/client/src/components/modals/ModifyActivityCommentDialog.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItem.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItemComment.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItemCommentModify.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItemHeader.tsx
  designer/client/src/components/toolbars/activities/helpers/extendActivitiesWithUIData.ts
  designer/client/src/components/toolbars/activities/types.ts
  designer/client/src/components/toolbars/activities/useActivitiesSearch.test.ts
  designer/client/src/windowManager/ContentGetter.tsx
  designer/client/src/windowManager/WindowKind.tsx
  docs/Changelog.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinformation/FlinkTypeInfoRegistrar.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinformation/TypeInformationDetection.scala
  engine/flink/components-api/src/test/scala/pl/touk/nussknacker/engine/flink/api/typeinformation/FlinkTypeInfoRegistrarTest.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/ExecutionConfigPreparer.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetectionSpec.scala
Labels: ui, docs, client

#7141 Fix adhoc validation request with sanitizeScenarioGraph
  designer/client/src/actions/nk/adhocTesting.ts
  designer/client/src/components/modals/AdhocTesting/useAdhocTestingParametersValidation.tsx
  designer/client/src/http/HttpService.ts
Labels: ui, client

#7145 [NU-7142] Lift TypingResult information for dictionaries
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/language/dictWithLabel/DictKeyWithLabelExpressionParser.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/language/dictWithLabel/DictKeyWithLabelExpressionParserTest.scala
Labels: docs

#7152 1.18 ports3
  designer/client/src/actions/nk/adhocTesting.ts
  designer/client/src/components/modals/AdhocTesting/useAdhocTestingParametersValidation.tsx
  designer/client/src/http/HttpService.ts
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ExpressionSuggesterSpec.scala
  docs/Changelog.md
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/NuReflectiveMethodExecutor.java
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ArrayExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/CastOrConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/Conversion.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ExtensionMethods.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToBigDecimalConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToBooleanConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToDoubleConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToListConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToLongConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToMapConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/OptimizedEvaluationContext.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/propertyAccessors.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/extension/ExtensionMethodsSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: ui, docs, client

#7147 [NU-1846] Fix redundant "ParameterName(...)" wrapper string in export…
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/PdfExporter.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/PdfExporterSpec.scala
  docs/Changelog.md
Labels: docs

#7161 1.18 ports4
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/Comment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ScenarioActivityApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/initialization/Initialization.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ScenarioActivityAuditLog.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigrator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newactivity/ActivityService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/activities/DbScenarioActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/activities/ScenarioActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/PdfExporter.scala
  designer/server/src/test/scala/db/migration/V1_057__MigrateActionsAndCommentsToScenarioActivities.scala
  designer/server/src/test/scala/db/migration/V1_058__UpdateAndAddMissingScenarioActivitiesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ScenarioActivityApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigratorSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/PdfExporterSpec.scala
  docs/Changelog.md
  docs/scenarios_authoring/DesignerTipsAndTricks.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManagerTest.scala
  engine/flink/management/periodic/src/test/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessServiceIntegrationTest.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ScenarioActivity.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToMapConversionExt.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#7116 NU-1848: Improve missing Flink Kafka Source / Sink TypeInformation
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinformation/TypeInformationDetection.scala
  engine/flink/components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkKafkaComponentProvider.scala
  engine/flink/schemed-kafka-components-utils/src/main/java/pl/touk/nussknacker/engine/schemedkafka/flink/typeinfo/ConsumerRecordTypeSerializerSnapshot.java
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/FlinkUniversalSchemaBasedSerdeProvider.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/flink/typeinfo/ConsumerRecordTypeInfo.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/FlinkKafkaUniversalSink.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/FlinkKafkaSchemaRegistryBasedKeyValueDeserializationSchemaFactory.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/flink/typeinfo/ConsumerRecordSerializerSpec.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/ConsumerRecordDeserializationSchemaFactory.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/consumerrecord/SerializableConsumerRecord.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/UniversalSchemaBasedSerdeProvider.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/serialization/KafkaSchemaBasedKeyValueDeserializationSchemaFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/UniversalKafkaSinkFactory.scala
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/RandomImplicits.scala
Labels: docs

#7156 Allow to convert Map toList in the same way as we convert List toMap
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display colorfull and sorted completions #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display colorfull and sorted completions #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #7.png
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/Conversion.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToListConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToMapConversionExt.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: ui, client

#7166 Assign user friendly editor fix
  designer/client/cypress/e2e/process.cy.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/TestingApiHttpServiceSpec.scala
  docs/Changelog.md
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/GraphBuilder.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/ScenarioBuilder.scala
Labels: ui, docs, client

#7171 [Nu-1882] change parameter parameter list item labels
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/AnyValueWithSuggestionVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/StringBooleanVariants/FixedListVariant.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/FixedValuesSetting.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/UserDefinedListInput.tsx
Labels: ui, client

#7124 [NU-1836] Add casting and conversions docs
  docs/scenarios_authoring/Spel.md
Labels: docs

#7162 [NU-1800] Add TemplateEvaluationResult to evaluate SpEL expression parts in LazyParameter
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/TemplateEvaluationResult.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherValidationTest.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/SpelTemplateLazyParameterTest.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/LoggingService.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/SqlSource.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/FlinkUniversalSchemaBasedSerdeProvider.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ClassExtractionSettings.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/methodbased/MethodDefinition.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionValidator.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/testcomponents/SpelTemplatePartsService.scala
Labels: docs

#7178 [NU-1891] remove autocompletion from markdown editors
  designer/client/src/components/graph/node-modal/editors/expression/AceWrapper.tsx
  designer/client/src/components/graph/node-modal/editors/expression/CustomCompleterAceEditor.tsx
  designer/client/src/components/graph/node-modal/editors/field/MarkdownFormControl.tsx
  docs/Changelog.md
Labels: ui, docs, client

#7159 Fix scenario tests with fragment input validation
  docs/Changelog.md
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/FlinkTestMainSpec.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
Labels: docs

#7182 [Nu-1889] provide an unique validation message to the scenario labels
  designer/client/cypress/e2e/labels.cy.ts
  designer/client/src/components/toolbars/scenarioDetails/ScenarioLabels.tsx
  docs/Changelog.md
Labels: ui, docs, client

#7187 [NU-1877] Fix "Failed to get node validation" when using literal lists mixing different types of elements
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/json/FromJsonDecoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/ValueDecoder.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/json/FromJsonDecoderTest.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultDecoderSpec.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/ValueDecoderSpec.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/HandleResponse.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/lite/components/request-response/src/main/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/jsonschema/sources/JsonSchemaRequestResponseSource.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/conversion.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/ConversionUtilsSpec.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonDeserializer.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/decode/FromJsonSchemaBasedDecoder.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractorTest.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/serde/CirceJsonDeserializerSpec.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/swagger/decode/FromJsonSchemaBasedDecoderTest.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/json/JsonUtils.scala
Labels: docs

#7192 [NU-1846] Fix "Failed to get node validation" when opening node detai…
  designer/client/src/components/graph/node-modal/ParametersUtils.ts
  docs/Changelog.md
Labels: ui, docs, client

#7183 [Nu-1890] hide categories from a scenarios list and more scenario details when only one category is available
  designer/client/src/components/AddProcessDialog.tsx
  designer/client/src/components/AddProcessForm.tsx
  designer/client/src/components/modals/MoreScenarioDetailsDialog.tsx
  designer/client/src/components/toolbars/scenarioDetails/CategoryDetails.tsx
  designer/client/src/components/useGetAllCombinations.ts
  designer/submodules/packages/components/src/scenarios/filters/filtersPart.tsx
  designer/submodules/packages/components/src/scenarios/list/item.tsx
  designer/submodules/packages/components/src/scenarios/list/tablePart.tsx
  designer/submodules/packages/components/src/scenarios/useScenariosQuery.tsx
  docs/Changelog.md
Labels: ui, docs, client, submodules

#7190 [NU-1893] Fix "Failed to get node validation" when opening fragment node details for referencing non-existing fragment
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/fragment/FragmentRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodesApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/fragment/FragmentRepositorySpec.scala
  docs/Changelog.md
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
Labels: docs

#7202 Revert "[NU-7164] Add basic parser for fragment input definitions (#7167)
  designer/client/src/components/graph/node-modal/editors/expression/Table/TableEditor.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/FragmentInputDefinition.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/AlignedComponentsDefinitionProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/EdgeTypesPreparerTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentGroupsPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentsUsageHelperTest.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactory.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidator.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentComponentDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentParameterTypingParser.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentParametersDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidatorTest.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkProcessCompilerDataFactoryWithTestComponents.scala
Labels: ui, client

#7204 activities test snapshots fix
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Activities should display activities #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Activities should display activities #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Activities should display activities #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Activities should display activities #3.png
  designer/client/cypress/e2e/activities.cy.ts
Labels: ui, client

#7216 [NU-1836] Adjust SpeL conversion docs
  docs/scenarios_authoring/Spel.md
Labels: docs

#7215 [NU-1888] change typing text to spinner and provide delayed adding on enter until validation finish
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/src/components/graph/node-modal/editors/EditableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Editor.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/UserDefinedListInput.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioLabels.tsx
  designer/client/src/components/toolbars/scenarioDetails/useDelayedEnterAction.tsx
  docs/Changelog.md
Labels: ui, docs, client

#7221 1.18 ports7
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #1.png
  designer/client/src/components/graph/node-modal/editors/EditableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Editor.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/UserDefinedListInput.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioLabels.tsx
  designer/client/src/components/toolbars/scenarioDetails/useDelayedEnterAction.tsx
  designer/submodules/packages/components/src/common/labelChip.tsx
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/scenarios_authoring/Spel.md
Labels: ui, docs, client, submodules

#7228 [NU-7164] Add basic parser for fragment input definitions V2
  designer/client/src/components/graph/node-modal/editors/expression/Table/TableEditor.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/FragmentInputDefinition.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/FixedValuesSetting.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/AlignedComponentsDefinitionProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/EdgeTypesPreparerTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentGroupsPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentsUsageHelperTest.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactory.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidator.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentComponentDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentParameterTypingParser.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentParametersDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidatorTest.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkProcessCompilerDataFactoryWithTestComponents.scala
Labels: ui, client

#7207 fixed search focus and keyboard/clipboard events
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/node.ts
  designer/client/src/common/ClipboardUtils.ts
  designer/client/src/components/graph/SelectionContextProvider.tsx
  designer/client/src/components/themed/InputWithIcon.tsx
  designer/client/src/containers/BindKeyboardShortcuts.tsx
  designer/client/src/reducers/graph/__snapshots__/utils.test.ts.snap
  designer/client/src/reducers/graph/reducer.ts
  designer/client/src/reducers/graph/selectionState.ts
  designer/client/src/reducers/graph/utils.test.ts
  designer/client/src/reducers/graph/utils.ts
  designer/client/src/reducers/settings.ts
  designer/client/test/__snapshots__/reducer-test.js.snap
  designer/client/test/reducer-test.js
  docs/Changelog.md
Labels: ui, docs, client

#7225 change fe dev progressBar chars
  designer/client/progressBar.js
Labels: ui, client

#7233 1.18 ports8
  designer/client/progressBar.js
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/node.ts
  designer/client/src/common/ClipboardUtils.ts
  designer/client/src/components/graph/SelectionContextProvider.tsx
  designer/client/src/components/themed/InputWithIcon.tsx
  designer/client/src/containers/BindKeyboardShortcuts.tsx
  designer/client/src/reducers/graph/__snapshots__/utils.test.ts.snap
  designer/client/src/reducers/graph/reducer.ts
  designer/client/src/reducers/graph/selectionState.ts
  designer/client/src/reducers/graph/utils.test.ts
  designer/client/src/reducers/graph/utils.ts
  designer/client/src/reducers/settings.ts
  designer/client/test/__snapshots__/reducer-test.js.snap
  designer/client/test/reducer-test.js
  docs/Changelog.md
Labels: ui, docs, client

#7237 Fix: ToJsonEncoder keeps order fields during encoding map
  docs/Changelog.md
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/json/ToJsonEncoder.scala
  utils/utils/src/test/scala/pl/touk/nussknacker/engine/util/json/ToJsonEncoderSpec.scala
Labels: docs

#7213 Scale fields in components
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/NodeInput.tsx
  designer/client/test/Process/__snapshots__/ProcessStateIcon-test.tsx.snap
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
  designer/submodules/packages/components/src/common/defaultTheme.tsx
  designer/submodules/packages/components/src/components/componentTable.tsx
Labels: ui, client, submodules

#7253 Revert "Scale fields in components (#7213)"
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/NodeInput.tsx
  designer/client/test/Process/__snapshots__/ProcessStateIcon-test.tsx.snap
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
  designer/submodules/packages/components/src/common/defaultTheme.tsx
  designer/submodules/packages/components/src/components/componentTable.tsx
Labels: ui, client, submodules

#7257 [NU-1897] nussknacker-components-api: remove dependency to async-http-client-ba…
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#7259 [NU-1897] flink-executor and lite-runtime modules: Added compile-time dependency to http-utils
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#7258 Scale name in components fixed
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by name with multiple words #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by processing mode #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by usage #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by usage #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should apply filters from query #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display component #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display usages #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usages #0.png
  designer/client/cypress/e2e/components.cy.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/NodeInput.tsx
  designer/client/test/Process/__snapshots__/ProcessStateIcon-test.tsx.snap
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
  designer/submodules/packages/components/src/common/defaultTheme.tsx
  designer/submodules/packages/components/src/components/componentTable.tsx
  designer/submodules/packages/components/src/components/usages/usagesTable.tsx
Labels: ui, client, submodules

#7263 Remote auth fix
  designer/client/src/components/RemoteComponent.tsx
  designer/client/src/containers/Auth/strategies/RemoteAuthStrategy/RemoteAuthStrategy.tsx
  designer/client/src/windowManager/useWindows.ts
Labels: ui, docs, client, submodules

#7232 [NU-1823] Fix for schemaless topics in kafka source/sink
  docs/Changelog.md
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaUniversalComponentTransformer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/TopicSelectionStrategy.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/SchemaRegistryClient.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/formatter/AbstractSchemaBasedRecordFormatter.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/UniversalKafkaDeserializer.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/AzureSchemaBasedSerdeProviderIntegrationTest.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/azure/AzureTestsFromFileIntegrationTest.scala
Labels: docs

#7242 [Nu-7231] Add possibility for generic types in fragment input definition
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/TypeSelect.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/Item.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/types.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/utils.ts
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentParameterTypingParser.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
Labels: ui, client

#7240 Fix race conditions failed to instantiate CompiledExpression exception
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs
