Repository TouK/nussknacker, pull requests merged in 2024-08, with the labels that each got.

#6527 Fix TypingResult.valueOpt for the purpose of SpEL validator (backport of #6436)
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/SimpleObjectEncoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/ValueDecoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/ValueEncoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypedFromInstanceTest.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultDecoderSpec.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/ValueDecoderSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalAvroSchemaFunctionalTest.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/collection.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/CollectionUtilsSpec.scala
  utils/math-utils/src/main/scala/pl/touk/nussknacker/engine/util/MathUtils.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidator.scala
Labels: docs

#6503 [NU-1679] Using Row instead of Map in source and aggregate for record types
  build.sbt
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ValidationContext.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/process/Source.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/CanBeSubclassDeterminer.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/compat/ExplicitUidInOperatorsSupport.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkSource.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/extractor/TableExtractorTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/join/TableJoinTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableFileSinkTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceDataGenerationTest.scala
  engine/flink/components/table/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.util.json.ToJsonBasedOnSchemaEncoder
  engine/flink/components/table/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.util.json.ToJsonEncoder
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregation.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/extractor/TypeExtractor.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSink.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TypingResultOutputValidator.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/FlinkMiniClusterTableOperations.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSource.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/RowConversions.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/RowToJsonEncoder.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/flink/scala-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinfo/caseclass/CaseClassSerializer.scala
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/LiteKafkaUniversalJsonFunctionalTest.scala
  engine/lite/request-response/components-utils/src/main/scala/pl/touk/nussknacker/engine/requestresponse/utils/QueryStringTestDataParser.scala
  engine/lite/request-response/components-utils/src/main/scala/pl/touk/nussknacker/engine/requestresponse/utils/TypedMapRequestResponseSourceFactory.scala
  engine/lite/request-response/components-utils/src/test/scala/pl/touk/nussknacker/engine/requestresponse/utils/QueryStringTestRecordParserSpec.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseSampleComponents.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/customtransformers/Sorter.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/propertyAccessors.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/testmode/TestInterpreterRunner.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
Labels: docs

#6506 [NU-1556] Real data test data generation for Table Source
  docs/Changelog.md
  e2e-tests/src/test/resources/spec-setup/batch-config/batch-customizations.conf
  e2e-tests/src/test/resources/spec-setup/batch-config/tables-definition.sql
  e2e-tests/src/test/resources/spec-setup/batch-config/transactions/transactions.ndjson
  e2e-tests/src/test/resources/spec-setup/batch-nu-designer.override.yml
  e2e-tests/src/test/scala/pl/touk/nussknacker/BatchDataGenerationSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/TestTableComponents.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceDataGenerationTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/FlinkTableComponentProvider.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/FlinkMiniClusterTableOperations.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSource.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceFactory.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/RowToJsonEncoder.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: docs

#6389 counts refresh
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should be available via button and modal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should be available via button and modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should be available via button and modal #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should be available via button and modal #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should display question mark when renaming a node and updating the count #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should display '' when renaming a node and updating the count #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should display question mark when renaming a node and updating the count #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should have counts button and modal #4.png
  designer/client/cypress/e2e/counts.cy.ts
  designer/client/cypress/e2e/process.cy.ts
  designer/client/cypress/fixtures/counts.json
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/displayProcessCounts.ts
  designer/client/src/actions/nk/editNode.ts
  designer/client/src/actions/reduxTypes.ts
  designer/client/src/common/VisualizationUrl.ts
  designer/client/src/components/modals/CalculateCounts/CalculateCountsDialog.tsx
  designer/client/src/components/modals/CalculateCounts/CalculateCountsForm.tsx
  designer/client/src/components/modals/CalculateCounts/CountsRanges.tsx
  designer/client/src/components/modals/CalculateCounts/CountsRangesButtons.tsx
  designer/client/src/components/modals/CalculateCounts/RefreshSelectButton.tsx
  designer/client/src/components/toolbars/test/buttons/CountsButton.tsx
  designer/client/src/containers/Visualization.tsx
  designer/client/src/reducers/graph/reducer.ts
  designer/client/src/reducers/graph/types.ts
  designer/client/src/reducers/selectors/graph.ts
  designer/client/test/CountsRangesButtons-test.tsx
  designer/client/test/VisualizationUrl-test.js
Labels: ui, client

#6518 [NU-1750] Add non-raw editor for Table Source
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/BaseDeploymentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesBatchBusinessSpec.scala
  docs/Changelog.md
  engine/flink/components/base-tests/src/test/resources/tables-definition-table-sink-parameters-test.sql
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/TableTestCases.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/extractor/TableExtractorTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableFileSinkTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSinkParametersTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceDataGenerationTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSinkFactory.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/devmodel/TableKafkaPingPongTest.scala
Labels: docs

#6530 next attempt for flaky test fixes
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #2.png
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/src/components/toolbars/process/buttons/CompareButton.tsx
Labels: ui, client

#6545 TableDefinition refactoring: holding full schema information, derived…
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/utils/ApiVersion.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  e2e-tests/src/test/resources/spec-setup/batch-config/tables-definition.sql
  e2e-tests/src/test/scala/pl/touk/nussknacker/BatchDataGenerationSpec.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkSink.scala
  engine/flink/components/base-tests/src/test/resources/tables-definition-table-sink-parameters-test.sql
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/TableTestCases.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/TestTableComponents.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/extractor/TablesExtractorTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableFileSinkTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSinkParametersTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceDataGenerationTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/FlinkTableComponentProvider.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/TableDefinition.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/extractor/TablesExtractor.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/extractor/TypeExtractor.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSink.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSinkFactory.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/FlinkMiniClusterTableOperations.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSource.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceFactory.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/DataTypesConversions.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/SchemaExtensions.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/sink/flink/FlinkKafkaSink.scala
  examples/installation/docker-compose.yml
  utils/test-utils/src/main/resources/logback-test.xml
Labels: docs

#6554 Docs scenario authoring intro polishing
  docs/scenarios_authoring/Intro.md
Labels: docs

#6559 Extension: Move previousValue and delay components from unbounded to base Flink components
  docs/Changelog.md
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/FlinkBaseUnboundedComponentProvider.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/DelayTransformer.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkBaseComponentProvider.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PreviousValueTransformer.scala
Labels: docs

#6557 Fix processing fragment output in interpreter
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
Labels: docs

#6566 [NU-1766] TypedObjectTypingResult.fields are backed by ListMap for correct RowTypeInfo fields order purpose
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeEncoders.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/supertype/CommonSupertypeFinder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultErrorMessagesSpec.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultSpec.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/TableDefinition.scala
  docs/MigrationGuide.md
  engine/common/components/src/main/scala/pl/touk/nussknacker/engine/common/components/DecisionTable.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatesSpec.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/aggregates.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSource.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/DataTypesConversions.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/RowConversions.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetectionSpec.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/global/DocumentationFunctions.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/DynamicParametersSource.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/source/flink/KafkaAvroPayloadSourceFactorySpec.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/lite/components/request-response-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/requestresponse/RequestResponseTestWithParametersTest.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/BuiltInNodeCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/variables/MetaVariables.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/typing/TypingUtils.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/collection.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/typed/AvroSchemaTypeDefinitionExtractor.scala
Labels: docs

#6567 [NU-1570] Move Flink's Runtime Execution Mode to model level config
  designer/server/src/test/resources/config/business-cases/batch-designer.conf
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/configuration/model/Flink.md
  e2e-tests/src/test/resources/spec-setup/batch-config/batch-customizations.conf
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/CollectionSource.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/TestTableComponents.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/join/TableJoinTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableFileSinkTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSinkParametersTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceDataGenerationTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/FlinkTableComponentProvider.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSource.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/FlinkJobConfig.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/StreamExecutionEnvPreparer.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactoryTest.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/devmodel/TableKafkaPingPongTest.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
Labels: docs

#6572 Improvement: Introduction to FlinkPeriodicDeploymentManagerProvider
  build.sbt
  docs/Changelog.md
  engine/flink/management/dev-periodic-dm/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.DeploymentManagerProvider
  engine/flink/management/dev-periodic-dm/src/main/scala/pl/touk/nussknacker/engine/management/dev/periodic/DevPeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.DeploymentManagerProvider
  engine/flink/management/periodic/src/main/resources/web/static/assets/custom-actions/batch-instant.svg
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/FlinkPeriodicDeploymentManagerProvider.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/WithRunNowPeriodicCustomActionsProviderFactory.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: docs

#6581 1.16 docs adjustments to docusaurus 3
  docs/configuration/Common.mdx
  docs/configuration/DesignerConfiguration.md
  docs/configuration/ScenarioDeploymentConfiguration.md
  docs/configuration/index.mdx
  docs/configuration/model/ModelConfiguration.md
  docs/configuration/model/index.mdx
  docs/developers_guide/index.mdx
  docs/installation/index.mdx
  docs/integration/OpenAPI.md
  docs/integration/Sql.md
  docs/integration/index.mdx
  docs/operations_guide/index.mdx
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/index.mdx
Labels: docs

#6570 [NU-1766] TypingResult: generic params canBeSubclassOf fix: collections covariance check
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/CanBeSubclassDeterminer.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#6582 Improvement: Allow configuring: issuer and role claims via ENVS in OAuth2
  designer/server/src/main/resources/defaultDesignerConfig.conf
  docs/configuration/Common.md
  docs/configuration/DesignerConfiguration.md
Labels: docs

#6583 More changes related to docs and docusaurus 3 and 1.16 release
  docs/configuration/model/ModelConfiguration.mdx
  docs/installation/Binaries.md
  docs/installation/Docker.md
Labels: docs

#6585 docusaurus 3 release 1.16 fix-errors
  docs/configuration/Common.mdx
  docs/configuration/DesignerConfiguration.md
Labels: docs

#6438 Select fragment icon
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/TypeSpecificData.scala
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/FixedExpressionValueWithIcon.scala
  common-api/src/test/scala/pl/touk/nussknacker/engine/api/TypeSpecificDataTestData.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterEditor.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should open properties #0.png
  designer/client/src/components/graph/node-modal/editors/expression/Editor.ts
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionField.tsx
  designer/client/src/components/graph/node-modal/editors/expression/FixedValuesEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/SwitchButton.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/types.ts
  designer/client/src/components/toolbars/creator/ComponentIcon.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/NodesApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/scenarioproperty/FragmentPropertiesConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/NewProcessPreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/DeploymentData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeData.scala
  designer/server/src/test/scala/db/migration/V1_031__FragmentSpecificDataSpec.scala
  designer/server/src/test/scala/db/migration/V1_041__RemoveTypeSpecificDataSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeDataReaderSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Properties #0.png
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFragmentSourceDefinitionPreparer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/defaultconfig/DefaultComponentConfigDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/EditorBasedLanguageDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentComponentDefinition.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentComponentDefinitionExtractor.scala
Labels: ui, docs, client

#6580 docs adjustments to docusaurus 3
  docs/configuration/DesignerConfiguration.md
  docs/configuration/ScenarioDeploymentConfiguration.md
  docs/configuration/index.mdx
  docs/configuration/model/ModelConfiguration.md
  docs/configuration/model/index.mdx
  docs/developers_guide/index.mdx
  docs/installation/index.mdx
  docs/integration/OpenAPI.md
  docs/integration/index.mdx
  docs/operations_guide/index.mdx
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/index.mdx
Labels: docs

#6598 docusaurus 3 release 1.15
  docs/developers_guide/index.mdx
  docs/installation/Installation.md
  docs/installation_configuration_guide/Common.mdx
  docs/installation_configuration_guide/DesignerConfiguration.md
  docs/installation_configuration_guide/ScenarioDeploymentConfiguration.md
  docs/installation_configuration_guide/index.mdx
  docs/installation_configuration_guide/model/ModelConfiguration.md
  docs/installation_configuration_guide/model/index.mdx
  docs/integration/OpenAPI.md
  docs/integration/Sql.md
  docs/integration/index.mdx
  docs/operations_guide/index.mdx
  docs/scenarios_authoring/index.mdx
Labels: docs

#6599 docusaurus 3 fixes
  docs/installation/index.mdx
  docs/integration/Sql.md
Labels: docs

#6615 Add encode/decode support for java.time.* values
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/ValueDecoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/ValueEncoder.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultDecoderSpec.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultGen.scala
  docs/Changelog.md
Labels: docs

#6610 [Nu-6588] Add flink node context as parameter to BasicFlinkSink
  docs/MigrationGuide.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkSink.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/sink/EmptySink.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/sink/SingleValueSinkFactory.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/FlinkSinkSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/helpers/ProcessTestHelpers.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/sink/flink/FlinkKafkaSink.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/TestResultSinkFactory.scala
Labels: docs

#6626 Preview/1.15 esp add flink node context
  docs/MigrationGuide.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkSink.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/sink/EmptySink.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/sink/SingleValueSinkFactory.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/FlinkSinkSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/helpers/ProcessTestHelpers.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/sink/flink/FlinkKafkaSink.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/TestResultSinkFactory.scala
Labels: docs

#6628 Preview/1.16 esp add flink context
  docs/MigrationGuide.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkSink.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/sink/EmptySink.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/sink/SingleValueSinkFactory.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/FlinkSinkSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/helpers/ProcessTestHelpers.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/sink/flink/FlinkKafkaSink.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/TestResultSinkFactory.scala
Labels: ui, docs, client, submodules

#6546 Table types alignment
  build.sbt
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/CanBeSubclassDeterminer.scala
  docs/Changelog.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/TypedMultiset.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkCustomNodeContext.scala
  engine/flink/components/base-tests/src/test/resources/tables/primitives/primitives.json
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/SpelValues.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/extractor/TablesExtractorTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableFileSinkTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSinkParametersTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSink.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSinkFactory.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableTypeOutputValidator.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TypingResultOutputValidator.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSource.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceFactory.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/BestEffortTableTypeSchemaEncoder.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/DataTypesExtensions.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/RowConversions.scala
  engine/flink/components/table/src/test/scala/pl/touk/nussknacker/engine/flink/table/utils/DataTypesExtensionsSpec.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetectionSpec.scala
Labels: docs

#6619 Table types alignment in other places than sink value
  docs/Changelog.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/join/TableJoinTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregation.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/join/TableJoinComponent.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/BestEffortTableTypeEncoder.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/RowConversions.scala
Labels: docs

#6635 TypeInformationDetection - simplification
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/typedinfo/TypingResultBasedSerializationBenchmark.scala
  docs/MigrationGuide.md
  docs/configuration/model/Flink.md
  docs/developers_guide/Basics.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/NkGlobalParameters.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/ForEachTransformerSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/JavaCollectionsSerializationTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypeInformationDetection.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/internal/ValueWithContextTypeHelpers.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypeInformationDetectionSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetectionSpec.scala
  engine/flink/test-utils/src/main/resources/defaultModelConfig.conf
Labels: docs

#6496 [NU-1723] remove additional input border in components
  designer/client/src/components/FormElements.tsx
  designer/client/src/components/modals/CalculateCounts/Picker.tsx
  designer/client/src/containers/theme/styles.ts
Labels: ui, client

#6623 [NU-1775] Add sortAscBy and reverse functions to collection helper
  docs/Changelog.md
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassDiscoveryBaseTest.scala
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/collection.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/CollectionUtilsSpec.scala
Labels: docs

#6625 `/components` endpoint new `skipFragments` param
  designer/client/src/http/HttpService.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/ComponentApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ComponentApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/component/ComponentService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/DefaultComponentServiceSpec.scala
  designer/submodules/packages/components/src/components/useComponentsQuery.tsx
  docs-internal/api/nu-designer-openapi.yaml
Labels: ui, client, submodules

#6650 Work around Kafka source resetting to earliest offsets on some state restores
  build.sbt
  docs/Changelog.md
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSource.scala
Labels: docs

#6586 [NU-1768] Auto convert SQL enricher returning types
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/ignite/IgniteQueryHelper.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/query/QueryExecutor.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/ColumnDefinition.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/db/schema/TableDefinition.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseEnricherInvoker.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseEnricherInvokerWithCache.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricherTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherHsqlTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherPostgresqlTest.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricherQueryWithEnricher.scala
  components/sql/src/test/scala/pl/touk/nussknacker/sql/utils/WithPostgresqlDB.scala
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#6658 Bump up circeYaml version to 0.15.2
  build.sbt
  docs/Changelog.md
Labels: docs

#6643 TypeInformationDetection-static
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/serialization/typedinfo/TypingResultBasedSerializationBenchmark.scala
  docs/MigrationGuide.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkCustomNodeContext.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkSink.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinformation/TypeInformationDetection.scala
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/typeinformation/TypingResultAwareTypeInformationCustomisation.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/keyed.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/BlockingQueueSource.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/CollectionSource.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/EmitWatermarkAfterEachElementCollectionSource.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/EmptySource.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/HyperLogLogPlusAggregatorSpec.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformer.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/transformers.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/FullOuterJoinTransformer.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/SingleSideJoinTransformer.scala
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/PreviousValueTransformer.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregation.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/join/TableJoinComponent.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSink.scala
  engine/flink/executor/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.flink.api.typeinformation.TypeInformationDetection
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/FlinkProcessRegistrar.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/InterpretationResultTypeInformation.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/SplitFunction.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetection.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/internal/typedobject/TypedJavaMapBasedTypeInformation.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/internal/typedobject/TypedMapBasedTypeInformation.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/internal/typedobject/TypedObjectBasedTypeInformation.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/typeinformation/internal/typedobject/TypedScalaMapBasedTypeInformation.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypeInformationDetectionSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/typeinformation/TypingResultAwareTypeInformationDetectionSpec.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/InputMetaDeserializationSpec.scala
Labels: docs

#6656 Remove environment variables that are not working & add default DB connection name
  designer/server/src/main/resources/defaultDesignerConfig.conf
  docs/Changelog.md
  docs/configuration/Common.md
  docs/configuration/DesignerConfiguration.md
  docs/installation/Binaries.md
  engine/lite/runtime-app/src/universal/conf/application.conf
  nussknacker-dist/src/universal/conf/application.conf
Labels: docs

#6614 [NU-1771] Add automatic array to list conversion in Spel
  docs/Changelog.md
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/internal/ArrayToListConverter.java
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/MethodDefinition.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/DefaultSpelConversionsProvider.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#6685 Determine dictionary parameter editor language when no default value is present
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/EditorPossibleValuesBasedDefaultValueDeterminer.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/EditorPossibleValuesBasedDefaultValueDeterminerTest.scala
Labels: docs

#6552 [NU-1763] Add more table aggregations
  docs/Changelog.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/TestTableComponents.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationParametersTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableFileSinkTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSinkParametersTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregation.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationFactory.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregator.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/DataTypesExtensions.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/simulateddatatype/SimulatedCallContext.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/simulateddatatype/SimulatedDataTypeFactory.scala
Labels: docs
