Repository TouK/nussknacker, pull requests merged in 2025-06, with the labels that each got.

#8169 [NU-2214] provide breadcrumbs
  designer/client/src/components/MenuBar/breadcrumbs.tsx
  designer/client/src/components/MenuBar/index.tsx
  designer/client/src/reducers/graph/reducer.ts
  designer/client/src/reducers/userSettings.ts
Labels: ui, client

#8175 [Nu-8156] Improve logging while migrating scenarios II (#8170)
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterValidator.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Node window should display event-generator source #0.png
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/HttpRemoteEnvironment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironment.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryIntegrationSpec.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaAvroPayloadIntegrationSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
Labels: ui, client

#8165 Live data changes - apply sample limit per node transition and added total count
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/live-data-collector/src/main/scala/pl/touk/nussknacker/engine/livedata/LiveDataCollectingListener.scala
  designer/live-data-collector/src/main/scala/pl/touk/nussknacker/engine/livedata/LiveDataCollectingListenerStorage.scala
  designer/live-data-collector/src/main/scala/pl/touk/nussknacker/engine/livedata/RingBuffer.scala
  designer/live-data-collector/src/main/scala/pl/touk/nussknacker/engine/livedata/RingBufferWithTotalCount.scala
  designer/live-data-collector/src/main/scala/pl/touk/nussknacker/engine/livedata/SlidingWindowCounter.scala
  designer/live-data-collector/src/test/scala/pl/touk/nussknacker/engine/livedata/RingBufferSpec.scala
  designer/live-data-collector/src/test/scala/pl/touk/nussknacker/engine/livedata/RingBufferWithTotalCountSpec.scala
  designer/live-data-collector/src/test/scala/pl/touk/nussknacker/engine/livedata/SlidingWindowCounterSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ScenarioLiveDataApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioLiveData/Dtos.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioLiveData/LiveDataCodecs.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioTesting/Dtos.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioTesting/TestResultsCodecs.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/TapirHttpServiceFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/livedata/ScenarioLiveDataApiHttpServiceSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  e2e-tests/src/test/scala/pl/touk/nussknacker/BatchDataGenerationSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionTransformersTestModeSpec.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/BaseFlinkDeploymentManagerSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/FlinkMiniClusterScenarioTestRunnerSpec.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/test/RequestResponseTestMainSpec.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
Labels: docs

#8123 [NU-2174] Enable to save scenario within deploy action
  designer/client/src/components/modals/DeployProcessDialog.tsx
  designer/client/src/components/modals/DeployWithParameters/DeployWithParametersDialog.tsx
  designer/client/src/components/toolbars/activities/ActivitiesPanelRow.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/DeployButton.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/RedeployButton.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/types.ts
  designer/client/src/http/HttpService.ts
  designer/client/src/reducers/selectors/graph.ts
  designer/client/src/reducers/userSettings.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/DeployRequest.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/DeployResponse.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/DomainServices.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ActionService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ScenarioCommand.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioShapeFetchStrategy.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioWithDetailsEntity.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/TestDeploymentServiceFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/periodic/flink/PeriodicDeploymentManagerTest.scala
  docs/Changelog.md
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/LoggingService.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/deployment/ScenarioGraphSource.scala
Labels: ui, docs, client

#8157 Live data display
  designer/client/src/actions/nk/displayProcessCounts.ts
  designer/client/src/actions/nk/displayTestResults.ts
  designer/client/src/actions/nk/liveData.ts
  designer/client/src/actions/reduxTypes.ts
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/common/TestResultUtils.ts
  designer/client/src/components/Process/types.ts
  designer/client/src/components/graph/EspNode/element.ts
  designer/client/src/components/graph/graphStyledWrapper.ts
  designer/client/src/components/graph/node-modal/io/ContextTitle.tsx
  designer/client/src/components/graph/node-modal/io/ContextTree.tsx
  designer/client/src/components/graph/node-modal/io/InputOutputContext.tsx
  designer/client/src/components/graph/node-modal/io/VariableContextTree.tsx
  designer/client/src/components/graph/node-modal/tests/TestResultsVariables.tsx
  designer/client/src/components/graph/node-modal/tests/TestValue.tsx
  designer/client/src/components/graph/types.ts
  designer/client/src/components/modals/CalculateCounts/CalculateCountsDialog.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/types.ts
  designer/client/src/components/toolbarSettings/buttons/BuiltinButtonTypes.ts
  designer/client/src/components/toolbarSettings/buttons/TOOLBAR_BUTTONS_MAP.ts
  designer/client/src/components/toolbars/DebugComponent.tsx
  designer/client/src/components/toolbars/activities/ActivitiesPanelRow.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItemHeader.tsx
  designer/client/src/components/toolbars/activities/useActivitiesSearch.ts
  designer/client/src/components/toolbars/process/buttons/useArchiveHelper.ts
  designer/client/src/components/toolbars/scenarioDetails/ScenarioNameItem.tsx
  designer/client/src/components/toolbars/test/buttons/ButtonProgress.tsx
  designer/client/src/components/toolbars/test/buttons/LiveDataButton.tsx
  designer/client/src/components/toolbars/test/buttons/ScenarioTestButton.tsx
  designer/client/src/containers/RootRoutes.tsx
  designer/client/src/containers/Visualization.tsx
  designer/client/src/containers/event-tracking/helpers.ts
  designer/client/src/containers/event-tracking/use-register-tracking-events.ts
  designer/client/src/containers/liveData/LiveDataThroughputs.tsx
  designer/client/src/containers/liveData/useLiveDataIfNeeded.tsx
  designer/client/src/containers/liveData/useLiveDataRefreshEnabled.tsx
  designer/client/src/http/HttpService.ts
  designer/client/src/http/resultsWithCountsDto.ts
  designer/client/src/reducers/graph/lodashWrappers.ts
  designer/client/src/reducers/graph/reducer.ts
  designer/client/src/reducers/graph/types.ts
  designer/client/src/reducers/graph/utils.fixtures.ts
  designer/client/src/reducers/selectors/activities.ts
  designer/client/src/reducers/selectors/getHistory.ts
  designer/client/src/reducers/selectors/getLiveData.ts
  designer/client/src/reducers/selectors/getWindowsIdMapping.ts
  designer/client/src/reducers/selectors/graph.ts
  designer/client/src/reducers/selectors/helpers.ts
  designer/client/src/reducers/selectors/toolbars.ts
  designer/client/src/windowManager/useWindows.ts
Labels: ui, client

#8190 [NU-2154] Restore legacy counts for live data
  designer/client/src/containers/liveData/LiveDataThroughputs.tsx
  designer/client/src/http/resultsWithCountsDto.ts
  designer/client/src/reducers/selectors/getLiveData.ts
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ScenarioLiveDataApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ScenarioTestingApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioLiveData/Dtos.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioLiveData/LiveDataCodecs.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioLiveData/ScenarioLiveDataApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioTesting/Dtos.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioTesting/ResultsWithCountsDto.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioTesting/ResultsWithCountsDtoCodecs.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioTesting/ScenarioTestingApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/DomainServices.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ResultsWithCounts.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/TapirHttpServiceFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/livedata/ScenarioLiveDataApiHttpServiceSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  e2e-tests/src/test/scala/pl/touk/nussknacker/BatchDataGenerationSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/FlinkMiniClusterScenarioTestRunnerSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/schemedkafka/SchemedKafkaScenarioTestingSpec.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/StreamingEmbeddedDeploymentManagerTest.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/test/RequestResponseTestMainSpec.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/InterpreterTestRunnerTest.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/sample.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/testmode/TestProcess.scala
Labels: ui, client

#8207 [NU-2244] don't show archived scenarios in breadcrumbs
  designer/client/src/components/MenuBar/breadcrumbs.tsx
  designer/client/src/reducers/scenarios.ts
Labels: ui, client

#8195 [NU-2334] allow Quick Cancel Deploy
  designer/client/src/components/toolbars/scenarioActions/buttons/CancelDeployButton.tsx
  designer/client/src/reducers/userSettings.ts
Labels: ui, client

#8191 NU-2235 fixed scenario name overflow
  designer/client/src/components/toolbars/scenarioDetails/ScenarioDetailsComponents.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioNameItem.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioStatusContent.tsx
Labels: ui, client

#8185 [Nu 2159] show range based validation errors in ace editor
  defaultModel/src/test/scala/pl/touk/nussknacker/defaultmodel/migrations/PreviousValueParameterNamesMigrationTest.scala
  designer/client/src/components/graph/node-modal/editors/expression/AceWrapper.tsx
  designer/client/src/components/graph/node-modal/editors/expression/CustomCompleterAceEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Editor.ts
  designer/client/src/components/graph/node-modal/editors/expression/JsonEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/StyledAceEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/errorHighlights.tsx
  designer/client/src/components/graph/node-modal/editors/expression/useAceEditorRangeMessages.ts
  designer/client/src/reducers/userSettings.ts
  designer/client/src/types/validation.ts
  designer/client/test/Editors/JsonEditor-test.tsx
Labels: ui, client

#8217 [NU-2216] Spel parsing errors messages more human-readable
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/e2e/suggester.cy.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/NodesApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioTesting/ScenarioTestingApiEndpoints.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodesApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ValidationResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/GenericSourceWithCustomVariablesTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/SchemalessKafkaJsonTypeTests.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: ui, client

#8220 [NU-2246] Add CLICK_LIVE_DATA statistic type and fix switch to autosaved scenario in activities
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItemHeader.tsx
  designer/client/src/components/toolbars/activities/types.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/StatisticsApiEndpoints.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NuDesignerApiAvailableToExposeYamlSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
Labels: ui, client

#8222 flatten notification to refresh
  designer/client/src/containers/Notifications.tsx
Labels: ui, client

#8225 [NU-2251] branch parameters error not visible
  designer/client/src/components/graph/node-modal/BranchParameters.tsx
Labels: ui, client

#8228 Fix sorting by status in component usages view
  designer/submodules/packages/components/src/components/usages/usagesTable.tsx
  docs/Changelog.md
Labels: ui, docs, submodules

#7137 [NU-1872] Bump Flink to 1.20
  build.sbt
  docs/Changelog.md
  docs/MigrationGuide.md
  e2e-tests/src/test/resources/bootstrap-setup-scenarios.override.yml
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkSink.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/sink/EmptySink.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/sink/SingleValueSinkFactory.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/definition/StubbedCatalogFactory.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSink.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/CollectingSinkFunction.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/helpers/ProcessTestHelpers.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/generic/DelayedFlinkKafkaConsumer.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/FlinkSerializationSchemaConversions.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/serialization/NKKafkaDeserializationSchemaWrapper.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/sink/flink/FlinkKafkaSink.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/FlinkKafkaUniversalSink.scala
  engine/flink/test-utils/src/main/resources/docker/Dockerfile
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SinkForType.scala
  examples/dev/local-testing.docker-compose.yml
  examples/installation/docker-compose.yml
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/TestResultSinkFactory.scala
Labels: docs

#8234 [NU-2254] remove generate endpoint button from http callback
  designer/client/src/components/graph/node-modal/parametersListField.tsx
Labels: ui, client

#8218 [NU-2243] fix ace editor tooltip position
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display javadocs #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display javadocs #1.png
  designer/client/src/components/graph/node-modal/editors/expression/AceWrapper.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ace.ts
  designer/client/src/containers/theme/styles.ts
Labels: ui, client

#8239 [NU-2248] Expose DB reference via custom http service API
  build.sbt
  designer/custom-http-service-api/src/main/scala/pl/touk/nussknacker/ui/customhttpservice/services/DbRef.scala
  designer/custom-http-service-api/src/main/scala/pl/touk/nussknacker/ui/customhttpservice/services/NussknackerServicesForCustomHttpService.scala
  designer/server/src/main/scala/db/migration/V1_056__CreateScenarioActivitiesDefinition.scala
  designer/server/src/main/scala/db/migration/V1_057__MigrateActionsAndCommentsToScenarioActivitiesDefinition.scala
  designer/server/src/main/scala/db/migration/V1_058__UpdateAndAddMissingScenarioActivitiesDefinition.scala
  designer/server/src/main/scala/db/migration/V1_060__CreateStickyNotesDefinition.scala
  designer/server/src/main/scala/db/migration/V1_061__PeriodicDeploymentManagerTablesDefinition.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/DatabaseInitializer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/DbRefInstance.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/NuTables.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/BaseEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/EnvironmentsEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/PeriodicProcessesTable.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/migration/SlickMigration.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/InfrastructureServices.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/initialization/Initialization.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/periodic/SchedulingDependencies.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/periodic/legacy/db/LegacyDbInitializer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/periodic/legacy/db/LegacyPeriodicProcessDeploymentsTableFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/periodic/legacy/db/LegacyPeriodicProcessesRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/periodic/legacy/db/LegacyPeriodicProcessesTableFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBIOActionRunner.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/PeriodicProcessesRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/Repository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioActionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioLabelsRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioMetadataRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/activities/DbScenarioActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/version/ScenarioGraphVersionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/CustomHttpServiceProvidersLoader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/PekkoHttpBasedRouteFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/statistics/repository/FingerprintRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/db/DbTesting.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockFetchingProcessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/TestDeploymentServiceFactory.scala
  docs/Changelog.md
Labels: docs

#8255 [NU-2224] next try
  designer/client/src/components/graph/node-modal/node/useEditState.tsx
  designer/client/src/components/graph/node-modal/node/useNodeState.tsx
Labels: ui, client

#8261 fix flaky test
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sticky notes should allow to drag sticky note #0.png
  designer/client/cypress/support/process.ts
Labels: ui, client

#8270 [NU-2245] JSON editor snippet fixes
  designer/client/src/components/graph/node-modal/editors/expression/AceEditorJsonBasedSnippets.ts
Labels: ui, client

#8283 Event generator: json template expressions with spaces around express…
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display colorfull sql code #0.png
  designer/client/cypress/fixtures/jsonTemplateEditor.json
  designer/client/cypress/fixtures/withSqlEditor.json
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/EventGeneratorSourceFactory.scala
Labels: ui, client

#8285 [NU-2245] add color to spel template brackets
  designer/client/src/containers/theme/styles.ts
Labels: ui, client
