Repository TouK/nussknacker, pull requests merged in 2025-05, with the labels that each got.

#8011 [NU-2152] Redundant parameters used in node are only reporeted as warning in logs - no validation error is returned
  .github/workflows/pr.yml
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  designer/client/cypress/e2e/process.cy.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/EventGeneratorSourceTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/GenericSourceWithCustomVariablesTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/ScenarioTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/SchemalessKafkaJsonTypeTests.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/WithAdHocInvalidParametersTestsLogic.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/WithAdHocTestParameters.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/WithAdHocTestsLogic.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/TestMigrations.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/TestModelMigrationsSpec.scala
  docs/MigrationGuide.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/CompilationLoggerExtensions.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/CompilationResult.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/Validations.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/ProcessValidatorSpec.scala
Labels: ui, docs, client

#8027 input/output test data presentation
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/displayTestResults.ts
  designer/client/src/common/TestResultUtils.ts
  designer/client/src/components/graph/node-modal/io/InputOutputContext.tsx
  designer/client/src/components/graph/node-modal/io/InputOutputLayout.tsx
  designer/client/src/components/graph/node-modal/io/VariableContextTree.tsx
  designer/client/src/components/modals/GenerateTestDataDialog.tsx
  designer/client/src/http/HttpService.ts
Labels: ui, client

#8037 tweak test button visuals
  designer/client/src/components/toolbars/test/buttons/ScenarioTestButton.tsx
Labels: ui, client

#8043 Fix for broken node details modal after using fragment with not compatible parameters
  designer/client/src/components/graph/node-modal/NodeTypeDetailsContent.tsx
  designer/client/src/components/graph/node-modal/ParametersUtils.ts
Labels: ui, client

#8004 [NU-2149] End scenario without sink
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/ModelConfig.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ProcessObjectDependencies.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/additionalInfo/AdditionalInfoProviders.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/ProcessingTypeData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/config/ConfigurationTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/DefaultComponentServiceSpec.scala
  docs/Changelog.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/NkGlobalParameters.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/FlinkMiniClusterTestRunner.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/ResultCollectingListenerSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/ScenarioWithoutSinksSpec.scala
  engine/flink/components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkKafkaComponentProvider.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/ExecutionConfigPreparer.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/FlinkJobConfig.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/util/Serializers.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/SampleProcess.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreter.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/BaseModelData.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/build/GraphBuilder.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/canonize/MaybeArtificial.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/canonize/MissingSinkHandler.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/canonize/ProcessCanonizer.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  scenario-api/src/test/scala/pl/touk/nussknacker/engine/marshall/ProcessMarshallerSpec.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/PartSubGraphCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compiledgraph/CompiledNodesCollector.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compiledgraph/node.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinition.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinitionFromConfigCreatorExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/split/ProcessSplitter.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/splittedgraph/SplittedNodesCollector.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/splittedgraph/splittednode.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/testing/ModelDefinitionBuilder.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/DefaultModelConfigLoaderTest.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/CustomNodeValidationSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/FragmentResolverSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkProcessCompilerDataFactoryWithTestComponents.scala
Labels: docs

#8051 Fixes for SEO at docs impr
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/configuration/Overview.mdx
  docs/developers_guide/Components.md
Labels: docs

#8088 [NU-2176] fix generate new endpoint issues
  designer/client/src/actions/nk/nodeDetails.ts
  designer/client/src/common/CodeBlock.tsx
  designer/client/src/common/copyToClipboard/CopyIconButton.tsx
  designer/client/src/components/graph/node-modal/editors/EditableEditor.tsx
  designer/client/src/components/graph/node-modal/editors/field/FieldSwitch.tsx
  designer/client/src/components/graph/node-modal/node-action-buttons/GenerateNewEndpoint.tsx
  designer/client/src/components/graph/node-modal/parametersList.tsx
  designer/client/src/http/HttpService.ts
Labels: ui, client

#8069 safari menu button fix
  designer/client/src/components/toolbarComponents/toolbarButtons/ButtonMenu.tsx
Labels: ui, client

#8092 NU-2166 toolbars tweaks
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/process.ts
  designer/client/src/components/toolbarComponents/CapabilitiesToolbarButton.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ButtonMenu.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ButtonRoot.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButton.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/types.ts
  designer/client/src/components/toolbars/process/buttons/SaveButton.tsx
  designer/client/src/components/toolbars/test/buttons/HideButton.tsx
  designer/client/src/reducers/selectors/graph.ts
Labels: ui, client

#8098 [NU-2182] Fix metaspace problems in e2e tests
  docs/configuration/Common.md
  e2e-tests/src/test/resources/bootstrap-setup-scenarios.override.yml
  examples/installation/docker-compose.yml
  examples/installation/flink/flink-properties.yml
  nussknacker-dist/src/universal/conf/application.conf
  utils/test-utils/src/main/resources/bootstrap-setup.override.yml
Labels: docs

#8099 fixed adjust node
  designer/client/cypress/e2e/autoScreenshotChangeDocs.cy.ts
  designer/client/cypress/support/process.ts
  designer/client/src/components/graph/node-modal/node/NodeGroupContent.tsx
  designer/client/src/components/graph/node-modal/useNodeTypeDetailsContentLogic.tsx
Labels: ui, client

#8059 NU-2160-show-loader-during-dynamic-parameters-loading
  designer/client/src/actions/nk/nodeDetails.ts
  designer/client/src/components/graph/node-modal/NodeDetailsContent/selectors.tsx
  designer/client/src/components/graph/node-modal/SourceSinkCommon.tsx
  designer/client/src/components/graph/node-modal/node-action-buttons/GenerateNewEndpoint.tsx
  designer/client/src/components/graph/node-modal/node/useNodeState.tsx
  designer/client/src/components/graph/node-modal/parametersList.tsx
  designer/client/src/components/graph/node-modal/parametersListField.tsx
  designer/client/src/components/graph/node-modal/useNodeTypeDetailsContentLogic.tsx
  designer/client/src/http/HttpService.ts
  designer/client/src/reducers/nodeDetailsState.ts
  designer/client/src/types/definition.ts
Labels: ui, client

#8109 [NU-2160] fix loading indicator on large screen
  designer/client/src/components/graph/node-modal/parametersList.tsx
Labels: ui, client

#8042 [NU-2011] Merge OpenAPI components into one
  build.sbt
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenAPIServiceSpec.scala
  components/openapi/src/it/scala/pl/touk/nussknacker/openapi/functional/OpenApiScenarioIntegrationTest.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/OpenAPIComponentProvider.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/OpenAPIServicesConfig.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/discovery/OpenApiDefinitionDiscovery.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/InvocationBaseUrl.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/OpenAPIEnricher.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/OpenAPIEnricherFactory.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnricher.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/SwaggerEnrichers.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/http/backend/HttpClientProvider.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/BaseOpenAPITest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/CodeHandlingTest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/EnricherMetricsTest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/OpenAPIComponentProviderTest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/SecurityTest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/enrichers/InvocationBaseUrlTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/integration/OpenAPI.md
  e2e-tests/src/test/resources/offer-customer-proposal-based-on-activity-event/OfferCustomerProposalBasedOnActivityEvent.json
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/service/TimeMeasuringService.scala
Labels: docs

#8121 Fix docs sidebar label
  docs/about/GLOSSARY.md
  docs/about/KeyFeatures.md
  docs/about/NussknackerEnterprise.md
  docs/about/Overview.md
  docs/about/ProcessingModes.md
  docs/about/engines/Engines.md
  docs/about/engines/FlinkArchitecture.md
  docs/about/engines/LiteArchitecture.md
  docs/about/typical implementation/RequestResponse.md
  docs/about/typical implementation/Streaming.md
  docs/configuration/Common.md
  docs/configuration/DesignerConfiguration.md
  docs/configuration/Overview.mdx
  docs/configuration/ScenarioDeploymentConfiguration.md
  docs/configuration/model/Flink.md
  docs/configuration/model/Lite.md
  docs/configuration/model/ModelConfiguration.md
  docs/developers_guide/Basics.md
  docs/developers_guide/Components.md
  docs/developers_guide/FlinkComponents.md
  docs/developers_guide/GenericFunctions.md
  docs/developers_guide/LiteComponents.md
  docs/developers_guide/Testing.md
  docs/installation/Binaries.md
  docs/installation/Docker.md
  docs/installation/HelmChart.md
  docs/integration/DataTypingAndSchemasHandling.md
  docs/integration/KafkaIntegration.md
  docs/integration/MachineLearning.md
  docs/integration/OpenAPI.md
  docs/integration/RequestResponse.mdx
  docs/integration/Sql.md
  docs/operations_guide/Common.md
  docs/operations_guide/Flink.md
  docs/operations_guide/Lite.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  docs/scenarios_authoring/BasicNodes.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/DesignerTipsAndTricks.md
  docs/scenarios_authoring/Enrichers.md
  docs/scenarios_authoring/Fragments.md
  docs/scenarios_authoring/Intro.md
  docs/scenarios_authoring/RRDataSourcesAndSinks.md
  docs/scenarios_authoring/Spel.md
  docs/scenarios_authoring/TestingAndDebugging.md
Labels: docs

#8124 test results void outputs
  designer/client/src/components/graph/node-modal/io/ContextTitle.tsx
  designer/client/src/components/graph/node-modal/io/CountsForNodes.tsx
  designer/client/src/components/graph/node-modal/io/InputOutputContext.tsx
  designer/client/src/components/graph/node-modal/io/VariableContextTree.tsx
Labels: ui, client

#8122 [NU-2195] retest button behaviour change
  designer/client/src/actions/nk/displayTestResults.ts
  designer/client/src/components/modals/Testing/TestingDialog.tsx
  designer/client/src/components/toolbars/test/buttons/ScenarioTestButton.tsx
  designer/client/src/reducers/graph/reducer.ts
  designer/client/src/reducers/graph/types.ts
  designer/client/src/reducers/selectors/graph.ts
Labels: ui, client

#8126 [NU-2194] ignore fixBranchParametersTemplate druing save button state check
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/components/modals/SaveProcessDialog.tsx
Labels: ui, client

#8118 Scenario status panel & minor fixes
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Description should display markdown #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sticky notes should allow to drag sticky note #0.png
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/process.ts
  designer/client/src/components/DebugBox.tsx
  designer/client/src/components/Process/ProcessStateUtils.ts
  designer/client/src/components/toolbarComponents/ToolbarsLayer.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ButtonMenu.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ButtonRoot.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButton.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButtons.tsx
  designer/client/src/components/toolbarComponents/toolbarWrapper/ToolbarWrapper.tsx
  designer/client/src/components/toolbarSettings/getToolbarComponent.ts
  designer/client/src/components/toolbars/activities/ActivitiesPanelRow.tsx
  designer/client/src/components/toolbars/scenarioActions/ProcessActions.tsx
  designer/client/src/components/toolbars/scenarioActions/ScenarioState.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioDetails.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioDetailsComponents.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioNameItem.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioStatusContent.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioStatusPanel.tsx
  designer/client/src/components/toolbars/scenarioDetails/buttons/MoreScenarioDetailsButton.tsx
  designer/client/src/components/toolbars/test/buttons/ScenarioTestButton.tsx
  designer/client/src/helpers/CacheWithTTL.ts
  designer/client/src/reducers/scenarioState.ts
  designer/client/src/reducers/selectors/scenarioState.ts
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - union #0.png
Labels: ui, docs, client

#8138 [NU-2198] New icon for test button
  designer/client/src/assets/img/toolbarButtons/test.svg
Labels: ui, client

#8143 [NU-2204] fix translations
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/toolbars/process/buttons/SaveButton.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/DeployButton.tsx
  designer/client/src/http/HttpService.ts
  designer/submodules/package-lock.json
  designer/submodules/package.json
Labels: ui, client, submodules

#8145 fixed aggregateContext
  designer/client/src/components/graph/node-modal/aggregate/aggregateContext.tsx
  designer/client/src/components/graph/node-modal/aggregate/useAggParamsSerializer.tsx
Labels: ui, client

#8151 [NU-2194] next attempt
  designer/client/src/components/graph/node-modal/EdgesDndComponent.tsx
  designer/client/src/components/modals/SaveProcessDialog.tsx
Labels: ui, client

#8152 State utils fix
  designer/client/src/components/Process/ProcessStateUtils.ts
  designer/client/src/components/modals/Testing/useTestOptions.tsx
  designer/client/src/components/toolbars/scenarioActions/ProcessActions.tsx
  designer/client/src/components/toolbars/scenarioActions/ScenarioState.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioDetails.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioStatusContent.tsx
  designer/client/src/components/toolbars/test/buttons/ScenarioTestButton.tsx
  designer/client/src/reducers/scenarioState.ts
Labels: ui, client

#8155 noDrag toolbar config prop
  designer/client/src/components/toolbarComponents/ButtonsToolbar.tsx
  designer/client/src/components/toolbarSettings/ToolbarSelector.tsx
Labels: ui, client

#8161 [Nu-8156] Improve error messages while migrating scenarios
  designer/client/src/http/HttpService.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/MigrationApiHttpService.scala
Labels: ui, client

#8162 [NU-2220] fix adjust parameters issue
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionField.tsx
  designer/client/src/components/graph/node-modal/useNodeTypeDetailsContentLogic.tsx
Labels: ui, client
