Repository TouK/nussknacker, pull requests merged in 2025-01, with the labels that each got.

#7373 [NU-1940] Add seconds to sample generator period editor and remove white arrows
  designer/client/src/components/graph/node-modal/editors/expression/Duration/TimeRangeComponent.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Duration/TimeRangeEditor.tsx
  designer/client/test/Editors/DurationEditor-test.tsx
  designer/client/test/Editors/PeriodEditor-test.tsx
  docs/Changelog.md
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/SampleGeneratorSourceFactory.scala
Labels: ui, docs, client

#7381 Fix for fragment input parameters type to handle full class name format
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/types.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/Settings.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/FixedValuesSetting.tsx
Labels: ui, client

#7376 [NU-1941] Evaluate value every time for count > 1 in sample-generator
  docs/Changelog.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/SampleGeneratorSourceFactorySpec.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/SampleGeneratorSourceFactory.scala
Labels: docs

#7386 Periodic scenario status query improvement
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  docs/Changelog.md
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicDeploymentManager.scala
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
Labels: docs

#7360 [NU-1921] Add median aggregator
  docs/Changelog.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatesSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/components/base-unbounded/src/main/java/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregateHelper.java
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/aggregates.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/median/MedianHelper.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/sampleTransformers.scala
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  utils/math-utils/src/main/scala/pl/touk/nussknacker/engine/util/MathUtils.scala
Labels: docs

#7314 Component search upgrades
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process view should have node search toolbar #1.png
  designer/client/cypress/e2e/search.cy.ts
  designer/client/src/components/sidePanels/SearchLabeledAutocomplete.tsx
  designer/client/src/components/sidePanels/SearchLabeledInput.tsx
  designer/client/src/components/toolbars/search/AdvancedSearchFilters.tsx
  designer/client/src/components/toolbars/search/SearchPanel.tsx
  designer/client/src/components/toolbars/search/SearchResults.tsx
  designer/client/src/components/toolbars/search/utils.ts
  designer/client/src/reducers/selectors/settings.ts
Labels: ui, client

#7354 Reduce response payload size for scenarios tab
  designer/client/src/components/graph/node-modal/fragment-input-definition/item/types.ts
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/InputModeSelect.tsx
  designer/client/src/reducers/scenarioState.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/scenariodetails/ScenarioWithDetails.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AppApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ScenarioWithDetailsConversions.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/statistics/UsageStatisticsReportsSettingsService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  docs/Changelog.md
Labels: ui, docs, client

#7417 [Nu-7393] Improve error messages while testing scenario from file (#7…
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #2.png
  designer/client/src/devHelpers.ts
  designer/client/src/http/HttpService.ts
Labels: ui, client

#7404 [NU-1944] Fix spel evaluation error when using conversion extensions methods or array.get extension method
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ArrayExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/CastOrConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/Conversion.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ExtensionMethods.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#7387 [NU-1828] Notification reloading creator panel when configuration rel…
  designer/client/src/containers/Notifications.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/notifications/Notification.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/notifications/NotificationService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/InMemoryTimeseriesRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NotificationApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NotificationApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/InMemoryTimeseriesRepositoryTest.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/TopicSelectionStrategy.scala
Labels: ui, docs, client

#7420 [NU-1958] Add toInteger conversion
  docs/Changelog.md
  docs/scenarios_authoring/Spel.md
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ExtensionMethods.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/extension/ExtensionMethodsSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#7440 max 6.x version of react-router
  designer/client/package-lock.json
  designer/client/package.json
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
Labels: ui, client, submodules

#7438 Map int32 integer format in OpenAPI schema to the `Integer` type
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/parser/SwaggerParserTest.scala
  docs/Changelog.md
  docs/integration/OpenAPI.md
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/decode/FromJsonSchemaBasedDecoder.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTypedTest.scala
Labels: docs

#7444 react router fix
  designer/client/src/components/RouteLeavingGuard.tsx
Labels: ui, client

#7446 Fix fragment nodes errors in scenario's tips
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/NodeUtils.ts
  designer/client/src/components/tips/error/NodeErrorsLinkSection.tsx
  docs/Changelog.md
Labels: ui, docs, client

#7459 skip fragment test
  designer/client/cypress/e2e/fragment.cy.ts
Labels: ui, client

#7464 [Nu-7393] Allow copying alert message when it is of an error type
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/notifications/Notification.tsx
  designer/client/src/components/notifications/copyTooltip.tsx
Labels: ui, client

#7443 [NU-1935] Change record indexer behaviour
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionParseError.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
Labels: docs

#7470 [Fix] Passing Flink Job Global Params (#7324)
  docs/Changelog.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/NkGlobalParameters.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/ExecutionConfigPreparer.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/NkGlobalParametersEncoderTest.scala
Labels: docs

#7457 fix
  designer/client/src/components/graph/node-modal/fragment-input-definition/FragmentInputDefinition.tsx
  designer/client/src/reducers/selectors/settings.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
Labels: ui, client

#7477 [NU-1986] provide currently selected and deployed items visual adjustments
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Activities should display activities #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Activities should display activities #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Activities should display activities #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sticky notes should add text to note and display it as markdown #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sticky notes should allow to drag sticky note #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sticky notes should disable sticky note when scenario is not saved #0.png
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItemHeader.tsx
  designer/client/src/components/toolbars/activities/helpers/activityItemColors.ts
Labels: ui, client

#7482 ESlint with react-hooks/exhaustive-deps
  designer/client/.eslintrc
  designer/client/src/components/graph/node-modal/editors/expression/Cron/CronEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/SqlEditor.tsx
  designer/client/src/components/modals/AdhocTesting/AdhocTestingDialog.tsx
  designer/client/src/components/modals/CalculateCounts/useActivityHistory.ts
  designer/client/src/components/modals/DeployProcessDialog.tsx
  designer/client/src/components/toolbars/creator/ToolboxComponentGroup.tsx
  designer/client/src/components/toolbars/process/buttons/MigrateButton.tsx
  designer/client/src/components/toolbars/search/AdvancedSearchFilters.tsx
  designer/client/src/components/toolbars/search/utils.ts
  designer/client/src/containers/event-tracking/use-error-register.ts
  designer/client/src/containers/event-tracking/use-event-tracking.tsx
Labels: ui, client

#7487 Added missing excluded actions for undo action in designer
  designer/client/src/components/modals/DeployProcessDialog.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/CancelDeployButton.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/DeployButton.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/RunOffScheduleButton.tsx
  designer/client/src/reducers/graph/reducer.ts
Labels: ui, client

#7472 Docs - correct details of the single-side-join + impact of the slice in time windows
  docs/operations_guide/Flink.md
  docs/scenarios_authoring/AggregatesInTimeWindows.md
Labels: docs

#7488 Add sanitize to sticky notes, hide markdown while editing
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/graph/EspNode/stickyNote.ts
  designer/client/src/components/graph/StickyNoteElement.ts
Labels: ui, client

#7489 Update dompurify to 3.2.3
  designer/client/package-lock.json
  designer/client/package.json
Labels: ui, client

#7490 [Nu-7476] Add more info about failed deployment due to wrong cron configuration
  designer/client/src/http/HttpService.ts
  engine/flink/management/periodic/src/main/scala/pl/touk/nussknacker/engine/management/periodic/PeriodicProcessService.scala
Labels: ui, client

#7481 Ignore jobs in CANCELLING status when checking for duplicate jobs
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/inconsistency/InconsistentStateDetector.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/simple/SimpleStateStatus.scala
  docs/Changelog.md
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
Labels: docs

#7493 Catch svg error
  designer/client/src/components/graph/EspNode/stickyNote.ts
Labels: ui, client

#7483 [NU-1934] Ability to create json kafka source without schema registry
  docs/Changelog.md
  docs/integration/KafkaIntegration.md
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/FlinkWithKafkaSuite.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/kafkaschemaless/BaseKafkaJsonSchemalessItSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/kafkaschemaless/KafkaJsonSchemalessNoSchemaRegistryItSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/kafkaschemaless/KafkaJsonSchemalessTopicNotInSchemaRegistryItSpec.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/SchemaRegistryClient.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/RecordFormatterSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/UniversalSchemaRegistryClientFactory.scala
Labels: docs

#7494 Catch errors in Sticky Notes SVG parsing, add closing tag to <br/>
  designer/client/src/components/graph/EspNode/stickyNote.ts
Labels: ui, client

#7498 [NU-2001] Support many migrations loaded using SPI
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/DefaultModelMigrations.scala
  docs/Changelog.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/migration/ProcessMigration.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/migration/ProcessMigrations.scala
  extensions-api/src/test/scala/pl/touk/nussknacker/engine/migration/ProcessMigrationsTest.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
Labels: docs

#7504 Return scenario validation error when incompatible changes were introduced for a component
  common-api/src/main/scala/pl/touk/nussknacker/engine/graph/expression/Expression.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/context/ProcessCompilationError.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  docs/Changelog.md
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/scenariotesting/FlinkProcessTestRunnerSpec.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
Labels: docs

#7468 [NU-1954] Namespace improvements: configurable separator, namespacing Kafka consumer groups and missing Lite metric namespace tag
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/namespaces/NamingStrategy.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/namespaces/NamingStrategySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/StubModelDataWithModelDefinition.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/configuration/model/ModelConfiguration.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/NkGlobalParameters.scala
  engine/flink/components/kafka/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkKafkaComponentProvider.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/functional/MetricsSpec.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSource.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManagerProvider.scala
  engine/lite/runtime-app/src/main/scala/pl/touk/nussknacker/engine/lite/app/RunnableScenarioInterpreterFactory.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/metrics/dropwizard/LiteMetricRegistryFactory.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/metrics/dropwizard/LiteMetricRegistryFactoryTest.scala
Labels: docs

#7502 [NU-1923] Rename source 'sample-generator' to 'event-generator' and 'period' to 'schedule'
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/DefaultModelMigrations.scala
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/migrations/SampleGeneratorToEventGeneratorAndPeriodToScheduleParameter.scala
  defaultModel/src/test/scala/pl/touk/nussknacker/defaultModel/migrations/SampleGeneratorToEventGeneratorAndPeriodicToScheduleSpec.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by usage #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should display component #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should display question mark when renaming a node and updating the count #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Node window should display event-generator source #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/cypress/e2e/counts.cy.ts
  designer/client/cypress/e2e/nodeWindow.cy.ts
  designer/client/cypress/fixtures/aggregations.json
  designer/client/cypress/fixtures/counts.json
  designer/client/cypress/fixtures/docsAggregatesFullOuterJoin#0.json
  designer/client/cypress/fixtures/docsAggregatesSingleSideJoin#0.json
  designer/client/cypress/fixtures/docsBasicComponentsChoice#0.json
  designer/client/cypress/fixtures/docsBasicComponentsFilter#0.json
  designer/client/cypress/fixtures/docsBasicComponentsFilter#1.json
  designer/client/cypress/fixtures/docsBasicComponentsForEach#0.json
  designer/client/cypress/fixtures/docsBasicComponentsRecordVariable#0.json
  designer/client/cypress/fixtures/docsBasicComponentsSplit#0.json
  designer/client/cypress/fixtures/docsBasicComponentsUnion#0.json
  designer/client/cypress/fixtures/docsBasicComponentsVariable#0.json
  designer/client/cypress/fixtures/docsBasicComponentsVariable#1.json
  designer/client/cypress/fixtures/table.json
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/developers_guide/FlinkComponents.md
  docs/scenarios_authoring/DataSourcesAndSinks.md
  docs/scenarios_authoring/img/event-generator.png
  docs/scenarios_authoring/img/sample-generator.png
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/EventGeneratorSourceFactorySpec.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/FlinkBaseUnboundedComponentProvider.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/EventGeneratorSourceFactory.scala
Labels: ui, docs, client

#7496 NU-1999 Restrict description window to not take 100% height
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #2.png
  designer/client/src/components/graph/node-modal/node/StyledHeader.tsx
  designer/client/src/containers/ScenarioDescription.tsx
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - aggregates - Full Outer Join #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #2.png
Labels: ui, docs, client

#7508 [NU-1977] [NU-1949] Window components fixes
  designer/client/src/components/graph/node-modal/editors/expression/Duration/DurationEditor.tsx
  designer/client/test/Editors/DurationEditor-test.tsx
  docs/Changelog.md
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/sampleTransformers.scala
Labels: ui, docs, client

#7512 minor fixes in AdvancedSearchFilters
  designer/client/cypress/e2e/search.cy.ts
  designer/client/src/components/sidePanels/SearchLabeledAutocomplete.tsx
  designer/client/src/components/toolbars/search/AdvancedSearchFilters.tsx
  designer/client/src/components/toolbars/search/SearchResults.tsx
  designer/client/src/components/toolbars/search/utils.ts
Labels: ui, client

#7516 Scenario visualization loading improvements - part 2 - testing endpoints without scenario compilation
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TestingApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  docs/Changelog.md
Labels: docs

#7509 [NU-1979] MiniCluster refactor: separated module + passing StreamExecutionEnvironment
  build.sbt
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockDeploymentManager.scala
  docs/MigrationGuide.md
  docs/configuration/ScenarioDeploymentConfiguration.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/scenariotesting/AdHocMiniClusterFallbackHandler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/scenariotesting/FlinkScenarioTestingJob.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/scenariotesting/FlinkStateStateVerificationJob.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/scenariotesting/FlinkTestMain.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/scenariotesting/ScenarioTestingMiniClusterFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/scenariotesting/ScenarioTestingMiniClusterWrapper.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/scenariotesting/ScenarioTestingStreamExecutionEnvironmentFactory.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkConfig.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkScheduledExecutionPerformer.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingDeploymentManagerProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/scenariotesting/FlinkProcessTestRunner.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/scenariotesting/FlinkProcessVerifier.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/scenariotesting/ScenarioTestingMiniClusterWrapperFactory.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/FlinkMiniClusterConfig.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/FlinkMiniClusterFactory.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/FlinkMiniClusterStreamExecutionEnvironmentFactory.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/FlinkMiniClusterScenarioStateVerifier.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/FlinkMiniClusterScenarioTestRunner.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/ScenarioParallelismOverride.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/legacysingleuseminicluster/FlinkMiniClusterFactoryReflectiveInvoker.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/legacysingleuseminicluster/LegacyFallbackToSingleUseMiniClusterHandler.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/FlinkMiniClusterScenarioTestRunnerSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/kafka/KafkaScenarioTestingSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/schemedkafka/SchemedKafkaScenarioTestingSpec.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerProvider.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/BaseModelData.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagersClassLoader.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/ModelData.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/ReflectiveMethodInvoker.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/loader/ModelClassLoader.scala
Labels: docs
