Repository TouK/nussknacker, pull requests merged in 2025-04, with the labels that each got.

#7711 [NU-2082] Schema derived from JSON example for Kafka topics without schema
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/json/decoders/TypingResultDecoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/FromJsonTypingResultBasedDecoderSpec.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/ComponentLinkConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/periodic/PeriodicDeploymentManagerDecorator.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/kafkaschemaless/BaseKafkaJsonSchemalessItSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/kafkaschemaless/KafkaJsonSchemalessNoSchemaRegistryItSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/kafkaschemaless/KafkaJsonSchemalessSourceFactorySpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/kafkaschemaless/KafkaJsonSchemalessTopicNotInSchemaRegistryItSpec.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/language/json/JsonParser.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/language/json/JsonParserTest.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/parameters/SchemaBasedParameter.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/ToJsonSchemaBasedEncoder.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaUniversalComponentTransformer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidator.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/source/UniversalKafkaSourceFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/typed/TypingResultFromJsonSampleTypeDeterminer.scala
Labels: docs

#7833 [NU-1930] Handle components advanced parameters on FE
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Deploy advanced section should display and expand advanced deploy section #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Deploy advanced section should display and expand advanced deploy section #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Nodes advanced section should display and expand advanced section #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Nodes advanced section should display and expand advanced section #1.png
  designer/client/cypress/e2e/deployAdvancedSection.cy.ts
  designer/client/cypress/e2e/nodeAdvancedSection.cy.ts
  designer/client/cypress/fixtures/advancedSectionAndDeployParam.json
  designer/client/src/components/common/Expandable.tsx
  designer/client/src/components/graph/node-modal/SourceSinkCommon.tsx
  designer/client/src/components/graph/node-modal/aggregateParametersList.tsx
  designer/client/src/components/graph/node-modal/customNode.tsx
  designer/client/src/components/graph/node-modal/enricherProcessor.tsx
  designer/client/src/components/graph/node-modal/parameterHelpers.tsx
  designer/client/src/components/graph/node-modal/parametersList.tsx
  designer/client/src/components/graph/node-modal/parametersListAdvanced.tsx
  designer/client/src/components/modals/DeployWithParameters/AdvancedParameters.tsx
  designer/client/src/components/modals/DeployWithParameters/AdvancedParametersSection.tsx
  designer/client/src/types/definition.ts
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/LoggingService.scala
Labels: ui, client

#7810 prepare to remove "apply"
  designer/client/.gitignore
  designer/client/cypress.config.ts
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Activities should display activities #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Activities should display activities #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should add documentation url in fragment properties and show it in modal within scenario #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #5.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #6.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should allow adding input parameters #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should allow adding input parameters #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should allow adding input parameters #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should allow adding input parameters #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should display used fragment graph in modal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should display used fragment graph in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should validate and save changes #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should validate and save changes #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should validate and save changes #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/cypress/e2e/activities.cy.ts
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/e2e/process.cy.ts
  designer/client/cypress/e2e/search.cy.ts
  designer/client/cypress/fixtures/fragmentWithInput.json
  designer/client/cypress/support/e2e.ts
  designer/client/cypress/support/process.ts
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/calculateProcessAfterChange.ts
  designer/client/src/actions/nk/editNode.ts
  designer/client/src/actions/nk/editProperties.ts
  designer/client/src/actions/nk/nodeDetails.ts
  designer/client/src/actions/reduxTypes.ts
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/components/graph/NodeUtils.ts
  designer/client/src/components/graph/SelectionContextProvider.tsx
  designer/client/src/components/graph/node-modal/IdField.tsx
  designer/client/src/components/graph/node-modal/NodeAdditionalInfoBox.tsx
  designer/client/src/components/graph/node-modal/editors/expression/DateTimeEditor/DatepickerEditor.tsx
  designer/client/src/components/graph/node-modal/node/NodeDetails.tsx
  designer/client/src/components/graph/node-modal/node/useNodeState.tsx
  designer/client/src/components/modals/PropertiesDialog.tsx
  designer/client/src/components/toolbars/search/SearchPanel.tsx
  designer/client/src/containers/ScenarioDescription.tsx
  designer/client/src/reducers/graph/reducer.ts
  designer/client/src/reducers/graph/types.ts
  designer/client/src/reducers/graph/utils.fixtures.ts
  designer/client/src/reducers/index.ts
  designer/client/src/reducers/selectors/graph.ts
  designer/client/src/store/nodeValidationMiddleware.ts
  designer/client/src/types/scenarioGraph.ts
  designer/client/test/CompareVersionDialog-test.tsx
  designer/client/test/Editors/DictParameterEditor-test.tsx
  designer/client/test/Editors/RawEditor-test.tsx
  designer/client/test/Editors/SpelTemplateEditor-test.tsx
  designer/client/test/Editors/SqlEditor-test.tsx
  designer/client/test/reducer-test.js
Labels: ui, client

#7887 test tweak
  designer/client/cypress/support/tools.ts
Labels: ui, client

#7370 replaced spel parser
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/patches/README.md
  designer/client/patches/ts-spel+1.0.53.patch
  designer/client/src/components/graph/node-modal/aggregate/aggMapLikeParser.tsx
  designer/client/src/components/graph/node-modal/aggregate/pareserHelpers.tsx
  designer/client/src/components/graph/node-modal/aggregate/parser.test.ts
  designer/client/src/components/graph/node-modal/aggregate/parserHelpers.test.ts
  designer/client/src/components/graph/node-modal/aggregate/useAggParamsSerializer.tsx
Labels: ui, docs, client

#7911 [NU-2096] AI assistant suggestions
  designer/client/src/components/aiAssistant/components/AssistantMessage.tsx
  designer/client/src/http/HttpService.ts
  designer/client/webpack.config.ts
Labels: ui, client

#7861 [NU-2068] Add assistant feature option
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/DesignerConfig.scala
  docs/configuration/DesignerConfiguration.md
Labels: docs

#7890 [NU-2128] Add toolbar configs
  designer/client/src/components/toolbarComponents/ToolbarsLayer.tsx
  designer/client/src/reducers/toolbars.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/scenariotoolbar/ScenarioToolbarsConfig.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ScenarioToolbarService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/config/scenariotoolbar/CategoriesScenarioToolbarsConfigParserSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/ConfigScenarioToolbarServiceSpec.scala
  docs/configuration/DesignerConfiguration.md
Labels: ui, docs, client

#7700 Default value for event generator
  build.sbt
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display completions for second line (bugfix) #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display javadocs #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display javadocs #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should validate and save changes #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Node window should display event-generator source #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display colorfull sql code #0.png
  designer/client/cypress/e2e/suggester.cy.ts
  designer/client/cypress/fixtures/fragment.json
  designer/client/cypress/fixtures/fragmentWithFilter.json
  designer/client/cypress/fixtures/fragmentWithInput.json
  designer/client/cypress/fixtures/withSqlEditor.json
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/EventGeneratorSourceFactory.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/helper/DateProcessHelper.scala
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
Labels: ui, client

#7878 [NU-2096] ai assistant
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/actions/nk/assignSettings.ts
  designer/client/src/bootstrap.tsx
  designer/client/src/common/JsonUtils.ts
  designer/client/src/common/userSettings.tsx
  designer/client/src/components/FormElements.tsx
  designer/client/src/components/aiAssistant/AiAssistantProvider.tsx
  designer/client/src/components/aiAssistant/components/AiAssistantButton.tsx
  designer/client/src/components/aiAssistant/components/AiAssistantModal.tsx
  designer/client/src/components/aiAssistant/components/AssistantMessage.tsx
  designer/client/src/components/aiAssistant/components/Composer.tsx
  designer/client/src/components/aiAssistant/components/ScrollToBottomButton.tsx
  designer/client/src/components/aiAssistant/components/ThreadWelcome.tsx
  designer/client/src/components/aiAssistant/components/UserMessage.tsx
  designer/client/src/components/aiAssistant/components/actions/ActionsContainer.tsx
  designer/client/src/components/aiAssistant/components/actions/CopyContent.tsx
  designer/client/src/components/aiAssistant/components/actions/RefreshAssistantAnswer.tsx
  designer/client/src/components/aiAssistant/components/useScrollToBottom.ts
  designer/client/src/components/graph/node-modal/aggregateParametersList.tsx
  designer/client/src/components/graph/node-modal/customNode.tsx
  designer/client/src/components/graph/node-modal/parametersListAdvanced.tsx
  designer/client/src/components/modals/GenericConfirmDialog.tsx
  designer/client/src/components/tips/Tips.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButton.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButtons.tsx
  designer/client/src/components/toolbars/creator/CreatorPanel.tsx
  designer/client/src/containers/NussknackerApp.tsx
  designer/client/src/containers/RootRoutes.tsx
  designer/client/src/http/HttpService.ts
  designer/client/src/windowManager/ContentGetter.tsx
  designer/client/src/windowManager/WindowKind.tsx
  designer/client/webpack.config.ts
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
  designer/submodules/packages/components/src/scenarios/scenariosView.tsx
Labels: ui, client, submodules

#7932 single testing button fix of a dialog buttons
  designer/client/src/components/modals/Testing/TestWithGeneratedData.tsx
  designer/client/src/components/modals/Testing/TestWithParametersMultipleSourcesForm.tsx
  designer/client/src/components/modals/Testing/TestWithParametersSingleSourceForm.tsx
  designer/client/src/components/modals/Testing/TestingContext.tsx
  designer/client/src/components/modals/Testing/TestingDialog.tsx
  designer/client/src/components/toolbars/test/buttons/ScenarioTestButton.tsx
Labels: ui, client

#7871 [NU-2068] Allow to expose Tapir based custom HTTP services
  build.sbt
  designer/custom-http-service-api/src/main/scala/pl/touk/nussknacker/ui/customhttpservice/CustomHttpServiceProvider.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/BaseEndpointDefinitions.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/BaseHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/HttpServiceExposingTapirCustomProviders.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NuDesignerExposedApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/CustomHttpServiceProvidersLoader.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/PekkoHttpBasedRouteFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/PekkoRoutesFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/TapirHttpServiceFactory.scala
  designer/server/src/test/resources/META-INF/services/pl.touk.nussknacker.ui.customhttpservice.CustomHttpServiceProviderFactory
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/TestCustomHttpServiceProviderFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/customhttpservice/CustomHttpServiceTest.scala
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#7936 stabilize cypress tests
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Aggregations should display updated UI for aggregate-session #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Aggregations should display updated UI for aggregate-sliding #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Aggregations should display updated UI for aggregate-tumbling #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Connection error should display connection errors #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Dropdown should display menu portal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Dropdown should display menu portal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Editors should display SpEL editor with editor switch to SpEL Template Editor #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Editors should display SpEL editor with editor switch to SpEL Template Editor #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display javadocs #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display javadocs #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should open properties #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should allow adding input parameters #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should allow adding input parameters #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should allow adding input parameters #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should allow adding input parameters #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should display used fragment graph in modal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should display used fragment graph in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should validate and save changes #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should validate and save changes #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/JSON editor should display colorfull json #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/JSON editor should display colorfull json #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Node window should display event-generator source #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Nodes advanced section should display and expand advanced section #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Nodes advanced section should display and expand advanced section #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should open properties from tips panel #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should preserve condition on link move (switch) #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should zoomrestore node window with test data #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process tests from file should properly display results of tests from file #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should allow editing choice edge expression #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should display some node details in modal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should display some node details in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should display some node details in modal #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display colorfull sql code #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display colorfull sql code #1.png
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/e2e/process.cy.ts
  designer/client/src/components/graph/node-modal/node/ContentSize.tsx
  designer/client/src/windowManager/useWindows.ts
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - aggregates - Full Outer Join #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - aggregates - Single Side Join #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - choice #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - foreach #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - recordVariable #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - recordVariable #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - union #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Properties #0.png
Labels: ui, docs, client

#7922 [NU-2114] Fix the hiding of components configured with 'disabled' flag
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentConfig.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  docs/Changelog.md
Labels: docs

#7945 Support import of sticky notes, dont allow to replace node with stick…
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/importExport.ts
  designer/client/src/actions/nk/process.ts
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/GraphPartialsInTS/calcLayout.ts
  designer/client/src/reducers/graph/reducer.ts
Labels: ui, client

#7946 [NU-1931] Move count to advanced parameters in event generator
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Node window should display event-generator source #0.png
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/EventGeneratorSourceFactory.scala
Labels: ui, client

#7864 [MAINTENANCE] Add forbidden hosts configuration to async http client
  build.sbt
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/discovery/SwaggerOpenApiDefinitionDiscovery.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/OpenAPIServicesConfigTest.scala
  components/openapi/src/test/scala/pl/touk/nussknacker/openapi/http/backend/SharedHttpClientBackendProviderTest.scala
  docs/Changelog.md
  utils/http-utils/src/main/scala/pl/touk/nussknacker/http/backend/HttpClientConfig.scala
Labels: docs

#7958 NU-2138 use only predefined filters in case of scenarios components and usages lists
  designer/submodules/.eslintrc.json
  designer/submodules/package-lock.json
  designer/submodules/package.json
  designer/submodules/packages/components/src/common/filters/filtersContext.tsx
  designer/submodules/packages/components/src/components/cellRenderers/categoriesCell.tsx
  designer/submodules/packages/components/src/components/cellRenderers/filterLinkCell.tsx
  designer/submodules/packages/components/src/components/cellRenderers/nameCell.tsx
  designer/submodules/packages/components/src/components/cellRenderers/processingModesCell.tsx
  designer/submodules/packages/components/src/components/filters/componentsFiltersModel.ts
  designer/submodules/packages/components/src/components/filters/index.ts
  designer/submodules/packages/components/src/components/filters/useComponentsFilterContext.ts
  designer/submodules/packages/components/src/components/listWithFilters.tsx
  designer/submodules/packages/components/src/components/tableWrapper.tsx
  designer/submodules/packages/components/src/components/usages/componentView.tsx
  designer/submodules/packages/components/src/components/usages/filtersPart.tsx
  designer/submodules/packages/components/src/components/usages/nodesCell.tsx
  designer/submodules/packages/components/src/components/usages/usagesFiltersModel.ts
  designer/submodules/packages/components/src/components/usages/usagesTable.tsx
  designer/submodules/packages/components/src/components/usages/useUsagesFilterContext.ts
  designer/submodules/packages/components/src/scenarios/filters/activeFilters.tsx
  designer/submodules/packages/components/src/scenarios/filters/clearFiltersButton.tsx
  designer/submodules/packages/components/src/scenarios/filters/common/sortableFiltersModel.ts
  designer/submodules/packages/components/src/scenarios/filters/common/useScenariosFilterContext.ts
  designer/submodules/packages/components/src/scenarios/filters/filtersPart.tsx
  designer/submodules/packages/components/src/scenarios/filters/quickFilter.tsx
  designer/submodules/packages/components/src/scenarios/filters/scenariosFiltersModel.ts
  designer/submodules/packages/components/src/scenarios/filters/typeOptionsStack.tsx
  designer/submodules/packages/components/src/scenarios/list/author.tsx
  designer/submodules/packages/components/src/scenarios/list/item.tsx
  designer/submodules/packages/components/src/scenarios/list/itemsList.tsx
  designer/submodules/packages/components/src/scenarios/list/processingMode.tsx
  designer/submodules/packages/components/src/scenarios/list/tablePart.tsx
Labels: ui, submodules

#7956 Toolbar button with presets menu
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should be available via button and modal #0.png
  designer/client/src/components/toolbarComponents/ToolbarsLayer.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/Button.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ButtonMenu.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ButtonRoot.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/Icon.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButton.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButtons.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/types.ts
  designer/client/src/components/toolbarSettings/buttons/LinkButton.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItem.tsx
  designer/client/src/components/toolbars/test/buttons/AdhocTestingButton.tsx
  designer/client/src/components/toolbars/test/buttons/ButtonProgress.tsx
  designer/client/src/components/toolbars/test/buttons/CountsButton.tsx
  designer/client/src/components/toolbars/test/buttons/ScenarioTestButton.tsx
  designer/client/src/components/toolbars/types.tsx
  designer/client/src/windowManager/WindowManager.tsx
Labels: ui, client

#7961 Fix GeoUtils.distanceInKm, remove the Point class
  docs/Changelog.md
  engine/flink/management/dev-model/src/test/resources/extractedTypes/devCreator.json
  engine/flink/tests/src/test/resources/extractedTypes/defaultModel.json
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/geo.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/GeoUtilsSpec.scala
Labels: docs

#7898 auto-apply experiment
  designer/client/cypress/e2e/aggregations.cy.ts
  designer/client/src/actions/nk/nodeDetails.ts
  designer/client/src/actions/nk/selection.ts
  designer/client/src/actions/reduxTypes.ts
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/SelectionContextProvider.tsx
  designer/client/src/components/graph/node-modal/NodeField.tsx
  designer/client/src/components/graph/node-modal/NodeTypeDetailsContent.tsx
  designer/client/src/components/graph/node-modal/editors/expression/SpelTemplateEditor.tsx
  designer/client/src/components/graph/node-modal/editors/field/FieldSwitch.tsx
  designer/client/src/components/graph/node-modal/node/EditStateFeedback.tsx
  designer/client/src/components/graph/node-modal/node/NodeDetails.tsx
  designer/client/src/components/graph/node-modal/node/useNodeState.tsx
  designer/client/src/components/toolbars/edit/buttons/CounterToolbarButton.tsx
  designer/client/src/components/toolbars/edit/buttons/RedoButton.tsx
  designer/client/src/components/toolbars/edit/buttons/UndoButton.tsx
  designer/client/src/containers/Visualization.tsx
  designer/client/src/reducers/graph/historySquash.ts
  designer/client/src/reducers/graph/reducer.ts
  designer/client/src/reducers/index.ts
  designer/client/src/reducers/nodeWindowIdMap.ts
  designer/client/src/reducers/selectors/getHistory.ts
  designer/client/src/reducers/selectors/graph.ts
  designer/client/src/reducers/userSettings.ts
  designer/client/src/windowManager/useWindows.ts
Labels: ui, client

#7553 [NU-1977] `Key` variable change in window components
  designer/client/package.json
  designer/client/src/components/graph/node-modal/aggregate/aggregateContext.tsx
  designer/client/src/components/graph/node-modal/aggregate/pareserHelpers.tsx
  designer/client/src/components/graph/node-modal/aggregate/parserHelpers.test.ts
  designer/client/src/components/graph/node-modal/aggregate/useAggParamsSerializer.tsx
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/api/state/EvictableState.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/keyed.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/richflink.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/TransformersTest.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/TransformStateTransformer.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/UnionWithMemoTransformer.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/Aggregator.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatorFunction.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/EmitExtraWindowWhenNoDataTumblingAggregatorFunction.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/EmitWhenEventLeftAggregatorFunction.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/EnrichingWithKeyFunction.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/OnEventTriggerWindowOperator.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/UnwrappingAggregateFunction.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/sampleTransformers.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/transformers.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/FullOuterJoinAggregatorFunction.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/SingleSideJoinTransformer.scala
Labels: ui, docs, client

#7824 [NU-2116] Add Json type for schemaless topics with json content type
  build.sbt
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/generics/MethodTypeInfo.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/json/TypingType.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/json/decoders/FromJsonTypingResultBasedDecoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/json/decoders/TypingResultDecoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/json/encoders/TypeEncoders.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/AssignabilityDeterminer.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/supertype/CommonSupertypeFinder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/supertype/NumberTypesPromotionStrategy.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  designer/client/src/components/graph/GraphPartialsInTS/calcLayout.ts
  designer/client/src/components/graph/node-modal/aggregate/aggregateContext.tsx
  designer/client/src/components/graph/node-modal/aggregateParametersList.tsx
  designer/client/src/components/graph/node-modal/editors/field/FieldSwitch.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/NodesApiEndpoints.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ExpressionSuggesterSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/SchemalessKafkaJsonTypeTests.scala
  docs/Changelog.md
  docs/MigrationGuide.md
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/AggregatorFunction.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/SingleSideJoinTransformer.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/utils/ToTableTypeSchemaBasedEncoder.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSource.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/kafkaschemaless/KafkaJsonSchemalessSourceFactorySpec.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinition.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionDiscovery.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToListConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToMapConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/language/json/JsonParser.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/typer/MethodReferenceTyper.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/collection.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidator.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaUniversalComponentTransformer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidator.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/ParsedSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/source/UniversalKafkaSourceFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/typed/TypingResultFromJsonSampleTypeDeterminer.scala
Labels: ui, docs, client

#7969 Set of small cosmetic docs improvements.
  docs/about/KeyFeatures.md
  docs/about/Overview.md
  docs/scenarios_authoring/DesignerTipsAndTricks.md
  docs/scenarios_authoring/Spel.md
Labels: docs

#7973 docker-compose command used by cypress fixup
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Aggregations should display updated UI for aggregate-sliding #0.png
  designer/client/cypress/fixtures/aggregations.json
  designer/client/package.json
Labels: ui, client

#7980 force recreate broken snapshots
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Aggregations should display updated UI for aggregate-session #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Aggregations should display updated UI for aggregate-tumbling #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/aggregations should display updated UI for aggregate-session #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/aggregations should display updated UI for aggregate-sliding #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/aggregations should display updated UI for aggregate-tumbling #0.png
Labels: ui, client

#7968 Removed fallback to single-use MiniCluster in scenario testing and state verification mechanisms
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockDeploymentManager.scala
  docs/MigrationGuide.md
  docs/configuration/ScenarioDeploymentConfiguration.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManagerProvider.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/FlinkMiniClusterFactory.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/FlinkMiniClusterScenarioStateVerifier.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/FlinkMiniClusterScenarioTestRunner.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/ScenarioStateVerificationConfig.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/ScenarioTestingConfig.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/legacysingleuseminicluster/LegacyFallbackToSingleUseMiniClusterHandler.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/FlinkMiniClusterScenarioTestRunnerSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/kafka/KafkaScenarioTestingSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/schemedkafka/SchemedKafkaScenarioTestingSpec.scala
Labels: docs

#7987 dynamic params regression quick fix
  designer/client/src/components/graph/node-modal/NodeTypeDetailsContent.tsx
Labels: ui, client

#7990 Auto apply fix
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Aggregations should display updated UI for aggregate-sliding #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare should fill window #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Compare versions should render compare a version with fragment input parameters change marked #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should be available via button and modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should be available via button and modal #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Counts should be available via button and modal #3.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Dropdown should display menu portal #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Dropdown should display menu portal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Editors should display SpEL editor with editor switch to SpEL Template Editor #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Editors should display SpEL editor with editor switch to SpEL Template Editor #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display javadocs #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Expression suggester should display javadocs #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should open properties #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should allow adding input parameters #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment with advanced input parameters should validate and save changes #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Node window should display event-generator source #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Nodes advanced section should display and expand advanced section #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should open properties from tips panel #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should preserve condition on link move (switch) #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process should zoomrestore node window with test data #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process tests from file should properly display results of tests from file #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should allow editing choice edge expression #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should display some node details in modal #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display colorfull sql code #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display colorfull sql code #1.png
  designer/client/src/components/graph/node-modal/NodeTypeDetailsContent.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/FieldsSelect.tsx
  designer/client/src/components/graph/node-modal/node/StyledHeader.tsx
  designer/client/src/components/graph/node-modal/parametersListAdvanced.tsx
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - choice #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - filter #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - recordVariable #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - recordVariable #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - union #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - basic components - variable #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #0.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #1.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Inputs #2.png
  docs/autoScreenshotChangeDocs/Auto Screenshot Change Docs - fragments - Properties #0.png
Labels: ui, docs, client

#8005 [NU-1948] Fix projection, selection and #Collection.merge on table api org.apache.flink.types.Row class
  build.sbt
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/TypeConversionHandler.scala
  docs/Changelog.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceTest.scala
  scenario-compiler/src/main/java/org/springframework/expression/spel/ast/Projection.java
  scenario-compiler/src/main/java/org/springframework/expression/spel/ast/Selection.java
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/internal/FlinkRowToMapConverter.scala
  scenario-compiler/src/main/java/pl/touk/nussknacker/engine/spel/internal/IndexedRecordToMapConverter.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/DefaultSpelConversionsProvider.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/CollectionUtilsSpec.scala
Labels: docs

#8012 [NU-2155] groupBy in aggregating components always producing list in #key - also for one element
  designer/client/src/components/graph/node-modal/aggregate/useAggParamsSerializer.tsx
  docs/MigrationGuide.md
Labels: ui, docs, client

#8001 [NU-2151] provide handling of initial user flags
  designer/client/src/components/graph/node-modal/editors/expression/CustomCompleterAceEditor.tsx
  designer/client/src/reducers/userSettings.ts
Labels: ui, client

#8014 fixed aggregations switcher
  designer/client/src/components/graph/node-modal/NodeTypeDetailsContent.tsx
  designer/client/src/components/graph/node-modal/editors/field/FieldSwitch.tsx
Labels: ui, client

#7971 Test button tweaks
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sticky notes should add text to note and display it as markdown #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sticky notes should allow to drag sticky note #0.png
  designer/client/src/actions/actionTypes.ts
  designer/client/src/actions/nk/displayTestResults.ts
  designer/client/src/actions/nk/ui/uiActions.ts
  designer/client/src/actions/reduxTypes.ts
  designer/client/src/components/customRadio/CustomRadio.tsx
  designer/client/src/components/graph/SelectionContextProvider.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Editor.ts
  designer/client/src/components/graph/node-modal/editors/field/FieldSwitch.tsx
  designer/client/src/components/graph/node-modal/io/InputOutputContent.tsx
  designer/client/src/components/graph/node-modal/node/useEditState.tsx
  designer/client/src/components/graph/node-modal/node/useNodeState.tsx
  designer/client/src/components/modals/AdhocTesting/AdhocTestingDialog.tsx
  designer/client/src/components/modals/AdhocTesting/useAdhocTestingAction.tsx
  designer/client/src/components/modals/AdhocTesting/useAdhocTestingAvailability.tsx
  designer/client/src/components/modals/AdhocTesting/useAdhocTestingParametersValidation.tsx
  designer/client/src/components/modals/GenerateDataAndTestDialog.tsx
  designer/client/src/components/modals/Testing/TestVariantForm.tsx
  designer/client/src/components/modals/Testing/TestWithGeneratedData.tsx
  designer/client/src/components/modals/Testing/TestWithParametersMultipleSourcesForm.tsx
  designer/client/src/components/modals/Testing/TestWithParametersSingleSourceForm.tsx
  designer/client/src/components/modals/Testing/TestingContext.tsx
  designer/client/src/components/modals/Testing/TestingDialog.tsx
  designer/client/src/components/modals/Testing/TestingForm.tsx
  designer/client/src/components/modals/Testing/useTestOptions.tsx
  designer/client/src/components/toolbarComponents/ToolbarsContainer.tsx
  designer/client/src/components/toolbarComponents/ToolbarsLayer.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/Button.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ButtonMenu.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ButtonRoot.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/ToolbarButton.tsx
  designer/client/src/components/toolbarComponents/toolbarButtons/types.ts
  designer/client/src/components/toolbarSettings/HorizontalButtonsToolbar.tsx
  designer/client/src/components/toolbars/edit/buttons/CounterToolbarButton.tsx
  designer/client/src/components/toolbars/edit/buttons/PasteButton.tsx
  designer/client/src/components/toolbars/test/buttons/FromFileButton.tsx
  designer/client/src/components/toolbars/test/buttons/GenerateAndTestButton.tsx
  designer/client/src/components/toolbars/test/buttons/GenerateButton.tsx
  designer/client/src/components/toolbars/test/buttons/ScenarioTestButton.tsx
  designer/client/src/components/toolbars/types.tsx
  designer/client/src/reducers/selectors/getHistory.ts
  designer/client/src/reducers/ui.ts
Labels: ui, client
