Repository TouK/nussknacker, pull requests merged in 2025-03, with the labels that each got.

#7591 Improve scenario testing error messages
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NodesApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/SettingsResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TestingApiErrorMessages.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/TestingApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/NodesApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/TestingApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/processingtype/loader/DeploymentManagerProviderCorrectClassloaderHandler.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/PreliminaryScenarioTestDataSerDe.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/test/resources/config/common-designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/TestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/processingtype/ScenarioParametersServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/test/PreliminaryScenarioTestDataSerDeTest.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  docs/configuration/DesignerConfiguration.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/test/TestInfoProvider.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProviderSpec.scala
Labels: docs

#7600 Custom HTTP service SPI
  build.sbt
  designer/custom-http-service-api/src/main/scala/pl/touk/nussknacker/ui/customhttpservice/CustomHttpServiceProvider.scala
  designer/custom-http-service-api/src/main/scala/pl/touk/nussknacker/ui/customhttpservice/CustomHttpServiceProviderFactory.scala
  designer/custom-http-service-api/src/main/scala/pl/touk/nussknacker/ui/customhttpservice/services/NussknackerServicesForCustomHttpService.scala
  designer/custom-http-service-api/src/main/scala/pl/touk/nussknacker/ui/customhttpservice/services/ScenarioService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/customhttpservice/ProcessServiceBasedScenarioServiceAdapter.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ScenarioVersionQuery.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/FetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioVersionMetadata.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/resources/META-INF/services/pl.touk.nussknacker.ui.customhttpservice.CustomHttpServiceProviderFactory
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockFetchingProcessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/TestCustomHttpServiceProviderFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/customhttpservice/CustomHttpServiceTest.scala
  docs/Changelog.md
Labels: docs

#7578 [NU-2015] Component labels
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentConfig.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentProvider.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/util/IdToTitleConverter.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/util/IdToTitleConverterTest.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should allow filtering by processing mode #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Components list should filter usage types #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Creator toolbar should allow collapse (persist) and filtering #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should add documentation url in fragment properties and show it in modal within scenario #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should open properties from tips panel #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process with data should allow editing choice edge expression #0.png
  designer/client/cypress/e2e/compareVersions.cy.ts
  designer/client/cypress/e2e/components.cy.ts
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/cypress/e2e/nodeWindow.cy.ts
  designer/client/cypress/e2e/process.cy.ts
  designer/client/cypress/e2e/switch.cy.ts
  designer/client/cypress/e2e/undo.cy.ts
  designer/client/src/components/graph/node-modal/nodeDetails/NodeDetailsModalHeader.tsx
  designer/client/src/http/HttpService.ts
  designer/client/src/reducers/graph/__snapshots__/utils.test.ts.snap
  designer/client/src/reducers/graph/utils.fixtures.ts
  designer/client/src/types/scenarioGraph.ts
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/ComponentApiEndpoints.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/component/ComponentNodeTemplatePreparer.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/util/PdfExporter.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentGroupsPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/DefaultComponentServiceSpec.scala
  designer/submodules/packages/components/src/components/cellRenderers/nameCell.tsx
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  docs/configuration/model/ModelConfiguration.md
  engine/flink/components/base/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/FlinkBaseComponentProvider.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentAdditionalConfigConverter.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionWithImplementation.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/defaultconfig/DefaultComponentConfigDeterminer.scala
Labels: ui, docs, client, submodules

#7616 [NU-2048] (K8s DM) Fix for: k8s object name sanitizing strategy
  docs/Changelog.md
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerConfig.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sUtils.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/OptionalNussknackerInstanceName.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/RequestResponseScenarioValidator.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/RequestResponseSlugUtils.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/deployment/DeploymentPreparer.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/ingress/IngressPreparer.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/service/ServicePreparer.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerUnitTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sUtilsTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/RequestResponseScenarioValidatorTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/RequestResponseSlugUtilsTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/deployment/DeploymentPreparerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/ingress/IngressPreparerTest.scala
Labels: docs

#7618 More info in logs for exceptions
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  common-api/src/main/scala/pl/touk/nussknacker/engine/api/util/ExceptionUtils.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/exception/NonTransientException.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/exception/NuExceptionInfo.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/NuDesignerErrorToHttp.scala
  docs/MigrationGuide.md
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/exception/DefaultExceptionConsumers.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/util/transformer/aggregate/ModelUtilExceptionHandlingSpec.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/exception/FlinkExceptionHandler.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/exception/RateMeterExceptionConsumer.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/AsyncInterpretationFunction.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/registrar/SyncInterpretationFunction.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/exception/FlinkExceptionHandlerSpec.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/helpers/ProcessTestHelpers.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumer.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaExceptionConsumerSerializationSpec.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/HttpFlinkClient.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/MiniClusterJobStatusCheckingOps.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaAvroPayloadIntegrationSpec.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/RecordingExceptionConsumer.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/lite/components-api/src/main/scala/pl/touk/nussknacker/engine/lite/api/commonTypes.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/ScenarioRoute.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/ProcessListener.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/exception/DeeplyCheckingExceptionExtractor.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/exception/EspExceptionConsumer.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/exception/WithExceptionExtractor.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/testmode/TestProcess.scala
  extensions-api/src/test/scala/pl/touk/nussknacker/engine/api/exception/DeeplyCheckingExceptionExtractorTest.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/Interpreter.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/extension/ToMapConversionExt.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/internal/propertyAccessors.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/testmode/ResultsCollectingListener.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelConversionServiceOverrideSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/CollectionUtilsSpec.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaJsonExceptionSerializationSchema.scala
  utils/kafka-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/exception/KafkaJsonExceptionSerializationSchemaSpec.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/TopicSelectionStrategy.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/LoggingListener.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/exception/DefaultWithExceptionExtractor.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/exception/ExceptionRateMeter.scala
  utils/utils-internal/src/main/scala/pl/touk/nussknacker/engine/util/metrics/common/ExceptionCountingListener.scala
Labels: docs

#7617 [NU-2048] (K8s DM) Fix for: nodes parameters passed during deployment…
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DefaultProcessingTypeDeployedScenariosProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentApiHttpServiceSecuritySpec.scala
  dockerhub/nussknacker-lite-runtime-app/README.md
  docs/configuration/ScenarioDeploymentConfiguration.md
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/DeploymentStrategy.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/EmbeddedDeploymentManager.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/requestresponse/RequestResponseDeploymentStrategy.scala
  engine/lite/embeddedDeploymentManager/src/main/scala/pl/touk/nussknacker/engine/embedded/streaming/StreamingDeploymentStrategy.scala
  engine/lite/integration-test/src/it/resources/sampleDeploymentData.conf
  engine/lite/integration-test/src/it/resources/sampleDeploymentData.json
  engine/lite/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/utils/NuRuntimeDockerTestUtils.scala
  engine/lite/integration-test/src/it/scala/pl/touk/nussknacker/engine/lite/utils/NuRuntimeTestUtils.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManager.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/deployment/DeploymentPreparer.scala
  engine/lite/k8sDeploymentManager/src/main/scala/pl/touk/nussknacker/k8s/manager/deployment/LiteDeploymentData.scala
  engine/lite/k8sDeploymentManager/src/test/resources/k8sResponses/podsCrashLoopBackOff.json
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/BaseK8sDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerKafkaTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerReqRespTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/TestComponentProvider.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/deployment/DeploymentPreparerTest.scala
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreter.scala
  engine/lite/kafka/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/kafka/KafkaTransactionalScenarioInterpreterTest.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreter.scala
  engine/lite/request-response/runtime/src/main/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseRunnableScenarioInterpreter.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/RequestResponseInterpreterSpec.scala
  engine/lite/request-response/runtime/src/test/scala/pl/touk/nussknacker/engine/requestresponse/ScenarioRouteSpec.scala
  engine/lite/runtime-app/src/main/scala/pl/touk/nussknacker/engine/lite/app/LiteDeploymentData.scala
  engine/lite/runtime-app/src/main/scala/pl/touk/nussknacker/engine/lite/app/NuRuntimeApp.scala
  engine/lite/runtime-app/src/main/scala/pl/touk/nussknacker/engine/lite/app/RunnableScenarioInterpreterFactory.scala
  engine/lite/runtime-app/src/universal/bin/nu-engine-entrypoint.sh
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/ScenarioInterpreterFactory.scala
  engine/lite/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/TestRunner.scala
  engine/lite/runtime/src/test/scala/pl/touk/nussknacker/engine/lite/sample.scala
  utils/components-testkit/src/main/scala/pl/touk/nussknacker/engine/util/test/TestScenarioRunner.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
  utils/flink-components-testkit/src/test/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunnerSpec.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/LiteTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/RequestResponseTestScenarioRunner.scala
  utils/lite-components-testkit/src/main/scala/pl/touk/nussknacker/engine/lite/util/test/SynchronousLiteInterpreter.scala
Labels: docs

#7615 Flink 1.19.1 -> 1.19.2
  build.sbt
  docs/Changelog.md
  engine/flink/test-utils/src/main/resources/docker/Dockerfile
  examples/dev/local-testing.docker-compose.yml
  examples/installation/docker-compose.yml
Labels: docs

#7620 Allow unlimited number of sticky notes - maxNotesCount is now optional
  designer/client/src/actions/nk/assignSettings.ts
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/StickyNotesApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/stickynotes/Dtos.scala
  designer/server/src/test/resources/config/common-designer.conf
  docs/MigrationGuide.md
Labels: ui, docs, client

#7623 Bump Material UI to version 5.16.14
  designer/client/package-lock.json
  designer/client/package.json
  designer/submodules/package-lock.json
  designer/submodules/packages/components/package.json
Labels: ui, client, submodules

#7648 Strip namespace from topic name in `inputMeta` context variable
  docs/Changelog.md
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactorySpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/FlinkNamespacedKafkaTest.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaContextInitializer.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSourceFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/source/UniversalKafkaSourceFactory.scala
Labels: docs

#7630 [Nu-7624] Hide scenario labels when their number exceeds threshold
  designer/client/src/components/toolbars/scenarioDetails/ScenarioLabels.tsx
Labels: ui, client

#7649 [NU-1319] Change sticky note component label to uppercase and assign it to Misc group
  designer/client/cypress/e2e/creatorToolbar.cy.ts
  designer/client/cypress/e2e/stickyNotes.cy.ts
  designer/client/src/components/toolbars/creator/StickyNoteComponent.tsx
  docs/Changelog.md
Labels: ui, docs, client

#7626 [NU-2071] Add test capabilities for event generator source
  build.sbt
  designer/server/src/test/resources/config/business-cases/dev-streaming-use-case-designer.conf
  designer/server/src/test/resources/config/business-cases/simple-streaming-use-case-designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/test/config/ConfigWithScalaVersion.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/config/WithSimplifiedDesignerConfig.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/EventGeneratorSourceTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/EventGeneratorSourceWithDynamicallyParsedDateValueTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/EventGeneratorSourceWithRecordValueTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/EventGeneratorSourceWithStaticIntValueTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/EventGeneratorSourceWithStaticStringValueTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/GenericSourceWithCustomVariablesTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/TestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/config/FeatureTogglesConfigTest.scala
  docs/Changelog.md
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/EventGeneratorSourceFactory.scala
  project/CheckSqlSchemasInStagedScalaFilesPlugin.scala
Labels: docs

#7660 NU-2084 fix concatenate text
  designer/client/src/components/graph/node-modal/editors/expression/RawEditor.tsx
Labels: ui, client

#7664 UI experiments prepare - minor bugfixes
  designer/client/src/components/graph/EspNode/element.ts
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/NodeUtils.ts
  designer/client/src/components/graph/node-modal/switch.tsx
Labels: ui, client

#7401 time pickers digits visibility
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Node window should display event-generator source #0.png
  designer/client/src/components/graph/node-modal/editors/expression/Duration/TimeRangeStyled.ts
Labels: ui, client

#7650 [Nu-2015] Fragments label fix
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should add documentation url in fragment properties and show it in modal within scenario #0.png
  designer/client/cypress/e2e/compareVersions.cy.ts
  designer/client/cypress/e2e/components.cy.ts
  designer/client/cypress/e2e/fragment.cy.ts
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/DefinitionResourcesSpec.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/defaultconfig/DefaultComponentConfigDeterminer.scala
Labels: ui, client

#7681 NU-2084 fix info text visibility
  designer/client/src/components/graph/node-modal/editors/expression/RawEditor.tsx
Labels: ui, client

#7663 [NU-2071] Event generator dry run tests
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/PekkoHttpBasedRouteFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/PekkoHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/EventGeneratorSourceTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/GenericSourceWithCustomVariablesTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/TestingApiHttpServiceSpec.scala
  docs/Changelog.md
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/EventGeneratorSourceFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/TestFlinkProcessCompilerDataFactory.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/testmode/TestDataPreparer.scala
Labels: docs

#7695 [NU-2015] Added MigrationGuide entry for component labels
  docs/MigrationGuide.md
Labels: docs

#7696 [Nu-2091] handling advanced parameters errors
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/common/error-boundary/fallbackComponent/TextErrorBoundaryFallbackComponent.tsx
  designer/client/src/components/common/error-boundary/fallbackComponent/index.ts
  designer/client/src/components/modals/DeployWithParameters/AdvancedParameters.tsx
  designer/client/src/components/modals/DeployWithParameters/AdvancedParametersSection.tsx
  designer/client/src/components/modals/DeployWithParameters/DeployWithParametersDialog.tsx
  designer/client/src/components/modals/DeployWithParameters/GroupedActionParameter.tsx
  designer/client/src/components/modals/DeployWithParametersDialog.tsx
  designer/client/src/windowManager/ContentGetter.tsx
Labels: ui, client

#7685 Minor improvements in activities panel
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Activities should display activities #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Activities should display activities #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Activities should display activities #3.png
  designer/client/package-lock.json
  designer/client/package.json
  designer/client/src/components/graph/EspNode/element.ts
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItem.tsx
  designer/client/src/components/toolbars/activities/ActivityPanelRowItem/ActivityItemHeader.tsx
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ScenarioActivityApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioActivity/Dtos.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioActivity/Examples.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/processes/WithScenarioActivitySpecAsserts.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/MigrationApiHttpServiceBusinessSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
Labels: ui, client

#7712 Synchronize table components
  .run/NussknackerApp-dist-config.run.xml
  .run/NussknackerApp-postgres.run.xml
  .run/NussknackerApp.run.xml
  build.sbt
  designer/server/src/test/resources/config/business-cases/batch-designer.conf
  designer/server/src/test/resources/config/business-cases/tables-definition.sql
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/BaseDeploymentApiHttpServiceBusinessSpec.scala
  docs/configuration/Common.md
  e2e-tests/src/test/resources/batch-data-generation/batch-customizations.conf
  e2e-tests/src/test/resources/batch-data-generation/tables-definition.sql
  e2e-tests/src/test/resources/batch-nu-designer.override.yml
  e2e-tests/src/test/scala/pl/touk/nussknacker/BatchDataGenerationSpec.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/FlinkSqlTableTestCases.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/definition/FlinkDdlParserTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/definition/SqlFromFileReaderTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/definition/TablesDefinitionDiscoveryTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/join/TableJoinTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableFileSinkTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSinkParametersTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceDataGenerationTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceTest.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/utils/DataTypesExtensionsSpec.scala
  engine/flink/components/table/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.api.component.ComponentProvider
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/FlinkTableComponentProvider.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/FlinkTableDataSourceComponentProvider.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/FlinkTableOpsComponentProvider.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/aggregate/TableAggregationFactory.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/definition/FlinkDataDefinition.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/definition/FlinkDdlParser.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/definition/SqlStatementReader.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/join/TableJoinComponent.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/sink/TableSinkFactory.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSource.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceFactory.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/docker/WithFlinkContainers.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/devmodel/TableKafkaPingPongTest.scala
  nussknacker-dist/src/universal/bin/nussknacker-entrypoint.sh
  nussknacker-dist/src/universal/bin/run.sh
  nussknacker-dist/src/universal/conf/dev-application.conf
  nussknacker-dist/src/universal/conf/dev-tables-definition.sql
Labels: docs

#7714 [NU-1862] Spel Template: Wrapping with TemplateEvaluationResult only when need
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Editors should display SpEL editor with editor switch to SpEL Template Editor #1.png
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/SpelTemplateLazyParameterTest.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/LoggingService.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/SqlSource.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/testcomponents/SpelTemplatePartsService.scala
Labels: ui, client

#7653 [NU-2071] Encoder/decoder refactor
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/json/TypingType.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/json/decoders/FromJsonSimpleDecoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/json/decoders/FromJsonTypingResultBasedDecoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/json/decoders/TypingResultDecoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/json/encoders/ToJsonEncoderWithFallback.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/json/encoders/TypeEncoders.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/ValueEncoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/json/FromJsonDecoderTest.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/json/FromJsonSimpleDecoderTest.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/FromJsonTypingResultBasedDecoderSpec.scala
  components-api/src/test/scala/pl/touk/nussknacker/engine/api/typed/TypingResultDecoderSpec.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/ValidationResults.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DictApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/NodesApiEndpoints.scala
  docs/Changelog.md
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/EventGeneratorSourceFactory.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/ClassDiscoveryBaseTest.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/conversion.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/SwaggerTyped.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/swagger/decode/FromJsonSchemaBasedDecoder.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/SwaggerBasedJsonSchemaTypeDefinitionExtractorTest.scala
  utils/utils/src/main/scala/pl/touk/nussknacker/engine/util/json/ToJsonEncoder.scala
Labels: docs

#7735 Resolve UI issues
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Editors should display SpEL editor with editor switch to SpEL Template Editor #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Editors should display SpEL editor with editor switch to SpEL Template Editor #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #4.png
  designer/client/cypress/e2e/editors.cy.ts
  designer/client/src/components/graph/node-modal/MarkdownStyled.tsx
  designer/client/src/components/graph/node-modal/editors/expression/SpelEditor.tsx
  designer/client/src/components/graph/node-modal/editors/expression/editorsParameters.ts
  designer/client/src/components/graph/node-modal/nodeDetails/IconModalTitle.tsx
Labels: ui, client

#7752 [NU-1862] Adjust dry run to use spel template and provide default val…
  common-api/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExtension.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/GenericSourceWithCustomVariablesTestingApiHttpServiceSpec.scala
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/validationHelpers.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProviderSpec.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonDefaultExpressionDeterminer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/AvroDefaultExpressionDeterminer.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/AvroDefaultExpressionDeterminerTest.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/AvroSinkValueParameterTest.scala
Labels: docs

#7773 Local developer environment: expose grafana behind reverse proxy
  .run/NussknackerApp-dist-config.run.xml
  .run/NussknackerApp-postgres.run.xml
  .run/NussknackerApp.run.xml
  CONTRIBUTING.md
  designer/runServer.sh
  examples/dev/local-testing.docker-compose.yml
  examples/dev/nginx.override.yaml
  examples/dev/nginx/additional/akhq.conf
  examples/dev/nginx/additional/flink.conf
  examples/dev/nginx/nginx.conf
Labels: docs

#7764 [NU-2106] Fix spel template evaluation in runtime
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/TemplateEvaluationResult.scala
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSpec.scala
Labels: docs

#7732 [Nu-7702] Warn user when scenario version is outdated before save or deploy
  designer/client/src/components/modals/GenericConfirmDialog.tsx
  designer/client/src/components/toolbars/process/buttons/SaveButton.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/DeployButton.tsx
  designer/client/src/components/versionControl/types.ts
  designer/client/src/http/HttpService.ts
  designer/client/src/windowManager/useWindows.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/VersionControlApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/VersionControlApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/TapirHttpServiceFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/WithCategoryUsedMoreThanOnceConfigScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/VersionControlApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/VersionControlApiHttpServiceSecuritySpec.scala
  docs-internal/api/nu-designer-openapi.yaml
Labels: ui, client

#7781 [Nu-7702] Warn user when scenario version is outdated before save or …
  designer/client/src/components/modals/GenericConfirmDialog.tsx
  designer/client/src/components/toolbars/process/buttons/SaveButton.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/DeployButton.tsx
  designer/client/src/components/versionControl/types.ts
  designer/client/src/http/HttpService.ts
  designer/client/src/windowManager/useWindows.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/VersionControlApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/VersionControlApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/TapirHttpServiceFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/WithCategoryUsedMoreThanOnceConfigScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/VersionControlApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/VersionControlApiHttpServiceSecuritySpec.scala
  docs-internal/api/nu-designer-openapi.yaml
Labels: ui, client

#7788 Safe list navigation
  docs/scenarios_authoring/DesignerTipsAndTricks.md
Labels: docs

#7690 [NU-2077] Make dry run schemaless JSON validation possible
  build.sbt
  common-api/src/main/scala/pl/touk/nussknacker/engine/graph/expression/Expression.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/EventGeneratorSourceTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/GenericSourceWithCustomVariablesTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/JsonSchemalessAdHocTestsSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/TestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/WithAdHocTestParameters.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/WithAdHocTestsLogic.scala
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/EditorBasedLanguageDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/EditorPossibleValuesBasedDefaultValueDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/TypeRelatedParameterValueDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/language/json/JsonParser.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionParseError.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/language/json/JsonParserTest.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/ParsedSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/UniversalSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/UniversalKafkaSinkFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/source/UniversalKafkaSourceFactory.scala
Labels: docs

#7693 Fixes for migrations in activities panel
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Activities should display activities #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Activities should display activities #2.png
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/AuthorizeProcessDirectives.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/MigrationApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ScenarioActivityApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/MigrationApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrateScenarioData.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrationApiAdapters.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/migrations/MigrationService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ScenarioActivityAuditLog.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/HttpRemoteEnvironment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/ProcessModelMigrator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/RemoteEnvironment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironment.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/activities/DbScenarioActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/PekkoRoutesFactory.scala
  designer/server/src/test/resources/config/business-cases/basicauth-users.conf
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/config/WithBusinessCaseRestAssuredUsersExtensions.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/processes/WithScenarioActivitySpecAsserts.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ScenarioToJsonHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/MigrationApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/RemoteEnvironmentResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/initialization/InitializationOnDbItSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/DictsFlowTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/HttpRemoteEnvironmentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/migrate/StandardRemoteEnvironmentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentRepositorySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/periodic/PeriodicProcessServiceIntegrationTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/periodic/flink/PeriodicDeploymentManagerTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepositorySpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/configuration/DesignerConfiguration.md
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ScenarioActivity.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  security/src/main/scala/pl/touk/nussknacker/ui/security/api/ImpersonationSupport.scala
  security/src/main/scala/pl/touk/nussknacker/ui/security/basicauth/BasicAuthenticationResources.scala
Labels: ui, docs, client

#7805 [NU-1930] Handle components advanced parameters
  components-api/src/main/java/pl/touk/nussknacker/engine/api/ParameterCategory.java
  components-api/src/main/java/pl/touk/nussknacker/engine/api/ParameterCategoryType.java
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentConfig.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/NodeDependency.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/extractor/ParametersExtractor.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/NodesApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NodesApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/GenericSourceWithCustomVariablesTestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/testing/TestingApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/integration/BaseFlowTest.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/LoggingService.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentAdditionalConfigConverter.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/ParameterCategoryExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/ParameterExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/modelconfig/ComponentsUiConfigParser.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/component/parameter/ParameterCategoryExtractorTest.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/component/parameter/editor/EditorExtractorTest.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/component/parameter/validator/ValidatorsExtractorTest.scala
Labels: docs
