Repository TouK/nussknacker, pull requests merged in 2025-02, with the labels that each got.

#7518 Added a mention of the jedrz ML blog post
  docs/scenarios_authoring/Enrichers.md
Labels: docs

#7523 [Nu-7520] Validate run off schedule comment on FE (#7521)
  designer/client/src/components/modals/DeployProcessDialog.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/types.ts
  designer/client/src/http/HttpService.ts
Labels: ui, client

#7524 Add posibility to choose valid value after editors inconsistencies
  designer/client/src/components/graph/node-modal/editors/expression/EditorBasedLanguageDeterminer.ts
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionField.tsx
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/validation/PrettyValidationErrors.scala
  docs/Changelog.md
Labels: ui, docs, client

#7526 Fix description in docs for config: authentication.rolesClaims
  docs/configuration/DesignerConfiguration.md
Labels: docs

#7530 Fix switching expression languages in dictionary dual editor
  designer/client/src/components/graph/node-modal/editors/expression/EditorBasedLanguageDeterminer.ts
Labels: ui, client

#7529 Add confirmation windows to delete sticky note
  designer/client/src/common/DialogMessages.ts
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/GraphWrapped.tsx
Labels: ui, client

#7531 Turn on Cypress fragments test after fixes
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #8.png
  designer/client/cypress/e2e/fragment.cy.ts
Labels: ui, client

#7517 [NU-1904] Adjust logging and remove logback json libs
  build.sbt
  designer/server/src/main/scala/pl/touk/nussknacker/ui/NussknackerApp.scala
  docs/Changelog.md
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/DynamicNodeValidator.scala
Labels: docs

#7538 Add sections to Machine Learning integration page
  docs/integration/MachineLearning.md
Labels: docs

#7522 Scenario visualization loading improvements - part 3 - UIDefinitions faster resolving
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/AlignedComponentsDefinitionProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/fragment/FragmentRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/FetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockFetchingProcessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/EdgeTypesPreparerTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentGroupsPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentsUsageHelperTest.scala
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/FlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFragmentSourceDefinitionPreparerSpec.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidator.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/clazz/ClassDefinitionSet.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentComponentDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentParameterTypingParser.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentParametersDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/nodecompilation/FragmentParameterValidatorTest.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkProcessCompilerDataFactoryWithTestComponents.scala
Labels: docs

#7519 Fix different json representation in scheduling mechanism
  .run/NussknackerApp-postgres.run.xml
  designer/server/src/main/resources/db/migration/common/V1_062__ScenarioSchedulingTablesModifications.sql
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/PeriodicProcessDeploymentsTable.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/PeriodicProcessesTable.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/periodic/PeriodicProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/periodic/legacy/db/LegacyPeriodicProcessesRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/periodic/model/SchedulesState.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/DBFetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/FetchingProcessRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/PeriodicProcessesRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/db/DbTesting.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockFetchingProcessRepository.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/periodic/flink/db/InMemPeriodicProcessesRepository.scala
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#7534 [NU-1979] Scenario testing improvement: configurable timeout added
  build.sbt
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/DeploymentManagerDependencies.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/newdeployment/DeploymentServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/periodic/PeriodicProcessServiceIntegrationTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/periodic/flink/PeriodicProcessServiceTest.scala
  docs/MigrationGuide.md
  docs/configuration/ScenarioDeploymentConfiguration.md
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/DevelopmentDeploymentManagerProvider.scala
  engine/development/deploymentManager/src/main/scala/pl/touk/nussknacker/development/manager/MockableDeploymentManagerProvider.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/scenariotesting/FlinkScenarioStateVerificationJob.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/scenariotesting/FlinkScenarioTestingJob.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/runner/SimpleProcessConfigCreator.scala
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerProviderHelper.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkConfig.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkRestManagerSpec.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/FlinkMiniClusterConfig.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/FlinkMiniClusterFactory.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/MiniClusterJobStatusCheckingOps.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/FlinkMiniClusterScenarioStateVerifier.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/FlinkMiniClusterScenarioTestRunner.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/ScenarioStateVerificationConfig.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/ScenarioTestingConfig.scala
  engine/flink/minicluster/src/main/scala/pl/touk/nussknacker/engine/flink/minicluster/util/DurationToRetryPolicyConverter.scala
  engine/flink/minicluster/src/test/scala/pl/touk/nussknacker/engine/flink/minicluster/MiniClusterJobStatusCheckingOpsTest.scala
  engine/flink/minicluster/src/test/scala/pl/touk/nussknacker/engine/flink/minicluster/util/DurationToRetryPolicyConverterTest.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/flink/test/ScalatestMiniClusterJobStatusCheckingOps.scala
  engine/flink/test-utils/src/main/scala/pl/touk/nussknacker/engine/process/helpers/SampleNodes.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/FlinkMiniClusterScenarioTestRunnerSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/kafka/KafkaScenarioTestingSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/engine/flink/minicluster/scenariotesting/schemedkafka/SchemedKafkaScenarioTestingSpec.scala
  engine/lite/embeddedDeploymentManager/src/test/scala/pl/touk/nussknacker/streaming/embedded/RequestResponseEmbeddedDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/BaseK8sDeploymentManagerTest.scala
  engine/lite/k8sDeploymentManager/src/test/scala/pl/touk/nussknacker/k8s/manager/K8sDeploymentManagerOnMocksTest.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkTestScenarioRunner.scala
  utils/test-utils/src/main/scala/pl/touk/nussknacker/test/retry/PatienceConfigToRetryPolicyConverter.scala
  utils/test-utils/src/test/scala/pl/touk/nussknacker/test/retry/PatienceConfigToRetryPolicyConverterTest.scala
Labels: docs

#7539 Use programArgsList when deploying to Flink
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkArgsDecodeHack.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkStreamingProcessMain.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkArgsEncodeHack.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/HttpFlinkClient.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/rest/flinkRestModel.scala
Labels: docs

#7515 Scenario visualization loading improvements - part 1 - FE changes
  designer/client/cypress/support/process.ts
  designer/client/src/actions/nk/fetchVisualizationData.ts
  designer/client/src/common/ProcessUtils.ts
  designer/client/src/components/tips/Tips.tsx
  designer/client/src/components/tips/ValidTips.tsx
  designer/client/src/components/toolbars/creator/ToolBox.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/DeployButton.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/RunOffScheduleButton.tsx
  designer/client/src/http/HttpService.ts
  designer/client/src/reducers/selectors/graph.ts
  designer/client/src/reducers/selectors/settings.ts
  docs/Changelog.md
Labels: ui, docs, client

#7542 Use `restart-strategy.type` Flink config key instead of the deprecated `restart-strategy`
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/exception/RestartStrategyFromConfiguration.scala
Labels: docs

#7537 Collection helpers improvements
  docs/Changelog.md
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/collection.scala
  utils/default-helpers/src/main/scala/pl/touk/nussknacker/engine/util/functions/numeric.scala
  utils/default-helpers/src/test/scala/pl/touk/nussknacker/engine/util/functions/CollectionUtilsSpec.scala
Labels: docs

#7546 Skip non-deterministic Cypress test
  designer/client/cypress/e2e/fragment.cy.ts
Labels: ui, client

#7540 [NU-1979] FlinkDeploymentManager simpler - flatten 3 levels of inheritance + more
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesConcurrentSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesChangeListenerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/periodic/flink/FlinkClientStub.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/periodic/flink/ScheduledExecutionPerformerTest.scala
  docs/MigrationGuide.md
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/FlinkStreamingDeploymentManagerProviderHelper.scala
  engine/flink/management/src/main/resources/META-INF/services/pl.touk.nussknacker.engine.DeploymentManagerProvider
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManagerProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkRestManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkScheduledExecutionPerformer.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStatusDetailsDeterminer.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkStreamingRestManager.scala
  engine/flink/management/src/test/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManagerSpec.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessState.scala
Labels: docs

#7547 fragment cypress test fix
  designer/client/cypress/e2e/fragment.cy.ts
Labels: ui, client

#6860 [NU-1806] Add action parameters
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/NodesDeploymentData.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterEditor.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/src/components/graph/node-modal/editors/expression/Editor.ts
  designer/client/src/components/graph/node-modal/editors/expression/FixedValuesEditor.tsx
  designer/client/src/components/modals/ActionParameter.tsx
  designer/client/src/components/modals/AdvancedParametersSection.tsx
  designer/client/src/components/modals/DeployProcessDialog.tsx
  designer/client/src/components/modals/DeployWithParametersDialog.tsx
  designer/client/src/components/toolbars/scenarioActions/buttons/DeployButton.tsx
  designer/client/src/http/HttpService.ts
  designer/client/src/types/action.ts
  designer/client/src/windowManager/ContentGetter.tsx
  designer/client/src/windowManager/PromptContent.tsx
  designer/client/src/windowManager/WindowKind.tsx
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/definition/package.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ActionInfoHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/DeploymentApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/ActionInfoEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/DeploymentApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/utils/ScenarioHttpServiceExtensions.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ActionInfoService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ActionInfoResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/integration/KafkaIntegration.md
  engine/flink/components-api/src/main/scala/pl/touk/nussknacker/engine/flink/api/process/FlinkCustomNodeContext.scala
  engine/flink/components-utils/src/main/scala/pl/touk/nussknacker/engine/flink/util/source/CollectionSource.scala
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/table/source/TableSourceTest.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/source/TableSource.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkScenarioUnitTestJob.scala
  engine/flink/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/flink/FlinkKafkaSource.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceFactoryProcessMixin.scala
  engine/flink/kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/kafka/source/flink/KafkaSourceWithDeploymentParametersSpec.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/source/BoundedSource.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessAction.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/action/ActionInfoProvider.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/action/CommonModelDataInfoProvider.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/action/ModelDataActionInfoProvider.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/EditorBasedLanguageDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/test/ModelDataTestInfoProvider.scala
  utils/kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/source/KafkaSourceFactory.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaConfig.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaUtils.scala
Labels: ui, docs, client

#7558 [Nu-7557] Relax validation of initial value in fragment input definition while validation flag is disabled
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/InitialValue.tsx
Labels: ui, client

#7559 [Nu-7557] Relax validation (#7558)
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/InitialValue.tsx
Labels: ui, client

#7564 [NU-1806] Remove unused parameter in getActionParameters
  designer/client/src/components/modals/DeployWithParametersDialog.tsx
  designer/client/src/http/HttpService.ts
Labels: ui, client

#7568 Rename "JSON" button to "Export"
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Process initially clean should import JSON and save #1.png
  designer/client/src/components/toolbarSettings/buttons/BuiltinButtonTypes.ts
  designer/client/src/components/toolbarSettings/buttons/TOOLBAR_BUTTONS_MAP.ts
  designer/client/src/components/toolbarSettings/defaultToolbarsConfig.ts
  designer/client/src/components/toolbars/process/buttons/ExportButton.tsx
  designer/client/src/containers/event-tracking/helpers.ts
  designer/client/src/containers/event-tracking/use-register-tracking-events.ts
  designer/server/src/main/resources/defaultDesignerConfig.conf
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/StatisticsApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/config/scenariotoolbar/ToolbarButtonConfig.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/NuDesignerApiAvailableToExposeYamlSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
  docs/Changelog.md
  docs/MigrationGuide.md
  docs/configuration/DesignerConfiguration.md
Labels: ui, docs, client

#7562 [NU-1806] Add cancel request dto (instead of plain text comment)
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/CancelRequest.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/DeployRequest.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ManagementResources.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  docs/Changelog.md
  docs/MigrationGuide.md
Labels: docs

#7583 API cleanup: partial actions removal
  designer/client/src/components/Process/types.ts
  designer/client/src/http/HttpService.ts
  designer/client/src/reducers/graph/reducer.ts
  designer/client/src/reducers/graph/utils.fixtures.ts
  designer/client/src/reducers/selectors/graph.ts
  designer/client/test/CompareVersionDialog-test.tsx
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/ComponentApiEndpoints.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/component/package.scala
  designer/restmodel/src/main/scala/pl/touk/nussknacker/restmodel/scenariodetails/ScenarioWithDetails.scala
  designer/server/src/main/resources/db/migration/common/V1_064__ScenarioActivitiesDropModelInfo.sql
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ProcessesResources.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/BaseEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ScenarioActivityEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/component/ComponentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ProcessService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/ScenarioWithDetailsConversions.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/ActionService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ProcessDBQueryRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioActionRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/ScenarioActionRepositoryAuditLogDecorator.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/repository/activities/DbScenarioActivityRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/AkkaHttpBasedRouteProvider.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ScenarioHelper.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/TestProcessUtil.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentApiHttpServiceBusinessSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ComponentApiHttpServiceSecuritySpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ManagementResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/ProcessesResourcesSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentTestProcessData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentsUsageHelperTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/util/PdfExporterSpec.scala
  designer/submodules/packages/components/src/scenarios/list/item.tsx
  designer/submodules/packages/components/src/scenarios/list/tablePart.tsx
  docs-internal/api/nu-designer-openapi.yaml
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/ProcessAction.scala
  extensions-api/src/main/scala/pl/touk/nussknacker/engine/api/process/ScenarioVersion.scala
Labels: ui, client, submodules

#7587 [Nu-7573] Relax validation of absent variables in fragment input validation (#7574)
  defaultModel/src/main/scala/pl/touk/nussknacker/defaultmodel/DefaultConfigCreator.scala
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Fragment should allow adding input parameters and display used fragment graph in modal #2.png
  designer/server/src/test/scala/pl/touk/nussknacker/ui/validation/UIProcessValidatorSpec.scala
  scenario-api/src/main/scala/pl/touk/nussknacker/engine/graph/node.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ExpressionCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpression.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/SpelExpressionSuggester.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/spel/Typer.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/spel/TyperSpec.scala
Labels: ui, client

#7597 Use scenario slug in URLs
  docs/integration/RequestResponse.mdx
Labels: docs
