Repository TouK/nussknacker, pull requests merged in 2025-08, with the labels that each got.

#8352 Dependency updates
  .run/Template ScalaTest.run.xml
  build.sbt
  docs/Changelog.md
  engine/lite/components/kafka-tests/src/test/scala/pl/touk/nussknacker/engine/lite/components/utils/AvroGen.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/ContentTypes.scala
Labels: docs

#8460 consistent search parsing
  designer/client/cypress/e2e/search.cy.ts
  designer/client/src/components/toolbars/search/utils.ts
Labels: ui, client

#8464 stopped adding prefix to variable names when pasting
  designer/client/src/reducers/graph/__snapshots__/utils.test.ts.snap
  designer/client/src/reducers/graph/utils.ts
  designer/client/test/__snapshots__/reducer-test.js.snap
Labels: ui, client

#8466 settings view init
  designer/client/src/containers/RootRoutes.tsx
  designer/client/src/containers/settings/SearchField.tsx
  designer/client/src/containers/settings/SettingsView.tsx
  designer/client/src/containers/settings/collapsibleSwitchList.tsx
Labels: ui, client

#8501 [NU-2304] change-sticky-notes-style
  designer/client/src/components/StickyNotePreview.tsx
  designer/client/src/components/graph/EspNode/stickyNote/advancedStickyNoteConfig.ts
  designer/client/src/components/graph/EspNode/stickyNote/basicStickyNoteConfig.ts
  designer/client/src/components/graph/EspNode/stickyNote/stickyNote.ts
  designer/client/src/components/graph/EspNode/stickyNote/stickyNoteElements.ts
  designer/client/src/components/graph/EspNode/stickyNoteElements.ts
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/GraphPartialsInTS/applyCellChanges.ts
  designer/client/src/components/graph/GraphWrapped.tsx
  designer/client/src/components/graph/NodeDescriptionPopover.tsx
  designer/client/src/components/graph/ProcessGraph.tsx
  designer/client/src/components/graph/StickyNoteElement.ts
  designer/client/src/components/graph/graphStyledWrapper.ts
  designer/client/src/components/graph/node-modal/NodeTypeDetailsContent.tsx
  designer/client/src/components/graph/node-modal/stickyNote.tsx
  designer/client/src/components/graph/usePortMagnetToggle.tsx
  designer/client/src/components/toolbars/creator/StickyNoteComponent.tsx
  designer/client/src/containers/theme/helpers.ts
  designer/client/src/reducers/selectors/appendStickyNotes.ts
  designer/client/src/reducers/selectors/componentGroups.ts
  designer/client/src/reducers/userSettings.ts
Labels: ui, client

#8515 Configurable label and component group for sticky notes
  designer/client/src/components/toolbars/creator/StickyNoteComponent.tsx
Labels: ui, client

#8518 Skip aligning the fragment input component to the fragment definition when the fragment is not found
  designer/client/src/components/graph/utils/fragmentSchemaAligner.ts
Labels: ui, client

#8525 firefox clipboard fix
  designer/client/src/components/graph/SelectionContextProvider.tsx
Labels: ui, client

#8542 assistant button dnd
  designer/client/.eslintrc
  designer/client/src/components/aiAssistant/components/AiAssistantButton.tsx
  designer/client/src/components/aiAssistant/components/DragWrapper.tsx
  designer/client/src/containers/MainOutlet.tsx
  designer/client/src/containers/NussknackerApp.tsx
  designer/client/src/containers/useDocumentListeners.tsx
  designer/submodules/packages/components/src/scenarios/scenariosView.tsx
Labels: ui, client, submodules

#8545 [NU-2331] node open fix
  designer/client/src/reducers/nodeWindowIdMap.ts
  designer/client/src/windowManager/useWindows.ts
Labels: ui, client
