Repository TouK/nussknacker, pull requests merged in 2025-07, with the labels that each got.

#8293 test fix
  designer/client/cypress/e2e/jsonTemplateEditor.cy.ts
Labels: ui, client

#8213 [NU-2217] JSON parameter template instead of dynamic form for Kafka Sink
  .run/NussknackerApp.run.xml
  components-api/src/main/scala/pl/touk/nussknacker/engine/ModelConfig.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/Params.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/ParameterDeclaration.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/json/decoders/FromJsonSimpleDecoder.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/typed/typing.scala
  components/openapi/src/main/scala/pl/touk/nussknacker/openapi/enrichers/OpenAPIEnricher.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseLookupEnricher.scala
  components/sql/src/main/scala/pl/touk/nussknacker/sql/service/DatabaseQueryEnricher.scala
  docs/Changelog.md
  engine/flink/components/base-tests/src/test/scala/pl/touk/nussknacker/engine/flink/SpelTemplateLazyParameterTest.scala
  engine/flink/components/base-unbounded/src/main/scala/pl/touk/nussknacker/engine/flink/util/transformer/join/SingleSideJoinTransformer.scala
  engine/flink/components/table/src/main/scala/pl/touk/nussknacker/engine/flink/table/join/TableJoinComponent.scala
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/transformer/LastVariableFilterTransformer.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/helpers/KafkaAvroSpecMixin.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schema/AllTypesAvroSchemaWithDefaultValues.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schema/AllTypesAvroSchemaWithoutDefaultValues.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schema/AllTypesJsonSchemaWithDefaultValues.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/schema/AllTypesJsonSchemaWithoutDefaultValues.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/KafkaAvroSinkSpecMixin.scala
  engine/flink/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/UniversalKafkaSinkValidationSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/FlinkWithKafkaSuite.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/KafkaSinkWithJsonTemplateEditorItSpec.scala
  engine/flink/tests/src/test/scala/pl/touk/nussknacker/defaultmodel/kafkaschemaless/BaseKafkaJsonSchemalessItSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/testcomponents/SpelTemplatePartsService.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/output/OutputValidatorErrorsConverter.scala
  utils/components-utils/src/main/scala/pl/touk/nussknacker/engine/util/sinkvalue/SinkValue.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonSchemaBasedParameter.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/JsonTemplateFromJsonSchemaDeterminer.scala
  utils/json-utils/src/main/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidator.scala
  utils/json-utils/src/test/scala/pl/touk/nussknacker/engine/json/encode/JsonSchemaOutputValidatorTest.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/KafkaUniversalComponentTransformer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/AvroSchemaOutputValidator.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/JsonTemplateFromAvroSchemaDeterminer.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/encode/ToAvroSchemaBasedEncoder.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schema/AvroSchemaBasedParameter.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/confluent/client/MockSchemaRegistryClientBuilder.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/ParsedSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/schemaregistry/universal/UniversalSchemaSupport.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/sink/UniversalKafkaSinkFactory.scala
  utils/schemed-kafka-components-utils/src/main/scala/pl/touk/nussknacker/engine/schemedkafka/source/UniversalKafkaSourceFactory.scala
Labels: docs

#8298 [NU-2154] Change HTTP status code for live data not available for scenario
  designer/client/src/http/HttpService.ts
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioLiveData/ScenarioLiveDataApiEndpoints.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/livedata/ScenarioLiveDataApiHttpServiceSpec.scala
  docs-internal/api/nu-designer-openapi.yaml
Labels: ui, client

#8312 Bulk fe (live data) bugfixes
  designer/client/cypress/e2e/fragment.cy.ts
  designer/client/src/actions/nk/fetchVisualizationData.ts
  designer/client/src/actions/nk/nodeDetails.ts
  designer/client/src/actions/nk/process.ts
  designer/client/src/components/MenuBar/breadcrumbs.tsx
  designer/client/src/components/graph/EspNode/esp.ts
  designer/client/src/components/graph/Graph.tsx
  designer/client/src/components/graph/GraphWrapped.tsx
  designer/client/src/components/graph/NodeDescriptionPopover.tsx
  designer/client/src/components/graph/graphStyledWrapper.ts
  designer/client/src/components/graph/node-modal/node/NodeDetails.tsx
  designer/client/src/components/graph/node-modal/node/useNodeState.tsx
  designer/client/src/components/graph/usePortMagnetToggle.tsx
  designer/client/src/components/toolbars/scenarioDetails/ScenarioNameItem.tsx
  designer/client/src/helpers/memoizeByArgsWithTTL.ts
  designer/client/src/reducers/graph/reducer.ts
  designer/client/src/windowManager/useWindows.ts
Labels: ui, client

#8309 [NU-2185] add full component name to the tooltip
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Editors should display SpEL editor with editor switch to SpEL Template Editor #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Editors should display SpEL editor with editor switch to SpEL Template Editor #1.png
  designer/client/cypress/e2e/creatorToolbar.cy.ts
  designer/client/src/components/graph/node-modal/editors/InfoTooltip/StyledInfo.tsx
  designer/client/src/components/toolbars/creator/SearchHighlighter.tsx
  designer/client/src/components/toolbars/creator/Tool.tsx
Labels: ui, client

#8319 Set default Kafka serializer/deserializer in `KafkaUtils` as class names to be compatible with Flink's `KafkaSource`
  docs/Changelog.md
  engine/lite/kafka/runtime/src/main/scala/pl/touk/nussknacker/engine/lite/kafka/LoopUntilClosed.scala
  utils/kafka-utils/src/main/scala/pl/touk/nussknacker/engine/kafka/KafkaUtils.scala
Labels: docs

#8320 respect nonImportantForExecution
  designer/client/configs/withModuleFederationPlugins.ts
  designer/client/src/actions/nk/calculateProcessAfterChange.ts
  designer/client/src/actions/nk/editNode.ts
  designer/client/src/actions/nk/node.ts
  designer/client/src/actions/nk/nodeDetails.ts
  designer/client/src/actions/nk/process.ts
  designer/client/src/common/JsonUtils.ts
  designer/client/src/components/graph/GraphWrapped.tsx
  designer/client/src/components/graph/SelectionContextProvider.tsx
  designer/client/src/components/graph/node-modal/EdgeFields.tsx
  designer/client/src/components/graph/node-modal/NodeDetailsContent.tsx
  designer/client/src/components/graph/node-modal/NodeDetailsContent/getNodeDetails.tsx
  designer/client/src/components/graph/node-modal/NodeDetailsContent/helpers.ts
  designer/client/src/components/graph/node-modal/NodeDetailsContent/selectors.tsx
  designer/client/src/components/graph/node-modal/NodeSwitcher.tsx
  designer/client/src/components/graph/node-modal/SourceSinkCommon.tsx
  designer/client/src/components/graph/node-modal/customNode.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ExpressionSuggest.tsx
  designer/client/src/components/graph/node-modal/editors/expression/Table/TableEditor.tsx
  designer/client/src/components/graph/node-modal/enricherProcessor.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/FragmentInputDefinition.tsx
  designer/client/src/components/graph/node-modal/fragment-input-definition/settings/variants/fields/ValidationFields.tsx
  designer/client/src/components/graph/node-modal/node/FragmentContent.tsx
  designer/client/src/components/graph/node-modal/nodeDetails/NodeDetailsModalHeader.tsx
  designer/client/src/components/graph/node-modal/useNodeTypeDetailsContentLogic.tsx
  designer/client/src/components/graph/usePortMagnetToggle.tsx
  designer/client/src/components/toolbars/creator/ComponentIcon.tsx
  designer/client/src/components/toolbars/creator/CreatorPanel.tsx
  designer/client/src/components/toolbars/search/AdvancedSearchFilters.tsx
  designer/client/src/containers/Visualization.tsx
  designer/client/src/containers/hooks/useModalDetailsIfNeeded.tsx
  designer/client/src/reducers/nodeDetailsState.ts
  designer/client/src/reducers/selectors/configuredAdditionalComponents.ts
  designer/client/src/reducers/selectors/getLiveData.ts
  designer/client/src/reducers/selectors/getProcessDefinitionData.ts
  designer/client/src/reducers/selectors/graph.ts
  designer/client/src/reducers/selectors/helpers.ts
  designer/client/src/reducers/selectors/processDefinitionData.ts
  designer/client/src/types/definition.ts
Labels: ui, client

#8231 [NU-2154] Standalone Flink live data
  .run/NussknackerApp.run.xml
  build.sbt
  components-api/src/main/scala/pl/touk/nussknacker/engine/ModelConfig.scala
  designer/deployment-manager-api/src/main/scala/pl/touk/nussknacker/engine/api/deployment/DeploymentManager.scala
  designer/live-data-collector/src/main/scala/pl/touk/nussknacker/engine/livedata/LiveDataCollectingListenerHolder.scala
  designer/server/src/main/resources/db/migration/hsql/V1_066__CreateLiveDataTable.sql
  designer/server/src/main/resources/db/migration/postgres/V1_066__CreateLiveDataTable.sql
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/ScenarioLiveDataApiHttpService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioTesting/ResultsWithCountsDto.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioTesting/ResultsWithCountsDtoCodecs.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/NuTables.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/BaseEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/LiveDataEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/db/entity/ScenarioActivityEntityFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/factory/DomainServices.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/deployment/DeploymentService.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/livedata/LiveDataRepository.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/PekkoRoutesFactory.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/server/TapirHttpServiceFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/base/it/NuResourcesTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/MockDeploymentManager.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/TestFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/api/livedata/ScenarioLiveDataApiHttpServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/notifications/NotificationServiceTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/process/deployment/TestDeploymentServiceFactory.scala
  docs/Changelog.md
  e2e-tests/src/test/resources/bootstrap-setup-scenarios.override.yml
  e2e-tests/src/test/resources/detect-large-transactions-customizations.conf
  e2e-tests/src/test/scala/pl/touk/nussknacker/DetectLargeTransactionSpec.scala
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/runner/FlinkScenarioJob.scala
  engine/flink/management/src/it/resources/application.conf
  engine/flink/management/src/it/scala/pl/touk/nussknacker/engine/management/streaming/BaseFlinkDeploymentManagerSpec.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManager.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/FlinkDeploymentManagerProvider.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/jobrunner/FlinkMiniClusterScenarioJobRunner.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/jobrunner/FlinkScenarioJobRunner.scala
  engine/flink/management/src/main/scala/pl/touk/nussknacker/engine/management/jobrunner/RemoteFlinkScenarioJobRunner.scala
  live-data-collector/src/main/scala/pl/touk/nussknacker/engine/livedata/CollectedLiveData.scala
  live-data-collector/src/main/scala/pl/touk/nussknacker/engine/livedata/LiveDataCollectingListener.scala
  live-data-collector/src/main/scala/pl/touk/nussknacker/engine/livedata/LiveDataCollectingListenerHolder.scala
  live-data-collector/src/main/scala/pl/touk/nussknacker/engine/livedata/LiveDataCollectingListenerStorage.scala
  live-data-collector/src/main/scala/pl/touk/nussknacker/engine/livedata/LiveDataUploader.scala
  live-data-collector/src/main/scala/pl/touk/nussknacker/engine/livedata/LiveDataUploaderHolder.scala
  live-data-collector/src/main/scala/pl/touk/nussknacker/engine/livedata/RingBufferWithTotalCount.scala
  live-data-collector/src/main/scala/pl/touk/nussknacker/engine/livedata/SlidingWindowCounter.scala
  live-data-collector/src/test/scala/pl/touk/nussknacker/engine/livedata/MutableClock.scala
  live-data-collector/src/test/scala/pl/touk/nussknacker/engine/livedata/RingBufferWithTotalCountSpec.scala
  live-data-collector/src/test/scala/pl/touk/nussknacker/engine/livedata/SlidingWindowCounterSpec.scala
  nussknacker-dist/src/universal/conf/dev-application.conf
Labels: docs

#8341 [NU-2296] switch to json template in a variable component doesnt work
  designer/client/src/components/graph/node-modal/editors/expression/SpelEditor.tsx
Labels: ui, client

#8337 [NU-2293] add SpEL template snippets to sql editor
  designer/client/cypress/e2e/sqlEditor.cy.ts
  designer/client/src/components/graph/node-modal/editors/expression/AceEditorJsonBasedSnippets.ts
  designer/client/src/containers/theme/styles.ts
  docs/Changelog.md
Labels: ui, docs, client

#8349 Ability to configure the default editors for the String type parameters
  benchmarks/src/test/scala/pl/touk/nussknacker/engine/benchmarks/interpreter/InterpreterSetup.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/ModelConfig.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/util/config/FicusReaders.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/AlignedComponentsDefinitionProvider.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/process/test/ScenarioTestService.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/EdgeTypesPreparerTest.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentGroupsPreparerSpec.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/component/ComponentsUsageHelperTest.scala
  docs/Changelog.md
  engine/flink/executor/src/main/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFlinkProcessCompilerDataFactory.scala
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFragmentSourceDefinitionPreparerSpec.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/ProcessCompilerData.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/DynamicNodeValidator.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeCompiler.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/compile/nodecompilation/NodeDataValidator.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/action/CommonModelDataInfoProvider.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentDefinitionWithImplementation.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/Components.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentsFromProvidersExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/DynamicComponentStaticDefinitionDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/methodbased/AbstractMethodDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/methodbased/MethodDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/methodbased/UnionDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/ParameterExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/StandardParameterEnrichment.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/editor/EditorExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/editor/ParameterTypeEditorDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentComponentDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/fragment/FragmentParametersDefinitionExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinition.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/model/ModelDefinitionFromConfigCreatorExtractor.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/testing/LocalModelData.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/testing/ModelDefinitionBuilder.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/InterpreterSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/CustomNodeValidationSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/component/parameter/editor/EditorExtractorTest.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/definition/component/parameter/validator/ValidatorsExtractorTest.scala
  utils/flink-components-testkit/src/main/scala/pl/touk/nussknacker/engine/flink/util/test/FlinkProcessCompilerDataFactoryWithTestComponents.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/AvroSinkValueParameterTest.scala
Labels: docs

#8368 caret flaky test potential fix
  designer/client/cypress/e2e/testsFromFile.cy.ts
Labels: ui, client

#8375 Additional parameter configs with default values being expressions
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/AdditionalUIConfigProvider.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/component/ComponentConfig.scala
  components-api/src/main/scala/pl/touk/nussknacker/engine/api/definition/NodeDependency.scala
  designer/deployment-manager-api/src/test/scala/pl/touk/nussknacker/engine/util/AdditionalComponentConfigsForRuntimeExtractorTest.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/api/description/scenarioTesting/ScenarioTestingApiEndpoints.scala
  designer/server/src/main/scala/pl/touk/nussknacker/ui/definition/DefinitionsService.scala
  designer/server/src/test/resources/config/access-control-checking/multiple-category-designer.conf
  designer/server/src/test/resources/config/business-cases/dev-streaming-use-case-designer.conf
  designer/server/src/test/scala/pl/touk/nussknacker/test/mock/TestAdditionalUIConfigProviderFactory.scala
  designer/server/src/test/scala/pl/touk/nussknacker/test/utils/domain/ProcessTestData.scala
  designer/server/src/test/scala/pl/touk/nussknacker/ui/definition/DefinitionsServiceSpec.scala
  docs/Changelog.md
  engine/flink/executor/src/test/scala/pl/touk/nussknacker/engine/process/compiler/StubbedFragmentSourceDefinitionPreparerSpec.scala
  engine/flink/management/dev-model/src/main/resources/defaultModelConfig.conf
  engine/flink/management/dev-model/src/main/scala/pl/touk/nussknacker/engine/management/sample/DevProcessConfigCreator.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/ComponentAdditionalConfigConverter.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/StandardParameterEnrichment.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/ConfigParameterDefaultValueDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/defaults/EditorPossibleValuesBasedDefaultValueDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/definition/component/parameter/editor/ParameterTypeEditorDeterminer.scala
  scenario-compiler/src/main/scala/pl/touk/nussknacker/engine/modelconfig/ComponentsUiConfigParser.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/GenericTransformationValidationSpec.scala
  scenario-compiler/src/test/scala/pl/touk/nussknacker/engine/compile/NodeDataValidatorSpec.scala
  utils/schemed-kafka-components-utils/src/test/scala/pl/touk/nussknacker/engine/schemedkafka/sink/flink/AvroSinkValueParameterTest.scala
Labels: docs

#8382 flaky tests fix
  designer/client/cypress/e2e/activities.cy.ts
  designer/client/cypress/support/process.ts
Labels: ui, client

#8397 [NU-2306] change expression evaluation style
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/JSON editor should display colorfull json #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/JSON editor should display colorfull json #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #0.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #1.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display advanced colors #2.png
  designer/client/cypress/e2e/__image_snapshots__/electron/Linux/Sql editor should display colorfull sql code #0.png
  designer/client/src/brace/mode/plainText.js
  designer/client/src/brace/mode/spel.js
  designer/client/src/common/SyntaxHighlighter.tsx
  designer/client/src/components/graph/node-modal/editors/expression/ace.ts
  designer/client/src/components/graph/node-modal/io/ContextTree.tsx
  designer/client/src/components/graph/node-modal/tests/ExpressionEvaluationResult.tsx
  designer/client/src/components/graph/node-modal/tests/ExpressionTestResults.tsx
  designer/client/src/containers/theme/darkModePalette.ts
  designer/client/src/containers/theme/lightModePalette.ts
  designer/client/src/containers/theme/nuTheme.tsx
  designer/client/src/containers/theme/styles.ts
  designer/client/src/containers/theme/useJsonTreeTheme.tsx
Labels: ui, client

#8418 Remove info about Flink 1.19 at Changelog
  docs/Changelog.md
Labels: docs
